<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4"
	 id="WebApp_WebClient">
	<context-param>
		<param-name>styleName</param-name>
		<param-value>Demo</param-value>
	</context-param>

	<context-param>
		<param-name>resourcesRealPath</param-name>
		<param-value>/PhizIC-res@additionl.path@</param-value>
	</context-param>

    <!-- хранит путь к странице с  сообщением об ошибке в jsp-->
    <context-param>
		<param-name>errorRedirect</param-name>
		<param-value>/error.do</param-value>
	</context-param>

    <context-param>
        <param-name>applicationName</param-name>
        <param-value>PhizIC</param-value>
    </context-param>

	<listener>
		<listener-class>com.rssl.phizic.init.InitializerListenerBase</listener-class>
	</listener>

	<listener>
		<listener-class>com.rssl.phizic.web.common.CacheShootDownListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.rssl.phizic.web.client.ClientInitializerListener</listener-class>
	</listener>

    <listener>
		<listener-class>com.rssl.phizic.web.security.CloseCSASessionEvent</listener-class>
	</listener>

	<listener>
		<listener-class>com.rssl.phizic.web.security.SessionCountListener</listener-class>
	</listener>

    <listener>
		<listener-class>com.rssl.phizic.web.actions.RemoveFilterParametersAction</listener-class>
	</listener>

    <listener>
        <listener-class>com.rssl.phizic.web.client.newProfile.DeleteAllNotDeletedUserImagesEvent</listener-class>
    </listener>

    <filter>
        <filter-name>ApplicationInfoFilter</filter-name>
        <filter-class>com.rssl.phizic.config.ApplicationInfoFilter</filter-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>PhizIC</param-value>
        </init-param>
    </filter>

	<filter>
		<filter-name>SessionIdFilter</filter-name>
		<filter-class>com.rssl.phizic.web.security.SessionIdFilter</filter-class>
	</filter>
	
 	<!-- Нужен для корректной обработки ajax запросов при протухании сессии.  -->
    <filter>
		<filter-name>AjaxFilterPrivate</filter-name>
		<filter-class>com.rssl.phizic.web.security.AjaxFilter</filter-class>
        <init-param>
			<param-name>visitingMode</param-name>
			<param-value>BASIC</param-value>
		</init-param>
        <init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>addReturnTo</param-name>
			<param-value>false</param-value>
		</init-param>
        <init-param>
			<param-name>ignoredUrl</param-name>
			<param-value>/monitoring.do</param-value>
		</init-param>
        <init-param>
			<param-name>dublicateSessionUrl</param-name>
			<param-value>/dublicateSession.do</param-value>
		</init-param>
        <init-param>
            <param-name>anotherVisitingTypeRedirectUrl</param-name>
            <param-value>/sessionOpenedError.do</param-value>
        </init-param>
	</filter>

    <filter>
		<filter-name>AjaxFilterExternal</filter-name>
		<filter-class>com.rssl.phizic.web.security.AjaxFilter</filter-class>
        <init-param>
			<param-name>visitingMode</param-name>
			<param-value>PAYORDER_PAYMENT</param-value>
		</init-param>
        <init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>addReturnTo</param-name>
			<param-value>false</param-value>
		</init-param>
        <init-param>
			<param-name>ignoredUrl</param-name>
			<param-value>/monitoring.do</param-value>
		</init-param>
        <init-param>
			<param-name>dublicateSessionUrl</param-name>
			<param-value>/dublicateSession.do</param-value>
		</init-param>
        <init-param>
            <param-name>anotherVisitingTypeRedirectUrl</param-name>
            <param-value>/sessionOpenedError.do</param-value>
        </init-param>
	</filter>

	<filter>
		<filter-name>ContextFilter</filter-name>
		<filter-class>com.rssl.phizic.web.common.ContextFilter</filter-class>
	</filter>

	<filter>
		<filter-name>HeaderFilter</filter-name>
		<filter-class>com.rssl.phizic.web.common.HeaderFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>Windows-1251</param-value>
		</init-param>
	</filter>

        <!-- отлавливает ошибки -->
	<filter>
		<filter-name>SystemLogFilter</filter-name>
		<filter-class>com.rssl.phizic.web.log.SystemLogFilter</filter-class>
		<init-param>
            <!-- путь к странице об ошибке -->
			<param-name>redirectUrl</param-name>
			<param-value>/error.do</param-value>
		</init-param>
        <init-param>
            <!-- путь к странице об ошибке при отключенной внешней системе. -->
            <param-name>errorExternalSystemRedirect</param-name>
            <param-value>/PhizIC/error/external/system.do</param-value>
		</init-param>
	</filter>

    <!-- запрет отказа от регистрации в жестком режиме -->
    <filter>
		<filter-name>HardRegistrationFilter</filter-name>
		<filter-class>com.rssl.phizic.web.client.HardRegistrationFilter</filter-class>
		<init-param>
			<param-name>allowedPages</param-name>
			<param-value>
                /private/registration.do,
                /private/registration-new.do,
                /private/async/registration.do,
                /private/accounts.do,
                /help.do,
                /logoff.do,
                /error.do
            </param-value>
        </init-param>
        <init-param>
            <param-name>redirectTo</param-name>
            <param-value>/private/accounts.do</param-value>
		</init-param>
	</filter>

    <!-- запрет работы без заключения УДБО -->
    <filter>
		<filter-name>RemoteConnetionUDBOFilter</filter-name>
		<filter-class>com.rssl.phizic.web.client.connectUdbo.RemoteConnectionUDBOFilter</filter-class>
		<init-param>
			<param-name>allowedPages</param-name>
			<param-value>
                /private/payments/view.do,
                /private/payments/confirm.do,
                /private/async/payments/confirm.do,
                /private/firstConnectUDBO.do,
                /private/udbo/cancel.do,
                /private/accounts.do,
                /login/checkOldPassword.do,
                /internetSecurity.do,
                /showContactsMessage.do,
                /ofert.do,
                /private/udbo/term.do,
                /region.do,
                /dictionaries/regions/list.do,
                /help.do,
                /logoff.do,
                /error.do
            </param-value>
        </init-param>
        <init-param>
            <param-name>redirectTo</param-name>
            <param-value>/private/accounts.do</param-value>
		</init-param>
	</filter>

    <filter>
        <description>
            Фильтр сбрасывает сессионные данные пользователя
            используется для страниц входа в систему
        </description>
        <filter-name>LoginUrlFilter</filter-name>
        <filter-class>com.rssl.phizic.web.security.LoginUrlFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ExternalLoginUrlFilter</filter-name>
        <filter-class>com.rssl.phizic.web.security.ExternalLoginUrlFilter</filter-class>
    </filter>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.rssl.phizic.web.security.BasicVersionLoginFilter</filter-class>
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>addReturnTo</param-name>
			<param-value>true</param-value>
		</init-param>
        <init-param>
			<param-name>ignoredUrl</param-name>
			<param-value>/monitoring.do</param-value>
		</init-param>
        <init-param>
			<param-name>dublicateSessionUrl</param-name>
			<param-value>/dublicateSession.do</param-value>
		</init-param>
        <init-param>
            <param-name>anotherVisitingTypeRedirectUrl</param-name>
            <param-value>/sessionOpenedError.do</param-value>
        </init-param>
	</filter>

	<filter>
		<filter-name>SecurityFilterExternalPayment</filter-name>
		<filter-class>com.rssl.phizic.web.security.ExternalPaymentLoginFilter</filter-class>
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/front/payOrderPaymentLogin.do</param-value>
		</init-param>
		<init-param>
			<param-name>addReturnTo</param-name>
			<param-value>true</param-value>
		</init-param>
        <init-param>
			<param-name>dublicateSessionUrl</param-name>
			<param-value>/dublicateSession.do</param-value>
		</init-param>
        <init-param>
            <param-name>anotherVisitingTypeRedirectUrl</param-name>
            <param-value>/sessionOpenedError.do</param-value>
        </init-param>
	</filter>

	<filter>
		<display-name>Раздача прав для доступа к незащищенным ресурсам</display-name>
		<filter-name>AnonymousAccessFilter</filter-name>
		<filter-class>com.rssl.phizic.web.security.AnonymousAccessFilter</filter-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>PhizIC</param-value>
        </init-param>
	</filter>

    <filter>
        <filter-name>SecurityFilterGuest</filter-name>
        <filter-class>com.rssl.phizic.web.security.GuestVersionLoginFilter</filter-class>
        <init-param>
           <param-name>redirectUrl</param-name>
           <param-value>/login.do</param-value>
        </init-param>
        <init-param>
           <param-name>addReturnTo</param-name>
           <param-value>true</param-value>
        </init-param>
        <init-param>
           <param-name>dublicateSessionUrl</param-name>
           <param-value>/dublicateSession.do</param-value>
        </init-param>
        <init-param>
            <param-name>anotherVisitingTypeRedirectUrl</param-name>
            <param-value>/sessionOpenedError.do</param-value>
        </init-param>
    </filter>

    <filter>
        <description>Сохраняет в контексте ID активной смены промоутера</description>
        <filter-name>PromoterContextFilter</filter-name>
        <filter-class>com.rssl.phizic.web.promoter.PromoterContextFilter</filter-class>
    </filter>

    <filter>
        <description>Фильтр проверки находимся мы в профиле клиента или нет</description>
        <filter-name>UserProfilePagesFilter</filter-name>
        <filter-class>com.rssl.phizic.web.client.UserProfilePagesFilter</filter-class>
    </filter>

    <filter>
        <description>Фильтр, управляющий состоянием личного меню</description>
        <filter-name>PersonalMenuFilter</filter-name>
        <filter-class>com.rssl.phizic.web.util.PersonalMenuFilter</filter-class>
    </filter>

    <filter>
        <filter-name>FraudMonitoringFilter</filter-name>
        <filter-class>com.rssl.phizic.web.common.FraudMonitoringFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ApplicationInfoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserProfilePagesFilter</filter-name>
        <url-pattern>/private/userprofile/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserProfilePagesFilter</filter-name>
        <url-pattern>/private/mobileApplications/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserProfilePagesFilter</filter-name>
        <url-pattern>/private/mobilebank/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserProfilePagesFilter</filter-name>
        <url-pattern>/private/favourite/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>SessionIdFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>SessionIdFilter</filter-name>
		<url-pattern>/images</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>SessionIdFilter</filter-name>
		<url-pattern>/private/pfp/images</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ContextFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>ContextFilter</filter-name>
		<url-pattern>/images</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>ContextFilter</filter-name>
		<url-pattern>/private/pfp/images</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>ContextFilter</filter-name>
        <servlet-name>emptyImageServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
		<filter-name>LoginUrlFilter</filter-name>
		<url-pattern>/CSAFrontLogin.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>ExternalLoginUrlFilter</filter-name>
		<url-pattern>/CSAFrontLogin.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>ExternalLoginUrlFilter</filter-name>
		<url-pattern>/CSAFrontGuestLogin.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>HardRegistrationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>HeaderFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RemoteConnetionUDBOFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>LoginUrlFilter</filter-name>
		<url-pattern>/login.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>LoginUrlFilter</filter-name>
		<url-pattern>/front/payOrderPaymentLogin.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>SecurityFilterGuest</filter-name>
        <url-pattern>/guest/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AjaxFilterPrivate</filter-name>
        <url-pattern>/private/async/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AjaxFilterPrivate</filter-name>
        <url-pattern>/private/pfp/async/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/redirectToSBTSBOL.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>AjaxFilterExternal</filter-name>
        <url-pattern>/external/async/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SecurityFilterExternalPayment</filter-name>
        <url-pattern>/external/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>AnonymousAccessFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter-mapping>
		<filter-name>AnonymousAccessFilter</filter-name>
		<servlet-name>imageServlet</servlet-name>
	</filter-mapping>

    <filter-mapping>
        <filter-name>PersonalMenuFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!-- должен выполняться последним в цепочке фильтров -->
    <filter-mapping>
		<filter-name>SystemLogFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <!--Сохраняет в контексте ID активной смены промоутера-->
    <filter-mapping>
        <filter-name>PromoterContextFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FraudMonitoringFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/widgets-struts-config.xml
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>com.rssl.phizic.web.common.ImageServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>selfRegistrationCaptchaServlet</servlet-name>
        <servlet-class>com.rssl.phizic.captcha.CaptchaServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>FSOServlet</servlet-name>
        <servlet-class>com.rssl.phizic.security.fraud.PassMarkSimpleFSOServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>userImagesServlet</servlet-name>
        <servlet-class>com.rssl.phizic.web.images.UserImageServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>emptyImageServlet</servlet-name>
        <servlet-class>com.rssl.phizic.web.common.EmptyImageServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>

    <!--TODO CHG040681: Не все запросы попадающие под маску передаются в модуль WebPfp-->
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/private/pfp/images</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>selfRegistrationCaptchaServlet</servlet-name>
        <url-pattern>/registration/captcha.png</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FSOServlet</servlet-name>
        <url-pattern>/pmfso</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userImagesServlet</servlet-name>
        <url-pattern>/user/images/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>emptyImageServlet</servlet-name>
        <url-pattern>/images/emptypixel.png</url-pattern>
    </servlet-mapping>

	<jsp-config>

		<taglib>
			<taglib-uri>http://jakarta.apache.org/struts/tags-bean</taglib-uri>
			<taglib-location>/WEB-INF/tld/customized-struts-bean.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://jakarta.apache.org/struts/tags-html</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://jakarta.apache.org/struts/tags-logic</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://jakarta.apache.org/struts/tags-tiles</taglib-uri>
			<taglib-location>/WEB-INF/tld/customized-struts-tiles.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/customized-jstl.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>http://rssl.com/tags</taglib-uri>
			<taglib-location>/WEB-INF/tld/phizic.tld</taglib-location>
		</taglib>

        <taglib>
            <taglib-uri>http://rssl.com/widget-tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/widget.tld</taglib-location>
        </taglib>

		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
	</jsp-config>

	<resource-ref id="WebClient_ResourceRef_JDBC_PhizIC">
		<res-ref-name>jdbc/PhizIC</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
    <resource-ref id="WebClient_ResourceRef_JDBC_PhizICLog">
        <res-ref-name>jdbc/PhizICLog</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="WebClient_ResourceRef_JDBC_Push">
        <res-ref-name>jdbc/Push</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <mime-mapping>
        <extension>htc</extension>
        <mime-type>text/x-component</mime-type>
    </mime-mapping>
 </web-app>
