
.sbrf .dijitContentPane {
	padding: 0;
}
.sbrf .dijitTabContainerTop-dijitContentPane,
.sbrf .dijitTabContainerLeft-dijitContentPane,
.sbrf .dijitTabContainerBottom-dijitContentPane,
.sbrf .dijitTabContainerRight-dijitContentPane,
.sbrf .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}
.sbrf .dijitSplitContainer-dijitContentPane,
.sbrf .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		
	padding: 5px;
}