/*
******************************************************************************************
ОБЩИЕ СТИЛИ
******************************************************************************************
*/
/* Default */
html, body, form, table {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 12px;
	font-family: Arial;
	line-height: 1.2em;		
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
table th {
	padding: 0px;
}
table td {	
	padding: 0px;	
}
img {
	border: none;
}
a {
	color: #006699;
	cursor:pointer;
}
a:hover {
	text-decoration: none;
}
input, select, textarea {
	font-family: Arial;
	font-size:12px;
}
h1 {
	font-size: 25px;
	font-family: Arial;
	line-height: 1.2em;
	font-weight: normal;
	margin: 0px 0px 37px 0px;
}
h2 {
	font-size: 1.2em;
	font-family: Arial;
	line-height: 1.2em;
	margin: 0px 0px 13px 0px;
}
h3 {
	font-size: 1em;
	font-family: Arial;
	line-height: 1.2em;
	margin: 0px 0px 15px 0px;
}
.spacer {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	display: block;
	visibility: hidden;
}
/* ======= */
/* Layout */
html {
	height: 100%;
}
body {
	width: 100%;	
/*	min-width: 990px; */
	height: 100%;
	background: #f2efe8;	
}
#table_layout_top {
	width: 95%;
	height: 100%;
	margin: 0 auto;
}
#table_layout_top2 {
	width: 95%;
	height: 100%;
	margin: 0 auto;
}
#footer, #footer2 {
	padding: 0;
	color:#B3B2B1;
	font-family:Arial;
	font-size:10px;
}
#footer a, #footer2 a {
	color: #666666;
}
td.bot {
	vertical-align: bottom;
}
#footer table, #footer2 table {
	width: 100%;
	margin: 26px 0 29px 0;
}
#footer2 table td, #footer2 table td {
	vertical-align: top;
}
#footer table td.b-left, #footer2 table td.b-left {
	padding: 0;
	width: 25%;
}
#footer table td.b-right, #footer2 table td.b-right {
	padding: 0;
	text-align: left;
}
/* ======= */

/* Blocks */
#logo {
margin: 0 0 17px 0;
}
/* ======= */
.left_column {
	width:250px;	
	padding:4px 0;
	vertical-align:top;
}
.right_column{
	padding:5px 0;
	vertical-align:top;
}
.rbc_G_tmp11_conttab input, .rbc_G_tmp11_conttab select, .rbc_G_tmp11_conttab textarea {
	font-size: 12px;
/*	color: #959595; */
}
.rbc_G_tmp11_conttab td {
	vertical-align:middle!important;
	padding: 7px 0 10px 0;
	border-bottom: 1px solid #f2efe8;
	font-size: 12px;
}
.rbc_G_tmp11_conttab th {	
	padding-bottom: 3px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #f2efe8;
	vertical-align:top;
}
.rbc_G_tmp11_conttab .date {
	color:#898989;
}
.rbc_G_tmp11_conttab .navigat {
	font-size:12px;
	padding: 10px 20px 0 0;
	border-bottom: 0px solid #f2efe8;
}
.rbc_G_tmp11_conttab .navigat a {
	padding-right:10px;
}
.rbc_G_tmp11_conttab .navigat a:link {
	color:#999;
	text-decoration:underline;
}
.rbc_G_tmp11_conttab .navigat a:visited {
	color:#999;
	text-decoration:underline;
}
.rbc_G_tmp11_conttab .navigat a:active {
	color:#999;
	text-decoration:underline;
}
.rbc_G_tmp11_conttab .navigat a:hover {
	color:#367f28;
	text-decoration:none;
}

.comment {
	font-size:10px;
	color:#666;
	font-weight:normal!important;
}
li.comment {
	margin:0 0 10px 15px;	
	list-style-position:outside;	
	list-style-image: url(../img/bul/bul-empty.gif);
}

.bold {font-weight:bold;}
.nobold {font-weight:normal;}
.auth {
	padding:20px;	
}
.conttab td {
/*	vertical-align:middle!important; */
	padding: 7px 0 10px 0;	
	font-size: 12px;
	vertical-align:top!important;
		
}
.conttab input, .conttab select, .conttab textarea {
	font-size: 12px;
}
.conttab th {	
	padding-bottom: 3px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #f2efe8;
	vertical-align:top;
}
.td_summa {
	text-align:right;
	padding-right:20px!important;
}
.td_summa_kopeiki {
	color: #999;
}

.rightborder {border-right: 1px solid #f2efe8;}
.l-padd {padding-left:5px!important;}
.r-padd {padding-right:5px!important;}
.r-padd2 {padding-right:20px!important;}


.href_btn {
	text-decoration:none!important;
	color: #FFF!important;
	cursor:pointer;
}

.rbc_G_tmp11_conttab .cor_wid {
	width:90px;	
}
.ReadOnly {
background-color:#CCC;
}
.noshrink {
	width:650px;	
}
.tmp14 .conttab th {
	text-align: left;	
}
.anons {
	padding-left:23px;	
}
.acc_combobox {
	width:295px!important;	
}
.pole_big {
	width:98%;		
	font-size:12px;	
}
.pole_big_tearea {
	width:98%;		
	overflow-y:scroll;
	font-size:12px;
	height:75px;
}
.tmp22 .right_column {
	padding-left:0 !important;
}

.name_template {
	width:200px;	
}
.code_operation {
	width:56px;	
}
.radio_toppadd {
	padding-top:2px!important;	
}
.comment_top_border {
	border-top:1px #CCC solid;
}
.comment_btn_border {
	border:1px #EFEFEF solid;	
	border-left:0;
}
.comment_btn_bg {
	background:#EFEFEF;		
	padding:0 5px;
}
.have_templt {
	color:#090;	
}
.cor_w_pad30 {
	width:220px;	
}
.no_bott_border {
	border-bottom:0 !important;
}
.cor_w_tab60 {
	width:60%!important;
}
.cor_w_tab50 {
	width:50%!important;
}
.cor_w_tab70 {
	width:70%!important;
}
.hr_groupe {
	border:1px solid #f2efe8;	
}
.err_left_pad {
	padding-left:10px;	
}
.bg_razdel {
	background:#90BF2D;
	height:20px;
	padding:3px 0 0 5px;
	color:#FFF;
}
.bg_line_darken {
	background:#519F51;
	padding:3px 0 3px 10px!important;	
	color:#FFF;
}
.bg_line {
	background:#B3D2A4;	
	height:20px;
	padding:3px 5px;
}
.nobottborder {
	border-bottom:0!important;	
}
.variant_text {
	padding-top:4px;
}
.tmp11 .leftpadd, .tmp44 .leftpadd {
	padding-left:10px;
}
#about_acc_0 {
	color:#666;	
}
.tb_mob {
	border:1px solid #999;	
	height:120px;
}
.tb_mob_rb {
	border-right:1px solid #999;
}
.tb_mob td {
	padding:2px 5px;	
}

.tb_mob_b {
	background:#DCE2D6;
}
#imgcalend{cursor:pointer}

.error3-l { background:url(../img/error3-l.png) no-repeat left; height:68px;}
.error3-c { background:url(../img/error3-c.png) repeat-x;}
.error3-r { background:url(../img/error3-r.png) no-repeat right}

.marg_for_li {
	margin-left:20px;	
}

.h2_razdel_otchet {
	 border-bottom:1px #666 solid;
	 height:20px;
	 padding-bottom:3px;
}
.info_text_pad {
	padding:0 0 0px 10px;	
	border-left:1px solid #999;		
}
.info_text_pad_bot {
	border-bottom:1px solid #999;
}

.with_radio {
	padding:3px 0 0 0 !important;	
}
	.with_radio td {
		padding:5px 0 0 0 !important;
	}
	.with_radio .rb {
		padding:6px 0 0 0 !important;
		width:20px;
	}
	.with_radio input {
		margin:0px 0 0 0 !important;
	}
	
	
.l_float {
	float:left;	
}
.r_float {
	float:right;	
}
.posabs {
	position:absolute;	
}

.size10 {
	width:78px;	
}
.size20 {
	width:128px;	
}
.size40 {
	width:228px;	
}
.reset {
	margin:0!important;
	padding:0!important;
}


.btn_print {
		background:none;
		border:0;
		padding:0px;	
		cursor:pointer;		
		width:36px;
		height:36px;
		margin:2px;
	}

.cnrt_calendar {
	width:117px!important;	
}
	.calend {
		background:none;
		border:0;
		padding:0px;	
		cursor:pointer;
		margin:-4px 0 0 0px;
	}
		.calend span {
			display:block;
			margin:2px;
			background:url(../../images/calendar2.gif) no-repeat 0 0;
			width:20px;
			height:20px;
		}


.btn {
	background:none;
	border:0;
	padding:0px;
	width:100%!important;
	cursor:pointer;	
}
.marg0 {
		margin:0!important;
	}
.code_rezid {
		margin:-31px 0 0 68px;
	}
.status {
		margin:-24px 0 0 140px;	
		position:absolute;
	}
.type_op {
		margin-top:-9px;	
	}
.bik {
		margin:-31px 0 0 91px;
	}
	
.button_in_form {
	width:auto!important; 		
}	
	.button_in_form span, .button_in_form em {
		display:block;
		height:20px;			
		margin:0;
		color:#954b05;
	}	
	.b_s_top {
		margin-top:3px;	
	}
	.m_l {
		padding-left:10px;	
	}
	.button_in_form span{	
		background:url(../../common/img/gr_btn_left-v.gif) no-repeat 0 0;
		padding-left:12px;
		margin:2px;
	}	
		.button_in_form span span{			
			background:url(../../common/img/gr_btn_center-v.gif) repeat-x 0 0;	
			margin:0;
			padding-left:0;
				}	
			.button_in_form em{
				font-style:normal;
				padding-right:11px;
				background:url(../../common/img/gr_btn_right-v.gif) no-repeat 100% 0;
				margin:0;
				padding-top:2px;
				color:#FFF;	
				font-family:Arial;
				font-size:11px;
			}	

.button_submit {
	width:auto!important;		
}	
	.button_submit span, .button_submit em {
		display:block;
		height:20px;			
		margin:0;
		color:#954b05;
	}	
	.button_submit span{	
		background:url(../../common/img/gr_btn_left.gif) no-repeat 0 0;
		padding-left:11px;
		margin:2px;
	}	
		.button_submit span span{			
			background:url(../../common/img/gr_btn_center.gif) repeat-x 0 0;	
			margin:0;
			padding-left:0;
				}	
			.button_submit em{
				font-style:normal;
				padding-right:11px;
				background:url(../../common/img/gr_btn_right.gif) no-repeat 100% 0;
				margin:0;
				padding-top:2px;
				color:#FFF;	
				font-family:Arial;
				font-size:11px;
			}

.button_submit_g {
	width:auto!important;		
}	
	.button_submit_g span, .button_submit_g em {
		display:block;
		height:20px;			
		margin:0;
		color:#954b05;
	}
	.button_submit_g span{	
		background:url(../../common/img/gr_btn_left-g.gif) no-repeat 0 0;
		padding-left:11px;
		margin:2px;
	}	
		.button_submit_g span span{			
			background:url(../../common/img/gr_btn_center-g.gif) repeat-x 0 0;	
			margin:0;
			padding-left:0;
				}	
			.button_submit_g em{
				font-style:normal;
				padding-right:11px;
				background:url(../../common/img/gr_btn_right-g.gif) no-repeat 100% 0;
				margin:0;
				padding-top:2px;
				color:#FFF;	
				font-family:Arial;
				font-size:11px;
			}


.button_submit_s {
	width:auto!important;	
}
	.button_submit_s span, .button_submit_s em{
		display:block;
		height:26px;			
		margin:0;
		color:#954b05;
	}
	.button_submit_s span{	
		background:url(../../common/img/gr_btn_left-s.gif) no-repeat 0 0;
		padding-left:14px;
		margin:2px;
	}	
		.button_submit_s span span{			
			background:url(../../common/img/gr_btn_center-s.gif) repeat-x 0 0;	
			margin:0;
			padding-left:0;
				}	
			.button_submit_s em{
				font-style:normal;
				padding-right:15px;
				background:url(../../common/img/gr_btn_right-s.gif) no-repeat 100% 0;
				margin:0;
				padding-top:5px;
				color:#FFF;	
				font-family:Arial;
				font-size:11px;
			}


.valuta_th_bg {
	background:#519F51;	
	color:#FFF;
	padding-top:3px;
}
.valuta_td_bg {
	background:#D2E3B5;	
}
.arr_dwn {
	color:#F00;
	font-size:18px!important;
	cursor:default;
}
.arr_up {
	color:#519F51;
	font-size:18px!important;
	cursor:default;
}





/*
==========================================================================================
*/


/* ************** МОДАЛЬНЫЕ ОКНА ******************************************************* */
.modal {
	padding:20px;
}
.modal_ch_name {	
	width:470px;
	height:250px;
	padding:20px;
}
/* ========================================================================================== */

/* ************** ОКНА эттеншн и аутентификация ******************************************************* */
.wind_without_menu {
	height:115px!important;
}
.up_td_btn {
	width:500px!important;
}
.body_pad_left {
	padding-left:5px;	
}

.body_pad_right {
	padding-right:5px;	
}
/* ========================================================================================== */
/* =================== ek_client_login.htm =================== */
/* Топ со страницы с формой авторизации */
#logo2 {
/*    margin-bottom: 15px;   */
}
#logo2 table, #logo2 img {
    display: none;
}
#logo2 table {
	width: 100%;
}
#logo2 table td.t-left {
	padding: 52px 0px 21px 45px;
}
#logo2 table td.t-right {
	padding: 37px 45px 19px 0px;
	text-align: right;
}
.h295 {
	height: 233px;
    padding-top: 18px;
}
.h174 {
	height: 174px;
}
.m-f {
	margin: 0px 0px 15px 0px;
}
.m-f .eform {
/*	position: absolute;   */	
	width: 100%;
}
.m-f .uphead {
/*	position: absolute;   */
	margin-top:-175px;	
}
.m-f .menu {
	padding: 177px 0px 0px 0px;
}
.m-f .menu2 {
	padding: 56px 0px 0px 0px;
}
/* Форма авторизации */
.h295 .m-f div.eform div.form {
	/*  padding: 54px 0px 0px 281px; */
  position: absolute;
}
.h174 .m-f div.eform div.form {
	width: 100%;
}
.m-f div.eform div.form table#enter, .m-f div.eform div.form table#enter2 {
	width: 100%;
}
.m-f div.eform div.form table#enter td.td1 {
	width: 52px;
}
.m-f div.eform div.form table#enter td.td2 {
	background: url(../img/top-login-bg.gif) repeat-x 0px 0px;
}
.m-f div.eform div.form table#enter td.td3 {
	width: 423px;
	padding: 0px 0px 0px 60px;
	background: url(../img/top-login-fon.png) no-repeat 0px 0px;
}
.m-f div.eform div.form table#enter td.td3 table {
	width: 423px;
}
.m-f div.eform div.form table#enter td.td4 {
	width: 52px;
}
/* шапка вторых страниц */
.m-f div.eform div.form table#enter2 td.td1 {
	width: 386px;
	vertical-align: top;
}
.m-f div.eform div.form table#enter2 td.td2 {
	background: url(../img/logo-bg.png) repeat-x 0px 0px;/*  width: 100%; */
}
.m-f div.eform div.form table#enter2 td.td3 {
	width: 201px;
	background: url(../img/logo-tel.png) no-repeat 0px 0px;
}
.m-f div.eform div.form table#enter2 td.td3 .nav {
	position: absolute;
	padding: 8px 0px 0px 68px;
}
.m-f div.eform div.form table#enter2 td.td3 .nav img {
	margin: 0px 6px 0px 0px;
}
.m-f div.eform div.form table td {
	vertical-align: middle;
	height: 32px;
	color: #ffffff;
	font-size: 14px;
}
.m-f div.eform div.form table td span {
	padding: 0px 38px 0px 0px;
}
.m-f div.eform div.form table td a {
	color: #bbe809;
}
.m-f div.eform div.form table td.input {
	background: url(../img/h-input.gif) no-repeat 0px 50%;
	width: 241px;
}
.m-f div.eform div.form table td.input input {
	border: 0px solid;
	background: transparent;
	padding: 5px 5px 0 5px;
	width: 233px;
	height:22px;
}
.m-f div.eform div.form table span.button {
	border: 0px solid;
	width: 97px;
	height: 46px;
	cursor: pointer;
}
/* Новости со страницы с формой авторизации */
.b3-h .b3-t div div.newslist {
	padding: 29px 30px 0px;
}
.b3-h .b3-t div div.newslist h1 {
/*	border-bottom: 1px solid #e8e5e0; */
	font-size: 25px;
/*	padding: 0px 0px 0px 0px; */
}
.b3-h .b3-t div div.newslist div {
	min-height: 1px;
	background: transparent none;
}
.b3-h .b3-t div div.newslist div.list {
	margin:0 0 9px;
}
.b3-h .b3-t div div.newslist div.list h3 {
	border:0 none;
	display:block;
	margin:0 0 0 23px;
	padding:0;
}
.b3-h .b3-t div div.newslist div.list h3 a {
	border:0 none;
	color:#666666;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding:0;
}

.b3-h .b3-t div div.newslist div.list .data {
/*	border-bottom:1px solid #E8E5E0; */
	color:#005B7F;
	font-size:12px;
	line-height:normal;
	margin:0;
	padding:6px 0 6px 3px;
}
/* Блок ТИП 1 (контрастный бордер с градиентом, подходит для меню, минимальная высота 274px) */
.b1-v1-l {
	background: #ffffff url(../img/b1-v1-l.gif) repeat-y 0px 0px;
}
.b1-v1-l .b1-v1-r {
	background: url(../img/b1-v1-r.gif) repeat-y 100% 0px;
}
.b1-h {
	background: url(../img/b1-h.gif) repeat-x 0px 0px;
}
.b1-h .b1-t {
	background: url(../img/b1-t-l.gif) no-repeat 0px 0px;
}
.b1-h .b1-t .b1-t2 {
	background: url(../img/b1-t-r.gif) no-repeat 100% 0px;
	min-height: 193px;
}
.b1-h .b1-t div div.text {
	padding: 29px 30px 10px 30px;
}
.b1-b {
	background: url(../img/b1-b.gif) repeat-x 0px 0px;
}
.b1-b div {
	background: url(../img/b1-b-l.gif) no-repeat 0px 0px;
}
.b1-b div div {
	background: url(../img/b1-b-r.gif) no-repeat 100% 0px;
	height: 33px;
}
/* Блок ТИП 2 (неконтрастный бордеро с градиентом, подходит для вспомогательных блоков, минимальная высота 244px) */
.b2-v1-l {
	background: #ffffff url(../img/b2-v1-l.gif) repeat-y 0px 0px;
}
.b2-v1-l .b2-v1-r {
	background: url(../img/b2-v1-r.gif) repeat-y 100% 0px;
}
.b2-h {
	background: url(../img/b2-h.gif) repeat-x 0px 0px;
}
.b2-h .b2-t {
	background: url(../img/b2-t-l.gif) no-repeat 0px 0px;
}
.b2-h .b2-t .b2-t2 {
	background: url(../img/b2-t-r.gif) no-repeat 100% 0px;
	min-height: 133px;
}
.b2-h .b2-t div div.text {
	padding: 29px 30px 40px 30px;
}
.b2-b {
	background: url(../img/b2-b.gif) repeat-x 0px 0px;
}
.b2-b div {
	background: url(../img/b2-b-l.gif) no-repeat 0px 0px;
}
.b2-b div div {
	background: url(../img/b2-b-r.gif) no-repeat 100% 0px;
	height: 33px;
}
/* Блок ТИП 3 (с градиентом, для области основной контентной части, минимальная высота 81px) */
.b3-v1-l {
	background: #ffffff url(../img/b3-v1-l.gif) repeat-y 0px 0px;
}
.b3-v1-l .b3-v1-r {
	background: url(../img/b3-v1-r.gif) repeat-y 100% 0px;
}
.b3-h {
	background: url(../img/b3-h.gif) repeat-x 0px 0px;
}
.b3-h .b3-t {
	background: url(../img/b3-t-l.gif) no-repeat 0px 0px;
}
.b3-h .b3-t .b3-t2 {
	background: url(../img/b3-t-r.gif) no-repeat 100% 0px;
	min-height: 70px;
}
.b3-h .b3-t div div.text {
	padding: 29px 30px 1px 30px;
}
.b3-b {
	background: url(../img/b3-b.gif) repeat-x 0px 0px;
}
.b3-b div {
	background: url(../img/b3-b-l.gif) no-repeat 0px 0px;
}
.b3-b div div {
	background: url(../img/b3-b-r.gif) no-repeat 100% 0px;
	height: 33px;
}
.b3-h .b3-t div div.text div.nobg div {
	background: none;/*  min-height: none; */
}
/* ========= */
/* Блок ТИП 4 (с градиентом, для календаря) */
.b4-v1-l {
	background: #ffffff url(../img/b4-v1-l.gif) repeat-y 0px 0px;
	width:270px;
}
.b4-v1-l .b4-v1-r {
	background: url(../img/b4-v1-r.gif) repeat-y 100% 0px;
}
.b4-h {
	background: url(../img/b4-h.gif) repeat-x 0px 0px;
}
.b4-h .b4-t {
	background: url(../img/b4-t-l.gif) no-repeat 0px 0px;
}
.b4-h .b4-t .b4-t2 {
	background: url(../img/b4-t-r.gif) no-repeat 100% 0px;
	min-height: 50px;
}
.b4-h .b4-t div div.text {
	padding: 29px 30px 0px 30px;	
}
.b4-b {
	background: url(../img/b4-b.gif) repeat-x 0px 0px;
	width:270px;
}
.b4-b div {
	background: url(../img/b4-b-l.gif) no-repeat 0px 0px;	
}
.b4-b div div {
	background: url(../img/b4-b-r.gif) no-repeat 100% 0px;
	height: 33px;
}
.b4-h .b4-t div div.text div.nobg div {
	background: none;/*  min-height: none; */
}
/* ========= */
/* Elements */

/* Common */
.left {
	float: left;
}
.right {
	float: right;
}
.red, a .red, a.red {
	color: #F00;
}
.green {
	color: #197b30;
}
/* Form */
.button[disabled] {
	color: #B2B2B2;
	border: 1px solid #D7D7D7;
	background: #F2F2F2;
	padding-top: 0px;
	padding-bottom: 1px;
	cursor:pointer;
}
/* Links */
.bottom_links {
	font-size: 0.9em;
	font-family: Arial;
	margin: 10px 0px 10px 0px;
}
.bottom_links div {
	margin: 0px 0px 10px 0px;
}
a.link_print, .link_print a {
	background: url("../../common/img/icon_print.gif") no-repeat 0px 0.3em;
	padding-left: 17px;
}


/*
******************************************************************************************
РЕЗИНОВАЯ ЗЕЛЁНАЯ КНОПКА
******************************************************************************************
*/
.btn_main {
	width:auto!important;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px!important;		
}
.part_left {
	background: url(../../common/img/gr_btn_left.gif) no-repeat;
	width:20px;
	height:37px;	
	min-width:20px;
	padding:0!important;	
}
.part_center {
	background: url(../../common/img/gr_btn_center.gif) repeat-x; 	
	width:auto;
	height:37px;	
	padding:8px 0 0 0!important;
	vertical-align:top!important;
	font-size:11px!important;
}
.part_right {
	background: url(../../common/img/gr_btn_right.gif) no-repeat;	
	width:20px;	
	height:37px;
	min-width:20px;
	padding:0!important;
}

/*
******************************************************************************************
ВЫБРАННАЯ РЕЗИНОВАЯ ЗЕЛЁНАЯ КНОПКА
******************************************************************************************
*/
.part_left-s {
	background: url(../../common/img/gr_btn_left-s.gif) no-repeat;
	width:20px;
	height:37px;	
	min-width:20px;
	padding:0!important;	
}
.part_center-s {
	background: url(../../common/img/gr_btn_center-s.gif) repeat-x; 	
	width:auto;
	height:37px;	
	padding:8px 0 0 0!important;
	vertical-align:top!important;
	font-size:11px!important;
}
.part_right-s {
	background: url(../../common/img/gr_btn_right-s.gif) no-repeat;	
	width:20px;	
	height:37px;
	min-width:20px;
	padding:0!important;
}

/*
******************************************************************************************
РЕЗИНОВАЯ ЗЕЛЁНАЯ КНОПКА В ФОРМАХ
******************************************************************************************
*/
.btn_main_in_form {
	width:auto!important;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px!important;	
}
.conttab .btn_main_in_form {
	padding:0!important;	
	font-size: 11px!important;
}

.part_left-v {
	background: url(../../common/img/gr_btn_left-v.gif) no-repeat;
	width:20px;
	height:37px;	
	min-width:20px;
	padding:0!important;	
}
.part_center-v {
	background: url(../../common/img/gr_btn_center-v.gif) repeat-x; 	
	width:auto;
	height:37px;	
	padding:8px 0 0 0!important;
	vertical-align:top!important;
	font-size:11px!important;
}
.part_right-v {
	background: url(../../common/img/gr_btn_right-v.gif) no-repeat;	
	width:20px;	
	height:37px;
	min-width:20px;
	padding:0!important;
}




/* ======== */
/* Content */
.body table {
	width: 100%;
}
.body td#left {
	padding: 0px 18px 0px 0px;
	width: 25%;
}
.body td#left div.b1-b, .body td#left div.b2-b {
	margin: 0px 0px 13px 0px;
}
.body td#right {
	padding: 0px 0px 0px 0px;
	width: 75%;
}
.body td#right div.b3-b {
	margin: 0px 0px 13px 0px;
}
/* Text */
.body p {
	margin: 0px 0px 14px 0px;
}
/* Pictures */
.body img.left {
	margin: 0px 18px 0px 0px;
}
.body img.right {
	margin: 0px 0px 0px 18px;
}
/* Lists */
.body #left ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.body #left ul li {
	background: url(../img/bul/lm-up.gif) no-repeat 0px 0.45em;
	padding-left: 15px;
	margin-bottom: 8px;
	color: #888888;
}
.body #left ul li a {
	color: #252525;
}
.body #left ul li.s, .body #left ul li.s a {
	color: #888888;
}
.body #left ul li a:hover {
	color: #888888;
}
.body #right ul {
	list-style-type: none;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
.body #right ul li {
/*	background: url(../img/bul/lm-up.gif) no-repeat 0px 0.45em; */
	padding-left: 15px;
	margin-bottom: 3px;
}
.body ol {
	margin: 0px 0px 15px 25px;
	padding: 0px;
}
.body ol li {
	margin-bottom: 3px;
}
/* Table */
.table {
	width: 100%;
	font-size: 0.9em;
	font-family: Arial;
	line-height: 1.4em;
	margin: 0px 0px 7px 0px;
}
.table th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border: 1px solid #FFF;
	border-left: none;
	background: #2A7849;
	padding: 0px 9px 2px 9px;
}
.table td {
	vertical-align: middle;
	border: 1px solid #B8B8B8;
	border-left: none;
	padding: 1px 9px 3px 9px;
}
.table th:last-child, .table td:last-child {
	border-right: none;
}
/* Подсветка строк и столбцов в таблицах #eff1ec(def)*/
td.click {
	background-color: #D1D6B6;
}
td.hover, tr.hover {
	background-color: #D1D6B6;
}
tfoot td.hover {
	background-color: #D1D6B6;
}
td.hovercell {
	background-color: #D1D6B6;
}
td.hoverrow {
	background-color: #D1D6B6;
}
/* ====== */
/* Pages */

/* ========== */
/* Head page */

#head_page {
}
.text h2 {	
	font-size:1.2em;	
	line-height:1.2em;	
}
.text h1.scheta {
	padding: 16px 0px 24px 69px;
	margin: 0px 0px 15px 0px;
	background: url(../img/zag/scheta.gif) no-repeat 0px 0px;
}
.text h1.scheta2 {
	padding: 16px 0px 24px 69px;
	margin: 0px 0px 15px 0px;
	background: url(../img/zag/scheta2.gif) no-repeat 0px 0px;
}
.text h1.operation {
	padding: 16px 0px 24px 69px;
	margin: 0px 0px 15px 0px;
	background: url(../img/zag/operations.gif) no-repeat 0px 0px;
}
.tmp3 h1.news {
	padding: 16px 0px 24px 69px;
	margin: 0px 0px 15px 0px;
	background: url(../img/zag/news.gif) no-repeat 0px 0px;
}
.data-today {
	text-align: right;
	font-size: 12px;
}
/* ============= */
/* Second pages */

/* LEFT MENU */
#lmenu {
	text-transform: uppercase;
	background: none;
}
/* ===== */
/* News */
.news {
}
.news .list span {
	padding: 0px 17px 0px 0px;
}
.news .list {
	color: #006699;
	padding: 0px 0px 12px 0px;
}
.news .list a {
	color: #666666;
}
.news .sub-links {
	text-transform: uppercase;
}
/* ====== */
/* Lists */
.list {
}
/* ===== */
/* Form */
.form {
}
/* ======= */
/* Search */
.search {
}
/* Коды операций (sb_2_bik_opercode_no_residents.htm) */
.search-code {
	margin: 0px 0px 0px 0px;
}

.search-code table td {
	vertical-align: middle;
	padding: 0px 0px 3px 0px;
}
.search-code table td.td1 {
	padding: 0px 20px 0px 0px;
	width: 75px;
}
.search-code table td.td1 input {
	width: 55px;
}
.search-code table td.td2 {
	padding: 0px 0px 0px 0px;
	width: 550px;
}
.search-code table td.td2 input {
	width: 550px;
}
.search-code table td.td3 {
	padding: 13px 0px 0px 13px;	
}
.sub-links {
	padding: 5px 0px 15px 0px;
}
/* Форма выбора шаблонов платежей (sb_17_tmpl_mobbank_platezh.htm) */
.paltezh-tmpl {
	margin: 0px 0px 25px 0px;
}
.paltezh-tmpl table {
	width: 100%;
}
.paltezh-tmpl table td select {
	width: 100%;
	color: #000000;
}
.paltezh-tmpl table td.td1 input {
	width: 160px;
}
.paltezh-tmpl table .td1 select {
	text-transform:uppercase;	
}
.paltezh-tmpl table td.td2 {
	padding: 0px 20px 0px 0px;
}
.paltezh-tmpl table td.td2 div {
	padding: 3px 0px 5px 0px;
}
.paltezh-tmpl table td.td2 input {
	color: #000000;
	width: 100%;
}

/* ===============================  Part 2 CSS (18022009) ============================== */

.rbc_G_header {
	width:959px;
	padding-bottom:200px;
}
.rbc_G_header img {
	position:absolute;
	z-index:10
}
.rbc_G_header_tab_1 {
	position:absolute;
	height:110px;
	margin-top:30px;
	z-index:1
}
.rbc_G_header_tab_2 {
	position:absolute;
	margin-top:120px;
	z-index:2
}
#rbc_G_header_td_1, #rbc_G_header_td_2, #rbc_G_header_td_3, #rbc_G_header_td_4 {
	background:#a9a9a9;
}
.rbc_G_menu_list {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	list-style:none;
	margin-left:0;
}
.rbc_G_curspoint {
	cursor:pointer;
}
.rbc_G_profile_greenlink {
	color:#367F28;
	font-size:10px;
	line-height:21px;
}
.rbc_G_profile_greenlink a {
	color:#367F28;
}
.rbc_G_profile_greenlink a:link {
	color:#367F28;
	text-decoration:underline;
}
.rbc_G_profile_greenlink a:visited {
	color:#367f28;
	text-decoration:underline;
}
.rbc_G_profile_greenlink a:active {
	color:#367f28;
	text-decoration:underline;
}
.rbc_G_profile_greenlink a:hover {
	color:#367f28;
	text-decoration:none;
}
.rbc_G_profile_famil {
	font-size:19px;
	color:#367f28;
	font-weight:bold;
}
.rbc_G_profile_name {
	font-size:12px;
	color:#367f28;
	font-weight:bold;
}
.rbc_G_profile_last {
	font-size:10px;
	color:#666666;
}
.rbc_G_profile_predstav {
	font-size:10px;
	color:#666666;
}
.rbc_G_profile_predstav a {
	color:#252525;
	font-size:10px;
}
.tmp4 h1, .tmp6 h1, .tmp8 h1, .tmp11 h1, .tmp12 h1, .tmp14 h1, .tmp15 h1, .tmp16 h1 {
	font-size:25px;
}


/*
******************************************************************************************
ШАБЛОН 3 - ГЛАВНАЯ
******************************************************************************************
*/
.tmp3 {
	padding-bottom:0px!important;
}


/*
******************************************************************************************
ШАБЛОН 4 - ИСТОРИЯ ОПЕРАЦИЙ
******************************************************************************************
*/
.tmp4 {
	font-family:Arial, Helvetica, sans-serif;
}
/*.tmp4 td {vertical-align:middle!important;} */
.tmp4 .rbc_G_select_acc {
	width:370px;
}
.tmp4 .rbc_G_select_status {
	width:140px;
}
.tmp4 .d1 {
	font-size:11px;
	color:#197b30;
	margin:0 10px 0 20px;
}
.tmp4 .d2 {
	font-size:11px;
	color:#197b30;
	margin:0 10px 0 40px;
}
.tmp4 .p2 img {
	position:absolute;
	margin:-2px 0px 0px 5px;
}
.tmp4 .p2 input {
	width:70px;
}
.tmp4 .date {
	margin:0px 0 -6px 10px;
}

.tmp4 #zapros {
	margin:20px 0 0 80px;
}
.tmp4 .p1 {
	font-size:11px;
	color:#197b30;
	margin:0px 0 20px 10px;
}
.tmp4 .p1 input {
	margin:20px 0 0 80px;
}
.tmp4 .p2 {
	margin:0px 0 0 0px;
}
.tmp4 .p3 {
	margin:0px 0 0 30px;
}
.tmp4 .p3 img {
	position:absolute;
	margin:15px 0 0 -20px;
}
.tmp4 .select_print {
	width:265px;	
	margin-top:5px;
}
.tmp4 .rbc_G_infoin p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	position:absolute;
	margin:23px 0 0 60px;
	z-index:2;
}
.tmp4 .rbc_G_infoin img {
	position:absolute;
	z-index:1;
}
.tmp4 .rbc_G_tmp4_conttab {
	margin:20px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:96%;
}
.tmp4 .rbc_G_tmp4_conttab td {
/*	vertical-align:middle!important; */
	padding: 7px 5px 10px 3px;
	border-bottom: 1px solid #f2efe8;
}
.tmp4 .rbc_G_tmp4_conttab th {
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 5px;
	text-align: center;
	border-bottom:1px solid #F2EFE8;
}
.tmp4 .rbc_G_tmp4_conttab .date {
	color:#898989;
}
.tmp4 .rbc_G_tmp4_conttab .navigat {
	font-size:13px;
	padding: 10px 20px 0px 0px;
	border-bottom: 0px solid #f2efe8;
}
.rbc_G_tmp4_conttab .navigat a {
	padding-right:10px;
}
.rbc_G_tmp4_conttab .navigat a:link {
	color:#999999;
	text-decoration:underline;
}
.rbc_G_tmp4_conttab .navigat a:visited {
	color:#999999;
	text-decoration:underline;
}
.rbc_G_tmp4_conttab .navigat a:active {
	color:#999999;
	text-decoration:underline;
}
.rbc_G_tmp4_conttab .navigat a:hover {
	color:#367f28;
	text-decoration:none;
}
/*
******************************************************************************************
ШАБЛОН 6 - ИЗМЕНЕНИЕ СЧЕТА
******************************************************************************************
*/
.tmp6 .button {
	margin-top:20px;
	text-align:right;
}
.tmp6 a:link {
	color:#367f28;
	text-decoration:underline;
}
.tmp6 a:visited {
	color:#367f28;
	text-decoration:underline;
}
.tmp6 a:active {
	color:#367f28;
	text-decoration:underline;
}
.tmp6 a:hover {
	color:#367f28;
	text-decoration:none;
}
/*
******************************************************************************************
ШАБЛОН 11 - ИНФОРМАЦИЯ ОБ ОСТАТКЕ ЗАДОЛЖЕННОСТИ ПО КРЕДИТУ
******************************************************************************************
*/


.tmp11 .creditinfo {
	line-height:21px;
}
.tmp11 .headcreditinfo {
	font-weight:bold;
	line-height:21px;
}
.tmp11 .creditdolg {
	font-size:18px;
	color:#EB552A;
}
.tmp11 .koplate {
	font-size:16px;
	color:#197b30;
}
.tmp11 .osndolg {
	font-size:16px;
	color:#EB552A;
}

.tmp11 .inpZadol {
	font-size:10px;
}
/*
******************************************************************************************
ШАБЛОН 12 - ПЕРЕВЕСТИ ДЕНЬГИ
******************************************************************************************
*/
.tmp12 .comment {
	font-size:10px;
	color:#666666;
}
.tmp12 .rbc_G_tmp12_conttab td {
	padding: 5px 5px 5px 0;
}
.tmp12 .rbc_G_buttsent {
	margin:0 0 0 440px;
}
.tmp12 .rbc_G_select_acc {
	width:330px
}
.tmp12 .rbc_G_select_name {
	width:215px
}
.rbc_G_comment {
	width:330px
}
.tmp12 .button {
	margin-top:20px;
	text-align:right;
}
/*
******************************************************************************************
ШАБЛОН 15 - СТРАНИЦА АВАРИЙНОГО ВЫХОДА
******************************************************************************************
*/
.tmp15 p {
	margin-top:30px;
}
.tmp15 .rbc_G_errortext {
	color:#EB552A
}
.tmp15 a:link {
	color:#367f28;
	text-decoration:underline;
}
.tmp15 a:visited {
	color:#367f28;
	text-decoration:underline;
}
.tmp15 a:active {
	color:#367f28;
	text-decoration:underline;
}
.tmp15 a:hover {
	color:#367f28;
	text-decoration:none;
}

/*
******************************************************************************************
ШАБЛОН 13 - ПОЛУЧИТЬ ВЫПИСКИ. ОПЕРАЦИИ ПО СЧЕТАМ
******************************************************************************************
*/
 .tmp13 .d1 {
	font-size:12px;	
	margin:0 10px 0 0px;
}
.tmp13 .d2 {
	font-size:12px;
	margin:0 10px 0 40px;
}
.tmp13 .p2 img {
	position:absolute;
	margin:-2px 0px 0px 5px;
}
.tmp13 .p2 input {
	width:70px;
}
.tmp13 .left_column {
	padding-top:3px;
	font-weight:bold;
}
.tmp13 .button {	
	text-align:right;
}

/*
******************************************************************************************
BANNER
******************************************************************************************
*/
.banner .text {
	padding:0px!important;
	height:353px;
	width:360px;
}
.banner .text img {
	
}
.banner .text p {	
	font-size:17px;
	color:#666666;
	margin:10px 20px;
	width:320px;
	line-height:21px;
}
#left3 {
	padding-right:20px!important;
	
}
#right2 {
	padding-right:20px!important;
	width: 75%!important;
}
#left2 {
	width:360px;
}

#login_left {
	width:200px;
	padding-right:20px!important;
}
#login_center {
	padding-right:20px!important;
}


/* Шаблоны оплаты услуг (sb_7_tmpl_oplata_tovary_uslugi.htm) */
.prim {
	font-size: 10px;
	color: #888888;
	padding: 15px 0px 15px 0px;
}
.prim a {
	font-size: 10px;
	color: #888888;
}
.check {
	color: #eb552a;
}
/* Тянущееся меню */
.menu table, .menu2 table {
	width: 100%;
}
.menu table td, .menu2 table td {
	text-align: center;
	cursor: pointer;
}
td.table-menu div div a, td.table-menu-s div div a {
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
td.table-menu div div {
	background: url(../img/menur/r.gif) no-repeat 100% 0px;
	padding: 82px 13px 22px 13px;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}
td.table-menu div {
	background: url(../img/menur/l.gif) no-repeat 0px 0px;
}
td.table-menu {
	background: url(../img/menur/bg.gif) repeat-x 0px 0px;
	height: 118px;
}
td.table-menu-s div div {
	background: url(../img/menur/r-a.gif) no-repeat 100% 0px;
	padding: 82px 13px 22px 13px;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}
td.table-menu-s div {
	background: url(../img/menur/l-a.gif) no-repeat 0px 0px;
}
td.table-menu-s {
	background: url(../img/menur/bg-a.gif) repeat-x 0px 0px;
	height: 118px;
}
/* ===============================  Part 4 CSS (19022009) ============================== */
.btn_tmp2_find {
	margin-top:5px;
}
.selec {
	margin-top:-6px;
	position:absolute;
}
.otzivcheck {
	padding:5px 15px 15px 0px;	
	color: #000;
	text-align:right;
}
.tmp5 .button {
	margin-top:20px;
	text-align:right;
}
.tmp4_legenda {
	font-size:10px;
	color:#666;
	margin-top:20px;
}
.tmp4_legenda th {
	font-weight:normal;
	padding-bottom:10px;
}
.tmp4_legenda td {
	vertical-align:middle!important;
	padding:5px 10px 5px 0;
}
/* ===============================  Part 5 CSS (24022009) ============================== */

.pad-menu {
	padding:1px 0 2px;
}
#left .pad-menu table {
	/*width: 158px;*/
    width: auto;
}
#left3 .pad-menu table {
	width: auto;
}
/*.pad-menu td img {
margin-right: 6px;
}*/
img.buttom {
	cursor:pointer;
	margin:5px 6px 0px 0px;
/*	width:8px; */

}
.buttom {
	cursor:pointer;
}
td.openmenu {
	/*width: 143px;*/
    width: 100%;
	line-height:18px;
}
#left3 .pad-menu table td.openmenu {
	width: auto;
}
.umenu-s {
	padding:10px 0 12px;
}
.umenu {
	padding: 3px 0px 8px 14px;
	display:none; 
}
.umenu div {
	background: url(../img/bul/lm-empty.gif) no-repeat 0px 6px; 
	font-size:12px;
	line-height:19px;
	padding:0 3px 2px 10px;
}
.umenu div span {
	text-transform: none;
}
.umenu div a {
	font-size:12px;
	text-transform: none;
	color: #666666;
}
.umenu-s div {
	background: url(../img/bul/li_tab.gif) no-repeat 14px 6px;
	font-size:12px;
	line-height:19px;
	padding: 0px 3px 2px 24px;
}
.umenu-s div span {
	text-transform: none;
}
.umenu-s div a {
	font-size:12px;
	text-transform: none;
	color:#666666;
}
.umenu-s div span a {
	color:#99CC33;
}
.openmenu a {
	color:#666666;
 /*  	text-transform:uppercase; */
	text-decoration:underline;
}
.openmenu a.tlmenu-s {
	color: #95C732;
	text-decoration: none;
}

/* ===============================  Part 9 vertical CSS (26022009) ============================== */
/* Стили для раскрывающихся блоков*/
#error {
	display:none;
	
}
.err_cont {
	color:#EB552A;
}
#warning, #warning2 {
	display:none;
	
}

/* #error td {
	padding-bottom:10px;	
}
#error td div {
	padding:10px;
	border:3px #EB552A solid;
}*/

/*
#error2 div{
	display:none;
	color:#EB552A;
	position:absolute;
	padding:5px 10px;;
}

#error2 td:first-child {
	border:1px #EB552A solid;	
	border-right:0;
}
#error2 td{
	border:1px #EB552A solid;
	border-left:0;
}*/
#step1 {
  display: block;
}
#step1-2 {
  display: block;
}
#step2 {
  display: none;
}
#step2-2 {
  display: none;
}
#step3 {
  display: none;
}
#step3-2 {
  display: none;
}
#step4 {
  display: none;
}
#step4-2 {
  display: none;
}
#step5 {
  display: none;
}
#step5-2 {
  display: none;
}
/* /Стили для раскрывающихся блоков */



.tmp8new .textblock {
	position:absolute;
	width:570px;
	margin:15px 0 0 70px;
	z-index:2;
}
.tmp8new .infoTd {
	padding-bottom:20px;	
}
.tmp8new .comment {
	font-size:10px;
	color:#666666;
}
.tmp8new .btn_select {
	position:absolute;
	margin-top:-5px;	
}



.tmp8new .right_column {padding-left:0px!important;}

/* ===============================  Part 10 vertical CSS (27022009) ============================== */

.button {
	color:#FFF;
	font-size:11px!important;
	cursor:pointer;
	margin-top:2px;		
	}
.tmp5new .button {
	margin-top:20px;
	text-align:right;
	color:#FFF;
	font-size:11px;
	width:90px;
}
.gr_btn_left {background: url(../img/gr_btn_left.gif) no-repeat;}
.gr_btn_center {background: url(../img/gr_btn_center.gif) repeat-x; padding-bottom:5px;}
.gr_btn_right {background: url(../img/gr_btn_right.gif) no-repeat;height:37px;}

.gr_btn_left-s {background: url(../img/gr_btn_left-s.gif) no-repeat;}
.gr_btn_center-s {background: url(../img/gr_btn_center-s.gif) repeat-x; padding-bottom:5px;}
.gr_btn_right-s {background: url(../img/gr_btn_right-s.gif) no-repeat;height:37px;}

.gr_btn_left-v {background: url(../img/gr_btn_left-v.gif) no-repeat;}
.gr_btn_center-v {background: url(../img/gr_btn_center-v.gif) repeat-x; padding-bottom:5px;}
.gr_btn_right-v {background: url(../img/gr_btn_right-v.gif) no-repeat;height:37px;}

.gr_btn_left-g {background: url(../img/gr_btn_left-g.gif) no-repeat;}
.gr_btn_center-g {background: url(../img/gr_btn_center-g.gif) repeat-x; padding-bottom:5px;}
.gr_btn_right-g {background: url(../img/gr_btn_right-g.gif) no-repeat;height:37px;}

.headtel {
	position:absolute;
	margin-top:50px;
	margin-left:5px;	
}
.headtel div.spr {
	font-size:13px;		
}
.headtel div.numb {
	padding-top:5px;
	font-size:24px;	
	width:190px;	
}



.tmp6 .first td {padding-bottom:10px;}

.info_l {background: url(../../images/info_l.gif) repeat-y;}
.info_lt {background: url(../../images/info_lt.gif) no-repeat;}
.info_lb {background: url(../../images/info_lb.gif) no-repeat;}
.info_r {background: url(../../images/info_r.gif) repeat-y;}
.info_rt {background: url(../../images/info_rt.gif) no-repeat;}
.info_rb {background: url(../../images/info_rb.gif) no-repeat;}
.info_t {background: url(../../images/info_t.gif) repeat-x;}
.info_b {background: url(../../images/info_b.gif) repeat-x;}
.info_cont img {padding-right:10px;}

.err_l {background: url(../../images/err_l.gif) repeat-y;}
.err_lt {background: url(../../images/err_lt.gif) no-repeat;}
.err_lb {background: url(../../images/err_lb.gif) no-repeat;}
.err_r {background: url(../../images/err_r.gif) repeat-y;}
.err_rt {background: url(../../images/err_rt.gif) no-repeat;}
.err_rb {background: url(../../images/err_rb.gif) no-repeat;}
.err_t {background: url(../../images/err_t.gif) repeat-x;}
.err_b {background: url(../../images/err_b.gif) repeat-x;}
.err_cont img {margin-left:-80px;}
.err_cont {
	padding-left:80px;	
}

.err2_l {background: url(../../images/err2_l.gif) repeat-y;}
.err2_lt {background: url(../../images/err2_lt.gif) no-repeat;}
.err2_lb {background: url(../../images/err2_lb.gif) no-repeat;}
.err2_r {background: url(../../images/err2_r.gif) repeat-y;}
.err2_rt {background: url(../../images/err2_rt.gif) no-repeat;}
.err2_rb {background: url(../../images/err2_rb.gif) no-repeat;}
.err2_t {background: url(../../images/err2_t.gif) repeat-x;}
.err2_b {background: url(../../images/err2_b.gif) repeat-x;}
.err2_cont {
	padding-left:80px;
}

.att_l {background: url(../../images/att_l.gif) repeat-y;}
.att_lt {background: url(../../images/att_lt.gif) no-repeat;}
.att_lb {background: url(../../images/att_lb.gif) no-repeat;}
.att_r {background: url(../../images/att_r.gif) repeat-y;}
.att_rt {background: url(../../images/att_rt.gif) no-repeat;}
.att_rb {background: url(../../images/att_rb.gif) no-repeat;}
.att_t {background: url(../../images/att_t.gif) repeat-x;}
.att_b {background: url(../../images/att_b.gif) repeat-x;}
.att_cont img {margin-left:-80px;}
.att_cont {
	padding-left:80px;	
}

.calend_l {background: url(../../images/calend_l.gif) repeat-y;}
.calend_lt {background: url(../../images/calend_lt.gif) no-repeat;}
.calend_lb {background: url(../../images/calend_lb.gif) no-repeat;}
.calend_r {background: url(../../images/calend_r.gif) repeat-y;}
.calend_rt {background: url(../../images/calend_rt.gif) no-repeat;}
.calend_rb {background: url(../../images/calend_rb.gif) no-repeat;}
.calend_t {background: url(../../images/calend_t.gif) repeat-x;}
.calend_b {background: url(../../images/calend_b.gif) repeat-x;}
.calend_cont img {padding-right:10px;}

.pagers, .first {
	padding-left:0px;	
	margin-left:0px;
}
.sub-links2 ul.pagers li {
background:transparent none repeat scroll 0 0;
display:inline;
font-size:12px;
list-style-image:none;
list-style-type:none;
margin:0;
padding:0 9px;
}
.sub-links2 ul.pagers li.last {
background:transparent none repeat scroll 0 0;
list-style-image:none;
list-style-type:none;
margin:0;
padding:0 0 0 15px;
}




/* ===============================  Part 11 vertical CSS (02032009) ============================== */


.rbc_G_tmp12_conttab td {vertical-align:top;}