/* Universal Selectors */
/* Element Selectors */
/* Class, Attribute, and Psevdo Selectors */

.header{
	right: -6px;
}

/*.card-info .main{
	display: inline;
}

.available{
	display: inline;
}

.actions{
	display: inline;
}*/

.more{
	right: 4px;
	width: 126px;
}
 
/* .more ul li{
	line-height: 20px;
} */

/* ID Selectors */
/* !important Universal Selectors */
/* !important Element Selectors */
/* !important Class, Attribute, and Pseudo Selectors */
/* !important ID Selectors */
