.pageTitle {vertical-align:bottom}
.pageTitleMenu {text-align:right;padding-right:20px;vertical-align:bottom}
.menu {width:100%;}
.contactInput{font-size:8pt;}

.whiteShortLine{font-size:3px;width:5%;height:3px;}
.white2pxLine{font-size:2px;width:5%;height:2px;}
.white1pxLine{font-size:1px;width:100%;height:1px;}
.listItem {height:20px; border-right:1px solid #c5c5c5;border-bottom: 1px solid #c5c5c5;
           padding-left:4px;padding-right:4px}
.listItemDisabled {color: gray;}
.listItemA {height:20px; border-right:1px solid #c5c5c5;background-color:#c1c1c1;font-weight:bold;
           padding-left:4px;padding-right:4px}

.listLine1 {}
.listLine2 {font-weight:bold}
.listItemBottom{border-bottom:1px solid #c5c5c5;}
.itemMain{color:#3e3e3e;background-color:#f2f8f5;}
.itemBlock{color:#3e3e3e;background-color:#c5c5c5;}

/*всплывающие подсказки*/
.layerFon{background-color:#fafafa;border:1px solid #4c4b4b;margin-left:10px;padding:2px}
.stateDescription{position:absolute; display:none; min-height:37px;overflow:auto;z-index:1;}

.Data {overflow:auto; }

.error {font-size:10pt;color:red;text-align:center;margin-left:10px;margin-right:10px}
.messageTab{color:#cc3333;font-size:9pt;font-weight:bold;}
.aPayment {padding-top:4px;padding-bottom:4px;}

.LabelAll { text-align:right;padding-right:4px;}
.formTitle{font-weight:bold;font-size:12pt}
.fontBold {font-weight:bold}

.insertInput{border:0px solid transparent;border-bottom:1px solid black;margin:0pt;text-align:center;font-family:Times New Roman;font-size:12pt;font-style:italic;}
.titleMargin{margin-top:8;margin-bottom:8;}

/*фильтры*/
.filterSelect {width:150px;}
.filterText{color:#3d3d3d;}
.filterBorder{border-bottom:1px solid #CBCCDA;width:100%}
.filterLabel{float:left;width:100px;}
.filterLink{width:100%;padding-right:20px;}

/*кнопочки*/
.buttDiv {margin:0px;padding:0px;border:0px;float:left;}

/*документы*/
/*поддержка старого типа документов*/
.textDoc{text-align:justify;font-family:Times New Roman;font-size:12pt;padding-left:4;padding-right:4;}
.textPadding{padding-left:4;padding-right:4;}
.textUnd{text-decoration:underline;}
.tabSpan{width:10mm;float:left;}
.docTableBorder{border-top:1px solid #000000;border-left:1px solid #000000;}
.docTdBorder{border-bottom:1px solid #000000;border-right:1px solid #000000;}

#tbl{table-layout:fixed; font-family:Times New Roman;font-size:10pt;}
#tbl td p{width:100%;word-wrap:break-word}
#tbl th p{width:100%;word-wrap:break-word}

@media print {
       THEAD { display: table-header-group; }
       TFOOT { display: table-footer-group; }
	   TBODY { display: table-row-group;height:100%; }
}

/*для автоматической обработки документов стилями*/
.printDoc table{text-align:justify;font-family:Times New Roman;font-size:12pt;padding-left:4;padding-right:4;}
.printDoc input{border:0px solid transparent;border-bottom:1px solid black;margin:0pt;text-align:center;font-family:Times New Roman;font-size:12pt;font-style:italic;}
/* в печати договоров удобно использовать этот стиль при разбиении длинных строк с данными клиента */
.tdUnderlinedItalic {border-bottom:1px solid black; vertical-align:bottom; text-align:center; font-style:italic;font-size:11pt;}

/*верхнее меню*/
.enterDiv {margin:0px;padding:0px;border:0px;float:right;}
.bookmark {padding:0px;padding-top:6px;text-align:center;height:20px;}

/*.logWorkspace{width:100%; height:100%;min-width:979px;height:100%;min-height:500px;border:1px solid red;}*/

/*---------------------------------- Левое меню --------------------------------------*/
.divLMenu{padding-left:8px;vertical-align:top;}

/*всякие мелкие феньки*/
.contextHelp{color: #B40000;font-weight:bold;}
.backTransparent{background-color:transparent;}
.attention{font-size:8pt;color:red}
.dispRight {float:left;} /*???*/
.handCursor {cursor:pointer;}
.font11{font-size:11pt;}
.font10{font-size:10pt;}
.font9{font-size:9pt;}
.font8{font-size:8pt;}
.titleDoc{font-weight:bold;}
.maxSize{width:100%;height:100%;}
.italic{font-style:italic;}
.helpPayment{cursor:help;}
.Width1050 {width:1050px;}
.width405 {width:405px;}
.width350 {width:350px;}
.Width170 {width:170px;}
.Width175 {width:175px;}
.Width150 {width:150px;}
.Width120 {width:120px;}
.Width125 {width:126px;}
.Width111 {width:111px;}
.Width160 {width:160px;}
.Width180 {width:180px;}
.Width200 {width:200px;}
.Width220 {width:220px;}
.Width255 {width:255px;}
.Width90 {width:90px;}
.Width20 {width:20px;}
.Width50Percent {width:50%;}
.floatLeft{float:left;}
.floatRight{float:right;}
.displayBlock{display:block;}
.paddLeft10{padding-left:10px;}
.paddTop10{padding-top:10px;}
.paddBottom10{padding-bottom:10px;}
.marginBottom-5{margin-bottom: -5px;}
.marginLeft0{margin-left: 0 !important;}
.marginLeft45{margin-left: 45px;}
.marginRight0 {margin-right: 0;}
.marginRight15 {margin-right: 15px;}
.paddRight10{padding-right:10px;}
.disabledInput{color:gray;cursor:default;}
.silverBott{border-bottom:1px solid silver;}
.nullBorderR{border-right:0px solid transparent;}
.silverTop {border-top:1px solid silver;}
.textNobr{white-space:nowrap;}
.noPadding td{padding:0px;}
.inlineBlock{display:inline-block;}

/*допы к FireFox*/
.vAlign{vertical-align:top;}
.height100{height:100%;}