.titleHeader{font-size:12pt;font-weight:bold;color:#031C42;}

.headerStyle{height:80px;}
.personalLogoBank{background:url('images/notebook.gif');background-position:left top;background-repeat:no-repeat;}
.paperTitle{font-size:14px;color:#076970;}
.paperMenu{font-size:9pt;font-weight:bold;color:#076970;}
.paperSubMenu{padding-right:10px;background-color:#076970;color:#076970;font-size:12px;text-align:right;font-weight:bold;}
.darkLine{font-size:3px;width:90%;background-color:#076970;}
.lightLine{font-size:2px;background-color:#B0D5D1;width:80%;height:2px;}
.shortVLightLine{font-size:10px;background-color:#FBFAEC;height:10px;}
.dark1pxLine{font-size:1px;background-color:#6BBCC0;}
.light1pxLine{font-size:1px;background-color:#076970;}
.vLight2pxLine{font-size:2px;background-color:#076970;}
.borderDownLine{border-top:1px solid #004E00;}
.titleTable{background:url('images/tabBack.gif');background-color:#076970;font-size:8pt;padding-left:4px;padding-right:4px;;text-align:center;color:#FFFFFF;font-weight:bold;border-right:1px solid #3d3d3d;border-bottom:1px solid #3d3d3d;}
.fildInTable{font-size:12px;text-align:center;color:#3d3d3d;}
.layerFon{background-color:#FCF6DC;border:1px solid black;margin-left:10px;margin-top:10px; padding:2px}

.newsTitle{font-size:12pt;color:#076970;font-weight:bold}
.workspaceTitle{font-size:12pt;color:#076970;font-weight:bold}
.infoTitle{font-size:8pt;color:#076970;font-weight:bold}
.linkTab { border-top: 1px solid #076970;}

.paperEnter{color:#076970;font-size:8pt;text-align:right;font-weight:bold;}
.tableRightBorder{border-right:2px solid #076970;}


.listPayment{font-size:10pt;color:#076970;font-weight:bold;background-color:#F1F1F1;}
.linkFocus{color:#A34805;}
.linkUnFocus{color:#076970;}
.menuLinkText{color:red}
.Label { text-align:right;padding-right:4px;background-color:#F1F1F1;}
.LabelTitle {font-weight:bold;background-color:#F1F1F1;}

.paymentFon{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F1F1F0;border:1px solid black;margin-left:10px;margin-top:10px;}
.mergerPaymentInfo table{border:0px solid transparent;}
.paymentFon .LabelAll{color:#6D6D6D;}
.claimViewUserInfo {padding:0px 12px;width:100%;border-bottom:1px solid #000000;}
.titleLabelAll{text-align:left;font-weight:bold;color:#000000;}

.templates{background-repeat:repeat-y;background-color:#F1F1F0;border:0px solid;background:url('images/paymentBack.gif');}
.titleHelp{color:#076970;text-align:justify;}
.paymentTitleFon{background-color:#F1F1F0;}
.LightBlueBG{background-color:#F1F1F1;}
.notifySubTitle {padding-left:20px;background-color:#F1F1F0;font-size:8pt;color:#076970;font-weight:bold;border:1px solid #c5c5c5;}
.textOnMenu{color:white;font-weight:bold;font-size:8pt;}

.listPayImg{background-color:gainsboro;height:60px;width:60px;border-top:1px solid #B2B5B4;border-left:1px solid #B2B5B4;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
.listPayTab{border:1px solid #B2B5B4;height:80px;}
.listPayTitle{font-size:10pt;color:#076970;font-weight:bold;}
.listPayPart{font-size:12pt;color:#076970;font-weight:bold;}

/*----------------------------------- Стартовая ---------------------------------------*/
.inputLogin{background:url('images/loginBack.gif');text-align:left;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:#076970;height:18px;width:100px;}
.titleColor{background-color:#076970;}

.tabBackLoginPass{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F1F1F0;border-top:1px solid #ffffff;border-bottom:1px solid #EDEEEE;border-right:1px solid #EDEEEE;}
.titleLoginPass{font-size:22px;font-weight:bold;color:#076970;}
.tabBaseLoginPass{border:1px solid #A8A8A8;border-right:1px solid #D7DADA;border-bottom:1px solid #D7DADA;background-color:#F2F7F3;}
.picBaseLoginPass{background:url('images/cornBottomLoginPass.gif');background-position:right bottom;background-repeat:no-repeat;}

/*----------------------------------- Логотипы ----------------------------------------*/
.headerUnder{border-bottom:2px groove #9BD2C8;}

/*---------------------------------- Главное меню -------------------------------------*/
.bgBookmark{border-bottom:1px solid #c5c5c5;}
.headerMenuEl{background:url('images/triangle.gif');background-position:left;background-repeat:no-repeat;padding-left:8px; height:15px;}
.MenuItemSelect{color:#900209;}

/*------------------------------- Регион с подписью -----------------------------------*/
.footerRegion td {border-top:1px solid #004E00;color:#3d3d3d;padding:5px;vertical-align:middle;}
.footerRegion a{font-family:Tahoma;font-weight:normal;}

/*-------------------------------- Панель кнопок --------------------------------------*/
/*кнопки, находящиеся в главном меню (картинки:buttPartB.jpg, buttPartBOver.jpg, buttPartR.gif, buttPartL.gif)*/

.buttMenuRegion{width:100%;height:22px;border-bottom:1px solid #c5c5c5;}

.paperSubMenu table.submit{COLOR: #ffffff; font-weight:bold;
	background:url('images/buttPartB.jpg'); background-repeat:repeat-x;}
.paperSubMenu table.submitOver { COLOR: #D7FFEA; font-weight:bold;
	background:url('images/buttPartBOver.jpg'); }
.paperSubMenu td.buttPartR{background:url('images/buttPartR.gif');background-repeat:no-repeat;width:3px;height:18px;}
.paperSubMenu td.buttPartL{background:url('images/buttPartL.gif');background-repeat:no-repeat;width:3px;height:18px;}

/*кнопки, находящиеся не ;) в главном меню (картинки:buttFPartB.jpg, buttFPartBOver.jpg, buttFPartR.gif, buttFPartL.gif)*/
.submit{COLOR: #076970; font-weight:bold;
	background:url('images/buttFPartB.jpg'); background-repeat:repeat-x;}
.submitOver { COLOR: #900209; font-weight:bold;
	background:url('images/buttFPartBOver.jpg'); }
.buttPartR{background:url('images/buttFPartR.gif');background-repeat:no-repeat;width:3px;height:18px;}
.buttPartL{background:url('images/buttFPartL.gif');background-repeat:no-repeat;width:3px;height:18px;}

/*поддержка старой версии кнопок*/
.butMenu{text-align:center;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:white;background:url('images/buttFon.gif');height:18px;border:0;border-right:1 ridge white;border-bottom:1 ridge white;cursor:hand;}
.butMenuFocus{color:white;background:url('images/buttFonDark.gif');}
.buttWhite{background:url('images/buttWhite.gif');text-align:center;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:#076970;height:18px;border:0;border-right:1 ridge white;border-bottom:1 ridge white;border-top:1 solid #f1f1f1;border-left:1 solid #f1f1f1;cursor:hand;}
.buttEditMenu{background:url('images/buttEditFon.gif');background-color:#D8D9DF;color:#076970;width:170px;height:20px;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;border-bottom:1 solid gray;border-right:1 solid gray;cursor:hand;}

/*Поддержка старой версии кнопок для администрежа. Пока его не перевели на новый дизайн.*/
.paperSubMenu .btnBase{COLOR: #ffffff; font-weight:bold;background:url('images/buttPartB.jpg') repeat-x;}
.paperSubMenu .btnRightCorner{background:url('images/buttPartR.gif');background-repeat:no-repeat;width:3px;height:18px;}
.paperSubMenu .btnLeftCorner{background:url('images/buttPartL.gif');background-repeat:no-repeat;width:3px;height:18px;}
.btnBase{COLOR: #076970; font-weight:bold;	background:url('images/buttFPartB.jpg') repeat-x;}
.btnRightCorner{background:url('images/buttFPartR.gif');background-repeat:no-repeat;width:3px;height:18px;}
.btnLeftCorner{background:url('images/buttFPartL.gif');background-repeat:no-repeat;width:3px;height:18px;}
.buttDiv {cursor:pointer;}

/*---------------------------------- Левое меню --------------------------------------*/
.leftMenuHeader{border-bottom:1px solid #076970; padding-left:4px;padding-right:4px;padding-top:12px;}
.leftMenu {background:url('images/menuBack.gif');background-position:right;background-repeat:repeat-y;vertical-align:top;height:100%;}
/*.insetSide {background:url('images/insetSide.gif');}*/
/*.insetBody {text-indent:6px;background:url('images/insetBody.gif');background-position:left bottom;background-repeat:no-repeat;}*/
.mOverHref {color:#554A03;background:url('images/insetBodyOver.gif');background-position:left bottom;background-repeat:no-repeat;}
.mOverHref a{color:#B80008;}
/*.mOverHref td.insetSide{background:url('images/insetSideBack.gif');}*/
/*.mOverHref td{background:url('images/insetSideBack.gif');background-position:right top;background-repeat:no-repeat;}*/
.mOutHref {color:#076970;}
.menuInsertText{color:#A97D5A;}
.disableLink{text-indent:5px;color:silver;cursor:default;background:url('images/insetBodyRO.gif');background-repeat:repeat-x;}
.disableLink a{color:#9D9DA1;}
.widthLMenu{width:210px;}
/*------------------------------------- Фильтр ----------------------------------------*/
/*фильтры*/
.filterBack {background-color:#f2f8f5;border-top:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
.filterLineGray {border-top:1px solid #c3c3c3;}
.filterLineWhite {border-top:1px solid #ffffff;}
.filter{color:#076970;font-weight:bold;padding-top:6px;padding-bottom:6px;padding-left:10px;padding-right:10px;}
.filterLink{position:absolute;top:-1px;left:-10;text-align:right;}
.fltrBgBtm{border:1px solid #c3c3c3;border-top:1px solid #ffffff;background-color:#f2f8f5;}

.filterInput{font-weight:normal;font-size:8pt;height:18px;color:#076970;background-position:right;}
.filterAsterisk {color:#076970;}

/*Поддержка фильтров для нового дизайна*/
.fltrInfArea{background-color:#f2f8f5;border-top:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}

/*---------------------------------- Контексты ----------------------------------------*/
/*contextLink - когда реально станет ссылкой, сделать без класса, только по таблице на все ее линки*/
.contextLink{font-size:8pt;font-weight:bold;text-decoration:underline;}
.contextRegion {border-top:1px solid #076970;border-bottom:1px solid #B0D5D1;}
.contextRegion td{border-bottom:1px solid #076970;padding-bottom:3px;padding-top:3px;padding-left:2px;height:10px;}
.contextRegion a{font-size:8pt;font-weight:bold;text-decoration:underline;}

/*----------------------------- Функциональная область --------------------------------*/
.workspaceRegion td{vertical-align:top;}
.workspaceRegion div{width:100%;height:100%;overflow:auto;}

/*информационные сведения*/
.tabHelpInfo{background-color:#F4FBE3;border-top:1px solid #DEEDBA;border-left:1px solid #DEEDBA;width:380px;height:240px;}
.lineHelpInfo{border-top:1px solid #DEEDBA;border-bottom:2px solid #FFFFFF;}
.textHelpInfo{text-indent:8px;text-align:justify;padding-bottom:20px;line-height: 2.2em}
.headTextHelpInfo{font-weight:bold;font-size:11pt;color:#076970;}
.infoConer {border-bottom:2px solid #FFFFFF;border-right:2px solid #FFFFFF;}

/*редактирование новостей*/
.editNewsTab{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F1F1F0;border:1px solid black;margin-left:10px;margin-top:10px;}
.editImg{border:0px solid white;cursor:pointer;}
.editMOImg{border:1px solid #ff9933;}
.editClImg{border:1px solid #333333;}
.shortList{border-top:1px solid #076970;border-right:1px solid #c3c3c3;}
.textNews{border-bottom:1 solid #c3c3c3;padding-top:10px;}
.dateNews{font-weight:bold;}

/*таблицы*/
.userTab {border-top:1px solid #3d3d3d;border-left:1px solid #3d3d3d;}
.userTab .listLine0 table{background-color:#EFF1F3;}
.titleTable td{background:url('images/tabBackTop.gif');background-repeat:repeat-x; vertical-align:middle;background-color:#51a49e;font-size:8pt;padding-left:4px;padding-right:4px;text-align:center;color:#FFFFFF;font-weight:bold;border-right:1px solid #3d3d3d;border-bottom:1px solid #3d3d3d;}
.listLine0 {background-color:#f1f1f1;}
/*Поддержка нового дизайна*/
.tblInf{{border-top:1px solid #3d3d3d;border-left:1px solid #3d3d3d;}
.tblInf table td{border:0px;}
.tblInfHeader td{background:url('images/tabBackTop.gif');background-repeat:repeat-x; vertical-align:middle;background-color:#51a49e;font-size:8pt;padding-left:4px;padding-right:4px;text-align:center;color:#FFFFFF;font-weight:bold;border-right:1px solid #3d3d3d;border-bottom:1px solid #3d3d3d;}
.tblInf .ListLine0 td{background-color:#f1f1f1;}
/*Информационные таблицы*/
.logInfoTab{border:0px solid transparent}
.logInfoTab td{border:0px solid transparent}
.logInfoTab table{border:1px solid #a3a3a3;border-width:1px 0px 0px 1px;}
.logInfoTab table td{border:1px solid #c3c3c3;border-width:0px 1px 1px 0px;}
.logInfoTab .titleTable td{background-color:#E8E8EE;background:url('images/tabBack.gif');color:#3d3d3d;}
.logInfoBrightText{color:#900209;font-weight:bold;}


/*Платежки и заявки*/

/*Справочники*/
.dictionaryBG {background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F1F1F0;}


/*---------------------------------- Все регионы --------------------------------------*/
.errorText{color:#B80008;font-weight:bold;}
body  {margin:0;background-color:white; font-family:Arial;color:#3d3d3d;font-size:8pt;height:100%;padding:0px;}
/*input {font-family:Arial;color:#3d3d3d;font-size:8pt; border:1px solid #c5c5c5}*/
/*select{font-family:Arial;color:#3d3d3d;font-size:8pt;border-color: #c5c5c5;  border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}*/
textarea {font-family:Arial;color:#3d3d3d;font-size:8pt; border:1px solid #c5c5c5}
table{font-family:Arial;color:#3d3d3d;font-size:8pt;}
a{font-weight:bold;color:#076970;text-decoration:none;}

/*разные мелочи*/
.pTopBottom{padding-top:4px;padding-bottom:4px;}
.asterisk{color:#A97D5A;}
.colorText{color:#076970;font-weight:bold;}

/* ---------------------СТАНДАРТНЫЙ СПИСОК--------------------------------*/
.list_Table
{
	border-left:1px solid #3D3D3D;
	border-top:1px solid #3D3D3D;
}

.list_Table input
{
	border:0;
}

.list_Header, .list_Header th
{
	background:#076970 url(images/tabBack.gif) repeat scroll 0;
	border-bottom:1px solid #3D3D3D;
	border-right:1px solid #3D3D3D;
	color:#FFFFFF;
	font-size:8pt;
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	white-space:nowrap;
	height:20px;
}

.list_Items td, .list_Items2 td
{
	border-bottom:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	height:20px;
	padding-left:4px;
	padding-right:4px;
}

.list_Items
{
	background-color:#F1F1F1;
}

.list_Items2
{
	/* используем дефолтный стиль */
}

.list_empty
{
	border:0;
	color:#cc3333;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}

/*Обеспечение совместимости старого и нового дизайна*/
/*Платежныне формы*/
.pmntGlobal{width:540px;background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F1F1F0;border:1px solid black;}
.pmntTitleBg{text-align:center;vertical-align:middle;height:36px;border-bottom:1px solid #7d7d7d;}
.pmntTitleBg span{color:#076970;font-size:11pt;font-weight:bold;cursor:default;}
.pmntIcon{width:73px;height:47px;text-align:center;vertical-align:middle;}
.pmntTitleText{text-align:left;}
.pmntInfArea td{padding:2px 0px 2px 4px;}
.pmntInfArea span{padding:0px;cursor:default;}
.pmntInfArea fieldset{border:1px solid #c8c3b9;width:100%;padding:0px 25px 0px 5px;}
.pmntInfArea legend{color:#3d3d3d;font-weight:bold;}
.pmntInfAreaTitle{font-weight:bold;padding:4px 0px 2px 5px;color:#6d6d6d;}
.pmntInfAreaSignature{font-size:6pt;color:#5d5d5d;vertical-align:top;}
.pmntListGroupTitle{font-weight:bold;}
.label120{color:#7d7d7d;width:120px;text-align:right;}
.LabelAll{color:#7d7d7d;}

.pmntConfirm {padding:2px 2px 0px 2px;}
.pmntConfirm input{border:1px solid #c8c3b9;width:100px;}

/*Таблицы*/
.tblHeader{color:#076970;font-size:11pt;font-weight:bold;}
.tblSearchMsg{font-weight:bold;border:1px solid #C5C5C5;border-width:0px 1px 1px 1px;border-left:1px solid #3d3d3d;padding:3px 0px 3px 0px;}
.tblGroupTitle{color:#076970;font-weight:bold;padding:5px 0px 2px 4px;border:1px solid #C5C5C5;border-width:0px 1px 1px 0px;background-color:#f1f1f1;}
.tblGroupTitle input{border:1px solid #076970;}
.tblTdBorder {border:1px solid #c3c3c3;}
.tblSettingsBeforeInf{background-color:#f1f1f1;padding:4px;border:2px solid #ffffff;}
.tblSettingsBeforeInf table{border:1px solid #c3c3c3;}

/*Список шаблонов*/
.tmpltGroup{width:400px;height:120px;float:left;padding:2px;}
.tmpltGroupBgTop{background-color:#f1f1f1;border-top:1px solid #c8c3b9;}
.tmpltGroupBg{background-color:#f1f1f1;width:390px;height:100px;}
.tmpltGroupBgBtm{background-color:#f1f1f1;border-bottom:1px solid #c8c3b9;}
.tmpltGroupInfArea{background-color:#f1f1f1;border:1px solid #d7d6d1;border-width:0px 2px 0px 1px;}
.tmpltGroupIcon{background:url('images/pmntList_iconBg.gif') no-repeat;width:73px;height:47px;text-align:center;vertical-align:middle;}
.tmpltGroupTitle{color:#076970;font-size:10pt;font-weight:bold;text-decoration:underline;}


/*Подменю левого меню*/
.subMenu{text-align:center;padding:0px 8px 0px 8px;}
.subMenu span{width:100%;height:100%;}
.subMTextTitle{color:#076970;width:180px;font-weight:bold;border-bottom:1px solid #076970;padding-left:10px;}
.subMInactiveInset{height:20px;padding:4px;cursor:pointer;position:relative;text-decoration:underline;color:#076970;font-weight:bold;padding-left:15px;}
.subMActiveInset{text-indent:5px;color:#9f9f9f;cursor:default;background:url('images/insetBodyRO.gif');background-repeat:repeat-x;font-weight:bold;border-bottom:1px solid #dfdfdf;padding-left:10px;}
.lmNewAction{position:absolute;left:168;top:12;display:none;}
