/*----------------------------------- Глобальное -------------------------------------*/
body{
	font-family:Verdana;
	color:#02352B;
	font-size:8pt;
	margin:0;
	padding:0px;
	height:100%;
	overflow-x:hidden;

}
table{
	font-size:8pt;
	font-family:Verdana;
}
a{color:#701B79;}
a:hover{color:#CC20C6;}
.button a{color:#ffffff;}
.button a:hover{color:#D8BCC3;}

.paperEnter{color:#701B79;font-size:8pt;text-align:right;font-weight:bold;}
/*----------------------------------- HeadGroup -------------------------------------*/
.headLeft{background:url('images/headLeft.gif');background-repeat:no-repeat;background-position:bottom right;}
.generalHeadMenu{background:url('images/headBottom.gif');background-repeat:no-repeat;background-position:bottom left;font-weight:bold;color:#903E98;padding-bottom:13px;padding-top:10px;}
.MenuItem{padding-left:3px;cursor:pointer;text-decoration:none;}
.MenuItemSelect{padding-left:3px;cursor:pointer;text-decoration:underline;}
.headRight{background:url('images/headRight.gif');background-repeat:repeat-x;background-position:bottom left;}

/*------------------------------------ Context ---------------------------------------*/
.context{background:url('images/context.gif');}
.contextLink{font-weight:bold;color:#D0BCE1;padding-bottom:2px;}

/*------------------------------------ Footer ----------------------------------------*/
.footerL1{background:url('images/bline1.gif');background-repeat:no-repeat;background-position:right;}
.footerL2{background:url('images/bline2.gif');background-repeat:no-repeat;background-position:right;}
.footerRight{background:url('images/bline3r.gif');background-repeat:no-repeat;background-position:right top;}
.footerTable{background:url('images/bline3.gif');background-repeat:repeat-x;background-position:bottom;}
.copyright{color:#D0BCE1;}
.footerTable a{color:#D0BCE1;}

/*------------------------------------ Платежи ---------------------------------------*/
.listPayTab{border:1px solid #E3E3E3;height:80px;width:300px;}
.listPayImg{background-color:gainsboro;height:60px;width:60px;min-width:60px;border-top:1px solid #B2B5B4;border-left:1px solid #B2B5B4;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
.paymentFon{background-repeat:repeat-y;padding:5px;}

/*------------------------------------ Украшения -------------------------------------*/
.orangeLine{border-bottom:1px solid #FCAF17;}
.borderB{border-bottom:1px solid #CFCFCF;}
.borderT{border-top:4px solid #F1F1F1;}

/*-------------------------------------- Login ----------------------------------------*/
.inputLogin{background:url('images/loginBack.gif');text-align:left;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:#444A51;;height:18px;width:100px;}
.tabBackLoginPass{background:url('images/inLoginBack.gif');background-repeat:repeat-y;background-color:#F7F4FB;border-top:1px solid #ffffff;border-bottom:1px solid #EDEEEE;border-right:1px solid #EDEEEE;}
.titleLoginPass{font-size:22px;font-weight:bold;color:#701B79;}
.tabBaseLoginPass{border:1px solid #9E759E;border-right:1px solid #E2D6F2;border-bottom:1px solid #E2D6F2;background-color:#F7F4FB;}
.picBaseLoginPass{background:url('images/cornBottomLoginPass.gif');background-position:right bottom;background-repeat:no-repeat;}
.darkLine{font-size:3px;width:90%;background-color:#8F47A5;}
.lightLine{font-size:2px;background-color:#F4BF33;width:80%;height:2px;}

/*-------------------------------- Панель кнопок --------------------------------------*/
/*кнопки, находящиеся в главном меню (картинки:buttPartB.jpg, buttPartBOver.jpg, buttPartR.gif, buttPartL.gif)*/
.buttMenuRegion{width:100%;height:21px;background:url('images/buttonMenu.gif');background-repeat:repeat-x;border-bottom:solid #DBDBDB 3px;}
.paperSubMenu table.submit{COLOR: #ffffff; font-weight:bold;text-decoration:underline;
	background:url('images/buttonMenu.gif'); background-repeat:repeat-x;}
.paperSubMenu table.submitOver { COLOR: #D8BCC3; font-weight:bold;text-decoration:underline;
	background:url('images/buttonMenu.gif'); }
.paperSubMenu td.buttPartR{background:url('images/buttonMenu.gif');background-repeat:repeat-x;}
.paperSubMenu td.buttPartL{background:url('images/menuSeparator.gif');background-repeat:no-repeat;width:3px;height:18px;}

/*кнопки, находящиеся не ;) в главном меню (картинки:buttFPartB.jpg, buttFPartBOver.jpg, buttFPartR.gif, buttFPartL.gif)*/
.submit{COLOR: #701B79; font-weight:bold;text-decoration:underline;
	background:url('images/buttFPartB.jpg'); background-repeat:repeat-x;height:19px;}
.submitOver { COLOR: #CC20C6; font-weight:bold;text-decoration:underline;
	background:url('images/buttFPartBOver.jpg');height:19px;}
.buttPartR{background:url('images/buttFPartR.gif');background-repeat:no-repeat;width:3px;height:19px;}
.buttPartL{background:url('images/buttFPartL.gif');background-repeat:no-repeat;width:3px;height:19px;}

.imgButtonMenu{padding-right:8px;vertical-align:middle;}

/*---------------------------------- Левое меню --------------------------------------*/
.leftMenu {padding-left:4px;padding-right:4px;border-right:1px dotted #DBDBDB;vertical-align:top;height:100%;}
.infoTitle{color:#903E98;font-weight:bold;padding-top:4px;text-decoration:underline;}
.widthLMenu{width:205px;}
.rateOfExchange{border:1px solid #E3E3E3;}
.rateOfExchange td{color:#701B79;font-weight:bold;}
#leftMenu .disableLink{padding-left:3px;}

/*------------------------------------- Фильтр ----------------------------------------*/
/*фильтры*/
.filterBack {background-color:#FCFCFC;border-top:1px solid #E3E3E3;border-left:1px solid #E3E3E3;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
.filterLineGray {border-top:1px solid #E3E3E3;}
.filterLineWhite {border-top:1px solid #ffffff;}
.filter{color:#701B79;font-weight:bold;padding-top:6px;padding-bottom:6px;padding-left:10px;padding-right:10px;font-size:7pt;}

.filterInput{font-size:7pt;height:17px;width:90px;color:#701B79;background-position:left;font-weight:bold;}
.filter select{font-size:7pt;}
.filterLink a{font-size:7pt;color:#701B79;}

.bdCellFirst {border-left:1px solid black;}
.bdCell {border-bottom:1px solid black; border-right:1px solid black; border-top:1px solid black;}
.bdCellLast {border-bottom:1px solid black; border-right:1px solid black;}
/*----------------------------- Функциональная область --------------------------------*/
.workspaceRegion td{vertical-align:top;}
.workspaceRegion div{width:100%;height:100%;overflow:auto;overflow-Y:auto;overflow-X:auto;}
.workspaceTitle{color:#903E98;font-weight:bold;font-size:10pt;padding-top:15px;}
.listPayPart{color:#903E98;font-weight:bold;font-size:10pt;padding-top:15px;}

/*банковские шаблоны*/
.BankTemplate {font-weight:bold}

/*новости*/
.newsTitle{background-color:#F1F1F1;font-weight:bold;padding-top:8px;padding-bottom:8px;border-top:1px solid #CFCFCF;padding-left:8px;font-size:10pt;}
.shortList{background:url('images/orangeLine.bmp');background-repeat:repeat-x;background-position:bottom;padding-top:4px;padding-bottom:4px;}
.shortList a{text-decoration:none;font-weight:bold;color:#A43E98;}
.dateNews{color:#A43E98;font-weight:normal;}

/*таблицы*/
.userTab {border-top:1px solid #E3E3E3;border-left:1px solid #E3E3E3;margin-top:4px;background:url('images/tabHead.gif');background-repeat:repeat-x;background-position:top;}
.titleTable td{font-size:8pt;padding-left:4px;padding-right:4px;color:#903E98;font-weight:bold;border-right:1px solid #E3E3E3;border-bottom:1px solid #E3E3E3;padding-top:11px;height:25px;vertical-align:bottom;padding-bottom:2px;}

/*платежи*/
.paymentFon{border:1px solid #E3E3E3;margin-top:4px;background:url('images/tabHead.gif');background-repeat:repeat-x;background-position:top;margin-left:4px;background-color:#FCFCFC;}
.layerFon{background-color:#FCF6DC;border:1px solid black;margin-left:10px;margin-top:10px; padding:2px}
.loanClaim input{font-size:8pt;height:18px;}
.paymentFon input{font-size:8pt;height:18px;}
.loanClaim td{padding:0px 3px 3px 4px;}
.paymentFon .labelAll{color:#7A7A7A;}
.titleLoanClaim td{padding-top:6px;}
.paymentFon input{font-size:8pt;height:18px;}
#resultTableSpan table{border:1px solid silver;border-width:1px 0px 0px 1px;}
#resultTableSpan td{border:1px solid silver;border-width:0px 1px 1px 0px;margin:0px;padding:1px;}
.titleLabelAll{text-align:left;font-weight:bold;color:#000000;}

/*---------------------------------- Все регионы --------------------------------------*/
/*.titleWorkspace{color:#903E98;font-weight:bold;font-size:10pt;padding-top:15px;}*/


/* ------------------------------СТАНДАРТНЫЙ СПИСОК------------------------------------*/

.list_Table
{
	border-top:1px solid #E3E3E3;
	border-left:1px solid #E3E3E3;
	margin-top:4px;background:url('images/tabHead.gif');
	background-repeat:repeat-x;
	background-position:top;
}

.list_Table input
{
	border:0;
}

.list_Header, .list_Header th
{
	color:#903E98;
	border-right:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
	padding-top:11px;
	padding-bottom:2px;
	height:25px;
	vertical-align:bottom;
	font-size:8pt;
	font-weight:bold;
	white-space:nowrap;
}

.list_Items td, .list_Items2 td
{
	border-bottom:1px solid #E3E3E3;
	border-right:1px solid #E3E3E3;
	height:20px;
	padding-left:4px;
	padding-right:4px;
}

.list_Items
{
}

.list_Items2
{
	/* используем дефолтный стиль */
}

.list_empty
{
	border:0;
	color:#cc3333;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}
.elSubmenu{text-decoration:none;font-family:Arial;}
.tabSubmenu {margin-left:20px;}
.tabSubmenu a{text-decoration:none;font-size:8pt;height:15px;padding-bottom:3px;}
.subMenu .disableLink a{color:#CC20C6;}
.asterisk {color:#FCAF17;}