.tab-wrap{
	background-image:  url(images/tab-border.png);
	}
.inbox-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.outbox-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.bin-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.inbox-tab.unactive{
	background-image:  url(images/tab-unactive.png);
	}
.outbox-tab.unactive{
	background-image:  url(images/tab-unactive.png);
	}
.bin-tab.unactive{
	background-image:  url(images/tab-unactive.png);
	}
