/* round Corner 
 общие настройки углов */
.r-bottom-left{
	margin-bottom:  -3px;
	}

/* greenBold 
 Высота картинок рамки сверху и снизу */
.greenBoldRTC{
	background-image:  url(images/greenBold-hor.gif);
	}
.greenBoldRTR{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRTL{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRBC{
	background-image:  url(images/greenBold-hor.gif);
	}
.greenBoldRBR{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRBL{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRCL{
	background-image:  url(images/greenBold-vert-left.gif);
	}
.greenBoldRCR{
	background-image:  url(images/greenBold-vert-right.gif);
	}
/* /greenBold */

/* greenTop */
.greenTopRTC{
	background-image:  url('images/greenTop-starHor.gif');
	}
.greenTopRTR{
	background-image:  url('images/greenTop-starHor.gif');
	}
.greenTopRTL{
	background-image:  url('images/greenTop-starHor.gif');
	}
.greenTopRBC{
	background-image: url('images/greenTop-starHor.gif');
	}
.greenTopRBR{
	background-image:  url('images/greenTop-starHor.gif');
	}
.greenTopRBL{
	background-image:  url('images/greenTop-starHor.gif');
	}
.greenTopRCL{
	background-image:  url('images/greenTop-vert-left.png');
	}
.greenTopRCR{
	background-image:  url('images/greenTop-vert-right.png');
	}
/* /greenTop */

/* сворачиваем виджет*/
.widget.rollUp .greenTopRTL, .widget.rollUp .greenTopRTR, .widget.rollUp .greenTopRTC {
    background-image:  url('images/greenTop-starHorHidden.png');
}
/* / сворачиваем виджет*/

/* GrayProduct  */
.grayProductRTC, .grayProductRBC{
	background-image: url('images/gray-star-all.gif');
    background-color:#fff;
    background-repeat:repeat-x;
}

.grayProductRTR, .grayProductRTL, .grayProductRBR, .grayProductRBL{
	background-image: url('images/gray-star-all.gif');
    background-repeat:no-repeat;
}

.grayProductRCL {background-image:  url('images/gray-vert-left.png');}
.grayProductRCR {background-image:  url('images/gray-vert-right.png');}

.grayProductRBC {background-position: 0 -14px;}
/* /GrayProduct */

/* Gray  */
.grayRTC, .grayRBC{
	background-image: url('images/gray-star-all.gif');
    background-color:#fff;
    background-repeat:repeat-x;
}

.grayRTR, .grayRTL, .grayRBR, .grayRBL{
	background-image: url('images/gray-star-all.gif');
    background-repeat:no-repeat;
}

.grayRCL {background-image:  url('images/gray-vert-left.png');}
.grayRCR {background-image:  url('images/gray-vert-right.png');}

.grayRBC {background-position: 0 -14px;}
/* /Gray */

/* greenGradient  */
.greenGradientRTC, .greenGradientRTR, .greenGradientRTL{
	background-image:  url('images/gray-star-all.gif');
}
.greenGradientRBC, .greenGradientRBR, .greenGradientRBL{
	background-image:  url('images/green_gradient_bottom.png');
}
.greenGradientRCL {background-image:  url('images/gray-vert-left.png');}
.greenGradientRCR {background-image:  url('images/gray-vert-right.png');}
/* /greenGradient */

/* green */
.greenRTC{
	background-image:  url('images/green-hor.gif');
	}
.greenRTR{
	background-image:  url('images/green-star.gif');
	}
.greenRTL{
	background-image:  url('images/green-star.gif');
	}
.greenRBC{
	background-image:  url('images/green-hor.gif');
	}
.greenRBR{
	background-image:  url('images/green-star.gif');
	}
.greenRBL{
	background-image:  url('images/green-star.gif');
	}
.greenRCL{
	background-image:  url('images/green-vert-left.gif');
	}
.greenRCR{
	background-image:  url('images/green-vert-right.gif');
	}
/* /green */

/* lightGreen */
.lightGreenRTC{
	background-image:  url('images/lightGreen-hor.gif');
	}
.lightGreenRTR{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRTL{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRBC{
	background-image:  url('images/lightGreen-hor.gif');
	}
.lightGreenRBR{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRBL{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRCL{
	background-image:  url('images/lightGreen-vert-left.gif');
	}
.lightGreenRCR{
	background-image:  url('images/lightGreen-vert-right.gif');
	}
/* /lightGreen */

/* orange */
.orangeRTC{
	background-image:  url('images/orange-hor.gif');
	}
.orangeRTR{
	background-image:  url('images/orange-star.gif');
	}
.orangeRTL{
	background-image:  url('images/orange-star.gif');
	}
.orangeRBC{
	background-image:  url('images/orange-hor.gif');
	}
.orangeRBR{
	background-image:  url('images/orange-star.gif');
	}
.orangeRBL{
	background-image:  url('images/orange-star.gif');
	}
.orangeRCL{
	background-image:  url('images/orange-vert-left.gif');
	}
.orangeRCR{
	background-image:  url('images/orange-vert-right.gif');
	}
/* /orange 
 red 
 Высота картинок рамки сверху и снизу */
.redRTC{
	background-image:  url('images/red-hor.gif');
	}
/* /orange 
 red 
 Высота картинок рамки сверху и снизу */
.redRTR{
	background-image:  url('images/red-star.gif');
	}
/* /orange 
 red 
 Высота картинок рамки сверху и снизу */
.redRTL{
	background-image:  url('images/red-star.gif');
	}
.redRBC{
	background-image:  url('images/red-hor.gif');
	}
.redRBR{
	background-image:  url('images/red-star.gif');
	}
.redRBL{
	background-image:  url('images/red-star.gif');
	}
.redRCL{
	background-image:  url('images/red-vert-left.gif');
	}
.redRCR{
	background-image:  url('images/red-vert-right.gif');
	}
/* /red 
 shadow 
 Высота картинок рамки сверху и снизу */
.shadowRTC, .shadowRTR, .shadowRTL, .shadowRBC, .shadowRBR, .shadowRBL {
	background-image:  url('images/white-starHor.png');
	}
/* /red 
 shadow 
 Высота картинок рамки сверху и снизу */
.shadowRCL{
	background-image:  url('images/crystalTop-vert-left.png');
	}
.shadowRCR{
	background-image:  url('images/crystalTop-vert-right.png');
	}
/* /shadow 
 hideable simpleTable 
 Высота картинок рамки сверху и снизу */
.sTableRTR{
	background-image:  url('images/sTable-star-right.gif');
	}
/* /shadow */

/* whiteShadow */
.whiteShadowRTC, .whiteShadowRTR, .whiteShadowRTL {
	background-image:  url('images/whiteShadowTop.png');
}
.whiteShadowRBC, .whiteShadowRBR, .whiteShadowRBL{
    background-image:  url('images/whiteShadowBottom.png');
}
.whiteShadowRCL{
	background-image:  url('images/whiteShadowLeft.png');
}
.whiteShadowRCR{
	background-image:  url('images/whiteShadowRight.png');
}
/* /whiteShadow */

/* lightGrayWithoutTop */
.lightGrayWithoutTopRTC, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRTL {
    background-image: url('images/gray-star-all.gif');
}
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL{
	background-image: url('images/gray-star-all.gif');
}
.lightGrayWithoutTopRCL {background-image:  url('images/gray-vert-left.png');}
.lightGrayWithoutTopRCR {background-image:  url('images/gray-vert-right.png');}
/* /lightGrayWithoutTop */

/* hideable simpleTable  
 Высота картинок рамки сверху и снизу */
.sTableRTL{
	background-image:  url('images/sTable-star-left.gif');
	}
.sTableRBC{
	background-image:  url('images/sTable-hor.gif');
	}
.sTableRBR{
	background-image:  url('images/sTable-star-right.gif');
	}
.sTableRBL{
	background-image:  url('images/sTable-star-left.gif');
	}
.sTableRT{
	background-image:  url('images/sTable-hor.gif');
	}
.sTableRCL{
	background-image:  url('images/sTable-vert-left.gif');
	}
.sTableRCR{
	background-image:  url('images/sTable-vert-right.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRTC{
	background-image:  url('images/greenBold-hor.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRTR{
	background-image:  url('images/greenBold-star.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRTL{
	background-image:  url('images/greenBold-star.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRBC{
	background-image:  url('images/greenBold-hor.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRBR{
	background-image:  url('images/greenBold-star.gif');
	}
/* /hideable simpleTable 
 datePicker 
 Высота картинок рамки сверху и снизу */
.datePickerRBL{
	background-image:  url('images/greenBold-star.gif');
	}
.datePickerRCL{
	background-image:  url('images/greenBold-vert-left.gif');
	}
.datePickerRCR{
	background-image:  url('images/greenBold-vert-right.gif');
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTC{
	background-image:  url(images/grayShadow-hor.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTR{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTL{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBC{
	background-image:  url(images/grayShadow-hor.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBR{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBL{
	background-image:  url(images/grayShadow-star.png);
	}
.grayShadowRCL{
	background-image:  url(images/grayShadow-vert-left.png);
	}
.grayShadowRCR{
	background-image:  url(images/grayShadow-vert-right.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTC{
	background-image:  url(images/hint-hor.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTR{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTL{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBC{
	background-image:  url(images/hint-hor.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBR{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBL{
	background-image:  url(images/hint-star.png);
	}
.hintRCL{
	background-image:  url(images/hint-vert-left.png);
	}
.hintRCR{
	background-image:  url(images/hint-vert-right.png);
	}
/*
 Red (для информационных сообщений: высокая важность)
 Высота картинок рамки сверху и снизу */
.infMesRedRTC{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRTR{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRTL{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRBC{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRBR{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRBL{
	background-image:  url('images/redAds-star-all.gif');
	}
.infMesRedRCL{
	background-image:  url('images/redAds-vert-left.gif');
	}
.infMesRedRCR{
	background-image:  url('images/redAds-vert-right.gif');
	}

/*
 Orange (для информационных сообщений: средняя важность)
 Высота картинок рамки сверху и снизу */
.infMesOrangeRTC{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRTR{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRTL{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRBC{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRBR{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRBL{
	background-image:  url('images/orangeAds-star-all.gif');
	}
.infMesOrangeRCL{
	background-image:  url('images/orangeAds-vert-left.gif');
	}
.infMesOrangeRCR{
	background-image:  url('images/orangeAds-vert-right.gif');
	}

/*
 Green (для информационных сообщений: низкая важность)
 Высота картинок рамки сверху и снизу */
.infMesGreenRTC{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRTR{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRTL{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRBC{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRBR{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRBL{
	background-image:  url('images/greenAds-star-all.gif');
	}
.infMesGreenRCL{
	background-image:  url('images/greenAds-vert-left.gif');
	}
.infMesGreenRCR{
	background-image:  url('images/greenAds-vert-right.gif');
	}

/* whiteTop */
.whiteTopRTC{
	background-color:  #fff;
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRTR{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRTL{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBC{
	background-color:  #fff;
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBR{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBL{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRCL{
	background-image:  url('images/whiteTop-vert-left.png');
	}
.whiteTopRCR{
	background-image:  url('images/whiteTop-vert-right.png');
	}
.rollUp .whiteTopRCL{
	display:none;
	}
.rollUp .whiteTopRCR{
	display:none;
	}
/* /whiteTop */

/* orangeTop */
.orangeTopRTC{
	background-color:  #fff;
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRTR{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRTL{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBC{
	background-color:  #fff;
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBR{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBL{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRCL{
	background-image:  url('images/orangeTop-vert-left.png');
	}
.orangeTopRCR{
	background-image:  url('images/orangeTop-vert-right.png');
	}
.rollUp .orangeTopRCL{
	display:none;
	}
.rollUp .orangeTopRCR{
	display:none;
	}
/* /orangeTop */