
.sbrf .dijitButtonNode {
	
	border: 1px solid #c0c0c0;
	border-bottom: 1px solid #9b9b9b;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #fff url("../images/buttonEnabled.png") repeat-x bottom left;
}
.sbrf .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.sbrf .dijitDisabled .dijitButtonText {
	color: #7F7F7F;
}
.sbrf .dijitArrowButton {
	color: #111;
}
.sbrf .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.sbrf .dijitTextBoxReadOnly,
.sbrf .dijitTextBoxReadOnly .dijitButtonNode,
.sbrf .dijitButtonDisabled .dijitButtonNode,
.sbrf .dijitToggleButtonDisabled .dijitButtonNode,
.sbrf .dijitDropDownButtonDisabled .dijitButtonNode,
.sbrf .dijitComboButtonDisabled .dijitButtonNode,
.sbrf .dijitTextBoxDisabled,
.sbrf .dijitTextBoxDisabled .dijitButtonNode {
	
	border-color: #d5d5d5 #d5d5d5 #bdbdbd #d5d5d5;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.sbrf .dijitButtonHover .dijitButtonNode,
.sbrf .dijitButtonNodeHover,
.sbrf .dijitToggleButtonHover .dijitButtonNode,
.sbrf .dijitDropDownButtonHover .dijitButtonNode,
.sbrf .dijitComboButton .dijitButtonContentsHover,
.sbrf .dijitComboButton .dijitDownArrowButtonHover {
	
	
	border-color: #a5beda;
	border-bottom-color:#5c7590;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.sbrf .dijitDownArrowButtonHover,
.sbrf .dijitUpArrowButtonHover {
	
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.sbrf .dijitUpArrowButtonActive,
.sbrf .dijitDownArrowButtonActive,
.sbrf .dijitButtonActive .dijitButtonNode,
.sbrf .dijitToggleButtonActive .dijitButtonNode,
.sbrf .dijitDropDownButtonActive .dijitButtonNode,
.sbrf .dijitButtonContentsActive,
.sbrf .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#366dba;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}
.sbrf .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat scroll 0 center;
	width: 7px;
	height: 7px;
	margin: 0 4px 0 4px;
}
.sbrf .dijitTextBox .dijitArrowButtonInner {
	background-position: 0 center;
}
.dj_ie6 .sbrf .dijitArrowButtonInner {
	background-image:url("../images/spriteArrows.gif");
}
.sbrf .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -7px center;
}
.sbrf .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -14px center;
}
.sbrf .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -21px center;
}
.sbrf .dijitDisabled .dijitArrowButtonInner {
	background-position: -28px center;
}
.sbrf .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -35px center;
}
.sbrf .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -42px center;
}
.sbrf .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -49px center;
}
.dj_webkit .sbrf .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: -1px; 
}
.dj_ie .sbrf .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
	margin-top: -2px; 
}
.dj_ie8 .sbrf .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
	margin-top: -1px; 
}
.sbrf .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.sbrf .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.sbrf .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.sbrf .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
