.sbrf .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .sbrf .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}
.sbrf .dijitCheckBox,
.sbrf .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}
.dj_ie6 .sbrf .dijitCheckBox,
.dj_ie6 .sbrf .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.gif'); 
}
.sbrf .dijitCheckBox,
.sbrf .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.sbrf .dijitCheckBoxChecked,
.sbrf .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0;
}
.sbrf .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.sbrf .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.sbrf .dijitCheckBoxHover {
	
	background-position: -80px;
}
.sbrf .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
