
.sbrf .dijitInputContainer input,
.sbrf .dijitTextBox {
	margin: 0 0.1em;
}
.sbrf .dijitTextArea {
	padding: 3px;
}
.sbrf .dijitTextBox {
	
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #b3b3b3;
}
.sbrf .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.sbrf .dijitTextBox .dijitButtonNode {
	
	border-color: #9b9b9b;
}
.sbrf .dijitTextBoxFocused {
	
	border-color:#406b9b;
}
.sbrf .dijitTextBoxFocused .dijitButtonNode {
	border-color:#366dba;
}
.sbrf .dijitError {
	background-color:#f9f7ba;
	background-image:none;
}
.sbrf .dijitErrorFocused {
	background-color:#f9f999;
	background-image:none;
}
.sbrf .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.sbrf .dijitComboBoxHighlightMatch {
	background-color:#a5beda;
}
.sbrf .dijitFocusedLabel {
	
	outline: 1px dotted #666666;
}
