
.sbrf .dijitRadio,
.sbrf .dijitRadioIcon	{
	background-image: url('../images/checkmark.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dj_ie6 .sbrf .dijitRadio,
.dj_ie6 .sbrf .dijitRadioIcon	{
	background-image: url('../images/checkmark.gif'); 
}
.sbrf .dijitToggleButton .dijitRadioIcon {
	
	background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .sbrf .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}
.sbrf .dijitRadio,
.sbrf .dijitRadioIcon {
	
	background-position: -112px;
}
.sbrf .dijitRadioDisabled {
	
	background-position: -144px;
}
.sbrf .dijitRadioHover {
	
	background-position: -176px;
}
.sbrf .dijitRadioChecked,
.sbrf .dijitRadioCheckedHover,
.sbrf .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: -96px;
}
.sbrf .dijitRadioCheckedDisabled {
	
	background-position: -128px;
}
