.sbrf .dijitSelect .dijitButtonNode {
	padding: 0;
}
.sbrf .dijitSelect .dijitButtonNode .dijitArrowButtonInner {
	margin: 0 4px 0 5px;
}
.sbrf .dijitSelect .dijitButtonContents {
	padding-top: 1px;
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
}
.sbrf .dijitSelectHover .dijitButtonContents,
.sbrf .dijitSelectActive .dijitButtonContents,
.sbrf .dijitSelectOpened .dijitButtonContents,
.sbrf .dijitSelectDisabled .dijitButtonContents,
.sbrf .dijitSelectReadOnly .dijitButtonContents{
	background: transparent none;
}
.dj_ie .sbrf .dijitSelect .dijitButtonContents {
	padding-top: 0;
}
.sbrf .dijitSelectDisabled .dijitButtonNode {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .sbrf .dijitSelectDisabled  .dijitButtonNode * {
	filter: gray() alpha(opacity=50);
}
.sbrf .dijitSelectHover .dijitButtonNode {
	border-color:#a5beda;
	border-bottom-color:#5c7590;
	border-right-color:#5c7590;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.sbrf .dijitSelectActive .dijitButtonNode,
.sbrf .dijitSelectOpened .dijitButtonNode {
	border-color:#366dba;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}
.sbrf .dijitSelectMenu td {
	padding: 0;
}
.sbrf .dijitSelectMenu .dijitMenuItemLabel,
.sbrf .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}
