.sbrf .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.sbrf .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.sbrf .dijitSliderFocused .dijitSliderProgressBarH,
.sbrf .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.sbrf .dijitSliderFocused .dijitSliderProgressBarV,
.sbrf .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.sbrf .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.sbrf .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.sbrf .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.sbrf .dijitSliderFocused .dijitSliderBar {
	border-color:#888;
}
.sbrf .dijitSliderImageHandleH {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.sbrf .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .sbrf .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.sbrf .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.sbrf .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.sbrf .dijitSliderImageHandleV {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
}
.sbrf .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .sbrf .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}
.sbrf .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.sbrf .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.sbrf .dijitSliderDecrementIconH,
.sbrf .dijitSliderDecrementIconV,
.sbrf .dijitSliderIncrementIconH,
.sbrf .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.png');
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6 .sbrf .dijitSliderDecrementIconH,
.dj_ie6 .sbrf .dijitSliderDecrementIconV,
.dj_ie6 .sbrf .dijitSliderIncrementIconH,
.dj_ie6 .sbrf .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.gif');
}
.sbrf .dijitSliderDecrementIconH {
	background-position: -7px 0;
}
.sbrf .dijitSliderIncrementIconH {
	background-position: -14px 0;
}
.sbrf .dijitSliderDecrementIconV {
	background-position: 0 0;
}
.sbrf .dijitSliderIncrementIconV {
	background-position: -21px 0;
}
.sbrf .dijitSliderButtonInner {
	visibility:hidden;
}
.sbrf .dijitSliderReadOnly *,
.sbrf .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.sbrf .dijitSliderReadOnly .dijitSliderDecrementIconH,
.sbrf .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: -35px 0;
}
.sbrf .dijitSliderReadOnly .dijitSliderIncrementIconH,
.sbrf .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -42px 0;
}
.sbrf .dijitSliderReadOnly .dijitSliderDecrementIconV,
.sbrf .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -28px 0;
}
.sbrf .dijitSliderReadOnly .dijitSliderIncrementIconV,
.sbrf .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -49px 0;
}