.sbrf .dijitSliderRtl .dijitSliderProgressBarH,
.sbrf .dijitSliderRtl .dijitSliderRemainingBarH,
.sbrf .dijitSliderRtl .dijitSliderLeftBumper,
.sbrf .dijitSliderRtl .dijitSliderRightBumper,
.sbrf .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}
.sbrf .dijitSliderRtl .dijitSliderProgressBarV,
.sbrf .dijitSliderRtl .dijitSliderRemainingBarV,
.sbrf .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}
.sbrf .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}
.sbrf .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}
.sbrf .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position: -7px 0;
}
.sbrf .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position: -14px 0;
}
