.sbrf .dijitMenu,
.sbrf .dijitMenuBar {
	border: 1px solid #7eabcd;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}
.sbrf .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ccc;
}
.sbrf .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}
.sbrf .dijitMenuItem {
	padding: 4px 5px;
}
.sbrf .dijitMenuPreviousButton, .sbrf .dijitMenuNextButton {
	font-style: italic;
}
.sbrf .dijitMenuItem td {
	padding: 2px;
}
.sbrf .dijitMenuPassive .dijitMenuItemHover,
.sbrf .dijitMenuItemSelected {
	background-color: #3559ac;
	color:#fff;
}
.sbrf .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}
.sbrf .dijitMenuExpand {
	
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0;
}
.dj_ie6 .sbrf .dijitMenuExpand {
	background-image: url('images/spriteArrows.gif');
}
.sbrf .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}
.sbrf .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}
.sbrf .dijitCheckedMenuItemIconChar {
	display: none;
}
.sbrf .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.png');
	background-position: -80px;
}
.dj_ie6 .sbrf .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.gif');
}
.sbrf .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}