.sbrf .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.dj_ie6 .sbrf .dijitToolbar {
	height: 10px;
}
.sbrf .dijitToolbar .dijitButtonNode,
.sbrf .dijitToolbar .dijitComboButton .dijitButtonContents,
.sbrf .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 12px;
}
.sbrf .dijitToolbar .dijitButton,
.sbrf .dijitToolbar .dijitToggleButton,
.sbrf .dijitToolbar .dijitDropDownButton,
.sbrf .dijitToolbar .dijitComboButton .dijitButtonContents,
.sbrf .dijitToolbar .dijitComboButton .dijitDownArrowButton  {
	background: none;
	padding: 1px;
}
.sbrf .dijitToolbar .dijitButtonChecked,
.sbrf .dijitToolbar .dijitToggleButtonChecked {
	background-color:#d4dff2;
	border:1px solid #316ac5;
	padding: 0;	
}
.sbrf .dijitToolbar .dijitButtonCheckedHover,
.sbrf .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#abc1e5;
	border:1px solid #316ac5;
	padding: 0;	
}
.sbrf .dijitToolbar .dijitButtonHover,
.sbrf .dijitToolbar .dijitToggleButtonHover,
.sbrf .dijitToolbar .dijitDropDownButtonHover,
.sbrf .dijitToolbar .dijitComboButton .dijitButtonContentsHover,
.sbrf .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover {
	
	border: 1px solid #869cbf;
	padding: 0;	
	background-color:#e1e5f0;
}
.sbrf .dijitToolbar label {
	padding: 3px 3px 0 6px;
}
.dj_ie .sbrf .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .sbrf .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0;
}
.sbrf .dijitToolbarSeparator {
	
	background: url('../../icons/images/editorIconsEnabled.png');
}
.sbrf .dijitToolbarRtl .dijitToolbarSeparator {
	
	background-image: url('../../icons/images/editorIconsDisabled.png');
}
