.regular-close{
	background-image:  url(images/regular_arrow.png);
	}
.tab-wrap{
	background-image:  url(images/tab-border.png);
	}
.favourite-payments-tab.active{
	background-image:  url(images/tab-active.png);
	}
.all-payments-tab.active{
	background-image:  url(images/tab-active.png);
	}
.favourite-payments-tab.unactive{
	background-image:  url(images/tab-unactive.png);
	}
.all-payments-tab.unactive{
	background-image:  url(images/tab-unactive.png);
	}
.paymentHint a{
	background:  url("images/liItem.gif") no-repeat 100% 10px;
	}
.paymentHint a.more{
	background-image:  url("images/liItem.gif");
	}
.paymentHint a:hover{
	background:  url("images/liItem.gif") no-repeat 100% 10px;
	}
.paymentHint a.more:hover{
	background-image:  url("images/liItem.gif");
	}
#categoryTemplateFloatHint.hasHint .greenBoldRBR{
	background-image:  url(images/greenBoldGB-star.gif);
	}
#categoryTemplateFloatHint.hasHint .greenBoldRBL{
	background-image:  url(images/greenBoldGB-star.gif);
	}
#categoryTemplateFloatHint.hasHint .greenBoldRBC{
	background-image:  url(images/greenBoldGB-hor.gif);
	}
/* ширина Stripe'а при трех шагах */
.threestepStripe .futureStripe,
    .threestepStripe .currentStripe,
    .threestepStripe .pastStripe{
    width:  228px;
}