body {
    font-family:Arial;
}

h1{
	color: #fff;
	font: bold 12pt Arial;
	background-color: #449d2f;
	padding: 2px 6px;
    text-transform: uppercase;
}

h1 a{
	color: #fff;
    display: inline-block;
	font: italic 10pt Arial;
}

h2{
	margin: 0 0 0 2px;
	word-wrap: break-word;
}

h2 a{
	color: #000;
	font: bold 10pt Arial;
}

#header .title{
    margin: 5px 0 3px 0;
}

#menu div{
    border-top: 1px solid #959595;
}

#menu a{
	color: #464646;
	text-decoration: none;
    font: bold 10pt Arial;
	text-transform: uppercase;
    display: block;
}

#menu table{
    width: 100%;
    background: url(images/main_menu_bckg.png) repeat-x left bottom;
}

#menu table td{
    vertical-align: middle;
    padding: 0 6px;
}

#menu div.lastMenu{
    border-bottom: 1px solid #959595;    
}

#workspace{
    height: 1%;
	margin: 1px 0 0 0;
    padding-bottom: 50px;
}

/* footer styles */

 html {height: 100%;}

* html body {height: 100%;}

body {
  min-height: 100%;
  position: relative;
}

.workspace {
    height: 1%;
    padding-bottom: 50px;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer .copyright{
    color: #636363;
    font: 8pt Arial;
	background: url(images/footer_bckg.png) repeat-x left top;
	border-top: 1px solid #898989;
    padding: 0 0 0 4px;
}

/* end footer styles */

#product, #products, #history{
	margin: 2px 0 0 0;
}

#product h1{
    color: #464646;
    font:bold 10pt Arial;
    background: url(images/detail_bckg.png) repeat-x left bottom;
    border-top: #898989 1px solid;
    text-transform: none;
}

#product h1 span, #product h1 div{
    font-weight: normal;
}

.detailField{
    border-bottom: 1px solid #c7c7c7;
    font: 11pt Arial;
    padding: 2px 6px;
}

.titleField{
    font: 9pt Arial;
    padding: 2px 6px;
}

.filter{
    padding: 5px 6px 3px 6px;
    color: #464646;
    background-color: #ececec;
}

.head{
	height: 33px;
	background: url(images/header_bckg.png) repeat-x left top;
	padding-left: 6px;
}

.head img{
    margin-top: 2px;
}

.head_buttons{
	float: right;
}

.personal{
	font: 9pt Arial;
	background-color: #f4f4f4;
	border-top: 2px solid #dadada;
    border-bottom: 1px solid #959595;
	padding-left: 6px;
}

.last{
	color: #898989;
	font: 8pt Arial;
	margin: 0 0 2px 0;
}

.page_title{
	color: #003500;
	font: italic bold 12pt Arial;
	text-transform: uppercase;
	display: inline;
}

.all{
	float: right;
	background: url(images/green_right_arrow.png) no-repeat 100% 77%;
	padding: 0 15px 0 0;
    text-decoration:none;
    text-transform: none;
}

.productInfo{
    width: 100%;
}

.productInfo table{
    border-collapse: collapse;
}

.productInfo td{
    vertical-align: middle;
}

.product p{
	margin: 0 0 0 2px;
}

.entity{
	font: 9pt Arial;
	padding: 2px 6px;
    border-bottom: 1px solid #898989;
}

.ListLine0 td, .ListLine1 td, .ListLineNoB td{
    word-break: break-all; /* only ie property*/
    word-wrap: break-word;
	font: 11pt Arial;
	padding: 2px 3px;
    border-bottom: 1px solid #898989;
}

.ListLineNoB td{
    border: none;
}

.ListLine1 td{
    background-color: #ececec;
}

.role{
	font-style: italic;
}

.advisable, .accessible, .balance, .titleStatus{
	font-size: 8pt;
    font-weight: normal;
}

#buttons{
    margin: 3px 0;
    width: 100%;
}

.statusColor{
	color: #449d2f;
}
.lowercase{
    text-transform:lowercase;
}

.error .statusColor{
    color: #eb552a;
}

.fieldLink{
    display: block;
    text-decoration: none;
}

.grayBCKG{	
	background-color: #ececec;
}

.darkGrayBCKG{
    background-color: #979797;
}

.greenBCKG{
    background-color: #449d2f;
}

.boldTXT{
	font-weight: bold;
}

.nowrapTXT{
    white-space:nowrap;
}

.normalTXT{
    font-weight: normal;    
}

.italicTXT{
    font-style: italic;
}

.greenTXT{
	color: #449d2f;
}

.redTXT{
	color: #eb552a;
}

.whiteTXT{
    color: #fff;
}

.grayTXT{
    color: #5c5c5c;
}

.darkGrayTXT{
    color: #636363
}

.blackTXT{
    color: black;
}

.uppercase{
    text-transform: uppercase;
}

.underline{
    text-decoration: underline;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.font12px{
    font-size: 12pt;
}

/* start commandButton */
.commandButton input{
    font: 9pt Arial;
    border: none;
}

.payButton input{
    overflow: visible;
    padding: 0 6px
}

.commandButton .left_btn, .commandButton .right_btn , .commandButton input{
    vertical-align: bottom;
}

.green  input{
    color: #fff;
    height: 28px;
    margin: 0px -3px 0 -2px;
    background: url(images/button_green_bckg.png) repeat-x;
	padding-bottom: 2px;
}

.green .left_btn, .green .right_btn{
    width: 4px;
    height: 28px;
    display: inline-block;
}

.green .left_btn{
    background: url(images/button_green_left.png) no-repeat;
}

.green .right_btn{
    background: url(images/button_green_right.png) no-repeat;
}

.gray input{
    color: #6f6f6f;
    height: 28px;
    margin: 0px -3px 0 -2px;
    background: url(images/button_gray_bckg.png) repeat-x;
}

.gray .left_btn, .gray .right_btn{
    width: 4px;
    height: 28px;
    display: inline-block;
}

.gray .left_btn{
    background: url(images/button_gray_left.png) no-repeat;
}

.gray .right_btn{
    background: url(images/button_gray_right.png) no-repeat;
}

.arrow input{
    color: #6f6f6f;
    width: 24px;
    height: 32px;
    background: url(images/button_arrow_bckg.png) no-repeat;
}

.arrow .left_btn, .arrow .right_btn{
    width: 4px;
    height: 32px;
    display: inline-block;
}

.clientButton.arrow .left_btn, .commandButton.arrow .left_btn{
	background: url(images/button_arrow_left.png) no-repeat;	
}

.clientButton.arrow .right_btn, .commandButton.arrow .right_btn{
	background: url(images/button_arrow_right.png) no-repeat;	
}

.clientButton.arrow.light_gray_bckg .left_btn, .commandButton.arrow.light_gray_bckg .left_btn{
	background: url(images/button_arrow_light_left.png) no-repeat;	
}

.clientButton.arrow.light_gray_bckg .right_btn, .commandButton.arrow.light_gray_bckg .right_btn{
	background: url(images/button_arrow_light_right.png) no-repeat;	
}

.commandButton.arrow.green_bckg .left_btn{
	background: url(images/button_arrow_green_left.png) no-repeat;	
}

.commandButton.arrow.green_bckg .right_btn{
	background: url(images/button_arrow_green_right.png) no-repeat;	
}
/* end commandButton */

/* start clientButton */

.clientButton a{
	font: bold 9pt Arial;
	text-decoration: none;
	padding: 0 6px;
}

.clientButton img {
    margin: -5px 0px;
}

.clientButton .left_btn, .clientButton .right_btn , .clientButton a{
	display: inline-block;
	vertical-align: bottom;
}

.clientButton div{
    position: relative;
}

.imgLike {
    display: inline-block;
    width: 13px;
    text-align: center;
}

.green  a{
	color: #fff;
	height: 28px;
	background: url(images/button_green_bckg.png) repeat-x #449D2F;
}

.green a div, .gray a div{
	margin-top: 7px;
}

.gray a div{
	padding: 0 6px;
}

.green.back a{
	color: #6f6f6f;
	width: 19px;
	height: 21px;
	background: url(images/button_back_bckg.png) no-repeat;
	padding: 0px;
}

.green.menu .left_btn{
	width: 19px;
	height: 28px;
	background: url(images/button_menu_left.png) no-repeat;
}

.clientButton.gray a{
    color: #6f6f6f;
    height: 28px;
    margin: 0px;
    background: url(images/button_gray_bckg.png) repeat-x;
}

.clientButton.arrow a, .clientButton.gray a {
	padding: 0;
}

.clientButton.arrow div{
	width: 24px;
	height: 32px;
	background: url(images/button_arrow_bckg.png) no-repeat;
}

/* end clientButton */

/* start login page */

.loginFields{
    margin: 5px 0;
}

.loginFields div{
    font: 10pt Arial;
    padding: 5px;
}

.loginFields input{
    width: 125px;
}

.buttonContainer, .linkContainer{
    margin: 8px 0 0 0;
    padding: 3px 5px;
}

.linkContainer{
    margin: 5px 0 0 0;
}

.linkContainerTitle, .buttonContainerTitle{
    font: bold 10pt Arial;
    display: inline-block;
    margin: 5px 5px 0 0;
}

.linkContainerTitle a{
    display: inline-block;
    margin: 0 0 3px 0;
}

/* end login page */

/* gridButton */

.gridButton{
    background: url(images/grid_bckg.png) repeat-x left bottom;
    border: 1px solid #898989;
    border-top: none;
    color:#464646;
    font:bold 8.5pt Arial;
    height:25px;
    padding: 0px 6px;
    width:auto;
    overflow:visible;
    vertical-align:middle;
}

.gridButton.previous{
    margin-right: 1px;    
}

/* end gridButton */

/* Ошибки и сообщения */
#errors, #messages, .errMessagesBlock {
    color: #eb5429;
    border-top: 1px solid #eb5429;
    border-bottom: 1px solid #eb5429;
    font: normal 8pt Arial;
    margin-top: 5px;
}

#errors p, #messages p, .errMessagesBlock p {
    margin-top: 5px;
}

#errors p, #errorTitle, #messages p, #messageTitle, .errMessagesBlock p {
    padding-left: 5px;
}

#errorTitle, #messageTitle {
    font-weight: bold;
    background-color: #fbddd3;
}
/* end Ошибки */

/* Сообщения */
#messages {
    color: #f58728;
    border-top: 1px solid #f58728;
    border-bottom: 1px solid #f58728;
}

#messageTitle {
    background-color: #fcf7cc;
}
/* end Ошибки и сообщения  */

/* payment */

#payment{
    width: 100%;
}

#payment .paymentField{
    font: 11pt Arial;
    padding: 6px 0 2px 6px;
    border-bottom: 1px solid #898989;
    vertical-align: middle;
}

#payment .sum{
	background-color: #ececec;
	border-bottom: 1px solid #c7c7c7;
	padding: 5px;
}

#payment .sum table td{
	padding: 5px;
    vertical-align: middle;
}

#payment .sumField{
	width: 80px;
}

#payment .buttonsArea{
	background-color: #ececec;
	border-bottom: 1px solid #c7c7c7;
	padding: 5px;
}

#payment .buttonsArea table td{
	padding: 5px;
    vertical-align: middle;
}

#payment .payButton input, #payment .payButton a div{
	font: 10pt Arial;
    font-weight:bold;
}

#payment .payButton a div {
    margin: 0;
    height: 26px;
    padding-bottom: 2px;
}

#payment td.compact{
    width:8px;
}

#ListPaymentTemplatesForm .titleField, #EditPaymentForm .titleField{
    font: 10pt Arial;
}

#help{
    margin: 2px 0 0 0;
}

#help h1 {
	background-color: #464646;
	font: bold 10pt Arial;
}

#help .subTitle {
    background-color: #449d2f;
    text-decoration: underline;
    color: #FFFFFF;
    padding: 2px 6px;
    font: bold 10pt Arial;
}

#help h3{
	background-color: #898989;
	color: #FFFFFF;
	font: 9pt Arial;
	padding: 2px 6px;
}

#help h1, #help h3{
	text-decoration: underline;
}

#help .shift{
	margin-left: 10px;
}

#help h3 a{
	color: #fff;
}

#help p{
	margin: 8px;
}

#help div.help-important{
	border: 1px solid #fecb00;
	background-color: #fffde0;
}	

#help div.help-important p{
	margin: 6px;
}

#help div.help-important .help-attention{	
	color: #449d2f;
	font: bold 10pt;

}

#help ul{
	margin: 8px;
	list-style-type: disc;
	list-style-position:inside;
}

#help ol{
	margin: 8px;
	list-style-type: decimal;
	list-style-position:inside;
}

.no-product{
    font: 10pt Arial;
    border: 1px solid #6AC044;
    padding: 5px;
    margin: 3px;
}

.no-product a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.enterenceButton {
    cursor:pointer;
    border:none;
    display: block;
    width:100%;
    text-transform:uppercase;
    background:url(images/grayButton.gif) no-repeat right;
    background-color: #449d2f;
    height: 36px;
}

.darkGreen, a.darkGreen {
    color:#003500;
}
.arrowLeftGray {
    padding: 3px 5px;
    font: bold 10pt Arial;
    border:none;
    background-color: #ececec;
    height: 36px;
}
.arrowLeftGray input{
    display:block;
    text-align: left;
    color:red;
    padding: 3px 5px;
    font: bold 10pt Arial;
    cursor:pointer;
    border:none;
    width:100%;
    background:url(images/trickery_button.png) no-repeat right;
    background-color: #ececec;
    height: 36px;
}
