#workspaceCSA {height:100%;}
#helpLink {
    background:url("../images/csa/helpIco.gif") no-repeat center center;
}
.enterBlock {
	margin-left: 10px !important;
}
#cancelButton {
    margin: 0 10px 0 6px;
}
.authFormButton {
    display: inline-block;
    text-align: center;
}
.commandButton, .clientButton {display: inline;}
#linkConteiner {width: 100px;}
/*----Cristal-------*/

.crystalTopRTL {
	background-image:url("../images/csa/crystalTop-starHor.gif");
}

.crystalTopRTR {
	background-image:url("../images/csa/crystalTop-starHor.gif");
}

.crystalTopRTC {
	background-image:url("../images/csa/crystalTop-starHor.gif");
}

.crystalTopRCL {
	background-image:url("../images/csa/crystalTop-vert-left.gif");
    background-position:left top;
}

.crystalTopRTC, .crystalTopRTR, .crystalTopRTL {
	height:57px;
}

.r-center-right {
	height:1%;
}

.crystalTopRCR {
	background-image:url("../images/csa/crystalTop-vert-right.gif");
}

.crystalTopRC {margin-right:19px;}

.crystalTopRBL {
	background-image:url("../images/csa/crystalTop-starHor.gif");
    background-position:0 -229px;
}

.crystalTopRBR {
	background-image:url("../images/csa/crystalTop-starHor.gif");
    background-position:right -298px;
}

.crystalTopRBC {
	background-image:url("../images/csa/crystalTop-starHor.gif");
    background-position:0 -369px;
    margin:0 24px;
}

.crystalTopCBT {
    padding-top:20px;
}

.grayPoint {
    background-position:98% 27px;    
}

.crystalTopTitle {
    line-height:55px;
}

/*----/Crystal------*/

/*----Yellow--------*/

.yellowTopRTL {
	background-image:url("../images/csa/yellowTop-starHor.gif");
}

.yellowTopRTR {
	background-image:url("../images/csa/yellowTop-starHor.gif");
}

.yellowTopRTC {
	background-image:url("../images/csa/yellowTop-starHor.gif");
}

.yellowTopRCR {
	background-image:url("../images/csa/yellowTop-vert-right.gif");
}

.yellowTopRBL {
	background-image:url("../images/csa/yellowTop-starHor.gif");
}

.yellowTopRBR {
	background-image:url("../images/csa/yellowTop-starHor.gif");
}

.yellowTopRBC {
	background-image:url("../images/csa/yellowTop-starHor.gif");
	background-repeat:repeat-x;
}

.yellowTopRCL {
	background-image:url("../images/csa/yellowTop-vert-left.gif");
}


/*----/Yellow-------*/


.newsBlock {margin-left:0;}

.top-content {margin-left:2px;}


.bx-next {
	right:-20px;
}

ul.newSecondMenu li a  {
	height:34px;
}

.secondMenuContainer {
    margin-left:-4px;
}
ul.newSecondMenu li {
	background:url("../images/csa/centerGray.jpg") repeat-x 0 0;
}

li.tabsGrayLast {
    background:url("../images/csa/grayRightBig.gif") no-repeat 100% 0 !important;
}
li.greenLast {
	background:url("../images/csa/greenRightBig.gif") no-repeat 100% 0 !important;
}

ul.newSecondMenu li.grayFirst {
    background: url("../images/csa/grayLeftBig.gif") no-repeat 0 0 !important;
}
ul.newSecondMenu li.greenFirst {
	background:url("../images/csa/greenLeftBig.gif") no-repeat 0 0 !important;
}
/*----/White-----------*/
.whiteTopRTL {
    background:url("../images/csa/whiteTop-starHor.gif") no-repeat 0 0 !important;
}

.whiteTopRTR {
    background:url("../images/csa/whiteTop-starHor.gif") no-repeat right -66px !important;
}
.whiteTopRTC {
    background:url("../images/csa/whiteTop-starHor.gif") repeat-x left -132px !important;
}

.clear {display: inline;}
.buttonGreen {display: inline;}

#loginHelpWin .workspace-box, #passwordHelpWin .workspace-box.shadow {width:430px !important;}

/* Задаем бг углов */
.shadowRTL, .shadowRBL {
    background-image: url('../images/white-starHor.gif');
}
.shadowRTR, .shadowRBR {
    background-image: url('../images/white-starHor.gif');
}
.shadowRBC, .shadowRTC { background-image: url('../images/white-starHor.gif'); }
.shadowRCL { background-image: url('../images/crystalTop-vert-left.gif'); }
.shadowRCR { background-image: url('../images/crystalTop-vert-right.gif'); }


.regular-close{
    background-image: url(../images/regular_arrow_ie.jpg);
}
#breadcrumbs .unactive {background-color:transparent;}

.copyright {margin-left:20px;}

#warnings .infoMessage .messageContainer {
    width:auto;
    margin-top:-3px;
}

.login input{
    margin: 0 0 0;
}

div.cell-left {
    margin-left:0;
    width:53%;
}

div.cell-right {width:37%;}

#CSAnews .filterMore {text-align:left;}

.promoRegistration .selectData {height:  20px;}
.crystalTop .lockPromoImage {margin-top:21px;}

.hint{
    width:20px;
    height:20px;
}
.safetyRegulations .form-row {padding:3px 0;}

#loading {
    background: none;
}

/*высплывающая подсказка*/
.batteryHintLT, .floatMessageHintLT{
    background: url("../images/orangeLT.gif") no-repeat 0 0;
}
.batteryHintCT, .floatMessageHintCT{
    background: url("../images/orangeCT.gif") repeat-x 0 0;
}
.batteryHintRT, .floatMessageHintRT{
    background: url("../images/orangeRT.gif") no-repeat 100% 0;
}
.batteryHintLC, .floatMessageHintLC{
    background: url("../images/orangeCL.gif") repeat-y 0 0;
}
.batteryHintCR, .floatMessageHintCR{
    background: url("../images/orangeCR.gif") repeat-y 100% 0;
}
.batteryHintLB, .floatMessageHintLB{
    background: url("../images/orangeLB.gif") no-repeat 0 0;
}
.batteryHintCB, .floatMessageHintCB{
    background: url("../images/orangeCB.gif") repeat-x 0 0;
}
.batteryHintRB, .floatMessageHintRB{
    background: url("../images/orangeRB.gif") no-repeat 100% 0;
}
/* end высплывающая подсказка*/
#stageFormWin .workspace-box.shadow {
    width: 815px;
}

.promoRegistration .promoInput {margin-right:-10px;}

.promoRegistration .crystalTop .promoTopTitle {margin-top:-10px;}
.logoffPromo .crystalTop .promoTopTitle {
    line-height:55px;
}
.promoRegistration .crystalTop .lockPromoImage {
    margin-top:5px;
}

.introText span.word-wrap {
    float:left;
    zoom:1 !important;
}

p.introText {
    display:block;
    width:900px;
}
.datePickerRCL { background-image: url("../images/whiteShadowLeftRound.gif"); }
.datePickerRCR { background-image: url("../images/whiteShadowRightRound.gif"); }
.datePickerRTL, .datePickerRTR, .datePickerRBL, .datePickerRBR, .datePickerRBC, .datePickerRTC  {
    background-image: url(../images/whiteShadow.gif);
}