
.floatMessageHintRT, .floatMessageHintLT, .floatMessageHintCT, .floatMessageHintCT, .floatMessageHintLC, .floatMessageHintCR,
.floatMessageHintCR, .floatMessageHintLC, .crystalTopRTL, .crystalTopRTR, .crystalTopRCL, .crystalTopRCR,
.whiteTopRTL, .whiteTopRTC, .whiteTopRTR, .whiteTopRBC, .whiteTopRBL, .crystalTopRC, .shadowRCR, .shadowRCL, .redRTL, .redRTR, .redRTC,
.redRBL, .redRBR, .redRBC, .redRCR, .redRCL, .crystalTopRTC, .orangeRBC, .orangeRBR, .orangeRBL, .orangeRCR, .orangeRCL, .orangeRTC, .orangeRTR,
.orangeRTL, .crystalTopRBL, .crystalTopRBR, .crystalTopRBC {
    background-image:none;
}
.floatMessageHintRT, .floatMessageHintLB, .shadowRTC, .shadowRTR, .shadowRTL,
.shadowRBC, .shadowRBR, .shadowRBL {
    display:none;
}
.floatMessageHintCC, .shadow {
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Параметры тени */
}
.crystalTopRTC {
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 0 17px;
}
.crystalTopRTC, .crystalTopRTR, .crystalTopRTL {
    height: 50px;
}
.crystalTopTitle {
    line-height:52px;
}
.crystalTopCBT {
    padding-top:18px;
}
.crystalTopRC .login h2 {
    padding-top: 14px;
}
.grayPoint {
    background-position:98% 26px;
}
.crystalTopRCL, .whiteTopRTL {
    background-color:#fff;
}
.enterBlock .workspace-box {
    width: 305px;
}
.crystalTopRC {
    margin: 0 5px -1px 5px;
}
.whiteTopRTL {
    border-radius:4px 4px 0 0;
}
.shadow {
    border-radius:4px;
    background:#fff;
    padding: 11px 0 15px 0;
}
.shadowRC, .redRBC, .redRTC, .orangeRBC, .orangeRTC {
    background-color:transparent;
}
.red {
    background: #fdeada;
    border-radius: 9px;
    border: 1px solid #eb552a;   
}
#warnings .orange {
    background: #fcf5bf;
    border-radius: 9px;
    border: 1px solid #fecb00;
}
.orangeRT {
    background: #fefbe5;
    border-radius: 9px;
}
.crystalTop {
    background:rgba(255,255,254,0.78);
    border-radius:4px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px 14px 0 14px;
    height:auto;
}
.promoRegistration .enterBlock {
    margin-top:10px;
}

#login-form, #registration-form, #recover-password-form {
    margin-top:20px;
}
.promoRegistration .selectWrapper {width:279px !important;}
.crystalTopRBL {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}
.crystalTopRBC, .crystalTopRBR, .crystalTopRBL {
	height:20px !important;
}

.businessEnvironment .shadow {
    margin-top: 30px;
    display: inline-block;
    margin-left: 25px;
    padding-left:0;
    padding-top:15px;
}

#loginBusinessEnvironment .shadowRC.r-content {
    margin: 0 5px -2px 1px;    
}

.businessEnvironment .workspace-box {
    width:973px;
}

#loginBusinessEnvironment.businessEnvironment .workspace-box {
    width:304px;
}

.butGreen .left-corner, .butGreen .text, .butGreen .right-corner {
    background-image: none;
    background-position: 0;
}

.butGreen .left-corner, .butGreen .right-corner {
    display: none;
}

.butGreen {
    background: #299d30;
    border-top: 1px solid #54b159;
    border-right: 1px solid #28982e;
    border-bottom: 1px solid #1f7624;
    border-left: 1px solid #28982e;
    box-shadow: 0 2px 3px rgba(194, 194, 194, 1);
    border-radius: 4px;
    cursor: pointer;
    height:  28px;
    line-height: 30px !important;
    padding: 0 23px;
    text-decoration:  none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    top: 0;
}

.butGreen .text span {
    margin-top: 5px;
}

.butGreen:hover {
    background: #2c8336;
    background: linear-gradient(to top, #2c8336, #338f3d);
    border-top: 1px solid #5ca565;
    border-right: 1px solid #2f8839;
    border-bottom: 1px solid #296230;
    border-left: 1px solid #318b3b;
}
.butGreenClick:hover {
    background: #27692F;
    background: linear-gradient(to top, #35823d, #2e7636);
    border-top: 1px solid #215427;
    border-right: 1px solid #2f7637;
    border-bottom: 1px solid #35823d;
    border-left: 1px solid #2d7335;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
