img {
    border: none;
    outline: none;
}

/* начало стилей саморегистрации */

/* 1.RESET */
html{
    height:100%;
    overflow: hidden;
}

body{
    height: 100%;
    margin: 0;
    font: 13px/1 Arial, sans-serif;
    color: #222222;
    min-width: 990px;
    overflow-y: auto;
    position: relative;
}

/* 2.FONTS */


/* 3.TYPOGRAPHY */
a{
    color: #429f40;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
    -o-transition: color .1s;
    transition: color .1s;
}
a:hover{
    color: #ffb200;
}

.dash, .dot{
    border-bottom: 1px;
    -webkit-transition: color .1s, border-color .1s;
    -moz-transition: color .1s, border-color .1s;
    -o-transition: color .1s, border-color .1s;
    transition: color .1s, border-color .1s;
    color: #429f40;
    cursor: pointer;
}
.dash{ border-bottom-style: dashed; }
.dot{ border-bottom-style: dotted; }
.lnk:hover, .dash:hover, .dot:hover{
    color: #ffb200;
    border-color: #ffb200;
}

.b-content.ugc{
    font-size: 15px;
}
.ugc{
    font-size: 14px;
}
.ugc h1{
    font-size: 32px;
    line-height: 1.05;
    font-weight: normal;
    margin: 0 0 15px;
}
.ugc h2{
    font-size: 24px;
    line-height: 1.05;
    font-weight: normal;
    margin: 0 0 15px;
}
.ugc h4{
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 15px;
}
.ugc p{
    line-height: 1.4;
    margin: 0 0 10px;
}
.ugc ul{
    list-style: none;
    margin: 10px 0 25px;
    padding: 0 0 0 18px;
}
.ugc ul li{
    position: relative;
    margin-bottom: 10px;
    line-height: 1.4;
}
.ugc ul li:before{
    content: 'Х';
    position: absolute;
    left: -17px;
    top: 0;
}

.ugc .m35{
    margin-bottom: 35px;
}
.ugc .m25{
    margin-bottom: 25px;
}
.ugc .m20{
    margin-bottom: 20px;
}
.ugc .m20{
    margin-bottom: 20px;
}

.moved{
    position: relative;
}
.moved.m1{
    padding-left: 10px;
}
.moved.m2{
    padding-left: 20px;
}
.moved.m3{
    padding-left: 30px;
}
.moved.m4 p {
    padding-left: 45px;
}
.moved.m5{
    padding-left: 75px;
}

.posit{
    position: absolute;
    left: 0;
    top: 1px;
}

.popup_inner .or{
    position: absolute;
    margin-left: -45px;
}

.toggle{
    line-height: 1.25;
}
ul.toggle li {
    margin-bottom: 20px;
}
ul.toggle li:before{
    display: none !important;
}
.ugc ul li .dot:after{
    content: '';
    border: 5px solid;
    border-color: transparent transparent transparent #429F40;
    font-size: 0.7em;
    position: absolute;
    left: -18px;
    top: 6px;
}
.ugc ul li .dot:hover:after{
    border-color: transparent transparent transparent #FFB200;
}
.ugc ul li.expanded .dot:after{
    top: 8px;
    border-color: #429f40 transparent transparent transparent;
}
.ugc ul li.expanded .dot:hover:after{
    border-color: #FFB200 transparent transparent transparent;
}

.toggle .toggle_content{
    display: none;
    padding-top: 8px;
    overflow: hidden;
}
.toggle .expanded .dot:hover{
//color: #429f40;
//border-color: #429f40;
}

.bottom{
    margin-top: 30px;
    border-top: 1px solid #e1e1e1;
    padding-top: 22px;
}
.b-message .bottom{
    border-color: #c7ba65;
}

.label{
    display: block;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 5px;
}
.field{
    position: relative;
    padding: 0 33px 0 9px;
    height: 31px;
    border: 1px solid;
    border-color: #db8e24 #df942d #e09730 #e19b38;
    background: #ffffff;
    cursor: text;
}
.field.focus{
    border-color: #c17c1e;
    box-shadow: inset 0 0 3px 0 rgba(200,129,32,0.4);
}
.field.error{
    border-color: #ec3116 #e71000 #e71000 #e71000;
    -webkit-box-shadow: 0 0 10px 1px rgba(236,50,23,0.3);
    -moz-box-shadow: 0 0 10px 1px rgba(236,50,23,0.3);
    box-shadow: 0 0 10px 1px rgba(236,50,23,0.3);
}
.field.valid{
    border-color: #80b125 #6dae1b #88b027 #65ad18;
    -webkit-box-shadow: 0 0 30px 1px rgba(255,229,181,1);
    -moz-box-shadow: 0 0 30px 1px rgba(255,229,181,1);
    box-shadow: 0 0 30px 1px rgba(255,229,181,1);
}
.field .field_ico{
    display: none;
    position: absolute;
    top: 5px;
    right: 6px;
    width: 21px;
    height: 21px;
    background-image: url(../images/csa/sprt.png);
    background-repeat: no-repeat;
    cursor : default;
}
.field .input{
    height: 22px;
    margin: 0;
    padding: 6px 0 3px 0;
    width: 100%;
    color: #35322f;
    font: 20px/22px Arial, sans-serif;
    border: none;
    outline: none;
    background: none;
}
.field.error .input{ border-color: #dfb4b1 #fecdca #fecdca #fecdca; }
.field.valid .input{ border-color: #c5d3b6 #ecf0e7 #d4e7bf #f6f6f6; }
.field.error  .field_ico{
    background-position: 0 0;
    display: block;
}
.field.valid  .field_ico{
    background-position: -21px 0;
    display: block;
}

/* 4.HELPERS */


/* 5.LAYOUT */
.g-wrapper{

}
/*.g-header{
    height: 92px;
    background: url(../images/tmp/tmp_header.png) 50% 0 repeat-x;
}*/
/*.g-footer{
    margin-top: -80px;
    height: 80px;
    background: url(../images/tmp/tmp_footer.png) 50% 0 no-repeat;
}*/
/*.g-inner{
    margin: 92px 0 80px;
}*/
.g-main{
    width: 865px;
    margin: 0 auto;
    padding: 45px 0 0 75px;
}


/* 6.BLOCKS */

/* b-content */
.b-content{
    padding-bottom: 100px;
    margin-left: 15px;
}

/* b-overlay */
.b-overlay{
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.b-overlay .overlay_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.b-overlay .overlay_inner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}


/* b-popup */
.b-popup{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 565px;
    margin: 0 0 0 -308px;
}
.b-popup .popup_inner{
    position: relative;
    padding: 35px 40px;
    background: #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,0.3);
    font-size: 15px;
    line-height: 1.35;
    color: #222222;
}
.b-popup .popup_close{
    position: absolute;
    top: 10px;
    right: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/csa/sprt.png) -33px -28px no-repeat;
    cursor: pointer;
}
.b-popup .popup_close:hover{
    background-position: -54px -28px;
}
.b-popup .popup_close:active{
    background-position: -73px -28px;
}

#CardRegistered.b-popup {
    width: 725px;
    margin-left: -388px;
}

/* b-msg */
.b-msg{
    position: absolute;
    width: 160px;
    padding: 8px 12px;
    font-size: 12px;
    font-style: italic;
    font-family: Arial, sans-serif;
    line-height: 1.25;
    color: #fdf5f4;
    bottom: 100%;
    left: 100%;
    margin: 0 0 14px -42px;
    background: #ce180e;
    background: -moz-linear-gradient(top, #e43922 0%, #ce180e 100%);
    background: -webkit-linear-gradient(top, #e43922 0%,#ce180e 100%);
    background: -o-linear-gradient(top, #e43922 0%,#ce180e 100%);
    background: linear-gradient(to bottom, #e43922 0%,#ce180e 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: normal;
    visibility: visible;
}
.b-msg .msg_arr{
    position: absolute;
    top: 100%;
    left: 23px;
    width: 12px;
    height: 9px;
    background: url(../images/csa/sprt.png) 0 -22px no-repeat;
    overflow: hidden;
}

/* b-step */
.b-step{
    margin: 0 0 25px 17px;
    padding: 0 0 10px;
    width: 712px;
    list-style: none;
    overflow: hidden;
}
.b-step .step{
    position: relative;
    float: left;
    width: 163px;
    margin: 0 2px;
    color: #8697a4;
    border-bottom: 3px solid #cfdbe3;
    _display: inline;
}
.b-step .abstract{
    border-bottom-style: dotted;
}
.b-step .step .step_text{
    display: block;
    text-align: center;
    margin-bottom: 6px;
    font-size: 12px;
}
.b-step .step_arr{
    position: absolute;
    right: -1px;
    bottom: -8px;
    width: 5px;
    height: 13px;
    background: url(../images/csa/sprt.png) -95px 0 no-repeat;
    overflow: hidden;
}
.b-step .step.current{
    color: #ffa800;
    border-color: #ffa800;
}
.b-step .step.current .step_arr{
    background-position: -95px -13px;
}


/* b-promo */
.b-promo{
    margin-bottom: 33px;
    position: relative;
}
.b-promo .promo_inner{
    overflow: hidden;
}
.b-promo.collapsed .promo_inner{
    display: none;
}
.b-promo .promo_mini{
    display: none;
    padding: 25px 0;
    height: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background: #c6dfed;
    background: -moz-linear-gradient(top, #c6dfed 0%, #e2f1f9 100%);
    background: -webkit-linear-gradient(top, #c6dfed 0%,#e2f1f9 100%);
    background: -o-linear-gradient(top, #c6dfed 0%,#e2f1f9 100%);
    background: linear-gradient(to bottom, #c6dfed 0%,#e2f1f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dfed', endColorstr='#e2f1f9',GradientType=0 );
}
.b-promo.collapsed .promo_mini{
    display: block;
}
.b-promo .promo_pic{
    position: absolute;
    left: 0;
    top: 57px;
    width: 317px;
    height: 226px;
}
.b-promo .promo_about{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.b-promo .promo_title{
    width: 550px;
    font: normal 54px/1 'Segoe UI Light', sans-serif;
}
.b-promo .promo_head{
    background: #f0f3f4;
    background: -moz-linear-gradient(top, #f0f3f4 0%, #e4edf1 100%);
    background: -webkit-linear-gradient(top, #f0f3f4 0%,#e4edf1 100%);
    background: -o-linear-gradient(top, #f0f3f4 0%,#e4edf1 100%);
    background: linear-gradient(to bottom, #f0f3f4 0%,#e4edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3f4', endColorstr='#e4edf1',GradientType=0 );
}
.b-promo .promo_items{
    background: #f2f9fc;
    background: -moz-linear-gradient(top, #f2f9fc 0%, #e2f1f9 100%);
    background: -webkit-linear-gradient(top, #f2f9fc 0%,#e2f1f9 100%);
    background: -o-linear-gradient(top, #f2f9fc 0%,#e2f1f9 100%);
    background: linear-gradient(to bottom, #f2f9fc 0%,#e2f1f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fc', endColorstr='#e2f1f9',GradientType=0 );
}
.b-promo .promo_text{
    font: bold 17px/1.15 Arial, sans-serif;
    margin: 0 0 13px;
}
.b-promo .promo_description{
    font-size: 14px;
    line-height: 1.3;
    color: #6a6f73;
}
.b-promo .promo_buttons{
    padding: 42px 0 62px;
    text-align: center;
}
.b-promo .promo_head-inner{
    position: relative;
    max-width: 881px;
    min-width: 581px;
    min-height: 226px;
    padding: 53px 0 33px 359px;
    margin: 0 auto;
}
.b-promo .promo_items-inner{
    overflow: hidden;
    max-width: 1180px;
    min-width: 880px;
    margin: 0 auto;
    padding: 0 30px;
}
.b-promo .promo_divider{
    display: block;
    height: 1px;
    background: #48804e;
    background: -moz-linear-gradient(left, #48804e 0%, #e4edf1 67%);
    background: -webkit-linear-gradient(left, #48804e 0%,#e4edf1 67%);
    background: -o-linear-gradient(left, #48804e 0%,#e4edf1 67%);
    background: linear-gradient(to right, #48804e 0%,#e4edf1 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48804e', endColorstr='#e4edf1',GradientType=1 );
}
.b-promo .promo_item{
    position: relative;
    float: left;
    width: 33.3%;
    padding: 51px 1% 19px 169px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-promo .promo_img{
    position: absolute;
    left: 0;
    top: 37px;
    width: 155px;
}
.b-promo .promo_toggler{
    position: absolute;
    left: 50%;
    bottom: -29px;
    height: 39px;
    width: 200px;
    padding: 0 25px;
    margin-left: -125px;
    background: url(../images/csa/reg-promo_toggler_bg.png) 50% 100% no-repeat;
    cursor: pointer;
    text-align: center;
    z-index: 2;
}
.b-promo .promo_toggler .dash{
    visibility: hidden;
    position: absolute;
    font-size: 16px;
    color: #222222;
    border-bottom: 1px dotted #222222;
}
.b-promo .promo_toggler:hover .dash{
    color: #ffb200;
    border-color: #ffb200;
}
.b-promo.expanded .promo_toggler .off{
    visibility: visible;
    position: relative;
}
.b-promo.collapsed .promo_toggler .on{
    visibility: visible;
    position: relative;
}
.b-promo .promo_sh{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 6px;
    background: url(../images/csa/reg-promo_sh.png) repeat-x;
    z-index: 1;
}

/* b-reg */
.b-reg{
    position: relative;
    width: 860px;
    height: 368px;
    margin-top: 34px;
}
.b-reg .reg_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 368px;
    background: url(../images/csa/reg-reg_bg.jpg) no-repeat;
}
.b-reg .reg_form{
    position: relative;
    *zoom: 1;
    height: 259px;
}
.b-reg .reg_block{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 288px;
    height: 183px;
    padding: 76px 19px 0 19px;
}
.b-reg .b-btn.next_btn{
    position: absolute;
    left: 468px;
    right: auto;
    top: 72px;
}
.b-reg .b-btn.next_btn.afterCaptchaBlock{
    right: 0;
    left: auto;
}
.b-reg .reg_description{
    position: absolute;
    top: 220px;
    left: 27px;
    width: 165px;
    color: #7e7e7e;
    line-height: 1.4;
}
.b-reg .field{
    white-space: nowrap;
    font: 0/0 a;
}
.b-reg .input.s4{
    width: 50px;
    padding: 6px 3px 3px;
    border: none;
}

/* b-sms */
.b-sms{
    position: relative;
    width: 436px;
    height: 391px;
    margin-top: 45px;
}
.b-sms .sms_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 436px;
    height: 391px;
    background: url(../images/csa/reg-sms_bg.jpg) no-repeat;
}
.b-sms .sms_form{
    position: relative;
}
.b-sms .sms_block{
    position: absolute;
    top: 54px;
    left: 245px;
    width: 127px;
    height: 68px;
    padding: 21px 30px;
}
.b-sms .b-btn{
    position: absolute;
    left: 600px;
    top: 91px;
}
.b-sms .sms_helper{
    position: absolute;
    left: 603px;
    top: 160px;
    white-space: nowrap;
    color: #429f40;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

/* b-actions */
.b-actions{
    padding: 0 25px;
}
.b-actions .actions_item{
    position: relative;
}
.b-actions .actions_cnt{
    position: absolute;
    left: -65px;
    top: -2px;
    width: 43px;
    height: 43px;
    text-align: center;
    color: #ffffff;
    font: bold normal 20px/43px Arial, sans-serif;
    background: url(../images/csa/sprt.png) 100% 0 no-repeat;
}
.b-actions .actions_title{
    margin: 0 0 10px;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: normal;
}
.b-actions .actions_description{
    font-size: 15px;
    color: #222222;
}
.b-actions .actions_timer{
    margin-top: 3px;
    font-size: 15px;
    font-style: italic;
    color: #717f85;
}
.b-actions .actions_cols{
    overflow: hidden;
    margin: 30px 0 92px -7px;
    min-height: 62px;
}
.b-actions .actions_col{
    float: left;
    width: 55%;
    _width: 50%;
}
.b-actions .actions_col:first-child{
    width: 45%;
}
.b-actions .actions_pic{
    float: left;
    margin-right: 8px;
}
.b-actions .actions_description{
    overflow: hidden;
    line-height: 1.3;
}

/* b-message */
.b-message{
    border: 1px solid #fdd787;
    background: #fff3a4;
    padding: 18px 24px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 0 0 35px 20px;
    width: 659px;
    font-size: 15px;
    line-height: 1.35;
    color: #222222
}

/* b-login */
.b-login{
    position: relative;
    height: 335px;
    padding-bottom: 40px;
}
.b-login .login_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 301px;
    background: url(../images/csa/reg-login_bg.jpg) no-repeat;
}
.b-login .login_block{
    position: absolute;
    top: 5px;
    left: 8px;
    width: 264px;
    height: 255px;
    padding: 30px 57px 0 34px;
}
.b-login .b-btn.next_btn{
    position: absolute;
    left: 470px;
    top: 52px;
}
.b-login .b-btn.next_btn.afterCaptchaBlock{
    right: 0;
    left: auto;
}
.b-login .login_form{
    position: relative;
    margin-left: -3px;
}
.b-login .field{
    margin-bottom: 22px;
}
.b-login .login_helper{
    position: relative;
    margin: 30px 0 23px 64px;
}

/* b-btn */
.b-btn{
    float: right;
    text-decoration: none;
    border: none;
    overflow: hidden;
}
.b-btn.disabled{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: default;
}
.b-btn .btn_hide{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    _height: 40px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=1);
    -webkit-appearance: none;
}
.b-btn.disabled .btn_hide{
    display: none;
}

/* b-btn.next_btn */
.b-btn.next_btn{
    padding-right: 13px;
}
.b-btn.next_btn .btn_text{
    display: block;_display:inline;_zoom:1;
    height: 24px;
    padding: 10px 10px 10px 23px;
    font: bold 15px/20px Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    background: url(../images/csa/reg-buttons.png) no-repeat;
}
.b-btn.next_btn .btn_crn{
    position: absolute;
    height: 100%;
    _height: 44px;
    top: 0;
    right: 0;
    width: 13px;
    background: url(../images/csa/reg-buttons.png) 100% 0 no-repeat;
    overflow: hidden;
}
.b-btn.next_btn:hover .btn_text{ background-position: 0 -44px; }
.b-btn.next_btn.focus .btn_text{ background-position: 0 -44px; }
.b-btn.next_btn:hover .btn_crn{ background-position: 100% -44px; }
.b-btn.next_btn.focus .btn_crn{ background-position: 100% -44px; }
.b-btn.next_btn:active .btn_text{ background-position: 0 -88px; text-shadow: 1px -1px 0 rgba(0,0,0,0.2);line-height: 22px;}
.b-btn.next_btn.active .btn_text{ background-position: 0 -88px; text-shadow: 1px -1px 0 rgba(0,0,0,0.2);line-height: 22px;}
.b-btn.next_btn:active .btn_crn{ background-position: 100% -88px; }
.b-btn.next_btn.active .btn_crn{ background-position: 100% -88px; }

.b-btn.next_btn.disabled .btn_text,
.b-btn.next_btn.disabled:hover .btn_text,
.b-btn.next_btn.disabled:active .btn_text{
    opacity: 0.4;
    filter: alpha(opacity:40);
    background-position: 0 0;
}
.b-btn.next_btn.disabled .btn_crn,
.b-btn.next_btn.disabled:hover .btn_crn,
.b-btn.next_btn.disabled:active .btn_crn{
    opacity: 0.4;
    filter: alpha(opacity:40);
    background-position: 100% 0;
}

/* b-btn.btn_yellow */
.b-btn.btn_yellow{
    display: inline-block;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.b-btn.btn_yellow .btn_text{
    display: block;
    height: 24px;
    padding: 10px 10px 14px 23px;
    font: normal 18px/24px Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    background: url(../images/csa/reg-buttons.png) 0 -132px no-repeat;
}
.b-btn.btn_yellow .btn_crn{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 13px;
    background: url(../images/csa/reg-buttons.png) 100% -132px no-repeat;
}
.b-btn.btn_yellow:hover .btn_text{ background-position: 0 -180px; }
.b-btn.btn_yellow:hover .btn_crn{ background-position: 100% -180px; }
.b-btn.btn_yellow:active .btn_text{ background-position: 0 -228px; text-shadow: 1px -1px 0 rgba(0,0,0,0.2);}
.b-btn.btn_yellow:active .btn_crn{ background-position: 100% -228px; }

/* 7.MEDIA */
.reg_captcha{
    position: absolute;
    left: 468px;
    top: -3px;
    width: 170px;
    height: 101px;
}
.b-login .reg_captcha{
    top: -24px;
}
.reg_captcha .codeCaptcha{
    display: block;
    width: 60%;
    padding: 0 5%;
    margin: 0 15%;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #444;
    border: 1px solid #DB8E24;
}
.reg_captcha .update-captcha {
    margin: 5px 0 7px;
    text-align: center;
}
.reg_captcha .codeCaptcha:focus{
    border-color: #C17C1E;
    outline: 0 none;
}

/* конец стилей саморегистрации */

/* стили добавленные из основных дл€ цса */
#header {
    background:#fff;
    min-width:1024px;
    height:92px;
}
.hdrContainer {
    margin:0 auto;
    width:1024px;
}

.NewHeader {
    margin:0 auto;
    width:960px;
}


.topLine {
    float:right;
    width:880px;
}

.PhoneNambers, .PhoneNambers span a {
    color:#FFF;
    float:left;
    font:16px/24px Arial;
    text-decoration:none;
}

.PhoneNambers span {
    padding-right:11px;
    display:block;
    float:left;
}
.simplePage .PhoneNambers  {
    display:inline;
    float:none;
}
.simplePage .PhoneNambers span {
    padding-right: 0;
    display:inline;
    float:none;
}

.UserInfo {
    float:right;
    padding:2px 3px;
}

.NewHeader .UserInfo a {
    color:#FFF;
    display:block;
    float:left;
    padding-right:6px;
    font:12px/24px Arial;
}

#newMail, #noMail, #exit, #sbrf, #helpLink {
    float:left;
    height:18px;
    margin:4px 5px;
    width:18px;
}

#noMail {
    background:url("../images/csa/ico_noMail.gif") no-repeat center center;
}

#sbrf {
    background:url("../images/csa/home.gif") no-repeat center center;
}

#helpLink {
    background:url("../images/csa/helpIco.png") no-repeat center center;
}

.NewHeader hr {
    background-color:#7ab980;
    display:block;
    border:0 none;
    height:1px;
    margin:-5px 0;
    padding:0;
    width:870px;
}

.UserInfo span {
    font:12px/24px Arial;
}

.logoImage {
    display:block;
    float:left;
    padding:6px;
}

.region {
    color:#FFF;
    float:right;
    font:12px Arial;
    margin:5px 24px 8px 0;
    width:557px;
}

.NewHeader .region {
    float:right;
    font:13px/15px Arial;
    margin-right:9px;
    text-align:right;
}

.regionSelector {
    margin:0 0 0 20px;
}


.regionSelector span {
    border-bottom:1px dashed;
    cursor:pointer;
    margin:0 0 0 5px;
    padding-left:1px;
}

.clear {
    clear:both;
}

#footer {
    background-color:#FFF;
    height:75px;
    min-width:1024px;
    width:100%;
    clear:both;
}

.ftrContainer {
    margin:0 auto;
    width:1024px;
}

.copyright {
    color:#636363;
    float:left;
    font:11px Arial;
    margin:20px 0 12px 40px;
}
.floatRight {
    float: right;
}
#linkConteiner {
    margin: 0 40px 12px 0;
}

#linkConteiner p {
    margin: 0 0 7px 0;
}

#SocialLinksImg a {
    padding: 3px;
    text-decoration: none;
}

.tintedWrapper {
    position: absolute;
}
.tintedNet {
    background: url("../images/tintedNet.gif") repeat scroll left top rgba(0, 0, 0, 0);
    opacity: 0.8;
    position: absolute;
}
.tintedNet {
}

.tinted {
    background-color: #FFFFFF;
    position: absolute;
}

.opacity25 {
    opacity: 0.25;
}

/* —тили дл€ ерибовских вслывающий окон - начало */
.window {
    position: absolute;
    top: 0;
    z-index: 20;
}

.farAway{
    position: absolute;
    overflow:hidden;
    height:0;
    width:0;
}

.window .closeImg{
    position:  absolute;
    right:  18px;
    top:  29px;
    cursor:  pointer;
    z-index:500;
}
/* —тили дл€ ерибовских вслывающий окон - конец */

/* ƒополнительные стили*/
.b-btn .btn_hide {
    width: 100%;
}
/* ƒополнительные стили - конец */