#profileHdr{
	background-image:  url(images/profile_bckg.gif);
    height: auto;
	}
.profileHdrRightBrdr {height: auto;}
.profileHdrLeftBrdr {height: auto;}
.roundHr{
	background-image:  url(images/roundHrBg.png);
	}
.roundHrLeft{
	background-image:  url(images/roundHrCor.png);
	}
.roundHrRight{
	background-image:  url(images/roundHrCor.png);
	}
#bonus.roundHr{
	background-image:  url(images/roundHrBg_long.png);
    margin:10px -13px 0 -12px;
	}
#bonus .roundHr{
	background-image:  url(images/roundHrBg_long.png);
	}
#bonus .roundHrLeft{
	background-image:  url(images/roundHrCor_long.png);
	}
#bonus .roundHrRight{
	background-image:  url(images/roundHrCor_long.png);
	}

/* класс для разделяющей полосы с тенью */
.hr{
	background-image:  url(images/hr.png);
	}
/*Для заголовка списка в личном меню*/

.header-teaser-border-left{
	background-image:  url(images/header-teaser-border.png);
	}
.header-teaser-border-right{
	background-image:  url(images/header-teaser-border.png);
	}
.header-teaser-box-bottom-left{
	background-image:  url(images/header-teaser-bottom-left.png);
	}
.header-teaser-box-bottom-right{
	background-image:  url(images/header-teaser-bottom-right.png);
	}
.header-teaser-box-top-left{
	background-image:  url(images/header-teaser-top-left.png);
	}
.header-teaser-box-top-right{
	background-image:  url(images/header-teaser-top-right.png);
	}
.header-border-left{
	background-image:  url(images/header-border.png);
	}
.header-box-bottom-left{
	background-image:  url(images/header-bottom-left.png);
	}
.header-box-bottom-right{
	background-image:  url(images/header-bottom-right.png);
	}
.header-box-top-left{
	background-image:  url(images/header-top-left.png);
	}
.header-box-top-right{
	background-image:  url(images/header-top-right.png);
	}
.DropDownMemuFooter{
	background-image:  url(images/bgBottom_DropDownMenu.gif);
	}
.login-field{
	background-image:  url(images/input_top.gif);
	}
.management-list li{
	list-style-image:  url(./images/leftSectionBullet.gif);
	}
/* Блок загрузки */
#loading{
	background-image:  url(./images/plate.png);
	}
/* Стили для затемнения рабочей области */
.tintedNet{
	background-image:  url(./images/tintedNet.gif);
	}
/* Статусы продуктов */
.activeProduct .linksItemMore{
	background-image:  url('images/green-arrow.gif');
	}
.errorProduct .linksItemMore{
	background-image:  url('images/red-arrow.gif');
	}
.accountSumCenter span{
    padding:4px 0 0 0;
	}
*html .available{
	display:  inline;
	}
.accountSumCenter a{
	color:  #fff;
	display:  block;
    padding:4px 0 0 0;
	}
.greenSelector{
	margin-left: 0;
	margin-right: 0;
    *margin-right: 3px;
	}
.roundPlate{
	margin-bottom: 1px;
	margin-left: 0;
	margin-right: 0;
	}
.regionSelect{
    background-image:  url(images/regionSelect.png);
}
/* Кастомные селекты */
.selectLeftData{
	background-image:  url('images/select.png');
	}
/* Кастомные селекты */
.selectData{
	background-image:  url('images/select.png');
	}
/* Кастомные селекты */
.selectArrow{
	background-image:  url('images/select.png');
	}
#tabs ul li.inactive{
	background-image:  url(images/inactive_tab_left.png);
	}
/*depoAccounts*/
#tabs li.inactive a{
	background-image:  url(images/inactive_tab_right.png);
	}
#tabs ul li.active{
	background-image:  url(images/active_tab_left.png);
	}
#tabs li.active a{
	background-image:  url(images/active_tab_right.png);
	}
#tabs .leftTop{
	background-image:  url(images/left_right_tab_header.png);
	}
#tabs .rightTop{
	background-image:  url(images/left_right_tab_header.png);
	}
#tabs .centerTop{
	background-image:  url(images/center_tab_header.png);
	}
.categoryLable{
	font:  bold 11pt Arial;
	text-align:  right;
	}
/*bunner*/
#bunnerArea {width:730px;}
#bunner {margin: 0 4px 0 5px;}
#showHideBunner {
    background-image:url("images/dropUpBunner.gif");
}
#showHideBunner.hide {
    background-image:url("images/dropDownBunner.gif");
}
#providersList .triangle{
    background-image: url('images/triangles.gif');
}
.providerRegion{
    background-image: url('images/providerRegionBg.gif');
}

.buttonGreyWithImg .text{
    background-image:  url(images/button_img_center.gif);
}

.buttonGreyWithImg .left-corner{
    background-image:  url(images/button_img_left.gif);
}

.buttonGreyWithImg .right-corner{
    background-image:  url(images/button_img_right.gif);
}

.paymentsHeaderButtonArea {
    margin-right: -13px;
}

.bunnerView{
    margin: 0 30px;
}

/*новая шапка*/
.NewHeader {
    *height:70px;
}

.UserInfo img {
    padding: 3px 6px;
    vertical-align:middle;
}

.topLineContainer hr {
    background-color:#539c6d;
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    width:870px;
    *width:863px;
    *display:block;
    float:right;
}

.UserInfo {
    padding:2px;
    float: right;
}
.NewHeader .region {
    float:right;
    text-align:right;
    margin-right: 9px;
    font: 13px/15px Arial;
    *padding-bottom:2px;
}

/*для IE7*/
*+html .NewHeader hr {
    float: left;
}
/*для IE7*/
*+html .topLine{
    margin-bottom: -14px;
}
.logoImagePicture {
    position:absolute;
    top:13%;
}
.logoImageText {
    margin: 18px 0 18px 0;
}

.personalMenu {
    *float:left;
}

#right-section .fullWidth .grayPointers{
    width: 156px;
}

.noPadding{
	margin:10px -13px 10px -12px !important;
}

/* Продукты */
.productDivider {margin-top:12px;}

.forProductBorder, .portfolio .forProductBorder {margin-bottom:-12px;}
#loan-detail-payment .forProductBorder {
    margin-bottom: 0;
}

#changeSkin .forProductBorder, .profileSettings .forProductBorder {
    margin-bottom:-11px;
}

.productCover {margin:-1px 0 1px;}

#popularPayments .workspace-box .greenBold, .payment-templates .workspace-box.greenBold, #providerFilterResults .workspace-box.greenBold,
#regular-payments .workspace-box.greenBold {
    width:auto !important;
}

#popularPayments ul.newSecondMenu, #payments ul.newSecondMenu, #payments-templates ul.newSecondMenu {
    width:721px;
}

/*ie7 hack*/
html>body .col3 {
    padding-bottom:3px;
}

.bunnerImageFirst, .bunnerImage  {    
    *float:none;
}

#payments .background-none.floatLeft {*float:left;}

.HelpWidget .greenTopRBL{
    background: left bottom no-repeat;
    margin-top :0;
}

.HelpWidget .greenTopRBR{
    background: right bottom no-repeat;
}

.HelpWidget .greenTopRBC{
    background: repeat-x;
}

.HelpWidget .greenTopRC{
    margin-bottom : -2px;
}
