#loginPage .phones {padding: 20px 0;width:auto;}

.accountSum .decoration-none {padding:0;}


/* Задаем бг углов */
.shadowRTL, .shadowRBL, .shadowRTR, .shadowRBR, .shadowRBC, .shadowRTC {
   background-image: url('images/white-starHor.gif');
}
.shadowRCL { background-image: url('images/crystalTop-vert-left.gif'); }
.shadowRCR { background-image: url('images/crystalTop-vert-right.gif'); }

/* /GrayProduct */

/* Gray */
.grayRTC, .grayRTR, .grayRTL, .grayRBC, .grayRBR, .grayRBL {
    background-image:  url('images/gray-star-all.gif');
}

.regular-close{
    background-image: url(images/regular_arrow_ie.jpg);
}

.productDivider{
    margin-top:14px !important;
}

#breadcrumbs .unactive {
    background-color:transparent;
}

.personalMenu .greenTopRC {padding: 0 14px 0 13px;}

.paymentsHeaderButton {width:204px;}
.roundHr .pointer {margin: -11px -11px 0;}
.personalMenu .greenTopRC .r-content {padding: 8px 11px;}
.grayRC .r-content, .greenGradientRC .r-content {margin-right: -2px;}

.bunnerImageFirst{
    margin: -29px -7px -3px -7px;
    float:none !important;
}

#bunnerAreaView .bunnerImage{
    zoom: 1;
    padding: 1px;
    margin: 10px -7px 0 -7px;
}

#bunnerAreaView .grayRC {
    padding: 10px 0 10px 20px !important;
}

/*Для ссылки в личном меню для скрытия/раскрытия списка*/
.NewHeader hr {
    float: left;
}

.topLine{
    margin-bottom: -14px;
}

.UserInfo {margin-right:-5px;}

/* прохождение ПФП */

.bankRecommend, .pfpQuestion{margin: 12px 0 12px -5px;}

/* end прохождение ПФП  */

#profile .secondMenuContainer {
    margin-right:-5px;
}

.helpAppeal{
    margin-left:-15px !important;
}

.helpNotManager.showQuestion a {
    float:left;
    width:80%;
}

.negativeMargin{
	margin:10px 0 10px -5px !important;
}

#mobilebank #detailInfoTable {width:100%;}

.regular-payments {padding-bottom:2px;}

span.alongTitle {
    margin-left:-5px;
}

.forProductBorder {
    padding:0;
    margin:0 -2px -14px -5px;
}

.tabs-container {
    margin-left: -5px;
}

ul.newSecondMenu li.fluctuate a {
    height:35px !important;
}

.mobileAppsHeader .greenLast {height:43px !important;}

.mainPageNews .grayRT {margin-bottom:-3px;}

.imaProduct .productCDC {
    margin-left:-61px;
}

ul.underlined .linksItemMore.hide span, #favouriteLinks .linksItemMore.hide span {
    background-position-y:10px;
}

#history .grid {
    MARGIN: 0 -4px 0 -10px;
}
#history .simpleTable {
    margin: 0;
}

#imageHelpProviderHeaderRow, .fullWidth .form-row {
    margin:0 -4px 0 -10px !important;
}


#payment .form-row, #payment .form-row-addition {
    margin: 2px -3px 2px -10px !important;
    padding-right:0 !important;
}

.top-content{
    padding-left:4px;
}

.otpRestrictions {
    margin:0 -16px 20px -11px !important;
}

#changeSkin .forProductBorder, .profileSettings .forProductBorder {margin-bottom:-11px !important;}

.lettersForUser {
    padding-right:4px !important;
}

#previousEnterInfo, ul.hover #previousEnterInfo span.iconElement, #previousEnterInfo:hover span.iconElement {
    background-position:4px 3px !important;
}

.portfolio .forProductBorder {
    margin-left: -7px;
}
.popularPaymentsBlock .grid, .personal-payments .grid {
    margin-right: -4px;
    margin-left:-10px;
}
.listContainer {
    margin:0 0 20px 0;
}

.paymentFilter .jurPayment {
    margin:-9px -4px 0 -10px;
	zoom:1;
}

/* whiteShadow */
.whiteShadowRTC, .whiteShadowRTR, .whiteShadowRTL {
	background-image:  url('images/whiteShadowTop.gif');
}
.whiteShadowRBC, .whiteShadowRBR, .whiteShadowRBL{
    background-image:  url('images/whiteShadowBottom.gif');
}
.whiteShadowRCL {
	background: url("images/whiteShadowLeft.gif") repeat-y 0 0;
}
.whiteShadowRCR {
	background-image:  url('images/whiteShadowRight.gif');
}
/* /whiteShadow */

.grayFilterBg {
    margin:0 -18px 10px -10px;
}

#regular-payments {
   margin:0 -4px 0 -10px;
}

.interfaceModeBlock {
    margin:20px -16px 0 -11px;
}