.bottomBckg{
    background-image: url(images/login_header_bottom_bckg.png);
}
#LoginDiv .workspace-box{
    margin: 6px auto 0 auto;
}
.highlightBlock {
    margin:6px 0;
}
.highlightBlock p {
    padding: 12px 0;
}
.highlightBlock h2 {
    font-size: 18px;
}
.highlightBlock ul {
    padding-left: 25px;
}
.highlightBlock li {
    list-style:decimal outside;
    margin-top:6px;
}
#infoOnLogin .workspace-box {
    width:765px;
}
