/* CSS Document */
* {
    margin:0;
    padding:0;
    border:0;
}

a {
    text-decoration:underline;
    cursor:pointer;
}

a:hover { text-decoration:none; }

p { margin-bottom:15px; }

ul, ol { margin-left:15px; }


body, html {
    height:100%;
    font-family: Arial, Tahoma;
    background:#fff;
    color:#000;
    font-size:16px;
}
form {
    background:url("images/csa/unallowedBrowsers/mainImg.jpg") no-repeat center top;
    background-size: cover;
    min-height: 100%;
}

#header {
    width:100%;
    height:144px;
    background:url("images/csa/unallowedBrowsers/header.jpg") repeat-x;
}

.hdrContainer {
    position:relative;
    margin:0 auto;
    width: 640px;
    padding-top: 1%;
}

#wrapper {
    position:relative;
    margin:0 auto;
    padding-top: 3.3125em;    /*53px*/
}

#content {
    font-size: 16px;
    width: 85%;
    margin:0 auto;
    padding-bottom: 5em;
}

.shadow {
    font-size: 27px;
    border-radius:15px;
    border:1px solid #c5c5c5;
    background:rgba(255,255,255,.8);
    margin:0 auto;
    padding: 3.518em 2.851em 2.407em;
}

.alignCenter {text-align:center;}

.titleText {
    color: #0f0f0f;
    font-size: 1em; /* 27px */
}

.downloadButton {
    background-color: #eba200;
    background-image: linear-gradient(to bottom, #f0a800 0%, #e69c00 100%);
    border-radius: 3px;
    box-shadow: 2px 0 3px rgba(31, 31, 31, 0.4);
    color: #fff;
    display: inline-block;
    font: 1.703em/2 Helvetica,Arial,sans-serif;        /*46px*/
    min-width: 8.9565em;              /*412px*/
    height: 2.0217em;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    margin: 0.6506em 0 0.5306em  0;
}
.form_remind a {
    color: #449d2f;
    margin-top: 0.4em;
    display: inline-block;
}
.simpleButton {
    background:url("images/csa/unallowedBrowsers/LaterButton.png") no-repeat 0 0;
    width:547px;
    height:81px;
    text-align:center;
    color:#449d2f;
    font-size:34px;
    display:block;
    text-decoration:none;
    padding-top: 21px;
    margin: 15px 0 10px 0;
    font-weight:normal;
}

.connect {
    color:#464646;
    font-size: 26px;
    display: block;
    text-align: center;
    padding: 0 3%;
    margin-top: 1.1em;
    line-height: 128%;
}
.connect a {
    color:#449d2f;
    text-decoration:none;
    border-bottom:3px solid;
}

.clear {
    width:100%;
    height:0;
    font-size:0;
    clear:both;
}
.m-text {
    margin-top: 1.9em;
}