.tabs ul li.inactive{
	background-image:  url(./images/inactive_tab_left.png);
	}
.tabs li.inactive a{
	background-image:  url(./images/inactive_tab_right.png);
	}
.tabs ul li.active{
	background-image:  url(./images/active_tab_left.png);
	}
.tabs li.active a{
	background-image:  url(./images/active_tab_right.png);
	}
.tabs .left{
	background-image:  url(./images/left_right_tab_header.png);
	}
.tabs .right{
	background-image:  url(./images/left_right_tab_header.png);
	}
.tabs .center{
	background-image:  url(./images/center_tab_header.png);
	}
