.tab-wrap{
	background-image:  url(images/tab-border.png);
	}
.personal-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.interface-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.security-tab.active-tab{
	background-image:  url(images/tab-active.png);
	}
.personal-tab.unactive-tab{
	background-image:  url(images/tab-unactive.png);
	}
.interface-tab.unactive-tab{
	background-image:  url(images/tab-unactive.png);
	}
.security-tab.unactive-tab{
	background-image:  url(images/tab-unactive.png);
	}

a.profile-region-select-button{
	background-image:  url(./images/bullet.gif);
	}

