/* greenBold */
.greenBoldRTC{
	background-image:  url(images/greenBold-hor.gif);
	}
.greenBoldRTR{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRTL{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRBC{
	background-image:  url(images/greenBold-hor.gif);
	}
.greenBoldRBR{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRBL{
	background-image:  url(images/greenBold-star.gif);
	}
.greenBoldRCL{
	background-image:  url(images/greenBold-vert-left.gif);
	}
.greenBoldRCR{
	background-image:  url(images/greenBold-vert-right.gif);
	}
/* /greenBold */

/* greenTop */
.greenTopRTC {
	background-color:  #fff;
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRTR {
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRTL {
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRBC {
	background-color:  #fff;
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRBR {
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRBL {
	background-image:  url('images/greenTop-starHor.png');
	}
.greenTopRCL {
	background-image:  url('images/greenTop-vert-left.png');
	}
.greenTopRCR {
	background-image:  url('images/greenTop-vert-right.png');
	}
/* /greenTop */

/* сворачиваем виджет*/
.widget.rollUp .greenTopRTL, .widget.rollUp .greenTopRTR, .widget.rollUp .greenTopRTC {
    background-image:  url('images/greenTop-starHorHidden.png');
}
/* / сворачиваем виджет*/

/* GrayProduct */
.grayProductRTC, .grayProductRTR, .grayProductRTL, .grayProductRBC, .grayProductRBR, .grayProductRBL {
    background-image:  url('images/gray-star-all.png');
}
.grayProductRCL {background-image:  url('images/gray-vert-left.png');}
.grayProductRCR {background-image:  url('images/gray-vert-right.png');}
/* /GrayProduct */

/* Gray */
.grayRTC, .grayRTR, .grayRTL, .grayRBC, .grayRBR, .grayRBL {
    background-image:  url('images/gray-star-all.png');
}
.grayRCL {background-image:  url('images/gray-vert-left.png');}
.grayRCR {background-image:  url('images/gray-vert-right.png');}
/* /Gray */

/* green */
.greenRTC{
	background-image:  url('images/green-hor.gif');
	}
.greenRTR{
	background-image:  url('images/green-star.gif');
	}
.greenRTL{
	background-image:  url('images/green-star.gif');
	}
.greenRBC{
	background-image:  url('images/green-hor.gif');
	}
.greenRBR{
	background-image:  url('images/green-star.gif');
	}
.greenRBL{
	background-image:  url('images/green-star.gif');
	}
.greenRCL{
	background-image:  url('images/green-vert-left.gif');
	}
.greenRCR{
	background-image:  url('images/green-vert-right.gif');
	}
/* /green */

/* lightGreen */
.lightGreenRTC{
	background-image:  url('images/lightGreen-hor.gif');
	}
.lightGreenRTR{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRTL{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRBC{
	background-image:  url('images/lightGreen-hor.gif');
	}
.lightGreenRBR{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRBL{
	background-image:  url('images/lightGreen-star.gif');
	}
.lightGreenRCL{
	background-image:  url('images/lightGreen-vert-left.gif');
	}
.lightGreenRCR{
	background-image:  url('images/lightGreen-vert-right.gif');
	}
/* /lightGreen */

/* shadow */
.shadowRTC, .shadowRTR, .shadowRTL, .shadowRBC, .shadowRBR, .shadowRBL {
	background-image:  url('images/white-starHor.png');
	}
.shadowRCL{
	background-image:  url('images/crystalTop-vert-left.png');
	}
.shadowRCR{
	background-image:  url('images/crystalTop-vert-right.png');
	}
/* /shadow */

/* whiteShadow */
.whiteShadowRTC, .whiteShadowRTR, .whiteShadowRTL {
	background-image:  url('images/whiteShadowTop.png');
}
.whiteShadowRBC, .whiteShadowRBR, .whiteShadowRBL{
    background-image:  url('images/whiteShadowBottom.png');
}
.whiteShadowRCL{
	background-image:  url('images/whiteShadowLeft.png');
}
.whiteShadowRCR{
	background-image:  url('images/whiteShadowRight.png');
}
/* /whiteShadow */

/* lightGrayWithoutTop */
.lightGrayWithoutTopRTC, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRTL {
    background-image: url('images/gray-star-all.png');
}
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL{
	background-image: url('images/gray-star-all.png');
}
.lightGrayWithoutTopRCL {background-image:  url('images/gray-vert-left.png');}
.lightGrayWithoutTopRCR {background-image:  url('images/gray-vert-right.png');}
/* /lightGrayWithoutTop */

/* lightGrayWithoutTop */
.lightGrayWithoutTopHover .lightGrayWithoutTopRTC, .lightGrayWithoutTopHover .lightGrayWithoutTopRTR, .lightGrayWithoutTopHover .lightGrayWithoutTopRTL,
.lightGrayWithoutTopHover .lightGrayWithoutTopRBC, .lightGrayWithoutTopHover .lightGrayWithoutTopRBR, .lightGrayWithoutTopHover .lightGrayWithoutTopRBL {
    background-image: url("images/greenShadow-star-all.gif");
}
.lightGrayWithoutTopHover .lightGrayWithoutTopRCL {background-image:  url('images/greenShadow-vert-left.gif');}
.lightGrayWithoutTopHover .lightGrayWithoutTopRCR {background-image:  url('images/greenShadow-vert-right.gif');}
/* /lightGrayWithoutTop */

/* hideable simpleTable
 Высота картинок рамки сверху и снизу */
.sTableRTR{
	background-image:  url('images/sTable-star-right.gif');
	}
/* /shadow 
 hideable simpleTable 
 Высота картинок рамки сверху и снизу */
.sTableRTL{
	background-image:  url('images/sTable-star-left.gif');
	}
.sTableRBC{
	background-image:  url('images/sTable-hor.gif');
	}
.sTableRBR{
	background-image:  url('images/sTable-star-right.gif');
	}
.sTableRBL{
	background-image:  url('images/sTable-star-left.gif');
	}
.sTableRT{
	background-image:  url('images/sTable-hor.gif');
	}
.sTableRCL{
	background-image:  url('images/sTable-vert-left.gif');
	}
.sTableRCR{
	background-image:  url('images/sTable-vert-right.gif');
	}
/* /hideable simpleTable
 whiteTop
 Высота картинок рамки сверху и снизу */
.whiteTopRTC{
	background-color:  #fff;
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRTR{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRTL{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBC{
	background-color:  #fff;
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBR{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRBL{
	background-image:  url('images/whiteTop-starHor.png');
	}
.whiteTopRCL{
	background-image:  url('images/whiteTop-vert-left.png');
	}
.whiteTopRCR{
	background-image:  url('images/whiteTop-vert-right.png');
	}
.rollUp .whiteTopRCL{
	display:none;
	}
.rollUp .whiteTopRCR{
	display:none;
	}
/* /whiteTop

/* /hideable simpleTable
 orangeTop
 Высота картинок рамки сверху и снизу */
.orangeTopRTC{
	background-color:  #fff;
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRTR{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRTL{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBC{
	background-color:  #fff;
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBR{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRBL{
	background-image:  url('images/orangeTop-starHor.png');
	}
.orangeTopRCL{
	background-image:  url('images/orangeTop-vert-left.png');
	}
.orangeTopRCR{
	background-image:  url('images/orangeTop-vert-right.png');
	}
.rollUp .orangeTopRCL{
	display:none;
	}
.rollUp .orangeTopRCR{
	display:none;
	}
/* /orangeTop

 datePicker
 Высота картинок рамки сверху и снизу */
    .datePickerRCL { background:#fff url("images/whiteShadowLeftRound.png") left top repeat-y; }
    .datePickerRCR { background:url("images/whiteShadowRightRound.png")  right top repeat-y; }
    .datePickerRTL, .datePickerRTR, .datePickerRBL, .datePickerRBR, .datePickerRBC, .datePickerRTC  {
        background-image: url(images/whiteShadow.png);
    }
/* /datePicker
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTC{
	background-image:  url(images/grayShadow-hor.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTR{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRTL{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBC{
	background-image:  url(images/grayShadow-hor.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBR{
	background-image:  url(images/grayShadow-star.png);
	}
/* /datePicker 
 grayShadow 
 Высота картинок рамки сверху и снизу */
.grayShadowRBL{
	background-image:  url(images/grayShadow-star.png);
	}
.grayShadowRCL{
	background-image:  url(images/grayShadow-vert-left.png);
	}
.grayShadowRCR{
	background-image:  url(images/grayShadow-vert-right.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTC{
	background-image:  url(images/hint-hor.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTR{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRTL{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBC{
	background-image:  url(images/hint-hor.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBR{
	background-image:  url(images/hint-star.png);
	}
/* end grayShadow 
 end roundBorders 
 hint 
 Высота картинок рамки сверху и снизу */
.hintRBL{
	background-image:  url(images/hint-star.png);
	}
.hintRCL{
	background-image:  url(images/hint-vert-left.png);
	}
.hintRCR{
	background-image:  url(images/hint-vert-right.png);
	}