.marginBottom5{
    margin-bottom: 5px;    
}

.inputPlaceholder{
    color: #999;
}

.alignCenter{
    text-align: center;
}
.alignRight{
    text-align: right;
}

.capitalize{
    text-transform: capitalize;
}

/* Стили для "батарейки" */
.pfpBattery{
    text-align: center;
}
.battery{
    width: 334px;
    margin: 0 auto;
    text-align: left;
}
.battery .batteryContent{
    height: 100px;
    width: 334px;
}
.battery .batteryCenter{
    width: 321px;
    height: 100px;
    float: left;
}
.battery .batteryMain {
    background: url("images/bataryRed.png") repeat-x scroll 0 0;
    float: left;
    height: 100px;
    width: 321px;
}
.battery .innerBattery {
    background: url("images/bataryGreen.png") repeat-x scroll 0 0;
    float: right;
    height: 100px;
}
.battery .batteryRight{
    background: url("images/bataryBorderRight.png") no-repeat left center;
    float: right;
    height: 100px;
    width: 4px;
}
.battery .batteryLeft{
    background: url("images/bataryBorderLeft.png") no-repeat right center;
    float: left;
    height: 100px;
    width: 9px;
    margin-top: -1px;
}
.battery .batteryShadowUp{
    background: url('images/batteryShadowUp.png') no-repeat right;
    height: 8px;
    width: 334px;
}
.battery .batteryShadowDown{
    background: url('images/batteryShadowDown.png') no-repeat;
    height: 12px;
    width: 334px;
}
.batteryHintLT {
    background: url("images/orangeLT.png") no-repeat 0 0;
    height: 5px;
}
.batteryHintCB {
    background: #fff  repeat-x;    
}
.batteryHintCT {
    background: url("images/orangeCT.png") repeat-x 0 0;
    height: 5px;
    margin: 0 7px;
}
.batteryHintRT {
    background: url("images/orangeRT.png") no-repeat 100% 0;
    height: 5px;
}
.batteryHintLC {
    height: 1%;
    background: url("images/orangeCL.png") repeat-y 0 0;
}
.batteryHintCR {
    background: url("images/orangeCR.png") repeat-y 100% 0;
}
.batteryHintCC {
    background-color: #fee77d;
    margin: 0 7px;
    padding: 5px;
}
.batteryHintLB {
    background: url("images/orangeLB.png") no-repeat 0 0;
    height: 9px;
}
.batteryHintCB {
    background: url("images/orangeCB.png") repeat-x 0 0;
    height: 9px;
    margin: 0 8px;
}
.batteryHintRB {
    background: url("images/orangeRB.png") no-repeat 100% 0;
    height: 9px;
}
.batteryHintUp{
    height:1%;
    position: relative;
    bottom: -9px;
    right: 0;
}
.batteryHintUp .batteryHint{
    height:1%;
    width: 195px;
    float: right;
}
.batteryHintUpBottom{
    background: url("images/orangeTriangleUp.gif") no-repeat 0 0;
    height: 4px;
    position: relative;
    float: right;
    margin-right: 10px;
    width: 7px;
    margin-top: -7px;
}
.batteryHintDown{
    margin-top: -12px;
    margin-left: 5px;
}
.batteryHintDown .batteryHint, .batteryHintRight .batteryHint{
    width: 155px;
}
.batteryHintRight{
    margin-top: 25px;
    margin-left: 1px;
    position: relative;
}
.batteryHintRight .batteryHint{
    position: absolute;
    top:0;
    left:0;
}
.batteryHintRightLeft{
    background: url("images/triangleLeft.gif") no-repeat 0 0;
    height: 7px;
    width: 4px;
    position: absolute;
    top: 20px;
    left: 0;
}
.batteryHintDownTop, .floatMessageTop{
    background: url("images/orangeTriangle.gif") no-repeat 0 0;
    height: 4px;
    margin-bottom: -1px;
    position: relative;
    margin-left: 10px;
    width: 7px;
}
.floatMessageTopRight{
    background: url("images/orangeTriangle.gif") no-repeat 0 0;
    height: 4px;
    margin-bottom: -1px;
    position: relative;
    margin-left: 405px;
    width: 7px;
}
.floatMessageTopOldDocAdapter{
    background: url("images/orangeTriangle.gif") no-repeat 0 0;
    height: 4px;
    margin-bottom: -1px;
    position: relative;
    margin-left: 170px;
    width: 7px;
}
.batteryWithHint{
    width: 500px;
}
.batteryHint .r-center-right {
    padding: 0;
}

.notActiveBattery{
    background: url("images/notActiveBattery.jpg") no-repeat 0 0;
    height: 100px;
    width: 328px;
    margin: 50px 0;
}
/* end стили для "батарейки" */

/* Стили для отображения доходов и расходов за месяц */
.incomeOutgoMonth, .cashMonth{
    width: 681px;
    padding: 10px 0 15px;
    cursor: pointer;
}
.incomeOutgoMonth .monthName, .cashMonth .monthName{
    color: #449D2F;
    text-decoration: underline;
    margin-bottom: 20px;
}
.leftPart, .rightPart{
    float: left;
    width: 340px;
    height: 36px;
}
.leftGraphPart{
    float: right;
    text-align: right;
}
.partSeparator{
    width: 1px;
    height: 36px;
    background-color: #999;
    float: left;
    margin-top: -3px;
}
.incomeOutgoMonth.noOperations{
    cursor: default;
}
.incomeOutgoMonth.noOperations .monthName{
    text-decoration: none;
}

.outgoLine, .outgoCashLine{
    height: 8px;
    float: right;
    margin: 4px 0 5px 5px;
}
.outgoLineLeft{
    background: url('images/orange_left.png') no-repeat right top;
    float: left;
    height: 8px;
    width: 5px;
}
.outgoLine .lineCenter{
    height: 8px;
    background: url('images/orange_center.png') repeat-x;
    float: left;
}

.incomeLine, .incomeCashLine{
    height: 8px;
    margin: 4px 5px 5px 0;
}
.incomeLineRight, .incomeCashLineRight{
    background: url('images/green_right.png') no-repeat left top;
    float: right;
    height: 8px;
    width: 5px;
}
.outgoCashLineLeft{
    background: url('images/green_left.png') no-repeat left top;
    float: left;
    height: 8px;
    width: 5px;
}
.incomeLine .lineCenter, .outgoCashLine .lineCenter, .incomeCashLine .lineCenter{
    height: 8px;
    background: url('images/green_center.png') repeat-x;
    float: left;
}

.negativeBalanceLine, .positiveBalanceLine, .outgoCashlessLine{
    width: 180px;
    height: 8px;
}
.negativeBalanceLine, .outgoCashlessLine{
    float: right;    
}
.balanceLineRight, .incomeCashlessLineRight{
    background: url('images/blue_right.png') no-repeat left top;
    float: right;
    height: 8px;
    width: 5px;
}
.balanceLineLeft, .outgoCashlessLineLeft{
    background: url('images/blue_left.png') no-repeat right top;
    float: left;
    height: 8px;
    width: 5px;
}
.positiveBalanceLine .lineCenter, .negativeBalanceLine .lineCenter, .incomeCashlessLine .lineCenter, .outgoCashlessLine .lineCenter{
    height: 8px;
    background: url('images/blue_center.png') repeat-x;
    float: left;
}
.balanceDescr{
    text-align: center;
    *margin-top: -20px;
}

.outgoLine .descrText, .incomeLine .descrText, .incomeCashLine .descrText, .outgoCashLine .descrText{
    position: absolute;
    top: -15px;
}
.incomeCashlessLine .descrText, .outgoCashlessLine .descrText{
    position: absolute;
    bottom: -15px;
}
.outgoLineDescr, .incomeLineDescrCenter, .outgoCashLineDescr, .outgoCashlessLineDescr, .incomeCashlessLineDescrCenter, .incomeCashlessLineDescrCenter{
    left: 0;
}
.incomeLineDescr, .outgoLineDescrCenter, .incomeCashLineDescr, .incomeCashlessLineDescr, .outgoCashLineDescrCenter, .outgoCashlessLineDescrCenter{
    right: 0;
}
/* end стили для отображения доходов и расходов за месяц */

/* Cтили для отображения доходов и расходов за день */
.incomeOutgoMonthName{
    margin: 5px 0 5px 17px;
}
.incomeOutgoDay{
    width: 651px;
    margin-left: 15px;
}
.incomeOutgoDay.last{
    border-bottom: 1px solid #999;
    margin-bottom: 15px;
}
.incomeOutgoDay.first{
    border-top: 1px solid #999;
    margin-top: 10px;
}
.incomeOutgoDay.sunday{
    border-bottom: 1px solid #d8d8d8;
}
.incomeOutgoDay .partSeparator{
    height: 9px;
    margin-top: 0;
}
.incomeOutgoDay .leftPart, .incomeOutgoDay .rightPart{
    height: 4px;
    margin-top: 5px;
    width: 325px;
}
.incomeOutgoDay.first .partSeparator, .incomeOutgoDay.first .leftPart, .incomeOutgoDay.first .rightPart{
    height: 4px;
    margin-top: 0;
}
.incomeOutgoDayLabel{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
}

.outgoDayLine{
    height: 4px;
    float: right;
    margin-bottom: 5px;
}
.outgoDayLineLeft{
    background: url('images/thin_orange_left.png') no-repeat right top;
    float: left;
    height: 4px;
    width: 4px;
}
.outgoDayLine .lineCenter{
    height: 4px;
    background: url('images/thin_orange_center.png') repeat-x;
    float: left;
}

.incomeDayLine{
    height: 4px;
    margin-bottom: 5px;
}
.incomeDayLineRight{
    background: url('images/thin_green_right.png') no-repeat left top;
    float: right;
    height: 4px;
    width: 4px;
}
.incomeDayLine .lineCenter{
    height: 4px;
    background: url('images/thin_green_center.png') repeat-x;
    float: left;
}
/* end cтили для отображения доходов и расходов за день */

/* Cтили для отображения наличных и безналичных за день */
.cashMonthName{
    margin-left: 17px;
    margin-top: 5px;
}
.cashDay{
    width: 651px;
    margin-left: 15px;
}
.cashDay.last{
    border-bottom: 1px solid #999;
    margin-bottom: 15px;
}
.cashDay.first{
    border-top: 1px solid #999;
    margin-top: 10px;
}
.cashDay.sunday{
    border-bottom: 1px solid #d8d8d8;
}
.cashDay .partSeparator{
    height: 14px;
    margin-top: 0;
}
.cashDay .leftPart, .cashDay .rightPart{
    height: 9px;
    margin-top: 5px;
    width: 325px;
}
.cashDay.first .partSeparator, .cashDay.first .leftPart, .cashDay.first .rightPart{
    height: 9px;
    margin-top: 0;
}
.cashDayLabel{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
}

.outgoCashDayLine{
    height: 5px;
    float: right;
}
.outgoCashDayLineLeft{
    background: url('images/thin_green_left.png') no-repeat right top;
    float: left;
    height: 4px;
    width: 4px;
}

.incomeCashDayLine{
    height: 5px;
}
.incomeCashDayLineRight{
    background: url('images/thin_green_right.png') no-repeat left top;
    float: right;
    height: 4px;
    width: 4px;
}
.outgoCashDayLine .lineCenter, .incomeCashDayLine .lineCenter{
    height: 4px;
    background: url('images/thin_green_center.png') repeat-x;
    float: left;
}

.outgoCashlessDayLine{
    height: 4px;
    float: right;
}
.outgoCashlessDayLineLeft{
    background: url('images/thin_blue_left.png') no-repeat right top;
    float: left;
    height: 4px;
    width: 4px;
}

.incomeCashlessDayLine{
    height: 4px;
}
.incomeCashlessDayLineRight{
    background: url('images/thin_blue_right.png') no-repeat left top;
    float: right;
    height: 4px;
    width: 4px;
}
.outgoCashlessDayLine .lineCenter, .incomeCashlessDayLine .lineCenter{
    height: 4px;
    background: url('images/thin_blue_center.png') repeat-x;
    float: left;
}

.firstCashDayLabel, .firstIncomeOutgoDayLabel{
    top: -8px;
}

.cashMonth.noOperations{
    cursor: default;
}
.cashMonth.noOperations .monthName{
    text-decoration: none;
}
/* end cтили для отображения доходов и расходов за день */

/* Стили для отображения серой шкалы */
.scale{
    width: 681px;
}
.scale table{
    width: 100%;
    color: #d8d8d8;
}
.scale .axis{
    font-size: 5px;
}
.scale .axis td{
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    width: 8%;
}
.scale .axis .first{
    border-left: 1px solid #d8d8d8;
}
.scale .maxMinVal, .scale .scaleVals{
    margin: 5px 0;
}
.scale .maxMinVal td{
    width: 33%;
}
.scale .scaleVals td{
    text-align: center;
    width: 113px;
}
/* end стили для отображения серой шкалы */

.orangeFloatMessage{
    margin-left: -5px;
    color: #3d3d3d;
}
.floatMessageHint {
    width: 390px;
    background-color: #fee77d;
    border-radius: 1px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
    padding: 7px;
    border-collapse: separate;
}
.dataHint{
    cursor: pointer;
    left: 3px;
    position: relative;
    white-space: normal;
}
.orangeFloatMessage .closeImg{
    background: url(images/close_orange.gif) no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 500;
}

.elementFloatHint{
    width: 320px;
}
.elementFloatHint .floatMessageHint {
    width: auto;
}
.elementFloatHint .floatMessageHintCC {
    padding-right: 12px;
}

.normal-white-space { white-space: normal;}

.farAway{
    position: absolute;
    left: -3000px;
}

.relative{
    position: relative;
}

.opacity65{
    filter: alpha(opacity = 65);
    -moz-opacity:  0.65;
    -khtml-opacity:  0.65;
    opacity:  0.65;
}

.opacityBlock{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.pointer{
    cursor:pointer;
}

.linkUp{
	cursor:  pointer;
	width:  19px;
    text-align: center;
    color: #449d2f;
    font-size: 18px;
	}
.linkDown{
	cursor:  pointer;
	width:  19px;
    text-align: center;
    color: #449d2f;
    font-size: 18px;
	}

/* Кастомные селекты */
.selectArrow{
	background: no-repeat right top;
	height: 24px;
	position: absolute;
	right: 0;
	width: 30px;
	}
.disabled .selectArrow{
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}

.selectList{
	position: absolute;
    border: 1px solid #8a8a8a;
	border-radius: 3px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 300px;
    height: expression(this.offsetHeight < 300 ? "auto" : "300px");
	}

.selectWrapper{
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	position: relative;
    text-align: left;
	}
.disabled .selectWrapper{
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}

.selectLeftData{
	background: no-repeat left -48px;
	height: 24px;
	}

.selectData{
	margin-left: 5px;
	background: repeat-x 0 -72px;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 18px;
	height: 24px;
	margin-right: 20px;
	cursor: default;
	}
.focus .selectData{
	color: #000;
	}
.selectList li{
    padding: 2px 4px;
	cursor: default;
    word-wrap:break-word;
	}
.selectList li li{
	padding-left: 10px;
	font-weight: normal;
	}
.selectList li.lable{
	font-weight:  bold;
	}
.selectList li.selected{
	border-width: 0;
	background-color:  #cdeab0;
	}
/* end Кастомные селекты */
/*Пагинация*/
.activePaginRightArrow, .inactivePaginRightArrow, .activePaginLeftArrow, .inactivePaginLeftArrow{
    width:28px;
    height:25px;
    display:inline-block;
    zoom:1;
    *display:inline;
    padding-left:7px;
}

.inactivePaginRightArrow{
    background:url('images/inactive_page_right.png') no-repeat;
}

.activePaginRightArrow{
    background:url('images/active_page_right.png') no-repeat;
}
.activePaginLeftArrow{
    background:url('images/active_page_left.png') no-repeat;
}
.inactivePaginLeftArrow{
    background:url('images/inactive_page_left.png') no-repeat;
}
.tblNumRec td {
    color: #959595;
}
.pageIconHover {
    background-position: 0 -31px;
    cursor: pointer;
}
.pageIconClick {
    background-position: 0 -64px;
}

/* end Пагинация*/

/* Стили для отображения "градусника" */
.thermometer{
    position: relative;
    width: 420px;
    height: 48px;
}
.thermometer.noDribbleHint{
    height: 22px;
}
.thermometerBg .thermometerRight{
    background: url('images/thermometerBgRight.gif') no-repeat;
    width: 9px;
    height: 22px;
    float: left;
}
.thermometerBg .thermometerLeft{
    background: url('images/thermometerBgLeft.gif') no-repeat;
    background-size: 100% 100%;
    width: 9px;
    height: 22px;
    float: left;
}
.thermometerBg .thermometerCenter{
    background: url('images/thermometerBgCenter.png') repeat-x;
    height: 22px;
    float: left;
}

.thermometerScaleBg{
    position: absolute;
    top: 6px;
    left: 8px;
}
.thermometerScaleBg .thermometerRight{
    background: url('images/thermometerScaleBgRight.png') no-repeat;
    width: 5px;
    height: 11px;
    float: left;
}
.thermometerScaleBg .thermometerLeft{
    background: url('images/thermometerScaleBgLeft.png') no-repeat;
    width: 5px;
    height: 11px;
    float: left;
}
.thermometerScaleBg .thermometerCenter{
    background: url('images/thermometerScaleBgCenter.png') repeat-x;
    height: 11px;
    float: left;
}

.thermometerScale{
    position: absolute;
    top: 8px;
    left: 10px;
}
.thermometerScale .thermometerRight{
    width: 3px;
    height: 7px;
    float: left;
}
.greenThermometer .thermometerScale .thermometerRight{
    background: url('images/thermometerScaleRight_green.png') no-repeat;
    background-size: 100% 100%;
}
.orangeThermometer .thermometerScale .thermometerRight{
    background: url('images/thermometerScaleRight_orange.png') no-repeat;
    background-size: 100% 100%;
}
.redThermometer .thermometerScale .thermometerRight{
    background: url('images/thermometerScaleRight_red.png') no-repeat;
    background-size: 100% 100%;
}

.thermometerScale .thermometerLeft{
    width: 3px;
    height: 7px;
    float: left;
}
.greenThermometer .thermometerScale .thermometerLeft{
    background: url('images/thermometerScaleLeft_green.png') no-repeat;
    background-size: 100% 100%;
}
.orangeThermometer .thermometerScale .thermometerLeft{
    background: url('images/thermometerScaleLeft_orange.png') no-repeat;
    background-size: 100% 100%;
}
.redThermometer .thermometerScale .thermometerLeft{
    background: url('images/thermometerScaleLeft_red.png') no-repeat;
    background-size: 100% 100%;
}

.thermometerScale .thermometerCenter{
    height: 7px;
    float: left;
}
.greenThermometer .thermometerScale .thermometerCenter{
    background: url('images/thermometerScaleCenter_green.png') repeat-x;
    background-size: 100% 100%;
}
.orangeThermometer .thermometerScale .thermometerCenter{
    background: url('images/thermometerScaleCenter_orange.png') repeat-x;
    background-size: 100% 100%;
}
.redThermometer .thermometerScale .thermometerCenter{
    background: url('images/thermometerScaleCenter_red.png') repeat-x;
    background-size: 100% 100%;
}

.thermometerRightData{
    float: left;
    padding-left: 5px;
    padding-top: 4px;
}
.thermometerLeftData{
    float: left;
    padding-right: 5px;
    padding-top: 4px;
}

.categoryThermometer .thermometer{
    width: 360px;
}
.categoryThermometer .thermometerRightData{
    width: 155px;
}
.categoryThermometer  .thermometerLeftData{
    width: 155px;
}

#costManagementBlock .categoryThermometer .thermometer {
    width: 280px;
}

.dribbleHint{
    position: absolute;
    top: 16px;
}
.dribbleHintPick{
    width: 11px;
    height: 9px;
    margin-left: 10px;
}
.dribbleCenter{
    height: 19px;
    padding-top: 3px;
    float: left;
    color: #FFF;
    white-space: nowrap;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: -1px;
    width: 100%;

}

.greenThermometer .dribbleHintPick{
    background: url('images/dribbleHintPick.gif') no-repeat;
}
.orangeThermometer .dribbleHintPick{
    background: url('images/dribbleHintPick_orange.gif') no-repeat;
}
.redThermometer .dribbleHintPick{
    background: url('images/dribbleHintPick_red.gif') no-repeat;
}
.greenThermometer .dribbleCenter{
    background-color: #82cc3a;
}
.orangeThermometer .dribbleCenter{
    background-color: #f7941d;
}
.redThermometer .dribbleCenter{
    background-color: #eb552a;
}
/* end Стили для отображения "градусника" */
.redText{
    color:red;
}

.providerContent{
    margin: 10px 3px;
    font-size: 10px;
}

.editRiskProfileScroll{
    margin-left:30px;
}

#securityInfoBlock{
    position: relative;
    width: 700px;
    margin-top: 17px;
}

#securityInfoBlock .control{
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 5px;
    height: 20px;
    width: 70px;
    line-height: 17px;
}

#securityInfoBlock .closeImg {
    background: url(images/closeIcons.png) no-repeat -68px -10px;
    float: right;
    height: 19px;
    width: 19px;

}
#securityInfoBlock .closeImg:hover {
    background-position: -68px -40px;
}
#securityInfoBlock .closeImg:active {
    background-position: -68px -69px;
}

#registrationCompleteInfoBlock{
    position: relative;
    width: 700px;
    margin-top: 17px;
}

#registrationCompleteInfoBlock .content{
    background-color: #DAF0D9;
    padding: 15px;
    text-align: center;
    border-color: #AEC899;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

#registrationCompleteInfoBlock .content .registrationMessageTitle{
    font-size: 17px;
}
#registrationCompleteInfoBlock .content .registrationMessageText{
    padding: 10px 20px 0px 20px;
    color: #6D836E;
}
#registrationCompleteInfoBlock .control{
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 5px;
    height: 20px;
    width: 70px;
    line-height: 17px;
}

#registrationCompleteInfoBlock .closeImg {
    background: url(images/closeIcons.png) no-repeat -68px -10px;
    float: right;
    height: 19px;
    width: 19px;

}
#registrationCompleteInfoBlock .closeImg:hover {
    background-position: -68px -40px;
}
#registrationCompleteInfoBlock .closeImg:active {
    background-position: -68px -69px;
}

/* Кастомный выпадающий список для выбора языка */
.languageSelectForEdit {
    width: 170px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    text-align: left;
}
.onlyOneValue .languageSelectForEdit {
    width: 153px;
}
.languageSelectForEdit .languageSelectLeft {
    background: url(images/languageSelectForEditLeft.png) no-repeat;
    width: 4px;
    height: 33px;
    float: left;
}
.languageSelectForEdit .languageSelectCenter {
    background: url(images/languageSelectForEditCenter.png) repeat-x;
    height: 25px;
    float: left;
    padding: 8px 0 0 13px;
    width: 149px;
    overflow: hidden;
    white-space: nowrap;
}
.onlyOneValue .languageSelectForEdit .languageSelectCenter {
    width: 132px;
}
.languageSelectForEdit .languageSelectRight {
    background: url(images/languageSelectForEditRight.png) no-repeat;
    width: 4px;
    height: 33px;
    float: left;
}
.languageSelectForEdit .languageSelectCenter .languageSelectTopText {
    font-size: 12px;
    font-weight: bold;
    color: #7ea29f;
}
.languageSelectForEdit .languageSelectCenter .languageSelectDivider {
    background: url("images/languageSelectForEditDivider.png") 0 0 no-repeat;
    width: 50px;
    height: 29px;
    position: absolute;
    right: 0;
    top: 1px;
}
.onlyOneValue .languageSelectForEdit .languageSelectDivider {
    width: 33px;
    cursor: default;
}
.languageSelectForEdit .languageSelectCenter .languageIcon {
    margin: 8px 0 0 7px;
}
.languageSelectForEdit .languageSelectCenter .languageSelectArrow {
    position: absolute;
    right: 9px;
    top: 12px;
}
.languageSelectForEditList {
    width: 164px;
    position: absolute;
    top: 30px;
    left: 2px;
    border: 1px solid #9fbcba;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 8px;
    text-align: left;
}
.languageSelectForEditList .languageSelectListElem {
    cursor: pointer;
    padding: 8px 0 0 13px;
    position: relative;
    color: #454545;
}
.languageSelectForEditList .languageSelectListElem:hover {
    color: #f6931b;
}
.languageSelectForEditList .languageSelectListElemName {
    font-size: 12px;
    text-decoration: underline;
    width: 100px;
    word-wrap: break-word;
    float: left;
}
.languageSelectForEditList .languageSelectListElemImg {
    margin-left: 11px;
    float: left;
}
/* end Кастомный выпадающий список для выбора языка */

/* Плашки P2P перевода */
#receiverSubTypeControl, .newPeriodFilter {
    float: left;
    box-shadow: 0 1px 2px rgba(72, 56, 48, 0.25);
    border-radius: 4px;
    margin-left: 2px;
}
#receiverSubTypeControl .inner, .newPeriodFilter .inner {
    float: left;
    background-color: #efefef;
    border-top: 1px solid #e3e2e1;
    /*border-left: 1px solid #c1c0be;   */
    border-right: 1px solid #c1c0be;
    border-bottom: 1px solid #b6b5b2;
    cursor: pointer;
    padding: 7px 20px 5px 19px;
}

#receiverSubTypeControl .inner.arrow, .newPeriodFilter .inner.arrow {
    padding: 7px 7px 5px 7px;
}

#receiverSubTypeControl .inner.firstButton, #receiverSubTypeControl .inner.firstButton:hover, .newPeriodFilter .inner.firstButton, .newPeriodFilter .inner.firstButton:hover {
    border-left: 1px solid #c1c0be;
    margin-left:-1px;
}

#receiverSubTypeControl .firstButton, .newPeriodFilter .firstButton {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #B6B5B2;
}

#receiverSubTypeControl .lastButton, .newPeriodFilter .lastButton {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #efefef;
}
#receiverSubTypeControl .activeButton, .newPeriodFilter .activeButton {
    background-color: #777774;
    color: #fff;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.32);
    border: 1px solid #493e2c !important;
    text-shadow: 0 1px 1px black;
    margin-left:-1px;
}
#receiverSubTypeControl .lastButton.activeButton, .newPeriodFilter .lastButton.activeButton {
    padding-left:20px;
}
#receiverSubTypeControl .inner:hover, .newPeriodFilter .inner:hover {
    background-color: #e2e2e2;
    border-top: 1px solid #d5d4d3;
    border-left: 0 solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #afaeab;
}

#receiverSubTypeControl .lastButton:hover, .newPeriodFilter .lastButton:hover {
    border-left: 1px solid #e2e2e2;
}

#receiverSubTypeControl .activeButton:hover, .newPeriodFilter .activeButton:hover {
    background-color: #777774;
    border: 1px solid #493e2c;
}

#receiverTypeControl, .newPeriodFilter {
    float: left;
    box-shadow: 0 1px 2px rgba(72, 56, 48, 0.25);
    border-radius: 4px;
}

#receiverTypeControl .inner, .newPeriodFilter .inner {
    float: left;
    background-color: #efefef;
    border-top: 1px solid #e3e2e1;
    /*border-left: 1px solid #c1c0be;   */
    border-right: 1px solid #c1c0be;
    border-bottom: 1px solid #b6b5b2;
    cursor: pointer;
    padding: 7px 20px 5px 19px;
}

#receiverTypeControl .inner.arrow, .newPeriodFilter .inner.arrow {
    padding: 7px 7px 5px 7px;
}

#receiverTypeControl .inner.firstButton, #receiverSubTypeControl .inner.firstButton:hover, .newPeriodFilter .inner.firstButton, .newPeriodFilter .inner.firstButton:hover {
    border-left: 1px solid #c1c0be;
    margin-left:-1px;
}

#receiverTypeControl .firstButton, .newPeriodFilter .firstButton {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #B6B5B2;
}

#receiverTypeControl .lastButton, .newPeriodFilter .lastButton {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #efefef;
}

#receiverTypeControl .activeButton, .newPeriodFilter .activeButton {
    background-color: #777774;
    color: #fff;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.32);
    border: 1px solid #493e2c !important;
    text-shadow: 0 1px 1px black;
    margin-left:-1px;
}

#receiverTypeControl .lastButton.activeButton, .newPeriodFilter .lastButton.activeButton {
    padding-left:20px;
}

#receiverTypeControl .inner:hover, .newPeriodFilter .inner:hover {
    background-color: #e2e2e2;
    border-top: 1px solid #d5d4d3;
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #afaeab;
}

#receiverTypeControl .lastButton:hover, .newPeriodFilter .lastButton:hover {
    border-left: 1px solid #e2e2e2;
}

#receiverTypeControl .activeButton:hover, .newPeriodFilter .activeButton:hover {
    background-color: #777774;
    border: 1px solid #493e2c;
}
.bigTypecontrol {
    margin: 19px 0 0 4px;
}
#receiverSubTypeControl.bigTypecontrol .inner {
    padding: 11px 21px 11px 20px;
    font-size: 14px;
}
/* end Плашки P2P перевода */

.repSync-hint {
    margin-top: 30px;
}

.marginTop20{
    margin-top: 20px;
}

.marginLeft80{
    margin-left: 80px;
}