body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.g-TMP-wrap {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.g-TMP-cont {
    width: 960px;
    margin: 0 auto 40px;
	border-bottom: 1px solid #dfdfdf;
}

/* b-debts */
.b-debts {
	font-size: 13px;
}
.b-debts .rub,
.b-debts .kopeks {
	color: #a3a3a3;
}
.b-debts .rub:after {
    content:'P';
    font-style: normal;
    margin-left: 4px;
    visibility: hidden;
}
.b-debts .debts_row:hover .rub:after {
    visibility: visible;
}
.b-debts .debts_view {
    position: relative;
    margin: 0 -100%;
    padding: 15px 100% 0;
    background: #f9f8f6;
}
.b-debts .debts_inner {
    position: relative;
    width: 680px;
}
.b-debts.scroll .debts_inner {
    width: 624px;
    padding-right: 57px;
}
.b-debts .debts_reducer {
    overflow: hidden;
    padding: 15px;
    border: 1px solid #eae9e8;
	border-width: 1px 1px 0 1px;
    background: #ffffff;
    box-shadow: 0 -2px 10px -4px rgba(0, 0, 0, 0.3);
}
.b-debts .debts_scroll {
    overflow-y: scroll;
    max-height: 675px;
    margin-right: -32px;
    padding-right: 17px;
}
.b-debts  .debts_header,
.b-debts  .debts_body {
    width: 100%;
    border-collapse: collapse;
}
.b-debts  .debts_header {
	position: relative;
	//box-shadow: 0 5px 10px -5px rgba(0,0,0,0.35);
	z-index: 2;
}
.b-debts .debts_bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    max-height: 100%;
}
.b-debts .debts_run {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid #80b566;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.b-debts .debts_thumbs {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
}
.b-debts .debts_thumbs .debts_m {
    padding: 2px 3px;
	margin: 0 5px;
    font-size: 8px;
    line-height: 1;
    color: #333333;
}
.b-debts .debts_thumbs .debts_y {
    padding: 2px 3px 3px;
    margin-top: 7px;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}
.b-debts .debts_cell {
    padding: 7px 5px 6px;
	color: #000000;
	border: solid #ffffff;
    border-width: 0;
}
.b-debts .debts_row:hover .debts_cell {
    background: #f3f3f3;
}
.b-debts .debts_year .debts_cell {
	padding: 30px 5px 0;
	text-align: center;
}
.b-debts .debts_head {
	padding-bottom: 10px;
	font-size: 9px;
	color: #787878;
	text-transform: uppercase;
	vertical-align: top;
}
.b-debts .debts_title {
	font-size: 14px;
    line-height: 1;
	font-weight: bold;
	border-top: 1px solid #e5e5e5;
}
.b-debts .debts_title span {
	position: relative;
	top: -0.65em;
    right: -3%;
	display: inline-block;
	background: #ffffff;
	padding: 0 5px;
	line-height: 1;
}
.b-debts .debts_cell.month,
.b-debts .debts_head.month {
	width: 15%;
	padding-left: 2%;
}
.b-debts .debts_cell.state,
.b-debts .debts_head.state {
	width: 25.5%;
}
.b-debts .debts_head.sum {
	text-align: center;
	width: 25%;
}
.b-debts .debts_cell.sum {
    text-align: right;
    width: 24%;
    padding-right: 5%;
}

.b-debts .debts_head.debt {
	text-align: center;
	width: 16%;
}
.b-debts .debts_cell.debt {
    text-align: right;
    width: 19%;
    padding-right: 4%;
}

.b-debts .debts_head.payment {
	text-align: center;
    padding-left: 5%;
}
.b-debts .debts_cell.payment {
    text-align: right;
    padding-left: 4%;
	padding-right: 1%;
}

.b-debts .debts_m.smallest,
.b-debts .smallest .debts_cell {
	background: #fef4a2;
}
.b-debts .debts_m.smaller,
.b-debts .smaller .debts_cell {
	background: #fee4a1;
}
.b-debts .debts_m.small,
.b-debts .small .debts_cell {
	background: #fed19f;
}
/**/
.b-debts .debts_cell.month,
.b-debts .debts_head.month {
    padding-left: 26px;
}
.cred-hist-report_b-state.debts_cell {
    padding-left: 22px;
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.credit-history-item-info-col {
    margin-right: 30px;
}
.credit-history-credit-item {
    margin-bottom: 24px;
}
.cred-hist-item-cart {
    margin-bottom: 34px;
}
.credit-history-item-title {
    font-size: 20px;
}

.credit-history-items {
    margin-left: -23px;
}
.credit-history-credit-item {
    margin-left: 23px;
}
.cred-hist-item-cart {
    margin-left: 30px;
}
.credit-history-item-5 {
    width: 640px;
}
.credit-history-item-4 {
    width: 500px;
}
.credit-history-item-3 {
    width: 360px;
}
.credit-history-item-2 {
    width: 230px;
}
.credit-history-credit-item {
    padding-right: 14px;
    padding-left: 14px;
}
.cred-hist-item-cart {
    margin-right: 0;
    width: 216px;
}
.credit-history-credit-item-red-bg1.css3, .credit-history-credit-item-red-bg2.css3 {
    position: absolute;
}
.cred-hist-pay-good {
    background: url(images/cred-hist-payment-good.png) 0 0 no-repeat;
    line-height: 23px;
    padding-left: 27px;
}
.b-debts .debts_bar {
    margin-right: 8px;
}
.b-get-cred-hist-up-rep-button {
    margin-left: 13px;
    padding-top: 8px;
    height: 23px;
}
.cred-hist-item-opened {
    margin-left: 23px;
    width: 612px;
}
.credit-history__battery-content-title .showHintBlock {
    display: inline-block;
}
.credit-history__battery-content-title .imgHintBlock {
    margin-bottom: -5px;
}
.cred-hist-item-cart-detail .cred-hist-item-contract-show {
    margin-left: 40px;
    width: 138px;
}
.cred-hist-item-cart-detail .contract-hide {
    width: 126px;
}
.cred-hist-item-cart-detail .cred-hist-item-contract-show span, .credit-history-credit-item .cred-hist-item-contract-show span {
    border-bottom: 1px dashed #a3aeb1;
}
.cred-hist-item-opened {
    margin-top: -25px;
}
.credit-history-items-table .red {
    height: 22px;
}