a.blueGrayLink {
    border-bottom: 1px solid #dfe8e7;
    color: #7ea29f;
    font-weight: normal;
    text-decoration: none !important;
}
.questionaryTable {
    margin-top: 20px;
    color: #000;

}
.questionTableStyle {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 7px;
    padding-bottom: 45px;
}
.questionaryTitle {
    font: 24px Arial;
    margin-bottom: 11px;
}
.descQuestion {
    font: 14px Arial;
}
.questionTable {
    border-spacing:0;
    font-size: 13px;
    margin-top: 41px;
    width: 100%;
}
.questionTable tr:hover {
    background-color: #f5f5f3;
}
.questionTable td {
    border-top: 1px solid #e5e5e5;
    height: 60px;
    vertical-align: middle;
    width: 59px;
}
.questionTable td:first-child {
    padding-left: 24px;
    padding-right: 80px;
    width: auto;
}
.questionTable input {
    background: url("images/credit_cuco_images/inputShadowInset.jpg") repeat-x 0 0;
}
.answerTick, .answerCross {
    background-image: url("images/credit_cuco_images/tickOrCross.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    width: 26px;
    margin: -7px 0 0 0;
}
.answerTick {
    background-position: 0 0;
}
.answerCross {
    background-position: -58px -1px;
}
.tickActive, .answerTick:hover {
    background-position: 0 -27px;
}
.crossActive, .answerCross:hover {
    background-position: -58px -28px;
}
.tickCrossDesc {
    font-size: 11px;
    color: #6f6f6e;
    visibility: hidden;
    text-align: center;
    text-transform: lowercase;
}
.questionTable tr:hover .tickCrossDesc {
    visibility: visible;
}
.answerBlock {
    position: relative;
    text-align: center;
    width: 26px;
    margin: 20px auto 0;
}
.answerText {
    height: 20px;
    width: 106px;
}
.questionaryRow .paymentLabel {
    width: 215px;
}
.questionaryRow .paymentValue {
    width: 365px;
}
.window .questionaryRow {
    margin-top: 30px;
}
.questionButtonsArea {
    margin-bottom: 28px;
}
.btnNote {
    display: inline-block;
    position: relative;
}
.completeByPhone {
    position: absolute;
    margin-top: 20px;
    margin-left: -40px;
    text-align: left;
    width: 353px;
}
.extendedLoanClaimFtrContainer {
    position: absolute;
}
.orangeRoundNote {
    background-color: #fff;
    border: 1px solid #ffda80;
    border-radius: 15px;
    padding: 17px 15px 19px 29px;
}
.orange-note_arr {
    background: url("images/credit_cuco_images/roundOrangeNote.png") no-repeat 2px 100%;
    height: 22px;
    position: absolute;
    left: 80px;
    top: -21px;
    width: 29px;
}

.orange-note_content {
    color: #000;
    font: 14px Arial;
}
.note_link {
    color: #489834;
    cursor: pointer;
    border-bottom: 1px dashed;
    text-decoration: none;
    margin-top: 11px;
    display: inline-block;
}
.note_link:hover, .grayLinkIcon:hover i {
    color: #f37407;
    border-bottom-color: #fcdcc1;
}
#callMeWindowWin h1.completeTitle {
    font-size: 26px !important;
    margin-bottom: 10px;
}
.clientDataToCall {
    color: #000;
    font-size: 16px;
    float: left;
    margin: 17px 0 0 12px;
    width: 245px;
}
.clientDataText {
    line-height: 18px;
    margin-bottom: 15px;
}
.clientDataDesc {
    background: url("images/credit_cuco_images/clientDataDesc.png") no-repeat 0 2px;
    color: #666;
    font: italic 13px/16px Arial;
    float: right;
    min-height: 80px;
    width: 250px;
    margin: 9px 36px 0 0;
    padding: 8px 0 0 36px;
}
.separateData {
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 12px;
    width: 100%;
}
.checkBlock {
    display: inline-block;
    margin: 0 0 4px -3px;
}
.checkInfo {
    float: left;
    font: 13px/18px Arial;
    margin-top: 1px;
    margin-left: 10px;
    width: 92%;
}
.mbkGuestMessage {
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f0f2f2;
    border-bottom: 1px solid #c8cfd2;
    border-right: 1px solid #f0f2f2;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px -2px rgba(69, 94, 103, 0.42);
    -moz-box-shadow: 0 3px 6px -2px rgba(69, 94, 103, 0.42);
    box-shadow: 0 3px 6px -2px rgba(69, 94, 103, 0.42);
    color: #000;
    font: 14px/19px Arial;
    margin: 20px auto;
    text-align: center;
    width: 510px;
}
.mbkGuest_b-style {
    background-color: #ffffff;
    background: linear-gradient(#ffffff, #f1f1f1);
    background: -ms-linear-gradient(#ffffff, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1');
    background: -o-linear-gradient( #ffffff, #f1f1f1);
    background: -webkit-linear-gradient(#ffffff, #f1f1f1);
    background: -moz-linear-gradient(#ffffff, #f1f1f1);
    padding: 7px 30px;
}
.grayLinkIcon {
    background: url("images/credit_cuco_images/bonus-ico-gray.png") no-repeat 100% 4px;
    cursor: pointer;
    display: inline-block;
    padding-right: 14px;
    text-decoration: none;
}

.grayLinkIcon:hover {
    background-position: 100% -38px;
}
.grayLinkIcon i {
    color: #000;
    border-bottom: 1px solid #b2b2b2;
    font-style: normal;
}
.errMesPosition .orangeLight, .errMesPosition .redLight {
    margin: -7px 0 3px !important;
}
.errMesPosition .orangeLight .infoMessage, #callMeWindowWin .redLight .infoMessage {
    font-size: 13px;
    color: #171717;
}
/* ширина Stripe'а при 7 шагах */
.sevenstepStripe .pastStripeLeftCircle, .eightstepStripe .pastStripeLeftCircle {
    padding-top: 6px;
}
.sevenstepStripe .futureStripe, .sevenstepStripe .currentStripe {
    width:  93px;
}
.sevenstepStripe .pastStripe{
    width:  91px;
}
.sevenstepStripe .currentStripe {
    width: 102px;
    position: relative;
}
.sevenstepStripe .currentStripe .currentStripeText {
    font: 12px/12px Arial;
    left: 0;
    padding-left: 8px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 82%;
    z-index: 1;
}
.sevenstepStripe .futureStripeRightCircle, .sevenstepStripe .pastStripeLeftCircle, .eightstepStripe .futureStripeRightCircle, .eightstepStripe .pastStripeLeftCircle {
    font-size: 12px;
    line-height: 12px;
    height: 30px;
    margin-top: -11px;
    color: #748694;
    position: relative;
    z-index: 1;
}
.sevenstepStripe .futureStripeRightCircle {
    padding: 6px 11px 10px 0;
}
.sevenstepStripe .pastStripeLeftCircle {
    padding: 6px 0 10px 7px;
}
.sevenstepStripe .futureStripe .stepNamePos {
    margin: 0 -2px;
}
/* ширина Stripe'а при 8 шагах */
.eightstepStripe .futureStripe, .eightstepStripe .currentStripe, .eightstepStripe .pastStripe{
    width: 82px;
    position: relative;
}
.eightstepStripe .currentStripe {
    width: 91px;
}
.eightstepStripe .currentStripe .currentStripeText {
    font: 12px/12px Arial;
    left: 0;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 95%;
    z-index: 1;
}
.eightstepStripe .futureStripeRightCircle {
    padding: 6px 10px 10px 0;
}
.eightstepStripe .pastStripeLeftCircle {
    margin-right: -4px;
    padding-left: 2px;
}

#paymentStripe.eightstepStripe, #paymentStripe.sevenstepStripe {
    width: 665px;
}
.questionTable input {
    width: 112px;
}
.callMeTitle {
    text-align: left;
}
.callMeButtonAreaBlock {
    text-align: center;
    margin-top: 30px;
}
.pswInputBlock {
    text-align: center;
    margin-top: 20px;
}
.pswInputButton {
    margin-top: 20px;
}
.pswInputBlock .form-row {
    padding-top: 8px;
    padding-bottom: 6px;
}
.pswInputBlock .paymentValue {
    text-align: left;
}

.pswInputBlock .paymentLabel {
    width: 214px;
}
.pswInputBlock .paymentValue {
    width: 360px;
}
.bciTitle {
    text-align: left;
}
.bciInfoMessage {
    text-align: left;
    font: 11px Arial;
}
.bciButtonAreaBlock {
    text-align: center;
    margin-top: 20px;
}

.callMeWorkspace {
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
}

/* -----------------------prepayment -------------------*/
.prePmtn {
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}
.prePmtnType, .prePmtnType a {
    color: #1d1d1b;
    display: inline-block;
    margin-left: 19px;
    margin-right: 17px;
    vertical-align: top;
    width: 320px;
}
.prePmtnCol2 {
    margin-right: 0;
}
.prePmtnTtl {
    font: 20px/21px Arial;
    margin-bottom: 17px;
}
.prePmtnText {
    font: 13px/18px Arial;
    margin-bottom: 10px;
}
.prePmtnDesc {
    font: 13px/18px Arial;
    letter-spacing: 0.1px;
    margin-top: 31px;
    margin-left: 19px;
}
.simpleWhiteBtn {
    background-color: #ffffff;
    background: linear-gradient(#ffffff 20%, #f6f6f6 100%);
    background: -ms-linear-gradient#ffffff 20%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    background: -o-linear-gradient( #ffffff 20%, #f6f6f6 100%);
    background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 100%);
    background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 100%);
    border: 1px solid #9da3a8;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(72, 56, 48, 0.33);
    -moz-box-shadow: 0 1px 2px rgba(72, 56, 48, 0.33);
    box-shadow: 0 1px 2px rgba(72, 56, 48, 0.33);
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.4px;
    margin: 7px 0 0 0;
    padding: 4px 17px;
}
.prePmtnHistory .simpleWhiteBtn {
    padding: 4px 8px;
    margin-right: -7px;
    margin-top: 4px;
    letter-spacing: 0;
}
.prePmtnHistory {
    margin: 38px 0 0 20px;
}
.prePmtnHistTtl {
    color: #1d1d1b;
    font: 20px/21px Arial;
    margin-bottom: 23px;
}
.prePmtnHistoryTbl {
    width: 664px;
}
.prePmtnHistory td {
    vertical-align: top;
}
.prePmtnHistory .paymentDescription td {
    padding: 0 6px 0 0 !important;
}
.prePmtnHistoryTbl th:last-child {
    padding-right: 15px !important;
}
.iconState {
    float: left;
    margin: 4px 3px 0 0;
}
.prePmtnHistory .state-waiting, .prePmtnHistory .state-executed, .prePmtnHistory .state-cancel {
    cursor: pointer;
    float: left;
    margin-top: 4px;
}
.prePmtnHistory .state-waiting {
    border-bottom: 1px dotted #d9cda8;
    color: #bfac6e;
}
.prePmtnHistoryTbl .tblInfHeader th:first-child{
    padding-left: 6px;
}
.prePmtnHistory .tblInfHeader th.titleTable, .prePmtnHistory .roundTitleTbl th {
    font-weight: normal;
    padding: 12px 13px 7px 0;
}
.prePmtnHistoryTbl td:first-child {
    padding-left: 27px;
}
.prePmtnHistoryTbl td {
    border-bottom: 1px solid #e5e5e5;
    padding: 17px 12px 13px 0;
}
.prePmtnHistoryTbl td td{
    border-bottom: none;
}
.prePmtnHistory .grayText {
    color: #7d7d7d;
    font: 12px/17px Arial;
}
.prePmtnHistory .state-executed {
    color: #868686;
    border-bottom: none;
}
.prePmtnHistory .state-cancel {
    color: #ff0000;
    border-bottom: 1px dotted #ff0000;
}
.prePmtnHistory .linkName {
    display: block;
    max-width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.orderStateCancel {
    color: #9b000a;
    font: 12px/18px Arial;
}
.iconState_cancel {
    margin: 3px 0 0 -18px;
}
.prePmtnHistory .operationCell {
    margin-left: 23px;
    width: auto;
}

.fullProductInfo {
    color: #848484;
    font: 13px Arial;
    max-width: 370px;
}

.productDetailFix {
    width: 385px;
    color: #222;
    font: 14px/24px Arial;
}

.imgHint {
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 20px;
}

.detailHint {
    background: rgba(0, 0, 0, 0) url("./images/grayBlueHint.png") repeat-x scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 0 -6px;
    width: 20px;
}

.detailHint:hover {
    background-position: 0 100%;
}

.hintBlockBtm {
    background-color: #fff;
    border: 1px solid #eeeeed;
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: -1px 1px 10px rgba(226, 226, 223, 0.5);
    color: #222;
    display: none;
    font: 13px Arial;
    max-width: 300px;
    min-width: 150px;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.hintBlock-s {
    width: 180px;
}

.hintBlock-b {
    width: 300px;
}

.outerShine {
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(43, 41, 19, 0.2);
    min-width: 150px;
    padding: 13px 15px 15px;
    width: auto;
}

.tHintTop {
    border-color: transparent transparent #dfdedc;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    height: 0;
    left: 44%;
    position: absolute;
    top: -17px;
    width: 0;
}

.tHintTopInner {
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    left: -8px;
    position: absolute;
    top: -7px;
}

.messDetail {
}
.messDetailTitle {
    color: #222;
    font: 16px Arial;
    padding-bottom: 8px;
}
.messDetailTxt, .messDetailTxtNotEnough {
    color: #646464;
    font: 11px/14px Arial;
    padding-left: 14px;
}

.productMainDetail .messDetailTxtNotEnough {
    color: #848484;
    font: 12px/14px Arial;
    margin-left: 2px;
    margin-top: 33px;
    padding-left: 20px;
}
.messDetail-b .messDetailTxt::before {
    background: rgba(0, 0, 0, 0) url("./images/iconsSprite.png") repeat-x scroll -168px -463px;
    content: "";
    display: block;
    float: left;
    height: 12px;
    margin-left: -14px;
    margin-top: 0;
    width: 14px;
}
.productMainDetail .messDetailTxt::before {
    background: rgba(0, 0, 0, 0) url("./images/iconsSprite.png") repeat-x scroll -189px -464px;
    content: "";
    display: block;
    float: left;
    height: 14px;
    margin-left: -20px;
    margin-top: 0;
    width: 14px;
}
.productMainDetail .messDetailTxtNotEnough::before {
    background: rgba(0, 0, 0, 0) url("./images/iconsSprite.png") repeat-x scroll -162px -502px;
    content: "";
    display: block;
    float: left;
    height: 14px;
    margin-left: -20px;
    margin-top: 0;
    width: 14px;
}
.messDetail-b {
    background-color: #e9f5f9;
    border-radius: 7px;
    padding: 20px 25px 22px 12px;
}
.messDetail-o {
    background-color: #fffad4;
    border-radius: 7px;
    padding: 20px 25px 22px 12px;
}
.messDetail-r {
    background-color: #f2e1df;
    border-radius: 7px;
    padding: 20px 25px 22px 12px;
}
.messDetailDate {
    margin: 17px 0;
}
.messDetailDate .messDetail {
    display: inline-block;
    vertical-align: top;
    width: 390px;
}
.messDetailData {
    color: #9b9fa5;
    display: inline-block;
    font: 12px/16px Arial;
    margin-bottom: 7px;
    margin-left: 10px;
    vertical-align: top;
    width: 110px;
}
.messDetailData p {
    margin-bottom: 5px;
}

.productMainDetail {
    margin-left: 50px;
    width: 600px;
}
.aboutProduct {
    width: 650px;
}
.productMainDetail th {
    color: #1d1d1b;
    font: 24px Arial;
    padding: 31px 0 16px;
}
.productMainDetail td {
    color: #222;
    font: 15px/18px Arial;
    padding: 4px 5px;
}
.productMainDetail td.alignTop {
    vertical-align: top;
}
.productMainDetail .size13 td {
    font: 13px/15px Arial;
}
.productMainDetail tr td:first-child {
    padding-left: 24px;
}
.payTools {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 8px 0 0 -24px;
    padding: 17px 5px 26px 0;
    width: 400px;
}
.productMainDetail td .payTools td {
    padding: 5px;
}
.productMainDetail td .payTools td:first-child {
    padding-left: 22px;
}

.payToolsProduct {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 214px;
}
.productMainDetail td.fixColumn {
    width: 232px;
}
.payToolsData td:first-child {
    width: 234px;
}
.payBtn {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font: 11px/14px Arial;
    margin: 12px 0 0 20px;
    padding: 4px 0;
    text-align: center;
    width: 111px;
}

.productDetailDesc {
    color: #747474;
    font: 12px/18px Arial;
    margin: 0;
}
.aboutProduct td {
    padding: 4px 5px 17px;
}
.aboutProduct .size13 td, .beforeSize13 td {
    padding-bottom: 3px;
}
.aboutProduct .size13.afterSize13 td {
    padding-bottom: 18px;
}
.loanProductCard .productTitle .description {
    color: #7c7b7b;
    font-size: 13px;
}

.aboutProduct .size13 td, .beforeSize13 td {
    padding-bottom: 3px;
}
.aboutProduct .size13.afterSize13 td {
    padding-bottom: 18px;
}
.graphDesc {
    color: #1d1d1b;
    font: 13px/18px Arial;
    margin-top: 40px;
}
.b-debts .debts_cell.month {
    width: 80px;
}
.cred-hist-repost-tab {
    margin-top: 30px;
}
.cred-hist-repost-tab .cred-hist-report_h-month {
    width: 125px;
}
.cred-hist-repost-tab .cred-hist-report_b-pr {
    padding-right: 0;
}

.smallroductInfo {
    color: #848484;
    font: 8px Arial;
    max-width: 64px;
}
.productDetail, .additionalData {
    color: #222;
    font: 14px/24px Arial;
}

.messDetailTxt {
    color: #646464;
    font: 11px/14px Arial;
    padding-left: 14px;
}
.productMainDetail .messDetailTxt {
    color: #848484;
    font: 12px/14px Arial;
    margin-left: 2px;
    margin-top: 33px;
    padding-left: 20px;
}

.productCDL .messDetail {
    margin: 16px 0 11px;
    max-width: 345px;
}
.all-about-product {
    float: right;
    width: 584px;
}
.productCover {
    padding: 20px 0 12px;
}
.detailListBtm {
    margin-top: 18px;
}
.productTitleDetailInfoText {
    font-size: 32px;
}
#productNameText {
    margin-top: 60px;
}
.productTitleDetailInfo #productNameText {
    margin-top: 0;
}
.product-type {
    margin-top: 12px;
}
.productTitleDetailInfo {
    padding-left: 40px;
}
.abstractContainer2 .buttonGrey .text span {
    margin-right: 7px;
}

.messDetail .payBtn {
    margin-left: 0;
    margin-top: 5px;
}

.cred-hist-repost-tab .cred-hist-report thead td {
    font-weight: normal;
    text-transform: uppercase;
}
.cred-hist-report__b-line:hover {
    background-color: transparent;
}
.cred-hist-report__b-line:hover td {
    background-color: #f3f3f3;
}
.cred-hist-report_b-date, .cred-hist-report_to-pay {
    color: #000;
    font: 13px/15px Arial;
}
.cred-hist-report tbody td.cred-hist-report_gray {
    color: #a7a7a7;
    font: 12px/18px Arial;
    text-align: right;
}

.main-owe {
    text-align: center;
    width: 110px;
}
.cred-hist-report_percent {
    padding-left: 20px;
    width: auto;
}
.cred-hist-report_lastCol {
    padding-left: 15px;
    padding-right: 6px;
    width: 120px;
}
.cred-hist-report_right-summ {
    padding-right: 30px;
}
.cred-hist-report_h-pr {
    padding-left: 20px;
    width: 90px;
}

.cred-hist-report {
    background: rgba(0, 0, 0, 0) url("./images/credit-report_btm-border.png") no-repeat scroll 0 100%;
    border-collapse: separate;
    box-shadow: none;
    padding-bottom: 14px;
}
.cred-hist-pay-val-blue td {
    background-color: #e9f5f9;
    border-bottom: 1px solid #c0d9e1;
}
.cred-hist-report__b-line .cred-hist-report_b-date {
    border-radius: 3px 0 0 3px;
}
.cred-hist-report__b-line .cred-hist-report_b-month-p.cred-hist-report_gray {
    border-radius: 0 3px 3px 0;
}
.cred-hist-report td.cred-hist-report__divider {
    padding: 29px 5px 1px;
}

.everyMonthPay {
    border: 1px solid #dedede;
    border-radius: 25px;
    color: #6f7174;
    cursor: pointer;
    font: 12px/13px Arial;
    margin: 10px 0;
    padding: 8px 20px;
    text-align: center;
    width: 195px;
}

.width80 {
    width: 80px;
}
.cred-hist-report {
    background: white none repeat scroll 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.31);
    position: relative;
    width: 622px;
}
.cred-hist-report__h-line {
}
.cred-hist-report_h-month {
    font-size: 9px;
    font-weight: bold;
    padding: 15px 0 0 26px;
    width: 83px;
}
.cred-hist-report_h-state {
    padding-left: 40px;
    width: 156px;
}

.cred-hist-report-scroller-month {
    font-size: 8px;
    line-height: 11px;
    color: #333;
}

.showAllHistoryRequest {
    display: none;
}
.showAllHistoryRequest_selected {
    display: block;
}
.cred-hist-report {
    box-shadow: none;
}
#creditReportState span.link {
    border-bottom: 1px dotted #7ea29f;
    color: #7ea29f;
    cursor: pointer;
    text-decoration: none !important;
}
#creditReportState span.linkHoverDotted {
    border-bottom: 1px dotted #f37407;
    color: #f37407;
}
#creditReportStateDescription, .text-highlight .creditReportStateDescription {
    margin-top: 19px;
}
#creditReportStateDescription {
}
#creditReportStateDescription {
    display: none;
    min-height: 37px;
    position: absolute;
    width: 200px;
}
.b-debts.scroll {
    display: inline-block;
}
.cred-hist-item-cart-detail {
    float: left;
    margin-top: 100px;
}
#creditDetail {
    float: left;
}
.credit-history-credit-item-color-orange {
    background-color: #faf4e1;
}
.credit-history-credit-item-color-green {
    background-color: #f0f9ea;
}
.credit-history-credit-item-color-red {
    background-color: #efeae5;
}
.credit-history-credit-item-color-blue {
    background-color: #ebfbff;
}
.cred-hist-item-opened-table tr:hover {
    background: #f3f3f3 none repeat scroll 0 0;
    cursor: default;
}

.overdueLoanImg {
    float: left;
    margin: 10px
}

/* creditOffertAlternative */
.simpleSubTtl {
    color: #000;
    font: 14px/18px Arial;
}
.creditOffers {
    background-color: #f1f8fc;
    border: 1px solid #d3dfe6;
    border-bottom: 3px solid #becdd8;
    border-radius: 4px;
    box-shadow: 0 5px 5px -5px rgba(34, 27, 57, 0.2);
    color: #000;
    margin: 26px 0 10px 0;
    padding: 14px 0 0 0;
}
.creditOffersType {
    font: 22px Arial;
    display: inline-block;
    max-width: 430px;
    word-wrap: break-word;
}
.showHideCreditOffers, .offersBtn {
    border-bottom: 1px dashed #aac7cf;
    color: #6397a2;
    cursor: pointer;
    font: 14px Arial;
    float: right;
    margin-top: 1px;
}
.creditOfferConditions {
    margin: 3px 0 0 7px;
}
.creditOffersTop, .creditOfferConditions  {
    padding: 0 13px 0 20px;
}
.creditOfferConditions ul {
    list-style-type: none;
    margin: 0;
}
.creditOfferConditions ul li {
    color: #595959;
    display: block;
    font: 14px/20px Arial;
}
.creditOfferConditions ul li:before {
    content: '—';
    padding-right: 5px;
}

.alternativeOffersStyle {
    margin-top: 18px;
    position: relative;
}
.alternativeOffersStyle table, .mainCreditCondition {
    width: 100%;
}
.alternativeOffersStyle th, .mainCreditCondition th {
    color: #606a6d;
    font: 9px Arial;
    padding: 0 30px 8px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
}
.alternativeOffers td {
    background-color: #fff;
    color: #303030;
    font: 18px/22px Arial;
    text-align: left;
    padding: 14px 30px 14px 10px;
}
.alternativeOffers td.offerSum {
    padding-left: 5px;
    padding-right: 30px;
    white-space: nowrap;
}
.alternativeOffersStyle td.align-right, .alternativeOffersStyle th.align-right, .mainCreditCondition .align-right {
    text-align: right;
}
.mainCreditOffer td {
    background-color: #f1f8fc;
}
.offerPeriod {
    font-size: 14px;
    padding-left: 4px;
}
.mainCreditOffer .offerSum, .mainCreditOffer .offerPeriodCol, .mainCreditOffer .offerRate {
    font-weight: bold;
}
.mainCreditOffer.onlyMainOffer .offerSum, .mainCreditOffer.onlyMainOffer .offerPeriodCol, .mainCreditOffer.onlyMainOffer .offerRate {
    font-weight: normal;
}
th.offerSum {
    padding-left: 22px;
    padding-right: 30px;
    white-space: nowrap;
    width: 110px;
}
.alternativeOffersStyle .offerPeriodColTtl, .alternativeOffersStyle .offerPeriodCol {
    min-width: 70px;
    padding: 0 29px 8px 28px;
}
.alternativeOffersStyle .offerRateTtl, .alternativeOffersStyle .offerRate {
    padding: 0 33px 8px;
}
.fixHeightTbl {
    border-top: 1px solid #e9e9e9;
    max-height: 150px;
    overflow: auto;
}
.alternativeOffers tr:hover td {
    background-color: #f7941d;
    color: #fff;
    cursor: pointer;
}
.alternativeOffers .mainOfferTick {
    padding: 0 0 0 35px;
    width: 17px;
}
.mainOfferTickImg {
    width: 18px;
    height: 17px;
}
.mainCreditOffer .mainOfferTickImg {
    background: url("./images/iconsSprite.png") no-repeat -87px -318px;
}
.mainCreditOffer.onlyMainOffer .mainOfferTickImg {
    background: none;
}
.alternativeOffers .mainCreditOffer:hover .mainOfferTickImg {
    background-position: -117px -318px;
}
.offerBubble {
    background: url("./images/credit_cuco_images/offerBubble.png") no-repeat 0 0;
    color: #fff;
    font-family: "Myriad Pro", Arial;
    font-size: 16px;
    height: 110px;
    left: -181px;
    line-height: 20px;
    position: absolute;
    width: 201px;
}
.offerBubbleTxt {
    margin: 18px 0 0 27px;
}
.alternativeOffersStyle th.mounthPaySumTtl, .alternativeOffersStyle .mounthPaySum,
.mainCreditCondition th.mounthPaySumTtl, .mainCreditCondition .mounthPaySum {
    min-width: 160px;
}
/* creditOffertAlternative */
.rowRightData {
    float: right;
    margin-right: 37px;
}
.showDepOnMap {
    border-bottom: 1px dashed #a1ce97;
    cursor: pointer;
    font: 13px/18px Arial;
}
.showDepOnMap:hover {
    color: #fd9010;
    border-bottom-color: #fcdcc1;
}
.depDetail {
    color: #818181;
    font: 13px Arial;
    margin-top: 2px;
}
.contactDetails {
    color: #000;
    font: 13px/18px Arial;
    margin: 16px 0 0 0;
}
.contactData {
    display: inline-block;
    width: 144px;
}
.fullSizeCondition {
    margin: 0 0 0 49px;
    width: 574px;
}
.fullSizeCondition .okb-dogovor-yellow {
    background-color: #fffce0;
    padding: 6px 12px 9px 6px;
}
.fullSizeCondition .okb-dogovor-text.accountOpenText {
    padding: 15px 11px 5px 17px;
    width: 531px;
}
.fullSizeCondition #agreeForAllRow {
    margin-bottom: 10px;
}
.fullSizeCondition .okb-dogovor-top {
    margin-right: -14px;
}
.offerSeparate {
    margin: 0 0 17px 0;
}
.offerMainBtn {
    margin: 0 0 0 220px;
}
.confirmCondition {
    color: #000;
    font: 14px/17px Arial;
    margin-left: 19px;
    width: 90%;
}
.mainOffersInfo {
    display: inline-block;
    margin-bottom: 25px;
    width: 657px;
}
.mainCreditCondition {
    padding: 0 19px 0 20px;
}
.mainCreditCondition .mounthPaySum {
    padding-right: 20px;
}
.creditOffers .blueGrayLink .text {
    font-size: 14px;
}
.creditOffers .blueGrayLink .text span {
    color: #6397a2;
    border-bottom: 1px solid #b8d1d8;
}
.creditOffers .blueGrayLink.linkHover .text span, #openDetailClick.creditOffersType:hover span, .tblOutsideLink:hover span {
    color: #f37407;
}
.offersBtn {
    border-bottom: none;
}
#openDetailClick.creditOffersType span {
    border-bottom: 1px dashed #909597;
    cursor: pointer;
}
#openDetailClick.creditOffersType:hover span{
    border-bottom: 1px dashed #fcdcc1;
}
.creditOffers #additionalOfferDescription {
    margin: 15px 0 0 21px;
}
.mainCreditCondition {
    margin-top: 20px;
}
.mainCreditCondition th {
    border-bottom: 1px solid #dbe2e5;
}
.mainCreditCondition th.offerSum {
    border-bottom: 1px solid #dbe2e5;
    width: auto;
}
.tblOutsideLink {
    text-decoration: none;
    width: 150px;
    display: inline-block;
}
.tblOutsideLink span {
    border-bottom: 1px solid #c8dbe2;
    color: #6397a2;
    font: 11px/15px Arial;
}
.tblOutsideLink:hover span {
    border-bottom: 1px solid #fcdcc1;
}
.tblOutsideLink span.tblOutsideLinkIcon {
    background: url(./images/bonus-ico-blue.png) no-repeat 0 0;
    border: none;
    display: inline-block;
    height: 8px;
    margin-bottom: -1px;
    width: 10px;
}
.tblOutsideLink:hover .tblOutsideLinkIcon {
    background-position: 0 100%;
}
.mainCreditCondition td {
    color: #303030;
    font: 18px Arial;
    padding: 11px 30px 10px 10px;
    text-align: left;
    vertical-align: middle;
}
