table.jCalendar{
	background-color:  #fff;
	color:  #474546;
	width:  100%;
	}
table.jCalendar th{
	font-weight:  bold;
    padding:3px 5px;
	}
table.jCalendar td{

	text-align:  center;
	border-bottom:1px solid #c7c7c9;
	}
table.jCalendar td span {
    padding:3px 6px;
    display: block;
}
table.jCalendar td.last-week{
	border-bottom-width:  0;
	}
table.jCalendar td.other-month{
	color:  #aaa;
	font-size:  9px;
	}
table.jCalendar td.today{
    color: #464646;
    font-weight: normal;
    background-color: #fff;
	}
table.jCalendar td.today span {
    border: 2px solid #b5d9ea;
    padding: 1px 4px;
}
table.jCalendar td.today.dp-hover span{
	background-color: #ffd485;
    border-color: #ffd485;
	color: #fff;
    font-weight: normal;
	}
table.jCalendar td.selected{
	background-color:  #f7941d;
    color: #fff;
    border-bottom:1px solid #c7c7c9;
	}
table.jCalendar td.selected span {
    border: none;
}
table.jCalendar td.selected.dp-hover{
	background-color:  #ffd485;
    color: #fff;
	}
table.jCalendar td.dp-hover{
	background-color:  #ffd485;
    color: #fff;
    font-weight: normal;
	}
.selected {
    border: none;
}
table.jCalendar tr.activeWeekHover td{
	background-color:  #82CC3A;
	}
table.jCalendar td.weekend.selected{
	color:  #fff;
	font-weight: bold;
	}
table.jCalendar td.weekend{
	color: #a2a2a2;
	font-weight:  bold;
	}
table.jCalendar td.weekend.dp-hover{
	color:  #fff;
	font-weight: bold;
	}
table.jCalendar tr.selectedWeek td{
	background-color:  #f66;
	color:  #fff;
	}
table.jCalendar td.disabled{
	background-color: #cecece;
	}
table.jCalendar td.disabled.dp-hover{
	background-color: #cecece;
    font-weight: normal;
	}
table.jCalendar td.disabled.selected{
    font-weight: normal;
	}
table.jCalendar td.disabled.weekend{
    font-weight: bold;
	}
table.jCalendar td.disabled.weekend.selected{
    color:  #fff;
	}
table.jCalendar td.unselectable{
	background-color:  #edf5ea;
	}
table.jCalendar td.unselectable:hover{
	background-color: #82CC3A;
	}
table.jCalendar td.unselectable.dp-hover{
	background-color: #82CC3A;
	}
/* For the popup */
div.dp-popup{
	position:  relative;
	background-color:  transparent;
	font-size:  12px;
	font-family:  Arial, sans-serif;
	width:  220px;
	line-height:  1.2em;
	}
div.dp-popup.dp-quarter{
    width: 600px;
}
div.dp-header{
	text-align:  center;
    padding-bottom: 15px;
	}
.dp-calendar {
    padding-bottom: 12px;
}
div.cell-left{
    float: left;
    width: 54%;
    border: #cecece 1px solid;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
}
div.cell-right{
    float: right;
    width: 36%;
    border: #cecece 1px solid;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
    margin-right:5px;
}
div.cell-center-quarter{
    display: inline-block;
    width: 30%;
    border: #cecece 1px solid;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
}
div#dp-popup{
	position:  absolute;
	z-index:  19;
	}
div.dp-popup div.month, div.year, div.quarter, div.yearMonth {
	font-size:  14px;
	padding-bottom: 4px;
	font-weight:  bold;
	color:  #000;
	text-transform:  uppercase;
    margin-top:5px;
	}
.scrollDescLeft, .scrollDescRight {
    text-transform: none;
    font: 12px Arial;
}
div.yearMonth {
    margin-top: 0;
    padding-top: 6px;
}
div.cell-center-year-month {
    display: inline-block;
    width: 30%;
    border: #cecece 1px solid;
    width: 192px;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
}
a#dp-close{
	font-size: 12px;
    color: #7ea29f;
	}
div.dp-popup a{
	color:  #000;
	text-decoration:  none;
    padding:3px 1px 0;
	}
div.dp-popup div.dp-nav-prev a{
    background: #fff url(images/datePickerArrows.gif) no-repeat 6px 8px;
	width:  11px;
	height:  15px;
	display:  block;
	cursor:  pointer;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
	}
div.dp-popup div.dp-nav-prev a:hover {
    background-position: 6px -41px;
}
div.dp-popup div.dp-nav-next a{
    background:#fff url(images/datePickerArrows.gif) no-repeat 4px -16px;
	border-color: #fff;
	width:  10px;
	height:  15px;
	display:  block;
	cursor:  pointer;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
	}
div.dp-popup div.dp-nav-next a:hover {
    background-position: 4px -71px;
}
div.dp-popup div.dp-nav-prev{
	float:  left;
	}
div.dp-popup div.dp-nav-next{
	float:  right;
	}
div.dp-popup div.dp-nav-prev a.disabled{
	cursor:  default;
	background-color:  #fff;
    border:1px solid #fff;
	}
div.dp-popup div.dp-nav-next a.disabled{
	cursor:  default;
	background-color:  #fff;
    border:1px solid #fff;
	}
div.dp-popup a.disabled{
	cursor:  default;
	color:  #aaa;
	}
div.dp-popup td.current-month{
	cursor:  pointer;
	}
div.dp-popup td.disabled{
	cursor:  default;
	}
.dp-choose-date {
    margin-left: -27px;
    padding-right: 6px;
}
a.dp-choose-date img{
    margin-top: 8px;
	vertical-align:  top;
	}

.activeRectButton a.dp-choose-date img {
    margin-left: -4px;
}

.dp-popup .r-content{
    padding: 0 12px 5px;
    text-align: right;
	}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied{
    background: url("images/periodInput.gif") no-repeat 0 0;
    border: none;
	width:  104px;
	margin-right: 0;
    padding: 6px 0 6px 6px;
    font-size: 14px;
    color: #000;
	}
input.dp-applied::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

#payment td.activeRectButton a.dp-choose-date {
     margin-left:-22px;
}

#payment td.activeRectButton input.dp-applied  {
    margin-right: 0;
    margin-top: 0px\0/ !important;
}

.endOfPeriod {margin-right:-1px\0/ !important;}

.monthYear input{
    width: 84px;
}

th.nameMonth {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.quarterRow {
    padding: 0 5px;
}
.date-picker-planned-payments-text {
    background: url("images/datePickerPointer.png") no-repeat 0 7px;
    color: #A5A5A5;
    font: 11px/18px Arial;
    margin-left: 27px;
    padding-bottom: 5px;
    padding-left: 9px;
    text-align: left;
}