depoDivisionType.depoCurrentDate{
    margin:5px 0 10px 80px;
	}
.depoDivisionSelect{
	float:  left;
	margin-bottom:  10px;
	}
.depoPositionInfo, .depoPositionMarkerInfo {
	width:  100%;
	}
.depoPositionMarkerInfo td.whiteCells {background-color:#fff;}

.depoPositionInfo td{
    border-bottom:1px solid #eaeaea;
	padding: 10px;
	}
.showTableBorder {
    border-bottom:1px solid #eaeaea;
}
.depoPositionMarkerInfo td{
	border-bottom:1px solid #eaeaea;
	padding: 10px;
	}
.depoPositionInfo th{
	padding:8px 10px;
	}
.depoPositionMarkerInfo th{
	padding: 10px;
	}
.depoPositionMarkerInfo .markTitle th{
	padding:7px 10px;
	}
.depoDivisionName{
	margin: 10px;
	font-size:  12pt;
	}
.debtButtons{
	margin-top:  25px;
	}
.debtNote{
	float:  right;
	font:  8pt Arial;
	}
.debtInfo{
    margin:10px 0;
	float:  none;
	}
.depoPositionFilter{
	margin:10px 0;
	float:  none;
	}
.depoPositionFilter div{
	margin:10px 0;
	float:  none;
	}
.depoDivisionType{
	margin: 10px;
	}
.depoDivisionType span{
	color:  #8A8A8A;
	}
.depoDivisionHint{
	background-color:  #FEFDDF;
    border-left: 1px solid #f99d30;
	padding: 10px;
    margin:0 0 15px 20px;
	}
.depoDetailClose {
    padding-left: 19px !important;
}
.depoSecurityName, .depoDetailClose {
	text-decoration:  underline;
    cursor: pointer;
}
.depositor-info{
	display:  block;
	}
.personal-info-items table{
    margin:10px 0;
	width:  100%;
	}
.address-items table{
	margin:10px 0;
	width:  100%;
	}
.bank-items table{
	margin:10px 0;
	width:  100%;
	}
.depositor-info table{
	margin:10px 0;
	width:  100%;
	}
.personal-info-items table td{
	font:  10pt Arial;
	padding: 5px;
	width:  50%;
	}
.address-items table td{
	font:  10pt Arial;
	padding: 5px;
	width:  50%;
	}
.bank-items table td{
	font:  10pt Arial;
	padding: 5px;
	width:  50%;
	}
.depositor-info table td{
	font:  10pt Arial;
	padding: 5px;
	width:  50%;
	}
.personal-info-items table th{
	font:  bold 13pt Arial;
    padding:10px 0;
	}
.address-items table th{
	font:  bold 13pt Arial;
    padding:10px 0;
	}
.bank-items table th{
	font:  bold 13pt Arial;
	padding:10px 0;
	}
.dictionary-fields-secutity{
	float:  left;
    margin:5px 10px;
	}
.depoDocumentsList .simpleTable{
	border-style:  none;
	padding: 0;
	}
.depoDebtList .simpleTable{
	border-style:  none;
	}
.depoDebtList .clientButton{
	margin: 0;
	}
.depoDocumentsList .simpleTable th.titleTable{
	text-align:  left;
	}
.depoDocumentsList a{
	color:  #3D3D3D;
	text-decoration:  none;
	}
.depoInfoFilter{
    margin:0 0 0 10px;
	}
.depoDocuments-filter td{
	padding: 5px;
	vertical-align:  middle;
	}
.availableDepo{
	margin-left:  -5px;
    padding:4px 0 0 0;
	}
.noBorder {
    border-bottom:none !important;
    padding:0 !important;
}