#feedback h2{
	color:  #252525;
	font:  14pt Arial;
	}
#feedback .icon{
	float:  left;
    margin:0 10px 10px 0;
	}
.inbox-tab{
	float:  left;
	font:  bold 9pt Arial;
    padding:5px 10px;
	text-transform:  uppercase;
	}
.outbox-tab{
	float:  left;
	font:  bold 9pt Arial;
	padding:5px 10px;
	text-transform:  uppercase;
	}
.bin-tab{
	float:  left;
	font:  bold 9pt Arial;
	padding:5px 10px;
	text-transform:  uppercase;
	}
.tab-spacer{
	float:  left;
	font:  bold 9pt Arial;
	padding:5px 10px;
	text-transform:  uppercase;
	}
.tab-wrap{
	float:  left;
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.inbox-tab.active-tab{
	background-position: right top;
	background-repeat:  no-repeat;
	}
.outbox-tab.active-tab{
	background-position: right top;
	background-repeat:  no-repeat;
	}
.bin-tab.active-tab{
	background-position: right top;
	background-repeat:  no-repeat;
	}
.inbox-tab.unactive{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.outbox-tab.unactive{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.bin-tab.unactive{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.inbox-items{
	margin-top:  10px;
	}
.outbox-items{
	margin-top:  10px;
	}
.bin-items{
	margin-top:  10px;
	}
#feedback .search-box{
	margin-bottom:  10px;
	}
.feedback-letters{
	width:  100%;
	font:  10pt Arial;
	}
.feedback-new{
	font:  10pt Arial;
	margin-top:  10px;
	}
.feedback-new td{
	padding: 5px;
	}
.feedback-letters tr td{
	color:  #404040;
	padding-top:  5px;
	border-bottom:1px solid #c4c4c4;
	}
#feedback .pagination a.active{
	color:  #449D2F;
	font-weight:  normal;
	}
.feedback-filter{
	width:  673px;
	height:  135px;
	}
.feedback-filter .search-parameter{
    margin:10px 0 0 0;
	}
.feedback-filter .search-parameter span {
    color:#63665f;
	}
.search-parameter .selectData, .search-parameter-margin span {
    color:#474747 !important;
}
#feedback .filterMore {
    margin-left:0;
}
.prompt {
    display:inline-block;
    width:100px;
    text-align:right;
}
.feedback-filter input.feedback-search-string{
	color:  #6A6869;
	font:  12px Arial;
	width:  340px;
	}
#feedback .simpleTable{
	border-style:  none;
	border-width: 0;
    margin:0;
	padding: 0;
	}
.tblInfHeader th{
	padding: 0;
	text-align:  left;
	}
.letterTitle a{
	color:  #449d2f;
	font-weight:  bold;
	}
.search-parameter-margin {
    margin-left:100px;
}