/* Стили для графического представления вагона аэроэкспресс */
.coach {
	height:270px;
}

.coach span {
	background:url("./images/payment/carSeats.jpg") no-repeat 0 0;
	color:#fff;
	font-size:14px;
	font-family:Arial;
	display:block;
	height:27px;
	line-height:27px;
	margin-right:5px;
	margin-bottom:5px;
	padding-left:7px;
	text-align:center;
	width:28px;
	cursor:pointer;
}

.aisle {
	display:block;
	height:12px;
}

span.sold {
	background-position:0 -64px;
	color:#dadada;
}

span.reserved {
	background-position:0 -32px;
	color:#464646;
}

span.selected {
	background-position:0 -96px;
	color:#fff;
}

ul.status {
	display:block;
	float:none;
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:left;
	width:200px;
}

ul.status li {
	background:url("./images/payment/carSeats.jpg") no-repeat 0 0;
	color:#464646;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:25px;
	padding-left:55px;
	margin-bottom:5px;
}

ul.status li.statusReserved {
	background-position:0 -32px;
}

ul.status li.statusSold {
	background-position:0 -64px;
}

td.carEnter {
	background:url("./images/payment/carEnter.jpg") no-repeat 0 0;
	width:74px;
	height:216px;
}


td.carInner {
	background:url("./images/payment/carInner.jpg") repeat-x 0 0;
	padding:0 40px;
    vertical-align: top;
}

.carInner table {
	margin-top:12px;
}

td.carHeadEnter {
	background:url("./images/payment/carHeadEnter.jpg") no-repeat 0 0;
	width:135px;
	height:216px;
}
/* конец стилей для графического представления вагона аэроэкспресс */

