@import url("jquery.jqplot.css");

.operationTable {
    margin: 0 auto;
    margin-top: 10px;
}

    .operationTable td {
        vertical-align: middle;
        padding: 2px;
    }

    .operationTable td.textData {
        font-weight:bold;
    }

    .operationTable td input, .operationTable td select {
        width: 250px;
    }

    .operationTable td input.newOperationSum {
        width: 40px;
    }

    .operationTable .operationTitle {
        text-align:right;
    }

#categoryAbstract .operationTitle {
    width: 410px;
    word-wrap: break-word;
    overflow: hidden;
}