/* b-promo-page */
.b-promo-page {
    padding: 0 75px 0 32px;
}

/* b-page-title */
.b-page-title {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.17;
}

.b-page-descr {
    margin: 0;
    padding-right: 65px;
    font-size: 14px;
    line-height: 1.4;
    color: #4f4f4f;
}

/* b-group */
.b-group {

}
.b-group + .b-group {
    margin-top: 48px;
}
.b-group .group_title {
    margin: 0 0 6px 47px;
    border-top: 1px solid #e6e6e6;
}
.b-group .group_title span {
    display: inline-block;
    position: relative;
    top: -11px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
}
.b-group .group_list {
    margin: 0 -26px 0 -42px;
    padding: 0;
    list-style: none;
}
.b-group .group_item {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40%;
    padding-right: 4%;
    margin-right: -3px;
    margin-bottom: 10px;
    margin-left: 6%;
}
.b-group .group_ico {
    float: left;
    margin-right: 21px;
}
.b-group .group_text {
    display: block;
    overflow: hidden;
    padding: 18px 0 0;
    line-height: 1.45;
    font-size: 14px;
}

/* b-btn */
.b-btn {
    position: relative;
    width: 269px;
    height: 42px;
    padding: 6px 0 28px;
}
.b-btn .btn_inner {
    display: block;
    position: relative;
    padding: 11px 0 13px;
    margin: 0 17px;
    text-decoration: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    z-index: 2;
}
.b-btn .btn_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../commonSkin/images/guest/promo/b-btn-sprt.png) no-repeat;
    z-index: 1;
}
.b-btn .btn_inner:hover {
    color: #ffffff;
}
.b-btn .btn_inner:active {
    color: #ffffff;
    padding: 12px 0 12px;
}
.b-btn .btn_inner:hover + .btn_bg {
    background-position: 0 -76px;
}
.b-btn .btn_inner:active + .btn_bg {
    background-position: 0 -152px;
}

/* b-section */
.b-section {
    padding-top: 71px;
}
.b-section .section_title {
    margin: 0 0 18px;
    font-size: 26px;
    line-height: 1.25;
    font-weight: normal;
    text-align: center;
}
.b-section .section_descr {
    font-size: 14px;
    line-height: 1.4;
}
.b-section .section_anc {
    display: inline-block;
    font-size: 19px;
    line-height: 1;
    color: #489834;
    text-decoration: none;
    border-bottom-style: dotted;
    cursor: pointer;
}
.b-section .section_list {
    overflow: hidden;
    margin: 0;
    padding: 10px 0 0 1%;
    list-style: none;
}
.b-section .section_item {
    float: left;
    width: 22%;
    padding: 0 1%;
    line-height: 1.5;
}
.b-section .section_item + .section_item {
    margin-left: 1%;
}
.b-section a {
    color: #489834;
    text-decoration: none;
    border-bottom: 1px solid #489834;
}
.b-section a:hover {
    color: #f37407;
    border-color: #f37407;
}

/* b-benefits */
.b-benefits {
    margin-bottom: 45px;
    text-align: center;
}
.b-benefits .benefits_promo {
    display: block;
    background: url(../commonSkin/images/guest/promo/promo_sect1.jpg) no-repeat;
    width: 730px;
    height: 413px;
    margin: -103px 0 -311px -33px;
}
.b-benefits .section_inner {
    padding-top: 338px;
}

/* b-operations */
.b-operations {
    margin-bottom: 33px;
}
.b-operations .section_title {
    margin-bottom: 50px;
}

/* b-start */
.b-start {

}
.b-start .start_promo {
    display: block;
    width: 778px;
    height: 430px;
    background: url(../commonSkin/images/guest/promo/promo_sect2.jpg) 50% 0 no-repeat;
    margin: -288px 0 -151px -123px;
}
.b-start .section_title {
    font-size: 30px;
    line-height: 1.075;
    text-align: left;
    margin: 0 0 30px 34%;
}
.b-start .section_descr {
    margin-left: 50.5%;
    margin-bottom: 12px;
}
.b-start .b-btn {
    margin-left: 44.5%;
}

/* b-alternate */
.b-alternate {

}
.b-alternate .section_title {
    margin-left: 3%;
    font-size: 24px;
    margin-bottom: 14px;
}
.b-alternate .b-group .group_item {
    padding-right: 1%;
    width: 43%;
}
