#history h3{
	font-weight:  normal;
	}
#history img.icon{
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
	}
#history p{
	text-align:  center;
	}
#filter{
    margin:10px 0;
	}
#history .filterMore table td{
	vertical-align:  middle;
	padding-right:  2px;
	}
#history-filter fieldset{
	color:  #252525;
	font:  10pt Arial;
	}
.filterButtons{
    margin:20px 0 0 0;
	}
#history-filter span{
	position:  relative;
	top:  -2px;
	}
#history-filter label{
	position:  relative;
	top:  -2px;
	}
#history-filter .filter-title{
	font-size:  11pt;
	}
form#history-filter input{
    margin:0 5px 0 10px;
	}
form#history-filter label{
    margin:0 3px 0 5px;
	}
.filter-button{
	width:  80px;
	height:  28px;
	float:  left;
	cursor:  pointer;
	color:  #fff;
	font:  bold 10pt Arial;
	text-align:  center;
	background-position: left top;
	background-repeat:  no-repeat;
	padding-top:  5px;
    margin:-5px 15px 0 15px;
	}
.extended{
	float:  left;
	cursor:  pointer;
	color:  #449d2f;
	font:  bold 10pt Arial;
	text-decoration:  underline;
    margin:6px 0 0 10px;
	}
.history{
	width:  100%;
	margin-top:  10px;
	}
#history .grid a{
	/*text-align:  left;*/
	color:  #3D3D3D;
	font-family:  Arial;
	font-size:  10pt;
	}
#history .grid .buttonGrey a {
    color: #449D2F;
}
#history .grid a.bold{
	font-weight:  bold;
	}
.history tr{
	border-style:  solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-color:  #fff;
	border-bottom-color:  #c4c4c4;
	border-bottom-style:  solid;
	border-bottom-width:  1px;
	}
.over{
	background-color:  #fffde0;
	cursor:  pointer;
	}
#history .over td a, #history .over td div, #history .over .align-left-fix-date span {
	text-decoration:  none;
	}
#history .over td .create-template, #history .over td .create-template div, #history .over td .create-template div .buttonGreen .text span,
#history .over td .create-template-label {
	text-decoration:  none;
	}
.over a{
	/*text-decoration:  underline;*/
	}
#history .simpleTable{
	border-width: 0;
	padding: 0;
    margin:0;
	}
#history .emptyTable{
    border:1px solid #90c030;
	padding: 12px;
    margin:24px 12px;
	text-align:  center;
	font:  18px bold;
	}
#history .titleTable{
	padding-bottom:  12px;
    padding-right: 5px;
	}
#history .ListLine1 td{
	font:  normal 12px Arial;
    color: #222;
    padding:8px 3px;
    vertical-align: top;
	}
#history .ListLine0 td{
	font:  normal 12px Arial;
    color: #222;
	padding:8px 3px;
    vertical-align: top;
	}
#history .createTemplateBlock {
    margin-left: 20px;
}
 #history .ListLine1 .createTemplateBlock td.operationCell, #history .ListLine0 .createTemplateBlock td.operationCell {
    padding: 0 6px 0 0;
}
#history .listOfOperation td {
    padding: 0;
    border-bottom: none !important;
}
#history .cancel{
	color:  #9b000a;
	}
#history .cancel a{
	color:  #9b000a;
	}
.historyFilter{
	float:  left;
	margin-left:  80px;
	}
.historyBeforeFilterButtons{
	float:  left;
    margin:33px 0 0 10px;
	}
.historyAfterFilterButtons{
	width:  300px;
    margin:5px auto;
	display:  none;
	}
#additionalFields{
	border-style:  solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color:  #90C030;
    margin:10px 0;
	padding: 10px;
	display:  none;
	}
#additionalFields table td{
	padding: 5px;
	}
.pagination{
	text-align:  center;
	margin-top:  20px;
	}
.pagination span{
	color:  #449d2f;
	cursor:  pointer;
	font:  10pt Arial;
    padding:5px 10px;
	}
.pagination span.arrow{
	text-decoration:  none;
	}
.pagination span.active{
	color:  #252525;
	font-weight:  bold;
	text-decoration:  none;
    border:1px solid #f7941d;
	background-color:  #fffde0;
	}
.pagination span.active-arrow{
	text-decoration:  none;
	background-color:  #fffde0;
    border:1px solid #f7941d;
	}
.over td .create-template-label {
    text-decoration:none;
}

.editColumn {
    width:120px;
}

.sort li span.editColumn, .no-sort li span.editColumn{
    width:116px;
    padding-left: 5px;
    *padding-left: 9px;
}

img.apiAutopayment {
    float: left;
    margin-top: 2px;
    margin-right:4px;
}

img.atmAutopayment {
    float: left;
    margin-top: 1px;
}

#history .linkName{
    font-size:  13px;
}

#history .amount{
    font-size:  14px;
}
#history .tblInfHeader th.titleTable{
    font-size:  11px;
    color: #888;
    border-bottom: 1px solid #eaeaea;
}
.payment-description-body{
    float: left;
}
#history .paymentDescription td{
    padding: 0;
    border: none;
}

#history .paymentDescription td td {
    padding-left: 0 !important;
}

#history .state-cancel{
    color: #ff0000;
    border-bottom: 1px #ff0000 dotted ;
}
#history .state-draft{
    color: #7d7d7d;
    font-style:  italic;
}
#history .state-waiting{
    color: #dcc06c;
    border-bottom: 1px #dcc06c dotted ;
}
#history .state-executed{
    color: #7d7d7d;
}
#history .state-waitConfirm{
    color: #ff5400;
    border-bottom: 1px #ff5400 dotted ;
}
#history .state-orange-attention{
    color: #ff5400;
    border-bottom: 1px #ff5400 dotted ;
}

#history .state-red-attention{
    color: #ff0000;
    border-bottom: 1px #ff0000 dotted ;
}

#history .operationWidth{
    width: 180px;
}
#history .search{
    padding: 6px;
}
#history .payment-templates-filter{
    border-bottom: 1px solid #e5e5e5;
}
#history .payment-templates-filter td{
    width: 310px;
}
#history .fieldTitle{
    color: #666;
    font-size: 14px;
}

#history .filter-wrapper {
    background:#f2f2f2;
    border: none;
    zoom: 1;
    margin:0 -17px;
}

#history .filter{
    padding: 0;
}
#history .filterMore{
    padding: 10px 0;
}
#history .amountTitle{
    float: left;
    width: 205px;
}
.extendFilterButton {
    float: right;
    margin-top: 7px;
}
#history .buttonSelect {
    float: right;
}
#history .amountTitle input.moneyField {
    width: 82px;
}