
#profileHdr, .logo, .region, .departmentTitle, .copyright,
.buttons, .important, .plain{
	display: inline;
}
#menu .mainMenu {
    width: 965px;
}
#menu td a {
	height: 15px;
}
#menu td #dropDownMenu a {
	height: 26px;
    padding: 10px 0 6px;
}

#menu td.lastPosition a {
    padding-left: 0;
    padding-right: 0;
}

#menu .active a, #menu a:hover {
    height: 15px;
}

#menu td.hover a {background-image:none !important;}

.tabContainer{
    padding-bottom:8px;
}

#newsOnLogin {width:220px;}
#infoOnLogin {width:743px;}

/*поправляем внешний вид выпадающего меню в ie*/
#dropDownMenu td {
    margin-right:0;
}
.DropDownMemuFooter {
    position: relative;
    top: -9px;
}

.regular-close{
    background:  no-repeat 100% -10%;
}

.feedback-filter fieldset{
    margin-left: 5px;
}

#detailFilterButton{
    margin-top: -10px;
    margin-bottom: 15px;
}

.eMailAbstractButtons{
    margin-bottom: -15px;
}

.header{
	right: -6px;
}

#previousEnter {
    margin-top: 4px;
    padding-left: 3px;
}

#previousEnterInfo {
    display:inline !important;
}

#previousEnterInfo span {
    display:inline;
}

.iconElement {
    padding-left:3px;
    line-height: 25px;
}

.topLine {
    zoom:1;
}

fieldset{
    float: left;
}

.filterButtons{
	margin: 20px 0 0 45px;
}

.message{
    width: 610px;
}

#history p{
    border: 1px solid #449d2f;
    padding: 10px 0 20px;
    margin: 20px 0;
}

#history .simpleTable{
    margin: 0px -13px 0px -12px;
}

#history .ListLine0 .grayText, #history .ListLine1 .grayText {
    white-space: nowrap;
}

#deposit-detail #filter{
	margin-top: 0;
}


#payments form label{
	margin-right: 10px;
}

#payments label{
	margin-right: 0.5em;
}

.save-template-button{
	margin: 8px 59px 0 0;
}

.hint{
	margin-top: -3px;
}

#payments .payment-item{
	margin:12px 5px 0 0;
    padding-right:6px;
}

#payments .grayProduct .payment-item{
	margin-top:0;
}

.help-menu {margin-left:5px !important;}

.help-menu ul{
	margin: 5px 0 0 0;
}


#payment form label{
	margin-right: 10px;
}

#payment .save-template-button{
	margin: 8px 59px 0 0;
}

#payment .hint{
	margin-top: -3px;
	width: 255px;
}

#payment label{
	margin-right: 0.5em;
}

.paymentInputDiv{
	margin-top: 2px;
}

.paymentValue {
    float: left;
    width: 460px;
}

.provider-container{
	width: 90px;
	float: left;
	text-align: center;
	margin: 8px 7px 15px;
}

table.info-template td{
	width: 370px;
}

.header-teaser-box-top-left {
    background:none;
}

.deposit-name{
    display: inline;
}

.description{
    margin-top: 5px;
}

table.dictionary{
    margin-top: 0px;
}

.dictionary-filter{
	border: 1px solid #90c030;
	padding: 5px 10px 10px 10px;
}

.historyFilter{
    float: left;
    margin-left: 40px;
}

.additional-product-info{
    margin-bottom: 0;
}

#additionalFields{
    border: 1px solid #90C030;
    margin: 10px 0;
    padding: 5px 10px 10px 10px;
}

.buttonGreen, .buttonLightGray {
    display: inline;
    zoom: 1;
}

.buttonGreen {
    background-color: #299D30;
}

.buttonGreen.disabled .left-corner{
    background-image:  url(images/error_button_left.gif);
	}
.buttonGreen.disabled .right-corner{
    background-image:  url(images/error_button_right.gif);
	}
.buttonGreen.disabled .text{
    background-image:  url(images/error_button_center.gif);
	}

.pfpButtonsBlock .commandButton {margin-left:3px;}
.pfpButtonsBlock .commandButton .buttonGreen {margin-left:0;}
#addPFPTargetWin .workspace-box {
    width: 865px;
}
#addPFPTargetWin .warningMessage .workspace-box {
    width: auto;
}

.scrollInputPosRight{
    width: 150px;
}

.battery{
    font-size: 3px;
}.battery span{
    font: normal 12px Arial;
}
.battery .batteryRight{
    background: url("images/bataryBorderRight.gif") no-repeat left center;
}
.battery .batteryLeft{
    background: url("images/bataryBorderLeft.gif") no-repeat right center;
}
.battery .batteryShadowUp, .battery .batteryShadowDown{
    background: none;
}
.batteryHintLT {
    background: url("images/orangeLT.gif") no-repeat 0 0;
}
.batteryHintCT {
    background: url("images/orangeCT.gif") repeat-x 0 0;
}
.batteryHintRT {
    background: url("images/orangeRT.gif") no-repeat 100% 0;
}
.batteryHintLC {
    background: url("images/orangeCL.gif") repeat-y 0 0;
}
.batteryHintCR {
    background: url("images/orangeCR.gif") repeat-y 100% 0;
}
.batteryHintLB {
    background: url("images/orangeLB.gif") no-repeat 0 0;
}
.batteryHintCB {
    background: url("images/orangeCB.gif") repeat-x 0 0;
}
.batteryHintRB {
    background: url("images/orangeRB.gif") no-repeat 100% 0;
}

.scrollShadow, .yScrollShadow, .quarter .yScrollShadow{
    background: none;
}
.greenScroll .scrollInner{
    background: url('images/greenHorizScroll.gif') no-repeat right top;
}
.yScrollInner{
    background: url('images/greenVerticalScroll.gif') no-repeat top;
}

.commandButton, .clientButton{
	margin: 0;
	display: inline;
}
.invisible {
    display: none;
}

.hoverBtn {
    margin: -3px -5px;
    position: relative;
}

.saveAsTemplate{
    margin-left: -18px
}

.additionalOptions{
    margin: 10px 0;
}

.iebuttons{
    padding: 0;
}

#mobilebank .command-list-mobile{
    margin-right:15px;
}

.news-filter div.search{
	margin: 4px 0 0 10px;
}

.news-list{
    margin-top: 20px;
}

.title {
    margin-bottom:0;
}

#warnings .itemDiv{
    padding-top:0;
}
/* IE hasLayout*/
.hasLayout { height: 1%; }

.security-items .error td.align-left, .security-items .error td.align-right{
    border: 1px solid #FAD7CD;
}

.security-items .error td.align-left{
    border-left: none;
}

.security-items .error td.align-right{
    border-right: none;
}

ul.underlined{
    position: relative;
}

.moreListOfOperation {
    margin-top: -22px;
}

.moreListOfOperation ul {
    position: relative;
}

.moreListOfOperation .r-content {
    margin: 0 8px -2px 5px;
}

.forProductBorder .moreListOfOperation ul.textToLowercase {
    width:auto;
    padding-right:8px;
}

.listOfOperation {height:1%;} /*Необходимо для выпадающего списка операций (если убрать, то выпадающий список не появляется)*/

.listOfOperation.relative .moreListOfOperation {
    left: -17px;
}

.sort table.productOperationList td a, table.productOperationList td span.inactive {
    padding-left: 17px;
}

.prfInfo h1 {
    font-weight: normal;
}

.buttons{
    height: 1%;
}

.productTitle {
    padding-top: 15px;
}

#mobilebank .accessCardsBlock .productTitle a{
    text-decoration: underline;
}

.productCover{
    margin:0;
    padding-right:15px;
}

.otherRegionsText a{
    behavior: expression(
      onmouseover = function() {this.className += ' hover'},
      onmouseout = function() {this.className = this.className.replace('hover', '')},
      style.behavior = null
    );
}
.otherRegionsText a.hover{
    background-color: #82cc3a;
}
#providersList .filterInfo, #providersList .titleRegion{
    height: 1%;
}

.regionSelect{
    margin: 0 0 0 -4px;    
}
.CTL .regionSelect {
    width: auto !important;
    padding-top: 2px;
}

.paymentHeader, .selectRegionHeader, .selfRegistrationHeader {
    padding: 20px 0 10px 0;
}

.paymentHeader img.icon {
    width: 64px;
    height: 64px;
}

.r-bottom-left {
    margin-bottom: 0px;
}

.redContainer, .turquoiseContainer,
.greenContainer, .blueContainer, .otpContainer,
.id1Container, .id2Container, .id3Container, .Container{
    height: 60px;
}

.redContainer {padding-left:69px;}

#loading, .lettersForUser:hover, .lightness, .orangeScrollInner {
    background: none;
}

.multiplyScrollBlock .scrollInner, .rangeScrollBlock .scrollInner{
    background: none;
}

.changePasswordOption{
    float: left;
    margin: -5px 0 0 0;
}

ul.underlined li {
    z-index: expression(
    runtimeStyle.zIndex = 1,
    this == this.parentNode.firstChild ? (className += " first-child") : 0
    )
}


table.infoTable td {
    z-index: expression(
    runtimeStyle.zIndex = 1,
    this == this.parentNode.firstChild ? (className += " first-child") : this == this.parentNode.lastChild ? (className += " last-child") : 0
    )
}

#right-section ul li.first-child {border:none !important;}

.selectList {
    height:expression( this.offsetHeight> 301 ? "300px" : "auto");
}

.selectData{
    margin-right: 0;
    width: expression(this.parentNode.offsetWidth - 20 + "px");
}

#breadcrumbs {
	width: 700px;
}

#news .roundPlate.data {margin-bottom: -3px;}

.payments-tabs .backToService {
   bottom:3px;        
}

#breadcrumbs .unactive {background-color:transparent;}
.paymentsHeaderButtonArea{
    margin-left:84px;
    zoom: 1;
    width: 621px;
}

.r-center-right {
    height: 0%;
}
#showHideBunner {MARGIN: 0px 6px -18px 0px;}
.small#bunner {WIDTH: 718px! important;}

#tabs .centerTop, #tabs ul {
    zoom: 1;
}


.bunnerImageFirst{
    position: relative;
    margin: -33px -6px -3px -6px;
}

#bunnerAreaView .bunnerImage{
    zoom: 1;
    padding: 1px;
    margin: 10px -7px 0 -7px;
}

#advertisingBlocks .grayRC {
    padding:10px 20px 0;
}

.bunnerImageFirst{
    float:none !important;
}

#bunnerAreaView .bunnerImageFirst{
    margin: -23px -7px 0 -7px;
}
.advertisingBlockContent{
    top: -22px;
}
.linksListHidden{
	font-weight: normal;
	}

.bunnerTitle{
    padding-bottom: 3px;
    padding-left: 0;
    padding-right:0;
    overflow: visible;
    height:expression( this.offsetHeight> 21 ? "20px" : "auto");
}
#dropDownInfo ul {float:left;}
.PhoneNambers {
    margin-top: -58px;
}
#dropDownInfo li  {text-decoration:none;}
#dropDownInfo {
    width: 260px;
    border: 0;
    margin-left:2px;
}

ul.underlined .linksListTitle {
    border-top: none !important;
}

.plain h3 {font-weight:normal;}


#dropDownInfo ul {
    border-left:2px solid #878787;
    border-right:5px solid #878787;
}

#wrapper {margin:0 auto;}

.copyright {margin-top:5px;}

.UserInfo {padding-top: 10px;}

.UserInfo ul {
    margin-left:-1px;
}

.UserInfo .hover .iconElement span {
    background-color: transparent !important;
}

.secondMenuContainer {
    margin-left:-2px;
}

#popularPayments .secondMenuContainer, #payments .secondMenuContainer, #payments-templates .secondMenuContainer {
   position:relative;
}

#providerFilterResults {
    width: 688px;
    margin-left: -12px;
}

.providerFilterTabs {margin-left: -10px}

#providerFilterResults .provider {
    width:300px;
}

a.dp-choose-date img {
	margin-top: 10px;
}

.selectLeftData{
	height: 20px;
}

.selectData{
	height: 20px;
}

.filter-area {
    margin:8px 0 0 0;
    padding:0 20px;
}

#infoOnLogin .workspace-box {
    width: auto;
}

/* ПФП */
#loanSelectList  {
    margin-bottom: 50px;
    position: relative;
}
#loanSelectList .pfpFormRow {
   position: absolute;
}
.farAway{
    position: absolute;
    left: -3000px;
    margin-bottom: 0 !important;
}
.bankRecommend .recomend{
    margin-left: 5px;
}
.bankRecommend .recomend .recomendText{
    width: 210px;
}

.productsGraphAxis .graphArrowRight{
    bottom: -11px;
}
/* end ПФП */

.helpDiv .personalManager{
    margin: 0 -15px 0 0;
}

#right-section .grayPointers{
    font-size: 3px;
}

.helpDivRightBlock{
    float:none !important;
}

.grayTitle  {
    float:left;
    margin-bottom:-11px;
}

#payment td.activeRectButton a.dp-choose-date img {
    margin-top: -2px;
    width:20px;
    height:18px;
}

.negativeMargin{margin:10px -13px 10px -12px !important;}

.grayGradient {
    background: #eaeaea;
}

#favouriteLinks {
    margin-left:-14px;
    margin-right:-13px;
}

.favouriteLinks {
    margin-right: -15px;
}

#favouriteLinks .greenTitle {
    width:190px;
    padding-right:20px;
}

#favouriteLinks ul.underlined li {
    padding-left:20px;
}

#favouriteLinks li ul.linksListHidden {
    margin-left:-37px;
}

#favouriteLinks li ul.linksListHidden li .linksListHiddenCount {
    margin-left:-20px !important;
}

.personalMenuWithTitleItem ul.underlined .linksListHidden {
    position:relative;
    z-index:10;
    overflow:hidden;
}

.personalMenuWithTitleItem ul.underlined li.linksListTitle {
    position:relative;
    z-index:5;
}

.personalMenuWithTitleItem ul.linksListHidden li a {
    padding-right:15px;
}

#favouriteLinks ul.underlined li.linksItemMore {
    margin-left:-8px;
    margin-right:10px;
    padding-left:24px;
}

#favouriteLinks ul li .greenTitle {
    padding:5px 20px 5px 13px !important;
}

.personalMenuWithTitleItem ul.linksListHidden li a {
    padding:5px 15px 5px 15px !important;
}

.personalMenuWithTitleItem li.linksItemMore {
    margin-left:-36px;
    margin-right:-10px;
    padding-left:23px;
}

#LoginDiv .infoMessage .messageContainer {margin-top:  10px;}

#warnings .infoMessage .messageContainer {
    width:auto;
}

.autoPaymentListBorder table tr td a, .payment-templates .rowOver tr td a {
    display:block;
    cursor:pointer;
    width:90%;
}

.greenTopRC{
    margin-bottom: 0;
}
.forProductBorder {
    margin: 0 -16px -12px -6px;
}

.portfolio .forProductBorder {
    margin: 4px -16px -12px -9px;
    float:none;
}

.productDivider{
    margin:12px 3px 0 8px !important;
    overflow:hidden;
}

#profile ul.newSecondMenu {
    width: 720px !important;
}
.securityOptions {
    margin-left: -11px;
    padding: 0 12px;
}
.profile-view-products {
    MARGIN: 0 -16px;
}

#feedback .greenTopRCL.r-center-left {
    margin-top: 0;
}

#feedback .greenTopRC.r-content {
    padding-right: 3px;
}

#profile .secondMenuContainer {margin-left: -2px;}

.add-to-favourite .buttonGrey .right-corner{width:16px;}

#right-section .right-faq-link.showAssistant, #right-section .faqNotManager.showAssistant {margin:0;}

#mobilebank .accessCardsBlock{
	padding-top: 0;
}

.miniPartnerBonus span.word-wrap {position:relative;}

.loyaltyProgramTemplate .productCenterContainer, .portfolio .portfolioProduct .productCenterContainer {background:none;}

#LoginDiv .paymentLabel {
    margin-top:2px;
    padding-top:2px;
}

div.cell-left {
    width:55%;
    margin-left:0;
}

div.cell-right {
    width:36%;
}

.confirmBlock{
    display: inline-block;
}

.Login .opacityBlock{
    right: 7px;
}
#favouriteLinks .note {
    MARGIN: 0 0 0 8px;
}

#favouriteLinks .note {
    width: 180px;
}

.bunnerContent {margin-right:-20px;}

.noLink {
    border: 0;
}
.noLink h1 {
    font: 18px Arial;
    color: #3D3D3D;
}

.paymentTitle a{
    overflow: hidden; /* это свойство необходимо для того, чтобы плашки с длинным названием без проблелов отображались корректно в ие6 */
}
#mobilebank .productCDC {
	margin-top:  -5px;
}

.financeGraphWithOperations .leftPart, .financeGraphWithOperations .rightPart{
    margin-top: 0;
    font-size: 3px;
}
.incomeOutgoDayLabel, .cashDayLabel{
    top: 6px;
    left: -15px;
}
.firstCashDayLabel, .firstIncomeOutgoDayLabel{
    top: -8px;
}
.cashDay .leftPart, .cashDay .rightPart{
    margin-top: 4px;
}
.outgoLineLeft, .outgoLine .lineCenter, .incomeLineRight, .incomeLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.outgoCashLineLeft,  .outgoCashLine .lineCenter, .incomeCashLineRight, .incomeCashLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.incomeCashlessLineRight, .outgoCashlessLineLeft, .incomeCashlessLine .lineCenter, .outgoCashlessLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.outgoDayLineLeft, .outgoDayLine .lineCenter, .incomeDayLineRight, .incomeDayLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.outgoCashDayLineLeft, .incomeCashDayLineRight, .outgoCashDayLine .lineCenter, .incomeCashDayLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.outgoCashlessDayLineLeft, .incomeCashlessDayLineRight, .outgoCashlessDayLine .lineCenter, .incomeCashlessDayLine .lineCenter{
    font-size: 3pt; /* необходимо для того, чтобы высота блока была не больше заданного значения */
}
.descrText {
    font-size: 12px;
}

#pagination .greenSelector {
    height: 26px;
}
.inactivePaginRightArrow{
    background-image:url('images/inactive_page_right.gif');
}
.activePaginRightArrow{
    background-image:url('images/active_page_right.gif');
}
.activePaginLeftArrow{
    background-image:url('images/active_page_left.gif');
}
.inactivePaginLeftArrow{
    background-image:url('images/inactive_page_left.gif');
}

.filter .greenSelector.active{
	background-image: none;
}
.operationsListPagination{
    height: 30px;
}
.operationsListPaginSize{
    height: 23px;
    right: 20px;
}

#history .grid {
    margin-left:0;
    margin-right:0;
}

.empty-profile-user-products {margin-right:10px !important;}

.viewProductsWidth {
    margin-left:-11px;
}

.orange .clear, .commandButton .clear {line-height:1px;}

.greenBold .clear, .clientButton .clear, .commandButton .clear {display: inline;}

.changeStrategy .clear {
    display: block;
}

.form-row {
	margin: 2px -17px;
	padding: 3px 17px;
}

#payment .form-row, #payment .form-row-addition {
    margin: 2px -12px;
}

.pfpBlocks .pfpBlock {
    width:690px;
    margin:0;
}

.pfpBlocks fieldset {
    padding:0 !important;
}

.pfpBlocks .pfpBlock fieldset .form-row  {
    margin-left:0;
    margin-right:0;
}

.fullWidthPFP {
    margin:0;
    width: 680px;
}

.addProducts {
    margin-right:-17px;
}

.addProducts .fullWidthPFP {
    margin:0 -9px 0 -8px;
    width:717px;
    padding:0;
}

.portfolioList {margin:0 -17px 0 -3px;}

.portfolioPlan {margin:0 -17px;padding:0 0 0 17px;}

#imageHelpProviderHeaderRow, .fullWidth .form-row {
    margin:0 -13px 0 -12px !important;
}

.mainPageNews .grayRCL {margin-top:-5px;}

.operationsCaregories .productDivider, .securityOptions .productDivider {width:670px;}
#financeContainer .operationsCaregories .productDivider, #costManagementBlock .forProductBorder {width:640px !important;}

.operationsCaregories .hint {width:598px;}

.securityOptions .productCover {padding-right:16px;}

.securityOptions.securityOptionsArea .forProductBorder .hint {width:616px;}

.securityOptions.securityOptionsArea .forProductBorder {margin-right:-26px !important;}

.securityOptions .forProductBorder {width:717px; overflow:hidden;}

.budgetScale .forProductBorder {
    margin-left: -8px;
    margin-right: -7px;
}

.innerOperationsCategiries {margin-right:0;}

.securityOptions .profile-view-products {margin:0 -22px 0 -35px;}

.empty-profile-user-products {margin:0 2px 20px -11px !important;}

.otpRestrictions{
    margin: 0 -11px 20px -12px !important;
}

.orangeRC.r-content .align-center .clientButton .clear, .infMesOrange .clear {height:auto !important;}

.productOperation .shadowRC {
    margin:0 13px -2px 16px !important;
}

.login #warnings .infoMessage {padding-bottom:5px;}

.widthAuto {width:auto !important;}

#LoginDiv .messageContainer {
    margin-top:15px !important;
    padding-bottom:7px;
}

#oneTimePasswordWindow #warningMessages .clear {height:auto !important;}

#LoginDiv #oneTimePasswordWindow .messageContainer {margin-top:0 !important;}

.closeMessageIcon {background-position-y:-9px;}

#changeSkin .forProductBorder, .profileSettings .forProductBorder {margin-bottom:-9px !important;}

#workspace .workspace-box {
    margin: 17px 0 25px;
}
#workspace .effectUseCardAccountImage .workspace-box {
    margin: 0 0 35px;
}
.paymentFilter #filter .filter {
    margin:-9px -4px 0 -10px;
}

.grayCBT, .greenTopCBT {
    margin-right:-11px !important;
}

a.saveExit {
    margin-top: 5px;
}

a.saveExit span {display:block;}

#previousEnterInfo {
    background-position:3px 3px;
}

ul.hover #previousEnterInfo span.iconElement, #previousEnterInfo:hover span.iconElement {
    background-position:3px 3px;
}

#helpLink {
    background:url("images/helpIco.gif") no-repeat center center;
}
.dribbleHintPick{
    font-size: 3px;
}

.popularPaymentsBlock .grid, .personal-payments .grid {
    margin:0 -13px 0 -12px;
}

#LoginDiv .workspace-box{
    width: 100% !important;
    margin: 10px 0 0 0 !important;
}

#LoginDiv .SelfRegistration .workspace-box {
    width:985px !important;
}
#LoginDiv .SelfRegistration .workspace-box .workspace-box {
   width: auto !important;
}

.listContainer {
    margin:0 1px 20px -11px;
}

.paymentFilter .filter {
    margin:-9px -17px 0 -38px;
}

.paymentFilter .jurPayment {
    margin:-9px -13px 0 -12px;
	zoom:1;
}

.budgetScale .productCover {margin-top:-1px;}

.table-wrapper
{
    margin:0 -16px;
    zoom: 1;
}

.grayFilterBg {
    background: url(images/grayShadowBg.gif) repeat-x;
    width:718px;
    margin:0 -18px 10px -12px;
}

.customSelectCenter .customSelectHideShadow, .buttonRoundGray.buttonWithImg .buttonGrad {background:none 0 0;}

.whiteShadowRBL {
    background-position: left 0;
}

.whiteShadowRBR {
    background-position: right -24px;
}

.whiteShadowRBC {
    background-position:0 -12px;
}

.severalLocked .simpleLink .text{
	background-image: none;
}

#regular-payments {
   margin:0 -13px 0 -12px; 
}

.interfaceModeBlock {
    margin:20px -11px 0 -12px;
}

DIV.news-title {float: left;}

.loyaltySection .grayTitle {
    position: static;
}

.portfolioProduct .forProductBorder span .clear {
    width: 20px;
}

#payments .paymentsContainer {
    width: 680px;
}

.news-container {
    padding-right: 0;
}

#budgetScalesBlock .budgetScale .forProductBorder {
    width: 716px;
}

.filterHeaderBlock .clear, .hightLevelPosition .customSelect .clear {
    line-height: 1px;
}

#financeContainer .filterHeaderBlock {
    height: 35px;
    overflow: hidden;
    margin-top: 10px;
}
.newLettersLeft, .newLettersRight, .newLettersCenter {
    float: left;
}
.newLettersCenter {
    margin: 0 3px;
}
.lettersForUser {
    padding-top: 4px;
    margin-top: -15px;
}
.lettersForUser .newLettersLeft, .lettersForUser .newLettersShort {
    margin: -8px 0 0 17px;
    position: absolute;
}
.topLineContainer {
    padding-bottom: 10px;
    margin-right: 17px;
    margin-top: -65px;
    margin-bottom: 5px;
}
.ftrContainer {
    width: 950px;
}
#footer .colorsRoundLeft {
    margin-left: 105px;
}
.aroundTheClock {
    margin-left:200px;
}
.copyright p {
    margin-bottom: 10px;
}
.silhouette {
    background: none;
    margin: -34px 74px 0 0;
}
.feedback {
    margin-right: 10px;
}
.mailBlock {
    margin: 17px 0 0 9px ;
}

.mobileBannerBlock {
    position: relative;
    width: 200px;
    margin-left: -8px;
}

.mobileBannerBlock .grayTitle {
    margin-left: -8px;
    width: 193px;
}

.creamyRoundBottom {
    margin-right: -15px;
    padding-left: 33px;
    width: 182px;
}

.mobileBannerBlock .linksList  {
    padding-left: 16px;
}

.mobileBannerBlock .grayTitle {
    background: url("images/PMSeparator.jpg") no-repeat 0 0;
}

.creamyTopRTL {
    margin: 0 -1px;
}

.creamyTopRBC {
    height: 7px;
}

.noManagerNoAssistant .helpLink {
    padding-left: 15px;
}
.noManagerNoAssistant .helpPage {
    margin-top: 0;
}
.helpDivRightBlock .girl-img {
    position: relative;
}

a.linkHoverDotted {
	color:  #f37407 !important;
    border-bottom: 1px dotted #f37407 !important;
}

.activeSecondMenu .innerTab {
    margin-top: 0;
}

ul.newSecondMenu li {
    margin-top: 1px;
}

.leftCornerTab, .rightCornerTab, .innerTab {
    height: 49px !important;
}

li.activeSecondMenu {
    height: 53px;
    margin-top: 0;
    border-bottom: 1px solid #fff !important;
}

.activeSecondMenu .leftCornerTab, .activeSecondMenu .rightCornerTab {
    height: 48px !important;
}

ul.newSecondMenu {
    margin-left: 20px;
    width: 680px;
}

ul.newSecondMenu li.activeSecondMenu a {
    line-height: 33px;
    padding-top: 5px;
    height: 33px;
}

.hoarRTC, .hoarRTR, .hoarRTL, .hoarRBC, .hoarRBR, .hoarRBL {
    background-image:  url('images/gray-starHor.gif');
}
.hoarRCL{
    background:  url('images/gray-vert-left.gif') repeat-y 1px top;
}
.hoarRCR{
    background:  url('images/gray-vert-right.gif') repeat-y right top;
}
.workspace-box .hoarRC {
    margin: 0 14px 0 15px;
}

.hoarRC table.productOperationList {
    position: relative;
    margin-right: -2px;
    margin-top: -17px;
}

.choosePfpCreditCardBlockHover{
    height: 180px;
}

.Title {
   width: 100%;
}
.choosePfpCreditCardBlockHover {height: 190px;}

.additionalProductImg {
    margin-left: 45px;
}

.all-about-product-with-arrow .productTitle {
    width: 99%;
}

.all-about-product-with-arrow .lightness {
    right: -1px;
}

.sort li span.editColumn, .no-sort li span.editColumn{
    padding-left: 3px;
}

.datePickerRCL { background-image: url("images/whiteShadowLeftRound.gif"); }
.datePickerRCR { background-image: url("images/whiteShadowRightRound.gif"); }
.datePickerRTL, .datePickerRTR, .datePickerRBL, .datePickerRBR, .datePickerRBC, .datePickerRTC  {
    background-image: url(images/whiteShadow.gif);
}

#mobilebank .accessCardsBlock .productTitle span.additionalProductInfo {
    margin-top: 0;
}

/*anotherStrategy*/
.anotherStrategyTL, .anotherStrategyTR, .anotherStrategyTC, .anotherStrategyBL, .anotherStrategyBR, .anotherStrategyBC {
    background-image: url('images/anotherStrategy.gif');
}
.anotherStrategyCL {
    background-image: url('images/anotherStrategy-vertLeft.gif');
}
.anotherStrategyCR {
    background-image: url('images/anotherStrategy-vertRight.gif');
}
.anotherStrategyCL {
    margin-top: -3px;
}
/* /anotherStrategy*/

.titleBlock {
    float: none;
}

.tariffsButton, .accountsInfoButton, .imaDetailButton, .emailReportButton, .pfrReportButton, .extendedCardsButton, emailReportDeliveryButton{
    margin-left: 20px;
}

.anotherStrategy ul li .newLabelFirst {
    position: relative;
}

.detailStatus {
    display: block;
    margin-top: 5px;
}

.productName .size20 {
    vertical-align: middle;
}

.tarifContent{
    *width: 472px;
}
.login-register-mobilebank .tarifContent{
    *width: 749px;
}

/* ПБО */
#mobileBanner .operators{
    background-image: url("images/mobileBanner-footer-right.gif");
}
.mobileBannerBC, .mobileBannerBCTop{
    background-image: url("images/mobileBanner-footer-hor.gif");
}
#mobileBanner .greenBannerArea{
    background-image: url("images/SmBunner.gif");
}
/* end ПБО */

#financeContainer .dateFilterBg{
    width: 670px;
}

.customSelectBlock{
    width: 225px;
}

.paymentOnReceipt a {
    margin-left: 32px;
}

.productTitleDetailInfoEditBlock {
    margin-left: 0;
}
td.alignTop .productRight, td.alignMiddle .productRight {
    padding-left: 0;
}
.imaProduct .productCenterContainer {
    margin-top: 0;
}
.pfrProduct .productCenterContainer {
    margin-top: 0;
}
.loanProductCard .productCenterContainer {
    margin-top: 0;
}
.errorProduct .productCenterContainer {
    margin-top: 0;
}

.paymentFilter .inputPlaceholder {
    margin-top: 1px;
}

.buttonGrayNew  .left-corner, .productListOperation .buttonSelectLeft {
    background-image: url(images/region_select_left.gif);
}
.buttonGrayNew .right-corner{
    background-image: url(images/region_select_rightButton.gif);
}
.buttonGrayNew .text, .productListOperation .buttonSelectCenter {
    background-image: url(images/region_select_center.gif);
}
.productListOperation .buttonSelectRight {
    background-image: url(images/region_select_right.gif);
}
.hoverOperation .buttonSelectLeft, .hoverOperation .buttonSelectRight, .hoverOperation .buttonSelectCenter  {
    background-position: left bottom;
}
.sort .buttonSelectRight, .no-sort .buttonSelectRight, .buttonSelectRight {
    background-image:  url(images/white_select_right.gif);
}
.sort .buttonSelectLeft, .no-sort .buttonSelectLeft, .buttonSelectLeft {
    background-image:  url(images/white_select_left.gif);
}
.sort .buttonSelectCenter, .no-sort .buttonSelectCenter, .buttonSelectCenter {
    background-image:  url(images/white_select_center.gif);
}
#history .operationWidth .buttonSelect {
    width: 114px!important;
}
.tariff-econom, .tariff-full {
    position: relative;
}
.workspace-box .line-free {
    top: -16px;
}

#news-line .shortText {
    width: 640px;
}
.all-about-product-with-arrow .productBottom {
    margin-left: 2px;
}
.favouriteList .sortableHiddenText {
    margin-top: 10px;
}
.ui-sortable .sortableRows .left {
    width: 345px;
}

.window #winErrors .workspace-box, .window #winErrors {
    width: auto;
}

#LoginDiv *#oneTimePasswordWindowWin .r-top-center {
    width: 917px;
}

#LoginDiv *#oneTimePasswordWindowWin .orange .r-top-center {
    width: 770px;
}
*#oneTimePasswordWindowWin .orange .r-bottom-center, *#oneTimePasswordWindowWin .red .r-bottom-center {
    width: 580px;
}
#LoginDiv *#oneTimePasswordWindowWin .red .r-top-center {
    width: 770px;
}
#LoginDiv *#oneTimePasswordWindowWin .red .r-content {width: 770px;}


.personalMenuWithTitleItem ul.linksListHidden li .LinksListCommonText a {
    float: left;
    padding-left: 17px !important;
}

.bigPointerHiddenLT {
    background-image:url("images/bigPointerHiddenTL.gif");
}

.bigPointerHiddenRT {
    background-image:url("images/bigPointerHiddenTR.gif");
}

.bigPointerHiddenCT {
    background-image:url("images/bigPointerHiddenTC.gif");
}

.bigPointerHiddenCL {
    background-image:url("images/bigPointerHidden-vertLeft.gif");
}

.bigPointerHiddenCR {
    background-image:url("images/bigPointerHidden-vertRight.gif");
}

.bigPointerHiddenBL {
    background-image:url("images/bigPointerHiddenBL.gif");
}

.bigPointerHiddenBR {
    background-image:url("images/bigPointerHiddenBR.gif");
}

.bigPointerHiddenBC {
    background-image:url("images/bigPointerHiddenBC.gif");
}

.searchSelectList {
    margin-top:-2px;
}

.specialOffer {
    width: 680px;
}
.changeBlockTitleInner {
    margin-right:-27px;
}

.stateDescription {
    width: expression(this.scrollWidth > 350 ? "350px" : "auto");
}

.window .alphabet-list {
    margin-right: -20px;
}
.rightBankStamp {
    right: 50px;
}
.allWidthBlock {
    margin-left: -15px;
}
.clientInfoItemBorder, .clientInfoItem, .shine {
    display: none;
}
.invoiceLeft, .invoiceRight, .invoiceCenter {
    float: left;
}

.invoiceCenter {
    margin: 0 5px;
}
.autoInputWidth, .paymentLabelNew .imgHintBlock {
    display: inline;
    float: left;
    zoom: 1;
}
.paymentLabelNew, .paymentValueNew, .topPosition {
    position: relative;
}
.feedback .inlineBlock {
    display: inline;
    float: left;
}