/* стили для сложности пароля */
.indicator-complexity .gray-state{
    background:url("./images/passGray.jpg") repeat-x scroll;
}

.indicator-complexity .left-gray-state{
   background:url("./images/leftRounderGray.gif") no-repeat;
}

.indicator-complexity .right-gray-state{
   background:url("./images/rightRounderGray.gif") right 0 no-repeat;
}

.indicator-complexity .red-state{
    background-image:url("./images/passRed.jpg") !important;
}

.indicator-complexity .left-red-state{
   background:url("./images/leftRounderRed.gif") no-repeat !important;
}

.indicator-complexity .right-red-state{
   background:url("./images/rightRounderRed.gif") right no-repeat !important;
}

.indicator-complexity .green-state{
   background-image:url("./images/passGreen.jpg") !important;
}

.indicator-complexity .left-green-state{
   background:url("./images/leftRounderGreen.gif") no-repeat !important;
}

.indicator-complexity .right-green-state{
   background:url("./images/rightRounderGreen.gif") right no-repeat !important;
}

.indicator-complexity .orange-state{
   background-image:url("./images/passOrange.jpg") !important;
}

.indicator-complexity .left-orange-state{
   background:url("./images/leftRounderOrange.gif") no-repeat !important;
}

.indicator-complexity .right-orange-state{
   background:url("./images/rightRounderOrange.gif") right no-repeat !important;
}

.indicator-complexity .fill-state{
    background:url("./images/passGray.jpg") repeat-x scroll;
    height:8px;
}

.indicator-complexity .margin-state{
   margin:0 7px;
}

.indicator-complexity .green-text{
    color : green;
}

.indicator-complexity .red-text{
    color : red;
}

.indicator-complexity .orange-text{
    color : orange;
}

div.indicator-complexity{
    height: 20px;
    padding: 7px 0 0 0;
}