a.roundCloseIcon {
    background: url("./images/roundCloseIcon.gif") no-repeat 0 0;
    top: 9px;
    position: absolute;
    right: 9px;
    width: 18px;
    height: 18px;
}

.mcs_container {
    left: 0;
    top: 36px;
    _top: 39px;
    margin: 0;
    height: 187px;
    _height: 185px;
}

.mcs_container .customScrollBox {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.mcs_container .customScrollBox .container {
    position: relative;
    width: 100%;
    top: 0;
    float: left;
}

.mcs_container .customScrollBox .content {
    clear: both;
}

#profileDocuments .mcs_container .customScrollBox .content {
    margin-right: 30px;
}

.mcs_container .customScrollBox .content p {
    padding: 10px 5px;
    margin: 10px 0;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.mcs_container .customScrollBox .content p.alt {
    padding: 10px 5px;
    margin: 10px 0;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
    line-height: 19px;
}

.mcs_container .customScrollBox img {
    border: 5px solid #fff;
}

.mcs_container .dragger_container {
    position: relative;
    width: 9px;
    height: 187px;
    float: left;
    margin: 0 0 0 -12px;
    cursor: pointer;
}

.mcs_container .dragger {
    position: absolute;
    width: 7px !important;
    height: 60px;
    background: url("./images/drag.png") repeat-y 0 0;
    text-align: center;
    margin-left: 1px;
    line-height: 60px;
    color: #666;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
}

.liveSearchComponent
{
    position: static;
    display: inline-block;
      width: 100%;
}

/*
 * Для поля с живым поиском но без рамки
 */
.liveSearchBlockNoFrame span {
    background:  url("./images/searchInputColor.jpg") repeat-x 0 0;
    border:      1px solid #9dafbd;
    display:     block;
    overflow:    hidden;
    padding-top: 0;
}

.paymentValue .liveSearchBlockNoFrame input[type~="text"], .paymentValue .liveSearchSelectList input[type~="text"] {
    width: 100%;
    border: none;
    margin: 0;
}
.inputPosition {
    margin-top: -5px;
}

/*
 * CSS для select`a
 */
.liveSearchBlock {
    padding:       5px;
    background:    #fff3b9;
    border-bottom: 1px solid #e0d8b3;
}

.liveSearchBlock span
{
    background:  url("./images/searchInputColor.jpg") repeat-x 0 0;
    border:      1px solid #9dafbd;
    display:     block;
    height: 23px;
    overflow:    hidden;
    padding-top: 0;
}

.liveSearchBlock input {
    background: url("./images/searchInputColor.jpg") repeat-x 0 0;
    color:#000;
    outline:none;
    font-size:13px;
    margin: 0;
    padding: 4px 25px 4px 9px;
    width: 90%;
    border: none;
}

.liveSearchBlock input.inputPlaceholder {
    color: #999;
    margin-top: 0;
    border: none;
}

.liveSearchSelectBlock {
    cursor:   pointer;
    position: relative;
    z-index: 1;
}

.liveSearchSelect {
    overflow:   hidden;
    background: url("./images/customSearchSelectCenter.gif") repeat-x 0 0;
}

.liveSearchSelectLeft, .liveSearchSelectRight, .liveSearchSelectCenter
{
    height: 26px;
}

.liveSearchSelectCenter
{
    width: 90%;
}

.liveSearchSelectLeft, .liveSearchSelectRight
{
    width: 6px;
}

.liveSearchSelectLeft, .liveSearchSelectCenter
{
    float:left;
}

.liveSearchSelectRight
{
    float:      right;
    background: url("./images/customSearchSelectRight.gif") no-repeat 100% 0;
}

.liveSearchSelectLeft
{
    background: url("./images/customSearchSelectLeft.gif") no-repeat 0 0;
}

.liveSearchSelectCenter .liveSearchSelectTopText {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    line-height: 18px;
    padding-top: 5px;
}

.liveSearchSelectCenter .liveSearchSelectHide
{
    height: 24px;
    position: absolute;
    right: 8px;
    top: 1px;
    width: 25px;
}

.liveSearchSelect .liveSearchSelectArrow {
    height:     13px;
    margin-top: 5px;
    background: url("./images/searchArrow.gif") no-repeat 15px 5px;
}

.liveSearchDropDownContainer
{
    border: 1px solid #d7d7d7;
    border-top: none;
    background-color: #fff;
}

.searchSelectShadow {
    background-color: #fff;
    z-index: 1;
}