#loginPage .phones {
    color: #449d2f;
    text-align: center;
    margin-top: auto;
    padding: 20px;
}
#loginPage .topLine {
    padding-bottom:6px;
}
#loginPage #exit {
    margin: 4px 0 4px 7px;
}
.bottomBckg{
    background: repeat-x top left;
}
h2 {
    font: Arial;
}

#loginPage #header {
    height: 85px;
}
.hdrContainer {height: 80px;}

#loginPage .phones span {
    padding:5px 10px 0 0;
    font-size: 16px;
    font-weight: bold;
}
#LoginDiv .workspace-box{
    margin: 12px auto;
    width: auto;
}

#LoginDiv .workspace-box.red
{
    margin: 12px auto;
    width: auto;
}
#LoginDiv .confirm_hint {
    width: 487px;
}
#LoginDiv #confirm_card .paymentValue {
    width: auto;
}
#LoginDiv  .SelfRegistration #confirm_sms .paymentValue, #LoginDiv  .SelfRegistration #confirm_cardWin .paymentValue {
    width: auto;
    *width: 600px;
}
/*хак для IE 9 и починки остальных версий IE на странице подтверждения входа*/
*:first-child+html #confirm_cardWin, #confirm_smsWin {width: 940px;}
*first-child+html #confirm_cardWin, #confirm_smsWin {width: 940px;}
*#oneTimePasswordWindowWin .r-top-center, #oneTimePasswordWindowWin .r-bottom-center {
    width: auto;
    *width: 900px;
}
*#oneTimePasswordWindowWin .r-content {width: 800px;}
*#oneTimePasswordWindowWin .orange .r-top-center, *#oneTimePasswordWindowWin .orange .r-bottom-center {
    width: 770px;
}
*#oneTimePasswordWindowWin .orange .r-content, *#oneTimePasswordWindowWin .red .r-content  {width: 770px;}
*#oneTimePasswordWindowWin .red .r-top-center, *#oneTimePasswordWindowWin .red .r-bottom-center {
    width: 770px;
}
.window{
    *overflow: hidden;
}
                   
#confirm_card .paymentLabel, #confirm_sms .paymentLabel {
    width: auto;
    margin-left:1em;
}

#confirm_card .paymentValue, #confirm_sms .paymentValue{
    width: 400px;
}

.loginDataBlock{
    position:relative;
    height:1%;
}

.login_info h4 {
    color:green;
    text-align:center;
    padding-bottom:12px;
    font-size:14px;
}

.login_info ul{
    list-style: square outside none;
    margin: 0 0 0 14px;
}

.login_info p, .login_info ul li{
    color: #464646;
    line-height: 14pt;
}

.login_info p.important{
    background-color: transparent;
    padding: 0;
    margin: 10px 0 0 0;
}

.buttonGreen {
    text-align: center;
}
.buttonGreen .text {
    margin:  0 auto;
    float: none;
}

.enterButtons .buttonGreen .text, .enterButtons .simpleLink .text{
    width: 190px;
    text-align: center;
}

.enterButtons .simpleLink .text{
    text-transform: lowercase;
    font-size: 10pt;
     margin: 0 0 0 10px;
}

.inputLogin {
    width:200px;

}

p.paperEnterLink{
    margin: 5px 0;
}

.paperEnterLink a{
    font-size: 11pt;
}

/* строка ввода */
.form-row {
    margin:12px 0;
}

.description {
    padding: 0 0 0 12px;
}

.form-row .paymentValue {
    width: 670px;
}
.window .form-row .paymentValue {
    width: 580px;
}
#LoginDiv .infoMessage {
    width:760px;
}

.infoMessage{
    float:none;
}

.FAQ {
    padding: 6px 0;
    font-size: 11pt;
}

.login_girl{
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    *bottom: 5px;
}

.girl_right{
    display:block;
    position: absolute;
    left: 18px;
    bottom: -8px;
}

.login_info {
    padding: 0 0 0 70px;
    margin-bottom: 2px;
    margin-top:3px;
    *margin-top:10px;
    background: white;
}
.description {
    font:12px Arial;
}

.login_info h1, .newsOnLogin h1{
    font-weight: normal;
    text-align: center;
    display: block;
    text-transform: none;
}

.newsOnLogin h1{
    text-align: left;
}

table.login{
    margin: 10px 335px 5px auto;
}

table.login td{
    padding: 5px 3px;
}

table.login td input{
    width: 210px;
}

#LoginDiv .enterButtons{
    margin: 0 auto;
    width: 275px;
}

#LoginDiv .greenTopRTC{
    text-align: center;
}

.enterButtons .simpleLink {
    color:#449d2f
}

.enterButtons .commandButton{
    float: none;
    margin: 3px 0 3px 45px;
}

#newsOnLogin, #infoOnLogin{
    float: left;
}

#newsOnLogin .workspace-box{
    width: 220px;
    margin: 0 12px 6px 0;
}

#newsOnLogin .grayRC {
    padding: 10px 30px;
}

#newsOnLogin h3{
    margin: 10px 0 5px 0;
}

#infoOnLogin .workspace-box{
    width: 725px;
    *width: 720px;
    margin: 0 0 6px 0;
}

#infoOnConfirm .workspace-box{
    width: 964px
}

#infoOnConfirm .login_info{
    width: auto;
}

#newsOnLogin .plain{
    margin: 0 0 10px 0;
}

#newsOnLogin .important{
    background-color: transparent;
    padding: 0;
    margin: 0 0 10px 0;
}

#newsOnLogin .accountSumContainer{
    float: none;
    margin: 10px 0 5px 0;
}

#newsOnLogin .accountSumCenter{
    font-size: 10pt;
}

#newsOnLogin .teaser{
    margin: 5px 0 0 0;
}

#newsOnLogin .teaser p{
    margin: 10px 0 0 0;
}

.confirmTitle{
    padding: 20px 20px 20px 0; 
}

.confirmButtons{
    width: 380px;
    margin: 0 auto;
    text-align: center;
}

.confirmButtonsExpandedArea {
        width: 570px;
        margin: 0 auto;
    }

.opacity25	{
    filter: alpha(opacity = 25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}

.list {
   list-style-type:disc;
    padding-left: 12px;
    margin-left: 10px;
}

.list li {
    padding-top: 5px;
}

#confirmButtons {
    text-align: center;
    margin:10px 0;
}

#confirmButtons .buttonGreen .text, #confirmButtons .simpleLink .text{
    width: 190px;
}

#newsDiv .workspace-box{
    margin: 12px auto 0 auto;
    width: auto;
}

#newsDiv .greenTopRTC{
    text-align: left;
}
.FNSlogin_girl {
    float:left;
    position:relative;
}
.FNSlogin_info {
    margin: 12px 15px -24px 12px;
    padding: 0 0 24px 80px;
}
#wrapper form {background:none;}

.Login .security_warning {
    padding: 35px 0;
}

.confirm_hint{
    background-color:  #fcf7cc;
	}

.form-row {
    padding-top: 0;
}

.paymentLabel {
    margin-top: 3px;
}

#breadcrumbs {
    width: 710px;
}

.paymentTextValue {
    padding-bottom:2px;
}

.select-all-regions {
    margin-right:20px;
}

.main_container {
    min-width:985px;
    height:100%;
    margin:0 auto;
}

#content {
    padding-bottom: 12px;
}

#errors .workspace-box, #warnings .workspace-box, #inactiveMessages .workspace-box {
    width: auto;
}

.loginWarningMessage {
    color: #ef7c00;
}

.Login .futureStripe, .Login .currentStripe, .Login .pastStripe {
    width:  232px;
}

.Login .form-row {
    margin: 0;
}

.Login .form-row .input-box, .Login .form-row .label-box {
    float: left;
}

.Login .form-row .input-box input {
    margin-left: 5px;
    margin-right: 8px;
}

.Login .form-row .input-box input.vmiddle {
    margin-top: 4px;
}

.Login .form-row .label-box h2 {
    margin-bottom:10px;
}

.Login .hr {
    width: 685px;
    border-width:0;
    margin: 0 auto 0 5px;
    height:4px;
    background-position:left -10px;
}

.Login ul {
    list-style: disc;
    margin: 0 4px 4px 6ex;
}

#LoginDiv .CheckOldPasswordForm .greenTopRTC {text-align:left;}

.iconsTitle {
    vertical-align: middle;
    font-size:12px;
    padding-left:13px;
}

.shield {padding: 10px;}

.newPassword {padding: 5px 10px;}

.chooseConfirmStrategy {
    margin: 0 auto;
}
.Login .connectUDBO {
    margin-left: 160px;
    margin-top: 46px;
}
.Login .accomplishGoal {
    margin-top: 45px;
}