/* MobileBank styles */
#mobilebank p{
    margin:15px 0;
	}
#mobilebank h2{
	color:  #464646;
	display:  block;
	font:  normal 18px Arial;
	margin:12px 0;
	}
#mobilebank td h2 {
    margin-left: -5px;
}

.longTitleTable {
    width: 205px;
}

#mobilebank h2.inline{
	display:  inline;
	line-height:  40px;
	margin-right:  10px;
	}
#mobilebank h3{
	color:  #252525;
	font:  12px Arial;
	}
#mobilebank h4{
	color:  #999;
	display:  inline;
	line-height:  15px;
    font-weight:normal;
	font-size:  16px;
	margin-right:  12px;
	}

#mobilebank .productDivider {*margin-top:-15px !important;}

#mobilebank span.boldPhoneNumber, #mobilebank .productTitle .description span {
    font-size:16px;
    font-weight:bold;
    color:#464646;
}

#mobilebank .registration-block{
    margin:0 -22px 0 0;
    padding:5px 22px 0 0;
	height:  auto;
	background-position: left top;
	}
#mobilebank .registration-params{
	line-height:  25px;
	}
#mobilebank .registration-params th{
	text-align:  right;
    padding:0 12px;
	white-space:  nowrap;
	}
#mobilebank .registration-params td{
	white-space:  nowrap;
	}
#mobilebank .productCDC{
    margin-top:-7px;
	width:  57%;
	}
.highlight{
	width:  auto;
    margin:15px -22px 0 -23px;
	padding-top:  10px;
	background-repeat:  no-repeat;
	}
#mobilebank .card-block{
    margin:10px -22px 5px 0;
	padding-right:  24px;
	padding-top:  0;
	height:  auto;
	background-position: 75px top;
	}
#mobilebank .card-block .highlight{
	background-image:  none;
	margin-top:  0;
	}
#mobilebank .card-block table tr td{
	vertical-align:  top;
	}
#mobilebank table.info-template{
	width:  auto;
	}
#mobilebank .top-header img{
	float:  left;
    margin:0 20px 14px 0;
	}
#mobilebank .grid{
    margin:4px 0 6px 0;
	}
#mobilebank .templates .grid .format{
	word-spacing:  3px;
	}
#mobilebank .grid .example{
	word-spacing:  3px;
	}
#mobilebank .grid tr td{
    padding:4px 12px 5px 12px;
	border-bottom:1px solid #c4c4c4;
	background-image:  none;
	}
#mobilebank .roundTitleTbl .grid tr td {
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
}
#mobilebank .grid td.left{
    padding:inherit 0 inherit 12px;
	}
#mobilebank .grid td.right{
    padding:inherit 12px inherit 0;
	}
#mobilebank .grid td.compact{
	width:  1%;
    padding:0 0 0 4px;
	}
#mobilebank .grid td input{
	/*margin:  -5px -5px;
	*/vertical-align:  middle;
	}
#mobilebank .grid tr#header td{
    padding:8px 12px;
	white-space:  nowrap;
	border-bottom-style:  none;
	}
#mobilebank .grid tr#header td h3{
	font-weight:  bold;
	font-family:  Arial;
	}
#mobilebank .grid .italic{
	font-weight:  normal;
	font-family:  Arial;
	font-style:  italic;
	}
#mobilebank .grid td a{
	color:  #449d2f;
	}
#mobilebank .grid td a.red{
	color:  #eb552a;
	}
#mobilebank .grid .clientButton{
	margin: 0;
	float:  none;
	}
#mobilebank .grid .clientButton .simpleLink .text{
	padding: 0;
	float:  none;
	height:  auto;
	}
#mobilebank .grid .clientButton .simpleLink .text span{
	position:  static;
	font-size:  13px;
	}
#mobilebank .sms-block{
    margin:14px 0;
	}
#mobilebank .sms-block .head{
	font-weight:  bold;
	margin: 0;
	}
#mobilebank .comment{
	float:  left;
	font-style:  italic;
	font:  10pt Arial;
	}
#mobilebank .button-block{
	display:  block;
	}
#mobilebank .button-block.right{
	float:  right;
	margin-right:  6px;
	margin-top:  10px;
	}
#mobilebank .tariff{
	font:12px Arial;
	color:#999;
    display: inline-block;
	}
#mobilebank .statusMobile{
	font:  bold 10pt Arial;
	}
#mobilebank .highlight.green .statusMobile{
	color:  #449d2f;
	}
#mobilebank .highlight.red .statusMobile{
	color:  #eb552a;
	}
#mobilebank .phone-number{
	font:  bold 14pt Arial;
	}
#mobilebank .form{
	margin: 12px;
	}
#mobilebank .form table tr{
    padding:12px 0;
	}
#mobilebank .form table tr th{
	width:  185px;
	text-align:  right;
	padding-right:  14px;
	}
#mobilebank .form table tr td{
	font-weight:  bold;
	color:  black;
	}
#mobilebank .command-list-mobile{
	width:  340px;
	margin-right:  25px;
	float:  right;
	}
#mobilebank table.info-template td{
	width:  auto;
	}
#mobilebank #noBorder{
	border-style:  none;
	}
#mobilebank .imgText{
    margin:-12px 24px 0 24px;
	}
.registration-block .highlight{
	padding-top:  12px;
	}
.marginTop{
	margin-top:  6px;
	}
.paddingTop{
	padding-top:  6px;
	}
#mobilebank .productCenter{
	text-align:  left;
	}
#mobilebank .cardName{
	font-size:  19px;
	}
#mobilebank .productTitle a{
	text-decoration:  none;
	color:  #252525;
	}
#mobilebank .accountNumber{
	text-decoration:  none;
	color:  #252525;
	}
#mobilebank .accountNumber a{
	text-decoration:  none;
	color:  #252525;
	}
#mobilebank .cardName a{
	text-decoration:  none;
	color:  #252525;
    display: block;
    margin-bottom: 5px;
	}
#mobilebank .productType{
	color:  #252525;
	width:  250px;
	margin-top:  10px;
	}
#mobilebank .productRight{
	width:  182px;
	margin-top:  -7px;
	*margin-top: 7px;
	}
#mobilebank .productCover{
	margin:0 0 12px;
    cursor: default;
	}
#mobilebank .buttonSelectCenter{
	width:  132px;
    text-align: center;
    font-family: arial;
	}
#mobilebank .productRightMargin{
	margin-right:  180px;
	}
#mobilebank .smsTemplatesTitle{
	margin: 10px;
	}
#mobilebank .accessCardsBlock{
	margin:  10px;
	padding-top: 17px;
    *margin-top:  0;
	}

#mobilebank .selectOperationsTypeActive{
    cursor: pointer;
    color: #449D2F;
    border-bottom: 1px solid #449D2F;
}
#mobilebank .selectOperationsTypeActive.blueGrayLinkDotted {
	color:  #7ea29f;
    text-decoration: none !important;
    border-bottom: 1px dotted #7ea29f;
}
#mobilebank .selectOperationsTypeActive.linkHoverDotted {
	color:  #f37407;
    border-bottom: 1px dotted #f37407;
}

#mobilebank .bold, #mobilebank .normal {
    border-bottom: none;
}

.invisible{
    display: none;
}

#mobilebank .accessCardsBlock .productTitle span{
	color:  #464646;
    font-size:17px;
	text-decoration:  underline;
	}
#mobilebank .accessCardsBlock .productTitle span.detailStatus, #mobilebank .accessCardsBlock .productTitle span.prodStatus, #mobilebank .accessCardsBlock .productTitle .prodStatus td span {
    text-decoration: none;
}
#mobilebank .accessCardsBlock .productTitle .prodStatus td span, #mobilebank .accessCardsBlock .productTitle a {
    font-size: 12px;
}
#mobilebank .accessCardsBlock .productTitle .lightness {
    height: 25px;
}
#mobilebank .accessCardsBlock .productTitle a{
	color:  #464646;
    display: inline;
	}
#mobilebank .accessCardsBlock .productRight{
	width:  270px;
    margin:0 10px;
	}
#mobilebank .accessCardsBlock .productTitle .description{
	color:  #464646;
	text-decoration:  none;
    font-size:8px;
	}

.teplate-button-block{
    margin:20px 10px;
	color:  #999;
	}

.mobilebankPaymentCards {
    margin-bottom:30px;
}

.hide-show-switch{
    margin-top: 24px;
    margin-bottom: 10px;
    font: 18px/24px Arial;
    color: #449D2F;
    cursor: pointer;
    float: left;
    background: url("images/interfaceArrowsVert.gif") no-repeat 100% 10px;
    padding-right: 15px;
}

.hide-switch {
    background-position: 100% -37px !important;
}

#mobilebank .productCDL {
    width: 42.5%;
}

#mobilebank .status {
    *margin-left:5px;
    *padding-top:1px;
}

.titleAndButton .clientButton {
    margin-top: 5px;
    margin-top: 4px\0/;
}

.titleAndButton {
    margin-bottom: 20px;
}

.login-register-stripe .pastStripe, .login-register-stripe .currentStripe, .login-register-stripe .futureStripe {
    width: 25%;
}