#news{
	color:  #464646;
    padding-bottom:2px;
    padding-top:5px;
    *padding-top:0;
	}
#news .tblInf .ListLine1 td{
	border-width: 0;
	}
#news .tblInf .ListLine0 td{
	border-width: 0;
	}
.news-list span{
	color:  #FFF;
	font:  bold 9pt Arial;
	}
.news-list .news-container-main{
	margin-bottom:  10px;
	}
.news-list div a{
	font-size:  10pt;
	}
.NextNews{
    padding:0 6px 6px 0;
	}
.all-news a{
	font-size:  8pt;
	}
.header-container table{
	width:  100%;
	}
.header-container table td{
	vertical-align:  middle;
    padding:5px;
	}
.header-container div.description{
	font:  10pt Arial;
	}
input.news-search-string{
	color:  #6A6869;
	font:  italic 10pt Arial;
	width:  530px;
    margin:8px 0 0 3px;
	}
.news-container-important{
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
    margin:0 auto;
	}
.news-container{
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	float: left;
	}
.news-container-important p.shortText{
    margin:10px 0 0 0;
	}
.news-container p.shortText{
	margin:10px 0 0 0;
	}
.news-container-important .accountSumContainer{
	color:  #FFF;
	float:  left;
	}
.news-container-important .accountSumContainer .accountSumCenter{
	font-size:  10pt;
	}
.header-container .news-date{
	color:  #449d2f;
	}
.header-container .news-title{
	color:  #252525;
	text-decoration:  none;
	}
.header-container .news-container{
	float:  left;
	}
.header-container .news-container p{
	font-style:  italic;
	margin:5px 0 0 0;
	}
.header-container .news-container p a{
	color:  #449d2f;
	}
.header-container img{
	float:  left;
    margin:0 10px 0 0;
	}
.news-header{
    width: 650px;
}
.news-header img{
	position:relative;
	left:0;
	}
.news-list{
	margin:10px 0 0 7px;
	}
.news-list .important{
    color:#999;
    font-size:11px;
	}
.news-list .plain, .news-list .important {
	margin:0 1px 10px 0;
	}
.news-list .plain h3{
    color:#999;
    font-size:11px;
	}

#newsOnLogin .important .bold {color:#999; font-size:11px;}
.news-list .accountSumContainer{
	float:  none;
	}
.newsLinkTitle{
	display:  block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	}
.important{
	background-color:  transparent;
	padding: 0;
    margin: 0;
	}
.news-date{
	color:  #252525;
	font-size:  12px;
	text-transform:  none;
	}
.view-news .news-date, .list-news .news-date{
    color: #999;
    font-size: 11px;
    padding-bottom: 6px;
}
.view-news .news-title, .list-news .news-title{
    color: #449D2F;
    text-decoration: underline;
    text-transform: none;
    font-size: 12px;
    float: left;
}
.news-title{
	font-size:  14px;
	}
.important-main{
	background-color:  #ecf5ea;
	padding: 5px 0;
	margin: 0 -23px 0 -30px;
	}
.important .news-title{
	line-height:  22px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	}
div.news-title{
	width:  600px;
	text-transform:  uppercase;
	}
.full, .shortText{
	font-size: 12px;
    margin: 10px 0 0;
	}
.full h1{
	color:  #449d2f;
	font-size: 12px;
	text-decoration:  underline;
	text-transform:  none;
	margin-left:  20px;
	}
.full p{
	text-indent:  20px;
	}
.full ul{
	list-style:  square inside;
	margin-left:  20px;
	}
.to-news-list{
	color:  #449d2f;
	float: left;
	font:  13px Arial;
    margin:20px 0 0;
	}
#news .pagination a.active{
	color:  #449D2F;
	font-weight:  normal;
	}
#news-line table.tblInf td{
	padding: 0;
    border-bottom: 1px solid #E5E5E5;
	}

#news .filterMore h1{
    color: #449D2F;
}

.mainPageNews .grayRC {*margin-top:0;}
.mainPageNews .grayRC .news-list {*margin-top:0;}

#news-line .shortText {
    width: 650px;
}

.shortText .whole-words {
    float: left;
}