.personSNILS, .personDL, .personRC {
    width: 229px;
    height: 151px;
}
.personSNILS {
    background: url("images/profile/dulSnils.png") no-repeat 0 0;
}
.personSNILS:hover {
    background: url("images/profile/dulSnils.png") no-repeat 0 -158px;
    border: none;
    margin: -2px 10px 10px 0;
    padding: 2px 0 0 0;
}
.addDocOrIdentContainer .personSNILS:hover {
    margin: -1px 10px 10px 0;
    padding-top: 1px;
    height: 151px;
}
.personSNILS.withBasket {
    width: 227px;
}
.personSNILS.withBasket:hover {
    left: -10px;
    top: -8px;
    height: 151px;
    width: 230px;
}
.personSNILS.withBasket:hover .documentTitleEmpty {
    margin-top: 20px;
}

.withBasket:hover .documentTitleEmpty {
    margin-top: 22px;
    margin-left: 25px;
}
.withBasket:hover .documentDescEmpty {
    margin-left: 25px;
}
.withBasket:hover .addDocumentButton {
    margin-left: 15px;
}

.personDL {
    background: url("images/profile/dulDl.png") no-repeat 0 2px;
    margin-right: 8px;
}
.personDL:hover{
    background: url("images/profile/dulDl.png") no-repeat 0 -157px;
    margin-top: 0;
    margin-left: 0;
    border: none;
    padding-bottom: 2px;
}
.personRC {
    background: url("images/profile/dulDl.png") no-repeat 0 2px;
    margin-right: 8px;
}
.personRC:hover{
    background: url("images/profile/dulDl.png") no-repeat 0 -157px;
    margin-top: 0;
    margin-left: 0;
    border: none;
    padding-bottom: 2px;
}
.addDocOrIdentContainer .personINN {
    margin-top: -3px;
}

.buttonGreen {
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.buttonGreen .left-corner {
    background-position:left top;
    display: block;
    height:35px;
    background-image:url("images/button_leftCorner2.png");
    background-repeat:no-repeat;
    float:left;
    width:23px;
}

.buttonGreen .text {
    color:#fff;
    text-decoration:none;
    background-image:url("images/button_center2.png");
    background-repeat:repeat-x;
    float:left;
    font: 14px/30px Arial;
    padding:0 2px;
    vertical-align:middle;
    height:35px;
}

.buttonGreen .right-corner {
    background-position:right top;
    display:block;
    height:35px;
    background-image:url("images/button_rightCorner2.png") !important;
    background-repeat:no-repeat;
    float:left;
    width:23px;
}

.buttonGreen:hover .left-corner {
    background-position:left -36px;
}
.buttonGreen:hover .text {
    background-position:left -36px;
}
.buttonGreen:hover .right-corner {
    background-position:right -36px;
}

.buttonGreen.buttonGreenClick:hover .left-corner {
    background-position:left -71px;
}
.buttonGreen.buttonGreenClick:hover .text {
    background-position:left -71px;
}
.buttonGreen.buttonGreenClick:hover .right-corner, .buttonGreen:active .right-corner {
    background-position:right -71px;
}

.buttonGreen.disabled {
    background: none;
}

.buttonGreen.disabled .left-corner {
     background-image:  url(images/error_button_left.png);
 }
.buttonGreen.disabled .right-corner {
    background-image:  url(images/error_button_right.png) !important;
}
.buttonGreen.disabled .text {
    background-image:  url(images/error_button_center.png);
}

.buttonGreen.disabled:hover div, .buttonGreenClick:hover div {
    background-position-y: 0 !important;
}
.noButton .buttonGreen {
    padding: 0;
}
.noButton .buttonLightGray, .noButton .buttonGreen {
    height: 35px;
}
.buttonLightGray .right-corner {
    background-image: url("images/buttonLightGray_right2.gif");
}
.noButton .buttonGreen .left-corner, .noButton .buttonGreen .right-corner, .noButton .buttonLightGray .left-corner, .noButton .buttonLightGray .right-corner {
    display: block;
    width: 15px;
}

.buttonGrey, .buttonGreen,  .buttonGrey .left-corner, .buttonGrey .text, .buttonGrey .right-corner, .simpleLink .left-corner, .simpleLink .text, .simpleLink .right-corner {
    height: 35px;
    position: relative;
}
.imageAndButton .left-corner, .imageAndButton .right-corner, .imageAndButton .text, .immitate .buttonGrey .left-corner {
    height: 25px;
}
.buttonGrey .text span, .commandButton .buttonGrey .text span {
    margin-top: 5px;
}
.simpleLink .text span {
    margin-top: 7px;
}
.buttonsArea .buttonGrey, .imageAndButton .buttonGrey .text span {
    margin-top: 2px;
}

#historyButton .blueGrayLinkDotted .text {
    padding-top: 2px;
}
/* серая кнопка в Профиле*/

.lightGrayProfileButton span {
    line-height: 18px;
}

.lightGrayProfileButton, .lightGrayProfileButton:hover {
    background: none !important;
    border: none !important;
    padding: 0;
}

.lightGrayProfileButton div {
    font: 14px/30px Arial;
    display: block !important;
    float:left !important;
    color:#fff;
    height:35px;
}
.lightGrayProfileButton .left-corner, .lightGrayProfileButton .right-corner {
    width: 23px;
}

.lightGrayProfileButton .left-corner {
    background: url("images/lightGrayProfileBtn_left.png") no-repeat left 1px;
}

.lightGrayProfileButton .text {
    text-decoration:none;
    background:url("images/lightGrayProfileBtn_center.png") repeat-x 0 1px;
    padding:0 2px;
    vertical-align:middle;
}

.lightGrayProfileButton .right-corner {
    background:url("images/lightGrayProfileBtn_right.png") no-repeat right 1px;
}
.lightGrayProfileButton:hover .left-corner {
    background-position:left -43px;
}
.lightGrayProfileButton:hover .text {
    background-position:left -43px;
}
.lightGrayProfileButton:hover .right-corner {
    background-position:right -43px;
}
.lightGrayProfileButton.profileButtonClick .left-corner {
    background-position:left -87px;
}
.lightGrayProfileButton.profileButtonClick .text {
    background-position:left -87px;
}
.lightGrayProfileButton.profileButtonClick .right-corner {
    background-position:right -87px;
}
/*end серая кнопка в Профиле*/
/*главное меню*/
#menu .mainMenu {
    box-shadow: none;
}
#menu td {
    background: url("images/menu_tabs_center.png") repeat-x 0 0 transparent;
    padding-bottom: 5px;
}
#menu td span.menuItems {
    border-left: 1px solid #51b25d;
    border-right: 1px solid #248931;
    height:38px;
}
#menu td.clickMenu:hover span.menuItems {
   border-left: 1px solid #206226;
   border-right: 1px solid #1a5c1f;
}
#menu td.firstPosition {
    background: url("images/menu_tabs_left.png") no-repeat 0 0 transparent;
}
#menu td.lastPosition {
    background: url("images/menu_tabs_right.png") no-repeat 100% 0 transparent;
}
#menu td.lastPosition span.menuItems, #menu td.lastPosition:hover span.menuItems {
    border-right: none;
}
#menu td.lastPosition {
    border-right: none !important;
}
#menu td:hover, #menu td.active:hover {
    background: url("images/menu_tabs_center.png") repeat-x 0 -54px transparent;
}
#menu td:hover span.menuItems, #menu td.active:hover span.menuItems {
    border-left: 1px solid #48a152;
    border-right: 1px solid #1f7627;
}
#menu td.firstPosition:hover {
    background: url("images/menu_tabs_left.png") no-repeat 0 -54px transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid transparent;
}
#menu td.lastPosition:hover {
    background: url("images/menu_tabs_right.png") no-repeat 100% -54px;
    border-top: none;
    border-bottom: none;
}
#menu td.firstPosition span.menuItems, #menu td.firstPosition {
    border-left:1px solid transparent;
}
#menu td.firstPosition:hover span.menuItems {
    border-left: 1px solid transparent;
}
#menu td.clickMenu, #menu td.active.clickMenu {
    background: url("images/menu_tabs_center.png") repeat-x 0 -108px transparent;
    border: none;
}
#menu td.firstPosition.clickMenu {
    background: url("images/menu_tabs_left.png") no-repeat 0 -108px transparent;
}
#menu td.lastPosition.clickMenu {
    background: url("images/menu_tabs_right.png") no-repeat 100% -108px transparent;
}
#menu td.active {
    background: url("images/menu_tabs_center.png") repeat-x 0 -162px transparent;
}
#menu td.active span.menuItems {
    border-left: 1px solid #F4A223;
    border-right: 1px solid #DD8516;
}
#menu td.active.clickMenu span.menuItems {
    border-left: 1px solid #206226;
    border-right: 1px solid #1a5c1f;
}
#menu td.firstPositionActive {
    background: url("images/menu_tabs_left.png") repeat-x 0 -162px transparent;
}
#menu td.firstPositionActive {
    background: url("images/menu_tabs_left.png") repeat-x 0 -162px transparent;
}
#menu td.lastPositionActive {
    background: url("images/menu_tabs_right.png") repeat-x 100% -162px transparent;
}
#menu td.lastPositionActive:hover, #menu td.lastPositionActive:hover span {
    border-right: none !important;
}
#menu td.active, #menu td:hover, #menu td.active:hover, #menu td #dropDownMenu td span.menuItems, #menu td  {
    border: none;
}
#menu td.firstPositionActive span.menuItems {
    border-right: 1px solid #dd8216;
    border-left: 1px solid transparent;
}
#menu td.lastPositionActive span.menuItems {
    border-left: 1px solid #f4a723;
    border-right: 1px solid transparent !important;
}
#menu td.firstPositionActive.clickMenu span.menuItems {
    border-right: 1px solid #1a5c1f;
}
#menu td.firstPositionActive.clickMenu span.menuItems {
    border-left: 1px solid transparent;
}
#menu td.lastPositionActive.clickMenu span.menuItems {
    border-left: 1px solid #206226;
}
/*end главное меню*/
/* блок поиска*/
.paymentFilter .searchForm {
    background: url("images/roundSearch.png") no-repeat 0 0 transparent;
}
.rightRound {
    background: url("images/roundSearch.png") no-repeat 100% 0 transparent;
}
.paymentFilter .searchForm .cetnerSearch {
    background: #d7e7e9 url("images/roundSearch.png") repeat-x 0 100%;
}
.paymentFilter .searchForm .cetnerSearch {
    margin-right: 4px;
}
/*end блок поиска*/
/* Кастомный скролл*/
.mcs_container .dragger {
    background: none;
}
.mcs_container .dragTop {
    background: #fff url("images/dragger.png") no-repeat -10px 0;
    top:0;
    left: 0;
    height:5px;
    position:absolute;
    width:10px;
}
.mcs_container .dragBottom {
    background: #fff url("images/dragger.png") no-repeat -20px 100%;
    bottom:0;
    left: 0;
    height:5px;
    position:absolute;
    width:10px;
}
.mcs_container .dragInner {
    background: url("images/dragger.png") repeat-y 0 0;
}
/*end Кастомный скролл*/

/* mobileBubble*/
#profileWorkspace .view-mobileApplications table .pushSupported .deviceStatus {
    background-color: transparent;
    display: inline-block;
    padding: 13px 0 10px 0;
}
.mobileBubbleLeft {
    background: url("images/mobileBuble.png") no-repeat 0 -61px;
    display: inline-block;
}
.mobileBubbleRight {
    background: url("images/mobileBuble.png") no-repeat 100% 0;
    display: inline-block;
}
.mobileBubbleInner {
    background: url("images/mobileBuble.png") repeat-x 0 100%;
    display: inline-block;
    margin: 0 26px;
}
/*end mobileBubble*/
#LoginDiv .enterButtons {
    width: 290px;
}
a.saveExit span {
    line-height: 12px;
    margin-top: 5px;
}
#dropDownMenu{
    box-shadow: 0 3px 8px rgba(206,204,204,1);
}
.errorRed {
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color='#f5e6e6', Direction=45, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#f5e6e6', Direction=135, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#f5e6e6', Direction=225, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#f5e6e6', Direction=315, Strength=6);
    padding-bottom: 0\0/;
}
.errorRedTriangle {
    left: -28px\0/;
    top: 28px\0/;
}
.errMsg {
    position: relative;
    padding: 12px 20px 0 14px\0/;
    margin-bottom: -5px\0/;
}
.errorDivPmnt {
    margin: -50px 0 0 0 \0/;
}
.simpleFilter .dictionary-fields {
    *display: inline;
    *float: left;
    *zoom: 1;
}
li.is-invoiceSubscription.is-typeActive:first-child .is-top-hover {
    top: -53px\0/;
}
#profileWorkspace .view-mobileApplications table .pushSupported .deviceStatus {
    position: static\0/;
    *position: static;
}
.autoScrollBox {
    position: relative;
}
.hiddenBox {
    margin-top: -5px;
}
.goalsType {
    *display: inline;
    *zoom: 1;
}
.btn_edit {
    box-shadow: -1px 1px 1px 0 rgba(224, 220, 219, 1)\0/;
}
.shadowCell {
    box-shadow: -1px 3px 10px rgba(218, 221, 223, 0.9)\0/;
}