.pfr-statement-table {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    margin: 0 0 0 60px;
}

.pfr-statement-table th {
    background-color: #C0C0C0;
    font: bold 10pt Arial;
}

.pfr-statement-table th, .pfr-statement-table td {
    border-right: 1px solid #000;
    padding: 3px;
    border-bottom: 1px solid #000;
}

/* печатные формы заявок на кредит и виртуальную карты */
h2.loan_print_form {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}
h3.loan_print_form {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    line-height: 250%;
}
table.loan_print_form {
    width:20cm;
    font-size: 14px;
    text-align:left;
    line-height: 200%;
    margin-left: 35px;
    margin-top: 20px;
}

td.loan_print_form_right {
    text-align:right;
    text-decoration:underline;
}

td.loan_print_2td  {
    colspan:2;
    text-align:center;
}

td.virtual_cards_print_form_left {
    text-align:left;
    text-decoration:underline;
}

td.virtual_cards_print_form_right_text {
    width: 40%;
}

body {
    background-color: #fff;
    background-image: none;
}

.MaxWidth {width:100%;}

table{
	color:  #3d3d3d;
	font-size:  12px;
	font-family:  Arial;
	line-height:  1.2em;
	}

.needBorder table {
    border:0 solid #FFF;
}

h4.ratesPrintTitle {
    font-family:Arial;
    font-size:24px;
    font-weight:normal;
    color:#464646;
}

table.ratesTable td, table.ratesTable tr {
    border-collapse:collapse;
}

.ratesTable {
    border-color:#9F9F9F;
    border-style:solid;
    border-width:1px 0 0 1px;
    padding:0 !important;
    color:#464646;
    font-family:Arial !important;
    width:850px;
}

table.ratesTable td {
    border-color:#9F9F9F;
    border-style:solid;
    border-width:0 1px 1px 0;
    padding:5px;
    text-align:right;
    font-size:12px;
}

.ratesTable th {
    border-bottom:1px solid #9F9F9F;
    border-right:1px solid #9F9F9F;
    font-family:Arial;
    font-size:12px;
    padding-bottom:6px;
}

.rateTarifPlan {
    font-weight:bold;
    font-size:14px;
    text-align:left;
    margin-left:-4px;
}

table.ratesTable td.sellingRate {
    font-size:12px;
    font-weight:bold;
    text-align:left !important;
}

.ratesTable tr.tblInfHeader th {
    background:none;
    padding-bottom:2px;
    padding-top:6px;
}

.printSecAccInfo td{
    padding: 5px;
}

.bottomStamp {
    margin-bottom: 100px;
}