/* products styles */
h2.additionalInfoHeader{
	display:  inline;
	}
.additional-product-info{
	width:  100%;
	margin:0 auto;
	}
.additional-product-info td{
	font:  10pt Arial;
	padding: 6px 5px 7px;
	}
.additional-product-info td.grayBlockTitle{
    width: auto;
	}
.additional-product-info td.field{
	color:  #464646;
    vertical-align: top;
	}
.firstColumnFix td.field {
    vertical-align: middle;
}
.additional-product-info td input{
	float:  left;
    margin-top: 2px;
	}
.additional-product-info td.save-template{
	float:  right;
	}
.additional-product-info tr.form-row td input {
    margin-top:3px;
    margin-right:3px;
    *margin-right:0;
}
.firstColumnFix td.fixColumn {
    width: 209px;
}
.another-container{
	margin-right:  12px;
	margin-top:  12px;
	width:  250px;
	padding-left:  45px;
	word-wrap:  break-word;
	overflow:  hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
	}
.another-container .another-name{
	color:  #252525;
	font:  14px;
	text-decoration: underline;
	}
.another-container .another-number{
	color:  #252525;
	font:  14px;
	text-decoration: none;
	}
.another-container .another-type{
	font:  normal 9px Arial;
	color:  #999;
	}
.another-container img{
	position:  relative;
	left:  -45px;
	margin-right:  -42px;
	float:  left;
	}
/* end products styles */
#detailFilterButton{
    margin:0 0 0 90px;
	float:  none;
	clear:  left;
	}
/* cards styles*/
.payments-list-from-card{
	width:  450px;
    margin:10px 0 20px 0;
	}
.payments-list-from-card a{
	color:  #449d2f;
	font:  10pt Arial;
	}
.eMailAbstractButtons{
	width:  75%;
	margin-left:  -40%;
    padding:12px 0;
	}
/* deposits styles*/
#deposit-detailST{
    margin:6px 0 12px 0;
	}
/* end deposits styles 
 abstract styles */
#sendAbstract .windowButtons{
	text-align:  center;
	padding-left:  200px;
	}
#sendAbstract a.grey{
	color:  #8a8a8a;
	font-size:  12px;
	}
#sendAbstract .operations{
	width:  645px;
	}
#sendAbstract .operations tr.title td{
	font-weight:  bold;
	}
#sendedHistory{
	padding: 12px;
	}

#sendedHistory a{
	text-decoration: none;
    color: #3d3d3d;
	}
#sendAbstract #filter{
	padding-top:  0;
	padding-bottom:  6px;
	margin-top:  0;
	}
#sendAbstract .title{
	display:  block;
	margin-bottom:  12px;
	font-weight:  bold;
	}
#sendAbstractWin #sendAbstract .title {
    margin-bottom:20px;
}
#depoPaymentTable{
    margin:6px 0 12px 0;
	}
#depoPaymentTable th{
	text-align:  center;
	}
/* end abstract styles 
 errors styles */
#winErrors .workspace-box{
	width:  630px;
	}
#winErrors img{
	float:  left;
	}
#winErrors .infoMessage{
    background:  none;
    padding: 5px 0 0 0;
	}
#sendAbstract #winErrors .infoMessage {
    padding:0 0 5px 5px;
}
.title {
    margin-top: 6px;
    *margin-top: 15px;/*ie7, ie6 hack*/
}
/* end errors styles*/
.tabContainer{
	width:  700px;
	margin:0 0 0 -31px;
	}
.workspace-box.greenTop .tabContainer{
	margin-top:8px;
	}
.depositInfoTable{
    margin:0 -10px 0 -8px;
	}
.windowShadowTable{
	width:  100%;
    border-bottom:1px solid #E5E5E5;
    margin:12px 0;
	}
.windowShadowTable .tblInfHeader th{
	white-space:  normal;
	padding: 5px;
	}
.windowShadowTable td{
	border-top:1px solid #E5E5E5;
	vertical-align:  top;
	padding: 3px;
	}
.windowShadowTable td.first{
	padding-left:  10px;
	}
#depositDetailWin .windowShadowTable td.textNobr {
    padding-left: 3px !important;
}
.windowShadowTable th.first{
	padding-left:  10px !important;
	}
.windowShadowTable td.last{
	padding-right:  10px;
	}
.windowShadowTable th.last{
	padding-right:  10px;
	}
#detailInfoTable{
	width:  100%;
	font:  13px Arial;
    clear:both;
    padding-top:1px;
	}
.profile-view-products table{
	width:  100%;
	font:  10pt Arial;
	}
#detailInfoTable td.align-right{
	padding-right:  6px;
	}
.windowShadowTable th{
	color:  #464646;
	font:  bold 10pt Arial;
	background-position: left bottom;
	background-repeat:  repeat-x;
    padding:6px 0 6px 6px;
	}
#detailInfoTable th{
	background-position: left bottom;
	background-repeat:  repeat-x;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
	padding-left:6px !important;
    font: bold 11px/18px Arial;
    text-transform: uppercase;
    color: #888;
	}

#detailInfoTable th.emptyCell, .depoPositionInfo tr.markTitle th.emptyCell, .depoPositionMarkerInfo tr.markTitle th.emptyCell, .simpleTable tr th.emptyCell {
    background-color: transparent;
    padding-left: 12px !important;
}
th.leftRoundCell, .simpleTable .tblInfHeader th:first-child, .depoPositionInfo .tblInfHeader th:first-child, .depoPositionMarkerInfo .tblInfHeader th:first-child,
.roundTitleTbl th:first-child {
    border-top-left-radius: 7px;
}
th.leftRoundCell input {
    margin: 0 !important;
}
th.rightRoundCell, .simpleTable .tblInfHeader th:last-child, .depoPositionInfo .tblInfHeader th:last-child, .depoPositionMarkerInfo .tblInfHeader th:last-child,
.roundTitleTbl th:last-child {
    border-top-right-radius: 7px;
    padding-right: 15px !important
}
#detailInfoTable th.leftRoundCell, .simpleTable td.leftPaddingCell, .simpleTable th.leftRoundCell {
    padding-left: 17px !important;
}
.simpleTable .tblInfHeader th:first-child, #detailInfoTable .tblInfHeader th:first-child, .depoPositionInfo .tblInfHeader th:first-child,
.depoPositionMarkerInfo .tblInfHeader th:first-child, .simpleTable td:first-child, .roundTitleTbl td:first-child, .roundTitleTbl #detailInfoTable th:first-child {
      padding-left: 15px !important;
  }
#detailInfoTable td.rightPaddingCell, .depoPositionInfo td.rightPaddingCell, .simpleTable td.rightPaddingCell, .simpleTable td.rightPaddingCell,
.simpleTable td:last-child, .depoPositionMarkerInfo td:last-child, .roundTitleTbl td:last-child {
    padding-right: 12px !important;
}
#detailInfoTable th.rightRoundCell, .depoPositionInfo th.rightRoundCell, .depoPositionMarkerInfo th.rightRoundCell, .simpleTable th.rightRoundCell {
    padding-right: 24px !important;
}
.titleTable input {
    margin-top: 0;
    margin-bottom: 0;
}
.profile-view-products th{
	color:  #888;
	font-size:11px;
	background-position: left bottom;
	background-repeat:  repeat-x;
	padding:8px 0 8px 12px;
    background-color:#f6f6f6;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
	}
.depoPositionInfo th{
	color:  #464646;
	font: 10pt Arial;
	background-position: left bottom;
	background-repeat:  repeat-x;
	padding:6px 0 6px 6px;
	}
.depoPositionInfo tr.markTitle th, .depoPositionMarkerInfo .markTitle th {
    color:  #888;
    font-size:11px;
    background:#f6f6f6;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
}
.depoPositionMarkerInfo .markTitle th{
	background-position: left bottom;
	background-repeat:  repeat-x;
	padding:6px 0 6px 6px;;
	}
.tblInf.shadow th{
	padding:6px 0 6px 6px;
	}
#detailInfoTable td, .mobilebankCadrs table.depositProductInfo td {
	color:  #252525;
	padding:6px 0 6px 6px;
    vertical-align: middle;
	}
.tabs ul{
    margin:0 0 0 15px;
	}
.tabs ul li{
	float:  left;
    margin:6px -1px 0 0;
	width:  160px;
	}
#profile .tabs ul li{
	width:  180px;
	}
.tabs li a{
	color:  #464646;
	display:  block;
	font:  bold 9pt Arial;
    padding:10px 0;
	text-align:  center;
	}
.tabs ul li.inactive{
	background-position: 0 0;
	background-repeat:  no-repeat;
	background-color:  transparent;
	background-attachment:  scroll;
	height:  35px;
	}
.tabs li.inactive a{
	background-position: 100% 0;
	background-repeat:  no-repeat;
	background-color:  transparent;
	background-attachment:  scroll;
	}
.tabs ul li.active{
	background-position: 0 0;
	background-repeat:  no-repeat;
	background-color:  transparent;
	background-attachment:  scroll;
	height:  40px;
    margin:2px -1px 0 0;
	}
.tabs li.active a{
	background-position: 100% 0;
	background-repeat:  no-repeat;
	background-color:  transparent;
	background-attachment:  scroll;
    padding:13px 0;
	text-decoration:  none;
	}
.tabs .left{
	width:  4px;
	height:  46px;
	float:  left;
	background-position: left top;
	background-repeat:  no-repeat;
	}
.tabs .right{
	width:  4px;
	height:  46px;
	float:  right;
	background-position: left top;
	background-repeat:  no-repeat;
	}
.tabs .center{
	float:  left;
	width:  699px;
	height:  46px;
	background-position: left top;
	background-repeat:  repeat-x;
	}
.abstractContainer{
	text-align:  right;
	color:  #464646;
	font:  15px Arial;
	height:  28px;
    margin:10px 20px 0 0;
    clear:both;
	}
@media print{
    .NotPrintable{
        display:none;
    }
}
.form-row img{
    margin:-3px 0 0 0;
	}
span.createTemplateRowHint {
    display:inline-block;
    vertical-align:middle;
    *display:inline;
    *zoom:1;
    *padding-left:3px;
}
h2.section{
	color:  #464646;
	font:  14pt Arial;
    margin:0 0 0 30px;
	}
h2.section span a{
	color:  #449d2f;
	font:  10pt Arial;
	}

.loan-offer-template .productCDC{
	width:  40%;
}

.loan-offer-template td.alignMiddle .productRight{
	width:  100px;
    *position: relative;
}
.loan-offer-template .productTitle .productButtonsAndOperations .prodStatus {
    margin-top: 0;
}

.loan-offer-template span.amountStatus{
    margin-top: 13px;
}

.loan-offer-template .titleName {
    height: 40px;
    *height: auto;
}

.loan-offer-template .productLeft{
	margin-top: 3px;
}

#loaltyProgramDetail .tblInfHeader th{
    vertical-align: bottom;
}
#offersList{
    padding: 10px;
}

#offersList .grid table.tblInf {
    border:1px solid #e5e5e5 !important;
    border-collapse:separate;
    padding-right:0;
}
#offersList .grid table.tblInf tr td{
    padding-left: 5px;
}
#offersList  span.link{
    cursor: default;
}
.abstractFilter {
    clear:both;
}

.insuranceTemplate .emptyMessage{
    color:  #252525;
}
.insuranceTemplate .productLeft .companyName{
    display: block;
    color: #999;
    margin-bottom: 3px;
}
.insuranceTemplate .productTitle .productTitleText{
    width:95%;
}

.securityAccountTemplate .productCDL{
    width: 60%;
}
.securityAccountTemplate .emptyMessageHeader{
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
#loaltyProgramDetail .emptyMessageHeader{
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.securityAccountTemplate .emptyMessage p{
    font-size: 14px;
    line-height: 18px;
    color: #464646;
}
.loyaltyProgramTemplate .productTitle .productName span a {
    *float: left;
}
.loyaltyProgramTemplate .updateTime{
    color: #7b7b7b;
    font-size: 12px;
    margin-top: 5px;
}
.loyaltyInfoIcon {
    background: url(./images/bonus-ico-green.gif) no-repeat right top;
    display: inline-block;
    height: 8px;
    margin-bottom: 4px;
    padding-left: 2px;
    width: 10px;
}
.loyaltyInfo a:hover .loyaltyInfoIcon {
    background: url(./images/bonus-ico-green-hover.gif) no-repeat right top;
}
.loyaltyInfo a{
    cursor: pointer;
    color: #449d2f;
    line-height: 20px;
}
.productText .loyaltyInfo a {
    text-decoration: underline;
}

.conditionText {
    font-size: 13px;
    color: #000;
    padding-left: 7px;
    font-weight: bold;
}
.underHeader {
    color: #222;
    font: 14px/20px Arial;
    padding: 10px 0;
}
.h-desc {
    color: #222;
    font: 13px/17px Arial;
}
.loanOfferBlock{
    width: 310px;
}
#workspace .loanOfferBlock .workspace-box{
    width: 300px;
    margin-bottom: 10px;
}

#percentInfo td{
    border:1px solid gray;
    font-weight: normal;
    text-align: right;
}

.forProductBorder .mini-abstract .listItem {
    border: none;
}
.forProductBorder .mini-abstract td {
    padding-left: 0 !important;
}

.forLoanOfferBorder  {
    margin-top: 18px;
    padding: 0;
    width: 670px;
}
.loanOfferImg  {
    float: left;
    width: 67px;
    text-align: center;
    margin-right: 17px;
}
.loanOfferContainer {
    float: right;
    width: 584px;
}
.loanOfferTitle {
    color: #000;
    font: 24px Arial;
    margin-bottom: 7px;
    margin-top: 5px;
}
.loanOfferDesc {
    font: 14px/18px Arial;
    margin-bottom: 21px;
    color: #000;
}