#profile h2{
	color:  #999;
	font: normal 16px/28px Arial;
	}
#profile h3{
	color:  #464646;
	}
#profile img{
	float:  left;
	}
#profile .favourites-operations table td .personal-menu-settings-item, .payments-templates table td .personal-menu-settings-item{
	overflow:  hidden;
	word-wrap:  break-word;
	}
.tabs-container{
    border-top:1px solid #fff;
	}
.personal-tab{
	float:  left;
	font:  9pt Arial;
    padding:5px 10px;
	margin: 0;
	text-transform:  uppercase;
	}
.interface-tab{
	float:  left;
	font:  9pt Arial;
	padding:5px 10px;
	margin: 0;
	text-transform:  uppercase;
	}
.security-tab{
	float:  left;
	font:  9pt Arial;
	padding:5px 10px;
	margin: 0;
	text-transform:  uppercase;
	}
.tab-spacer{
	float:  left;
	font:  9pt Arial;
	padding:5px 10px;
	margin: 0;
	text-transform:  uppercase;
	}
.none{
	display:  none;
	}
.tab-wrap{
	float:  left;
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
    margin:0 1px 0 0;
	}
.tab-wrap a{
	color:  #fff;
	}
.personal-tab.active-tab{
	font-weight:  bold;
	background-position: right top;
	background-repeat:  no-repeat;
	}
.interface-tab.active-tab{
	font-weight:  bold;
	background-position: right top;
	background-repeat:  no-repeat;
	}
.security-tab.active-tab{
	font-weight:  bold;
	background-position: right top;
	background-repeat:  no-repeat;
	}
.personal-tab.unactive-tab{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	font-weight:  bold;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.interface-tab.unactive-tab{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	font-weight:  bold;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.security-tab.unactive-tab{
	cursor:  pointer;
	text-decoration:  underline;
	color:  #fff;
	font-weight:  bold;
	background-repeat:  repeat-x;
	background-color:  #90c030;
	}
.interface-main-items{
	display:  none;
	}
.interface-accounts-items{
	display:  none;
	}
.active-interface{
	text-decoration:  none;
	color:  #464646;
	}
.inactive-interface{
	text-decoration:  underline;
	color:  #449d2f;
	}
.personal-items table{
    margin:10px 0;
	}
.security-items table{
	margin:10px 0;
	}
.personal-items table td{
	font:  10pt Arial;
	padding: 5px;
	}
.security-items table td{
	font:  10pt Arial;
	padding: 5px;
	}
.security-items table th{
	font:  bold 13pt Arial;
    padding:10px 0;
	}
.personal-items .edit, .interface-items .edit{
	color:  #449d2f;
	font:  10pt Arial;
	}
#profile .region-select{
	float:  left;
	}
#profile .save-template-hint{
    margin:0 0 -5px -5px;
	}
.security-items h2{
	font-size:  18px;
	font-weight:  bold;
	color:  #464646;
    padding:12px 0;
	}
.interface-items .info{
	color:  #252525;
	font:  10pt Arial;
	margin-bottom:  10px;
	}
.interface-items .payments-templates{
	float:  left;
	display:  inline;
	margin-bottom:  20px;
	}
.interface-items-margin {
    margin-left: 90px;
	}
.interface-items-margin .ui-sortable, .noSortable {
    margin-bottom: 14px;
}
.personal-menu-settings {
    margin-left: -90px;
}
.payments-templates .payments-templates{
	float:  left;
	display:  inline;
	margin-bottom:  20px;
	}
.interface-items .payments-templates .personal-menu-settings-item, .interface-items .favourites-operations .personal-menu-settings-item{
	float:  left;
	width:  210px;
	}
.interface-items .favourites-operations{
	float:  left;
	display:  inline;
	margin-bottom:  20px;
	margin-left:  16px;
	}
.interface-items .emptyText{
	margin-bottom:  20px;
}

.interface-items table th{
    background:#f6f6f6;
    border-bottom: 1px solid #eaeaea;
    font-size:11px;
	color:  #888;
	padding:8px 6px;
    text-transform: uppercase;
	}
#mobilebank .interface-items table th {
    padding-left: 12px;
}
.interface-items table th a{
	color:  #449d2f;
	font:  10pt Arial;
	margin-left:  20px;
	}
#profile .shortProductInfo{
	width:  370px;
	overflow:  hidden;
	}
#profile .shortProductInfo .prodStatus{
	white-space:  nowrap;
	}
#profile .shortProductInfo .card-number{
	white-space:  nowrap;
	}
.shortProductInfo{
	word-wrap:  break-word;
	word-break:  break-word;
	}
.shortProductInfo a{
	word-wrap:  break-word;
	word-break:  break-word;
	}
.shortProductInfo span{
	word-wrap:  break-word;
	word-break:  break-word;
	}
.interface-items table td{
    vertical-align: middle;
	}
.profile-view-products table td, .interface-items table td {
	color: #252525;
	font: 10pt Arial;
	border-bottom:1px solid #E5E5E5;
	padding: 5px 2px 5px 5px;
	}
#reference .payment-templates .grid table.tblInf {
    border: none !important;
}
.interface-items table td a{
	color:  #449d2f;
	}
.buttons-area{
    padding:12px 0 24px 0;
    margin:0 0 10px 0;
	}
.interface-personal-items table td{
	padding: 0;
	border-bottom:1px solid #c4c4c4;
	}
.interface-personal-items .payments-templates{
	float:  left;
	display:  inline;
	margin-bottom:  20px;
	}
.interface-personal-items .favourites-operations{
	float:  left;
	display:  inline;
	margin-bottom:  20px;
	}
a.profile-region-select-button{
	padding-right:  15px;
	background-position: 92% 65%;
	background-repeat:  no-repeat;
	cursor:  pointer;
	text-decoration:  underline;
	color:  #449d2f;
	font:  10pt Arial;
	display:  block;
	}
.profile-empty-text{
	width:  300px;
	padding: 10px;
    border:1px solid #449d2f;
	}
.profile-empty-text-templates{
	width:  358px;
	padding: 10px;
    border:1px solid #449d2f;
	}
.profile-empty-text-links{
	width:  240px;
	padding: 12px;
	border:1px solid #449d2f;
	}
.profile-empty-text a{
	color:  #449d2f !important;
	}
.card-number{
	font:  10pt Arial;
	font-weight:  bold;
	}
.product-name{
    width: 331px;
    }
.product-amount{
    width: 89px;
    text-align: right;
}
.listItem{
    vertical-align: middle;
}
.centerListItem{
    text-align: center;
}
#profile .productType h2{
    color: #000000;
}
.profile-view-products-width .card-number, .profile-user-products .card-number {font-weight:normal;}
.interface-items h2{
	font-weight:  bold;
	color:  #424242;
	font-size:  18px;
    padding:12px 0 6px 0;
	}
.profile-empty-text-depo{
	padding:10px;
	border:1px solid #449D2F;
    margin-bottom: 10px;
	}
.profile-user-products{
	margin-bottom:  20px;
	}
.profile-user-products h4{
	font:  normal 11px Arial;
	padding:8px 3px 8px 11px;
	margin-bottom:  3px;
    color:#888;
    background:#f6f6f6;
    border-bottom: 1px solid #eaeaea;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-transform: uppercase;
	}
.products-text-style{
	font-size:  12px;
	}
.closed-products-bg{
	background-color:  #e8e7e7;
	}
table[id^=tableClosed] .closed-products-bg {
	background-color:  #fff;
	}
.profile-user-products .inSystem{
    width: 470px;
}
.profile-user-products .inES{
    width: 440px;
}
.profile-user-products .inESClosed{
    width: 400px;
}
.profile-user-products .inSMS{
    width: 500px;
}
.profile-user-products .inSMSClosed{
    width: 500px;
}
.profile-user-products .inMobile{
    width: 500px;
}
.profile-user-products .inMobileLeft{
    width: 190px;
}
/* Скины */
.skinIcon{
	vertical-align:  middle;
	text-align:  center;
	width:  170px;
	padding: 5px;
	}
.skinIcon .r-content a{
	word-wrap:  break-word;
	word-break:  break-word;
	display:  block;
	overflow:  hidden;
	}
.skinIcon .r-content span{
	word-wrap:  break-word;
	word-break:  break-word;
	display:  block;
	overflow:  hidden;
	}
#profile .skinIcon img{
	float:  none;
    border:1px solid #E5E5E5;
	}
#profile .skinIcon .workspace-box{
	width:  150px;
    margin:0 auto;
	}
#profile .skinIcon .workspace-box .orangeRC{
	padding: 12px;
	}

.templateList td{
    padding: 2px 3px;
}

.otpRestrictions{
    margin: 0 0 20px;
    }
.otpRestrictions th{
    background:#f6f6f6;
    color: #888;
    font-size:11px;
    padding: 8px 0 8px 6px;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
    }

.otpRestrictions table td{
	border-bottom: #e5e5e5 solid 1px;
	padding: 5px 2px;
    vertical-align: middle;
    }

.otpRestrictionsConfirm th{
    color: #464646;
    font: bold 9pt Arial;
    padding: 6px 0;
    }

.otpRestrictionsConfirm table td{
	border-bottom: #939393 solid 1px;
	padding: 5px 2px;
    vertical-align: middle;
    }
.otpRestrictions table td.firstCell, .profile-view-products td.firstCell {
    padding-left: 12px;
}
.otpRestrictions table td.lastCell, .profile-view-products td.lastCell {
    padding-right: 12px;
}
.templateName{
	color:  #449d2f;
    text-decoration: underline;
	}

.templateAmount{
	float:right;
    margin-right:20px;
	}
.interfaceModeBlock {
    border-radius: 6px;
    background: #E6F5D8;
    margin:20px -17px 0 -30px;
    padding: 25px 15px 5px;
}
.interfaceModeBlock td {
    vertical-align:top;
}
.interfaceMode{
    cursor: pointer;
    height: 34px;
    margin-left: 5px;
}
.interfaceModeBlock .modeName{
    font-size: 16px;
    font-weight:  bold;
}
.interfaceMode.hover span.modeName{
   text-decoration: underline;
   color:  #449d2f;
}
.interfaceMode.hover span.descriptionMode {color:#3d3d3d !important;}
.interfaceModeBlock .tick{
    width: 32px;
    float: left;
    height: 32px;
    margin-right: 5px;
    margin-top: -10px;
    *position:relative;
}

.interfaceModeBlock table{
    width: 100%;
}
.interfaceMode .note{
    color: #999;
}
