.b-tutorial{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: 500;
    cursor: pointer;
}

.b-tutorial .tutorial_inner{
    width: 990px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.b-tutorial .tutorial_left-bg{
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    height: 100%;
    margin-right: 495px;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    *zoom:1;
}

.b-tutorial .tutorial_right-bg{
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0;
    height: 100%;
    margin-left: 495px;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    *zoom:1;
}

.b-tutorial .tutorial_bg{
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    *zoom:1;
}

.b-tutorial .tutorial_exit{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 44px;
    height: 44px;
    background: url(images/profile/tutorial_sprt.png);
    cursor: pointer;
}

.b-tutorial .tutorial_exit:hover{
    background-position: 0 -44px;
}

.b-tutorial .tutorial_exit:active{
    background-position: 0 -88px;
}

.b-tutorial .tutorial_step.hidden{
    position: absolute;
    visibility: hidden;
}

.b-tutorial .tutorial_step-image{
    display: block;
}

.b-tutorial .tutorial_step.__loading .tutorial_step-image,
.b-tutorial .tutorial_step.__error .tutorial_step-image{
    display: none;
}

.b-tutorial .tutorial_step-content{
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: 135px;
    max-width: 400px;
    margin-right: 30px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.8);
    color: #f1f1f1;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tutorial_step.tutorial_step-1, .tutorial_step.tutorial_step-2, .tutorial_step.tutorial_step-3, .tutorial_step.tutorial_step-4, .tutorial_step.tutorial_step-5 {
    position: relative;
}

.b-tutorial .tutorial_step-1 .tutorial_step-content{
    margin-left: 115px;

}
.b-tutorial .tutorial_step-2 .tutorial_step-content{ margin-left: 135px; }
.b-tutorial .tutorial_step-3 .tutorial_step-content{ margin-left: 135px; }
.b-tutorial .tutorial_step-4 .tutorial_step-content{ margin-left: 140px; margin-top: 25px; }
.b-tutorial .tutorial_step-5 .tutorial_step-content{ margin-left: 140px; }

.b-tutorial .tutorial_step-content h1{
    display: block;
    margin: 0 0 17px;
    font: bold 28px/1.2 Tahoma, sans-serif;
    text-transform: uppercase;
    color: #f1f1f1;
}

.b-tutorial .tutorial_step-content h2{
    display: block;
    margin: 0 0 17px;
    font: bold 18px/1.2 Arial, sans-serif;
    color: #f1f1f1;
}

.b-tutorial .tutorial_step-content p{
    font: normal 16px/1.4 Tahoma, sans-serif;
    color: #f1f1f1;
    margin: 0 0 20px;
}

.b-tutorial .tutorial_step-content ul{
    font: normal 16px/1.3 Tahoma, sans-serif;
    color: #f1f1f1;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
}

.b-tutorial .tutorial_cursor{
    position: fixed;
    padding: 50px;
    margin: -22px 0 0 -67px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.b-tutorial .tutorial_cursor-inner{
    padding: 5px 17px 5px 0;
    height: 13px;
    font-size: 12px;
    color: #f1f1f1;
    background: url(images/profile/tutorial_sprt.png) 100% -135px no-repeat;
}

.b-tutorial.hide-cursor .tutorial_cursor{
    display: none;
}

.b-tutorial .tutorial_step-content .tutorial_about{
    position: absolute;
    margin-top: -45px;
    font: italic 18px/1.3 Arial, sans-serif;
    color: #e0e0e0;
}

.b-tutorial .tutorial_link-btn{
    position: relative;
    display: inline-block; *display: inline; *zoom:1;
    vertical-align: top;
    padding-right: 15px;
    text-decoration: none;
    margin: 30px 0 15px;
}

.b-tutorial .tutorial_link-btn span{
    display: block;
    height: 20px;
    padding: 21px 9px 21px 24px;
    font: bold 19px/1 Arial, sans-serif;
    color: #f1f1f1;
    white-space: nowrap;
    background: url(images/profile/tutorial_button.png) no-repeat;
}

.b-tutorial .tutorial_link-btn i{
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(images/profile/tutorial_button.png) 100% 0 no-repeat;
}

.b-tutorial .tutorial_link-btn:hover span{
    background-position: 0 -72px;
}

.b-tutorial .tutorial_link-btn:hover i{
    background-position: 100% -72px;
}

/* PROMO ELEMENTS */

/* b-popup-note */
.b-popup-note{
    position: relative;
    width: 183px;
    padding: 16px 17px 14px;
    border: 1px dashed #c9c9c9;
    font: 12px/ 1.4 Arial, sans-serif;
    color: #464646;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.b-popup-note .popup-note_close{
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url(images/profile/promo_elements_sprt.png) -26px -21px no-repeat;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.b-popup-note .popup-note_close:hover{
    background-position: 0 -21px;
}

.b-popup-note .popup-note_arr{
    position: absolute;
    left: 15px;
    top: -7px;
    width: 15px;
    height: 7px;
    background: url(images/profile/promo_elements_sprt.png) 0 -37px;
}

.b-popup-note .popup-note_inner a{
    color: #7ea29f;
    text-decoration: none;
    border-bottom: 1px solid #cbdad9;
    cursor: pointer;
}

.b-popup-note .popup-note_inner a:hover{
    color: #ff8801;
    border-color: #fd931c;
}

/* b-news-balloon */
.b-news-balloon{
    position: relative;
    display: inline-block;*display: inline;*zoom:1;
    vertical-align: top;
    padding: 0 21px 9px;
}

.b-news-balloon .news-balloon_inner{
    position: relative;
    padding: 14px 0 12px;
    height: 17px;
    font: bold 13px/17px Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    white-space: nowrap;
    background: url(images/profile/promo_elements_sprt.png) 0 -154px repeat-x;
}

.b-news-balloon .news-balloon_content{
    margin: 0 -4px;
}

.b-news-balloon .news-balloon_ico{
    display: inline-block;*display: inline;*zoom:1;
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    background: url(images/profile/promo_elements_sprt.png) -26px -37px no-repeat;
}

.b-news-balloon .news-balloon_lcurve,
.b-news-balloon .news-balloon_rcurve{
    position: absolute;
    top: 0;
    width: 21px;
    height: 43px;
    background: url(images/profile/promo_elements_sprt.png) no-repeat;
}

.b-news-balloon .news-balloon_lcurve{
    left: 0;
    background-position: 0 -110px;
}

.b-news-balloon .news-balloon_rcurve{
    right: 0;
    background-position: -21px -110px;
}

.b-news-balloon .news-balloon_arr{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 19px;
    height: 9px;
    margin-left: -10px;
    background: url(images/profile/promo_elements_sprt.png) 0 -59px no-repeat;
}

.b-news-balloon .news-balloon_close{
    position: absolute;
    right: -7px;
    top: -7px;
    width: 20px;
    height: 21px;
    background: url(images/profile/promo_elements_sprt.png) 0 0 no-repeat;
    cursor: pointer;
}

.b-news-balloon .news-balloon_close:hover{
    background-position: -22px 0;
}

.promo-minimized{
    border-radius: 4px;
    border: 1px dashed #c2c2c2;
    padding: 10px 0 8px;
    background: #fff;
    position: relative;
    color: #424242;
    font: bold 14px/18px Arial;
    text-align: center;
    width: 100%;
}

.promo-minimized .closePromo{
    background: url("images/profile/promo_elements_sprt.png") -26px -21px no-repeat;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    right: 0;
    top: 10px;
}

.showTutorial{
    cursor: pointer;
    text-decoration: underline;
    color: #4aa800;
    font: 14px/18px Arial;
    margin-left: 10px;
}

/* p2p-promo*/
.p2p-promo{
    padding: 30px 85px;
    position: relative;
    width: 490px;
    border: 2px dashed rgb(255, 221, 150);
    font: 12px/ 1.4 Arial, sans-serif;
    color: #464646;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 15px;
}

.p2p-promo .closeIcon{
    position: absolute;
    right: -8px;
    top: -8px;
    width: 23px;
    height: 23px;
    background: url(images/profile/promo_elements_sprt.png) 0 0 no-repeat;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.p2p-promo .closeIcon:hover{
    background-position: -22px 0;
}

.p2p-promo a{
    color: rgb(68, 157, 47);
    text-decoration: none;
    border-bottom: 1px solid rgb(68, 157, 47);
    cursor: pointer;
    font: 15px Arial;
}

.p2p-promo a:hover{
    color: #ff8801;
    border-color: #fd931c;
}

.p2p-promo .secondRow{
    padding-left:60px;
    margin-top: 10px;
}


.p2p-promo .icon {
    float: left;
    height: 45px;
    margin-right: 15px;
    width: 45px;
    margin-top: -10px;
}

.b-tutorial .tutorial_bg_top_filler{
    height: 38px;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    *zoom:1;
}

.tutorial_step-5_textIndent{
    margin-top: 25px;
}
.b-tutorial .tutorial_step-5.havePromoCode .tutorial_bg_top_filler {
    height: 78px;
}
.b-tutorial .tutorial_step-5.havePromoCode .tutorial_step-5_textIndent {
    margin-top: 65px;
}