/* round Corner */

/* общие настройки углов */

.r-bottom-left, .r-top { font-size: 3px; }

.r-content {
   position: relative;
}
.workspace-box .r-content {
   position: static !important;
}

.top-content{
    padding-left: 5px;
}
/* greenTop */
    /* Высота картинок рамки сверху и снизу */
    .greenTopRTC, .greenTopRTR, .greenTopRTL, #help-content .RTC, #help-content .RTR, #help-content .RTL { height: 34px; }
    .greenTopRBC, .greenTopRBR, .greenTopRBL, #help-content .RBC, #help-content .RBR, #help-content .RBL { height: 10px; }
    /* Отступы справ для низа и верха под ширину углов */
    .greenTopRBC, .greenTopRTC, #help-content .RBC, #help-content .RTC {
        margin: 0 5px 0 18px;
        *margin: 0 19px 0 18px;
        image-rendering:optimizeQuality;
        -webkit-transform: translateZ(0);
    }
    .RBC, .RTC, .mainTitle {
        margin: 0 5px 0 31px;
    }

    /* Задаем бг углов, верха, низа, лево, право */
    .greenTopRTL, .greenTopRTR,
    .greenTopRBR, .greenTopRBL {
        background:  no-repeat;
    }
    .greenTopRBC, .greenTopRTC { background: #fff  repeat-x; }
    .greenTopRCL {
        background: #fff left top repeat-y;
        padding-bottom: 1px;
        margin-bottom:-1px;
    }
    .greenTopRCR { background:  right top repeat-y; padding-bottom: 1px;}

    /* двигаем бг углов */
    .greenTopRTL { background-position: 0 -75px; }
    .greenTopRTR { background-position: right -75px; }
    .greenTopRBL { background-position: 0 -54px; }
    .greenTopRBR { background-position: right -54px; }
    /* смещение бг для верха */
    .greenTopRTC { background-position: left -131px; }
    .greenTopRBC { background-position: right -19px; }
    /* Размер шрифта и характеристики для заголовка */
    .greenTopTitle, .Title {
      overflow: hidden;
      line-height: 35px;
      height: 32px;
      color: #fff;
    }
    .middleTitle {
        font: 24px/30px Arial;
    }
    .Title {
      height: auto;
      font-size: 32px;
      color: #000;
      position: relative;
    }
    .archivePayments .Title {
        position: static;
    }
    .regionTitle {
        display: inline;
        max-width: 650px;
        overflow: visible;
        word-wrap: break-word;
    }
    .Title span a {
      color: #000 !important;
      text-decoration: none;
      border-bottom: 1px solid #e5e5e5;
      *float: left;
    }
    .Title span a:hover {
      color: #f37407 !important;
      border-bottom: 1px solid #fcdcc1;
    }
    .titleMain .Title span {
        font-size: 24px;
    }
    #help-content .Title span {
      border-bottom: none;
    }
    #help-content .Title,#another-deposits .Title, #another-cards .Title, .blockedProducts .whiteTopTitle {
        font-size: 14px;
    }
    #another-deposits .Title, #another-cards .Title {
        width: 100% !important;
        font: 24px/30px Arial;
    }
    #another-deposits .Title span a, #another-cards .Title span a {
        float: none;
    }

    .greenTopRTC, #help-content .RTC {
        font-size: 14px;
        color: #fff;
        line-height: 35px;
    }
    .Title .firstTitlePosition {
        margin-top: 17px;
    }
    /* использование занятое место верхним и нижним div */
    .greenTopRC, #help-content .RC {
        margin-bottom: -6px;
        padding: 1px 18px 7px;
        *padding: 0 18px 6px;
    }
    .RC {
        margin-bottom: -6px;
        padding: 1px 16px 7px 31px;
    }
    /* Правые кнопки управления Control Buttons */
    .greenTopCBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       *margin-right: -17px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       font-family: Arial;
       font-size: 11px;
    }
    .CBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       font-family: Arial;
       font-size: 12px;
       white-space: nowrap;
    }
.greenTopCBT .simpleLink .text span {color: #fff;font-size: 11px;text-decoration:underline;text-transform:lowercase;}
/* /greenTop */

/* сворачиваем виджет*/

.widget.rollUp .greenTopRTC, .widget.rollUp .greenTopRTR, .widget.rollUp .greenTopRTL,
.widget.rollUp .orangeTopRTC, .widget.rollUp .orangeTopRTR, .widget.rollUp .orangeTopRTL {
    height: 32px;
}

.widget.rollUp .greenTopRTL, .widget.rollUp .greenTopRTR,
.widget.rollUp .orangeTopRTL, .widget.rollUp .orangeTopRTR {
    background-repeat:no-repeat;
}

.widget.rollUp .greenTopRTL, .widget.rollUp .orangeTopRTL {background-position: 0 0; }

.widget.rollUp .greenTopRTR, .widget.rollUp .orangeTopRTR {background-position: right 0; }

.widget.rollUp .greenTopRTC, .widget.rollUp .orangeTopRTC {background-position: 0 -38px; }

.widget.rollUp .greenTopRBL, .widget.rollUp .greenTopRCL,
.widget.rollUp .orangeTopRBL, .widget.rollUp .orangeTopRCL {display:none;}

.widget.rollUp .orangeTopRTL, .widget.rollUp .orangeTopRTR, .widget.rollUp .orangeTopRTC {
    background-image:  url('images/orangeTop-starHorHidden.png');
}

/* /сворачиваем виджет*/

/* GrayProduct */
       /* Высота картинок рамки сверху и снизу */
    .grayProductRTC, .grayProductRTR, .grayProductRTL { height: 20px; }
    .grayProductRBC, .grayProductRBR, .grayProductRBL { height: 10px; }
    /* Отступы справ для низа и верха под ширину углов */
    .grayProductRBC, .grayProductRTC { margin: 0 27px 0 27px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .grayProductRTL, .grayProductRTR,
    .grayProductRBR, .grayProductRBL {
        background:  no-repeat;
    }
    .grayProductRBC, .grayProductRTC { background: #fff 0 -14px repeat-x; }
    .grayProductRCL { background: #fff  left top repeat-y; }
    .grayProductRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .grayProductRTL { background-position: 0 -68px; }
    .grayProductRTR {	background-position: right -68px; }
    .grayProductRBL { background-position: 0 -46px; }
    .grayProductRBR { background-position: right -46px; }
    /* смещение бг для верха */
    .grayProductRTC { background-position: left -98px; }
    /* Размер шрифта и характеристики для заголовка */
    .grayProductRTC {
        font-size: 14px;
        color: #fff;
        line-height: 35px;
    }
    /* использование занятое место верхним и нижним div */
    .grayProductRC {
        margin-bottom: 0;
        margin-top: -18px;
        padding: 0 20px 0;
        *padding-bottom:20px; 
    }
    .grayProductTitle {color: #449d2f; padding: 3px 0;}
   /* Правые кнопки управления Control Buttons */
    .grayProductCBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       margin-right: -19px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       font-family: Arial;
       font-size: 11px;
       color: #449D2F;
    }
/* /GrayProduct */

/* Gray */
       /* Высота картинок рамки сверху и снизу */
    .grayRTC, .grayRTR, .grayRTL { height: 30px; }
    .grayRBC, .grayRBR, .grayRBL { height: 10px; }
    /* Отступы справ для низа и верха под ширину углов */
    .grayRBC, .grayRTC { margin: 0 27px 0 27px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .grayRTL, .grayRTR,
    .grayRBR, .grayRBL {
        background:  no-repeat;
    }
    .grayRBC, .grayRTC { background: #fff 0 -14px repeat-x; }
    .grayRCL { background: #fff  left top repeat-y; }
    .grayRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .grayRTL { background-position: 0 -68px; }
    .grayRTR {	background-position: right -68px; }
    .grayRBL {
        background-position: 0 -46px;
    }
    .grayRBR { background-position: right -46px; }
    /* смещение бг для верха */
    .grayRTC { background-position: left -98px; }
    /* Размер шрифта и характеристики для заголовка */
    .grayRTC {
        font-size: 14px;
        color: #fff;
        line-height: 35px;
    }
    /* использование занятое место верхним и нижним div */
    .grayRC {
        margin-bottom: 0;
        margin-top: -18px;
        *margin-top: -8px;    /* hack for IE7 */
        padding: 10px 20px 0;
    }
    .grayTitle {color: #449d2f; padding: 3px 0;}
    .currencyRate .grayTitle {
        font-size: 18px;
        color: #000;
        margin-left: -1px;
    }
    .currencyRate .grayTitle span{
        *z-index: 1;
        *position: relative;
    }
   /* Правые кнопки управления Control Buttons */
    .grayCBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       margin-right: -19px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       font-family: Arial;
       font-size: 11px;
       color: #449D2F;
    }
/* /Gray */

/* GrayLine */
    .grayLine {
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        padding: 21px 16px 9px 19px;
        *padding: 15px 16px 9px 19px;
    }
/* /GrayLine */

/* green */
    /* Высота картинок рамки сверху и снизу */
    .greenRTC, .greenRTR, .greenRTL,
    .greenRBC, .greenRBR, .greenRBL { height: 14px; }
    /* Отступы справ для низа и верха под ширину углов */
    .greenRBC, .greenRTC { margin: 0 14px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .greenRTL, .greenRTR,
    .greenRBR, .greenRBL {
        background:  no-repeat;
    }
    .greenRBC, .greenRTC { background: #fff  repeat-x; }
    .greenRCL { background: #fff  left top repeat-y; }
    .greenRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .greenRTL { background-position: 0 -14px; }
    .greenRTR {	background-position: right -14px; }
    .greenRBL { background-position: 0 0; }
    .greenRBR { background-position: right 0; }
    /* смещение бг для верха */
    .greenRTC { background-position: left -14px; }
    /* использование занятое место верхним и нижним div */
    .greenRC { padding: 0 24px;}
/* /green */

/* lightGreen */
    /* Высота картинок рамки сверху и снизу */
    .lightGreenRTC, .lightGreenRTR, .lightGreenRTL,
    .lightGreenRBC, .lightGreenRBR, .lightGreenRBL { height: 14px; }
    /* Отступы справ для низа и верха под ширину углов */
    .lightGreenRBC, .lightGreenRTC { margin: 0 14px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .lightGreenRTL, .lightGreenRTR,
    .lightGreenRBR, .lightGreenRBL {
        background:  no-repeat;
    }
    .lightGreenRBC, .lightGreenRTC { background: #e6f5d8  repeat-x; }
    .lightGreenRCL { background: #e6f5d8  left top repeat-y; }
    .lightGreenRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .lightGreenRTL { background-position: 0 -14px; }
    .lightGreenRTR {	background-position: right -14px; }
    .lightGreenRBL { background-position: 0 0; }
    .lightGreenRBR { background-position: right 0; }
    /* смещение бг для верха */
    .lightGreenRTC { background-position: left -14px; }
    /* использование занятое место верхним и нижним div */
    .lightGreenRC { padding: 0 24px;}
/* /lightGreen */

/* shadow */
    /* Высота картинок рамки сверху и снизу */
    .shadowRTC, .shadowRTR, .shadowRTL,
    .shadowRBC, .shadowRBR, .shadowRBL { height: 20px; }
    /* Отступы справ для низа и верха под ширину углов */
    .shadowRBC, .shadowRTC { margin: 0 24px; }

    /* Задаем бг углов */
    .shadowRTL, .shadowRBL {
        background:  no-repeat;
    }
    .shadowRTR, .shadowRBR {
        background:  no-repeat;
    }
    .shadowRBC, .shadowRTC { background: transparent  repeat-x 0 -387px; }
    .shadowRCL { background: transparent  1px top repeat-y; }
    .shadowRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .shadowRTL { background-position: 0 -9px; }
    .shadowRTR { background-position: right -75px; }
    .shadowRBL { background-position: 0 -247px; }
    .shadowRBR { background-position: right -316px; }
    /* смещение бг для верха */
    .shadowRTC { background-position: left -141px; }
    /* использование занятое место верхним и нижним div */
    .shadowRC { top: -1px; padding: 1px 7px; background: #fff; margin: 0 16px -2px 16px}
    .window .shadowRC {
        padding: 38px 57px;
        position: relative !important;
        z-index: 10;
    }
    .window .imageHelp {
       margin-top: 0;
    }
/* /shadow */

/* whiteShadow */
.whiteShadowRTC, .whiteShadowRTR, .whiteShadowRTL {height: 6px; }
.whiteShadowRBC, .whiteShadowRBR, .whiteShadowRBL {height: 13px;}

.whiteShadowRTC {margin: 0 7px;}
.whiteShadowRBC {margin: 0 8px;}

.whiteShadowRTL, .whiteShadowRBL, .whiteShadowRTR, .whiteShadowRBR {background:  no-repeat;}
.whiteShadowRCL {background: transparent 1px top repeat-y;}
.whiteShadowRCR {background: right top repeat-y;}

.whiteShadowRTL {background-position: left 0;}
.whiteShadowRTR { background-position: right -14px;}
.whiteShadowRTC { background: 0 -7px repeat-x;}
.whiteShadowRBL { background-position: left 2px;}
.whiteShadowRBR { background-position: right -22px;}
.whiteShadowRBC { background: 0 -10px repeat-x;}
.whiteShadowRC {top: 0; padding: 1px 7px; background: #fff; margin: 0 4px -2px;}

/* /whiteShadow */

/* greenShadow */
.greenShadowRTC, .greenShadowRTR, .greenShadowRTL {
    background-image:  url('images/greenShadow.png');
    height: 10px;
}
.greenShadowRBC, .greenShadowRBR, .greenShadowRBL {
    background-image:  url('images/greenShadow.png');
    height: 13px;
}
.greenShadowRTL, .greenShadowRBL, .greenShadowRTR, .greenShadowRBR {background-repeat:  no-repeat;}
.greenShadowRCL {
    background:  url('images/greenShadowLeft.png') repeat-y 0 top;
}
.greenShadowRCR {
    background:  url('images/greenShadowRight.png') repeat-y right top;
}
.greenShadowRTL {background-position: left 0;}
.greenShadowRTR { background-position: right -37px;}
.greenShadowRTC {
    background-position: 0 -74px;
    background-repeat: repeat-x;
    margin: 0 14px
}
.greenShadowRBL { background-position: left -114px;}
.greenShadowRBR { background-position: right -131px;}
.greenShadowRBC {
    background-position: 0 -148px;
    background-repeat: repeat-x;
    margin: 0 14px;
 }
.greenShadowRC {
    top: 0;
    padding: 25px 28px 15px;
    background: #fff;
    margin: 0 6px -2px;
}
/* /greenShadow */

/* /whiteHint */
.hintsBlock {
    position: relative;
    width: 250px;
    margin-left: -114px;
    z-index: 10;
}
.hintsBlock, #workspace .workspace-box .whiteHint {
    position: absolute;
    width: 250px;
}
#workspace .workspace-box .whiteHint {
    margin: 0;
}
.whiteHintRTC, .whiteHintRTR, .whiteHintRTL {
    background-image:  url('images/whiteHint.png');
    height: 6px;
}
.whiteHintRBC, .whiteHintRBR, .whiteHintRBL {
    background-image:  url('images/whiteHint.png');
    height: 13px;
}
.whiteHintRTL, .whiteHintRBL, .whiteHintRTR, .whiteHintRBR {background-repeat:  no-repeat;}
.whiteHintRCL {
    background:  url('images/whiteHint-left.png') repeat-y 0 top;
}
.whiteHintRCR {
    background:  url('images/whiteHint-right.png') repeat-y right top;
}
.whiteHintRTL {background-position: left 0;}
.whiteHintRTR { background-position: right -8px;}
.whiteHintRTC {
    background-position: 0 -16px;
    background-repeat: repeat-x;
    margin: 0 7px
}
.whiteHintRBL { background-position: left -23px;}
.whiteHintRBR { background-position: right -34px;}
.whiteHintRBC {
    background-position: 0 -43px;
    background-repeat: repeat-x;
    margin: 0 6px 0 7px;
}
.whiteHintRC {
    background-color: #fbfbfb;
    color: #424242;
    font: 13px/18px Arial;
    margin: 0 6px -2px;
    padding: 2px 13px 8px;
    top: 0;
    white-space: normal;
}
.whiteHintTriangle {
    background:  url('images/whiteHint.png') no-repeat 45% 100%;
    width: 19px;
    height: 8px;
    margin: 0 auto -1px;
    position: relative;
    z-index: 1;
}
/* /whiteHint */



/* hideable simpleTable */
    /* Высота картинок рамки сверху и снизу */
    .sTableRTC, .sTableRTR, .sTableRTL { height: 22px; }
    .sTableRBC, .sTableRBR, .sTableRBL { height: 6px; }
    /* Отступы справ для низа и верха под ширину углов */
    .sTableRBC, .sTableRTC { margin: 0 6px; }

    /* Задаем бг углов */
    .sTableRTL, .sTableRBL {
        background:  no-repeat;
    }

    .sTableRTR, .sTableRBR {
        background:  no-repeat;
    }

    .sTableRBC, .sTableRT { background: #fff  repeat-x; }
    .sTableRCL { background: #fff  left top repeat-y; }
    .sTableRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .sTableRTL { background-position: 0 -7px; }
    .sTableRTR { background-position: right -7px; }
    .sTableRBL { background-position: 0 0; }
    .sTableRBR { background-position: right 0; }
    /* смещение бг для верха */
    .sTableRT { background-position: left -6px; }
    /* использование занятое место верхним и нижним div */
    .sTableRC { top: -20px; margin-bottom: -20px; padding: 1px 12px;}
    /* Чистим таблицу */
    .sTableRC .simpleTable {
        border: 0 solid #90c030;
        padding: 0;
        margin: 0;
    }
/* /hideable simpleTable */

/* whiteTop */
    /* Высота картинок рамки сверху и снизу */
    .whiteTopRTC, .whiteTopRTR, .whiteTopRTL { height: 30px; }
    .whiteTopRBC, .whiteTopRBR, .whiteTopRBL { height: 24px; }
    .rollUp .whiteTopRBC, .rollUp .whiteTopRBR, .rollUp .whiteTopRBL {
        height: 9px;
        margin-top:-7px;
    }
    /* Отступы справ для низа и верха под ширину углов */
    .whiteTopRBC, .whiteTopRTC { margin: 0 19px 0 18px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .whiteTopRTL, .whiteTopRTR,
    .whiteTopRBR, .whiteTopRBL {
        background:  no-repeat;
    }
    .whiteTopRBC, .whiteTopRTC { background: #fff  repeat-x; }
    .rollUp .whiteTopRBC { background-position: 0 -15px; }
    .whiteTopRCL { background: transparent  left top repeat-y; }
    .whiteTopRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .whiteTopRTL { background-position: 0 -80px; }
    .whiteTopRTR {	background-position: right -80px; }
    .whiteTopRBL { background-position: 0 -45px; }
    .rollUp .whiteTopRBL { background-position: 0 -60px; }
    .whiteTopRBR { background-position: right -45px; }
    .rollUp .whiteTopRBR { background-position: right -60px; }
    /* смещение бг для верха */
    .whiteTopRTC { background-position: left -141px; }
    /* Размер шрифта и характеристики для заголовка */
    .whiteTopTitle {
      overflow: hidden;
      line-height: 32px;
      height: 32px;
    }
    .whiteTopRTC {
        font-size: 14px;
        color: #464646;
        line-height: 35px;
    }
    /* использование занятое место верхним и нижним div */
    .whiteTopRC {
        padding: 0 18px 0;
        margin-bottom:-2px;
    }
    /* Правые кнопки управления Control Buttons */
    .whiteTopCBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       margin-right: -17px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       position: relative; /* для IE6 */
       font-family: Arial;
       font-size: 11px;
    }
.whiteTopCBT .simpleLink .text span {color: #fff;font-size: 11px;text-decoration:underline;text-transform:lowercase;}
/* /whiteTop */

/* orangeTop */
    /* Высота картинок рамки сверху и снизу */
    .orangeTopRTC, .orangeTopRTR, .orangeTopRTL { height: 33px; }
    .orangeTopRBC, .orangeTopRBR, .orangeTopRBL { height: 10px; }
    .rollUp .orangeTopRBC, .rollUp .orangeTopRBR, .rollUp .orangeTopRBL { height: 9px; }
    /* Отступы справ для низа и верха под ширину углов */
    .orangeTopRBC, .orangeTopRTC { margin: 0 19px 0 18px; }
    .orangeTopRBC {background-position:right -14px !important;}

    /* Задаем бг углов, верха, низа, лево, право */
    .orangeTopRTL, .orangeTopRTR,
    .orangeTopRBR, .orangeTopRBL {
        background:  no-repeat;
    }
    .orangeTopRBC, .orangeTopRTC { background: #fff  repeat-x; }
    .rollUp .orangeTopRBC { background-position: 0 -15px; }
    .orangeTopRCL { background: transparent  left top repeat-y; }
    .orangeTopRCR {
        background:  right top repeat-y;
        padding-bottom:2px;
    }

    /* двигаем бг углов */
    .orangeTopRTL { background-position: 0 -80px; }
    .orangeTopRTR {	background-position: right -80px; }
    .orangeTopRBL { background-position: 0 -59px; }
    .rollUp .orangeTopRBL { background-position: 0 -59px; }
    .orangeTopRBR { background-position: right -59px; }
    .rollUp .orangeTopRBR { background-position: right -60px; }
    /* смещение бг для верха */
    .orangeTopRTC { background-position: left -141px; }
    /* Размер шрифта и характеристики для заголовка */
    .orangeTopTitle {
      overflow: hidden;
      line-height: 32px;
      height: 32px;
      color: #fff;
    }
    .orangeTopRTC {
        font-size: 14px;
        color: #fff;
        line-height: 35px;
    }
    .orangeTopRTC a{
        color: #fff;
    }
    /* использование занятое место верхним и нижним div */
    .orangeTopRC { padding: 0 18px 0; }
    /* Правые кнопки управления Control Buttons */
    .orangeTopCBT {
       float: right;
       background:  right top no-repeat;
       height: 22px;
       margin-right: -17px;
       padding-left: 5px;
       padding-right: 10px;
       padding-top: 10px;
       line-height: normal;
       position: relative; /* для IE6 */
       font-family: Arial;
       font-size: 11px;
    }
.orangeTopCBT .simpleLink .text span {color: #fff;font-size: 11px;text-decoration:underline;text-transform:lowercase;}
/* /orangeTop */

/* lightGrayWithoutTop */
/* Высота картинок рамки сверху и снизу */
.lightGrayWithoutTopRTC, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRTL { height: 5px; }
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL { height: 5px; }
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRTC { margin: 0 4px; }
.lightGrayWithoutTopRTL, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL {
    background:  no-repeat;
}
.lightGrayWithoutTopRTC { background: #fff 0 -14px repeat-x; }
.lightGrayWithoutTopRBC { background: #fff 0 -19px repeat-x; }
.lightGrayWithoutTopRCL { background: #fff left top repeat-y; }
.lightGrayWithoutTopRCR { background: right top repeat-y; }

.lightGrayWithoutTopRTL { background-position: 0 -68px; }
.lightGrayWithoutTopRTR { background-position: right -68px; }
.lightGrayWithoutTopRBL { background-position: 0 -51px; }
.lightGrayWithoutTopRBR { background-position: right -51px; }
.lightGrayWithoutTopRTC { background-position: left -98px; }

/* использование занятое место верхним и нижним div */
.lightGrayWithoutTopRC {
    margin: 0 1px;
    padding: 0 2px;
}
.lightGrayWithoutTopRBL{
    margin-top: 0;
}
.lightGrayWithoutTopCBT {
   float: right;
   background:  right top no-repeat;
   height: 22px;
   margin-right: -19px;
   padding-left: 5px;
   padding-right: 10px;
   padding-top: 10px;
   line-height: normal;
   position: relative; /* для IE6 */
   font-family: Arial;
   font-size: 11px;
   color: #449D2F;
}
.lightGrayWithoutTopHover a{
    color: #F37407;
}
/* /lightGrayWithoutTop */

/* datePicker */
    /* Высота картинок рамки сверху и снизу */
    .datePickerRTC, .datePickerRTR, .datePickerRTL,
    .datePickerRBC, .datePickerRBR, .datePickerRBL { height: 14px; }
    /* Отступы справ для низа и верха под ширину углов */
    .datePickerRBC, .datePickerRTC { margin: 0 8px 0 9px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .datePickerRTL, .datePickerRTR,
    .datePickerRBR, .datePickerRBL {
        background:  no-repeat;
    }
    .datePickerRBC, .datePickerRTC { background-repeat: repeat-x; }
    .datePickerRCL { background:#fff url("images/whiteShadowLeftRound.png") left top repeat-y; }
    .datePickerRCR { background:url("images/whiteShadowRightRound.png")  right top repeat-y; }

    /* двигаем бг углов */

    .datePickerRTL, .datePickerRTR, .datePickerRBL, .datePickerRBR, .datePickerRBC, .datePickerRTC  {
        background-image: url(images/whiteShadow.png);
    }
    .datePickerRTL {
        background-position: 0 6px;
    }
    .datePickerRTR { background-position: right -12px; }
    .datePickerRBL { background-position: 0 -58px; }
    .datePickerRBR { background-position: right -77px; }
    .datePickerRBC { background-position: 0 -96px; }
    /* смещение бг для верха */
    .datePickerRTC { background-position: center -30px; }
    /* использование занятое место верхним и нижним div */
    .datePickerRC { padding: 28px;}
/* /datePicker */


/* grayShadow */
    /* Высота картинок рамки сверху и снизу */
    .grayShadowRTC, .grayShadowRTR, .grayShadowRTL,
    .grayShadowRBC, .grayShadowRBR, .grayShadowRBL { height: 14px; }
    /* Отступы справ для низа и верха под ширину углов */
    .grayShadowRBC, .grayShadowRTC { margin: 0 14px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .grayShadowRTL, .grayShadowRTR,
    .grayShadowRBR, .grayShadowRBL {
        background: transparent  no-repeat;
    }
    .grayShadowRBC, .grayShadowRTC { background: transparent  repeat-x; }
    .grayShadowRCL { background: transparent  left top repeat-y; }
    .grayShadowRCR { background: transparent  right top repeat-y; }

    /* двигаем бг углов */
    .grayShadowRTL { background-position: 0 -14px; }
    .grayShadowRTR { background-position: right -14px; }
    .grayShadowRBL { background-position: 0 0; }
    .grayShadowRBR { background-position: right 0; }
    /* смещение бг для верха */
    .grayShadowRTC { background-position: left -14px; }
    /* использование занятое место верхним и нижним div */
    .grayShadowRC { background-color: #fff; top: -14px; margin: 10px 10px -20px 10px; padding: 0;}
/* end grayShadow */

/* end roundBorders */

/* hint */
    /* Высота картинок рамки сверху и снизу */
    .hintRTC, .hintRTR, .hintRTL,
    .hintRBC, .hintRBR, .hintRBL { height: 14px; }
    /* Отступы справ для низа и верха под ширину углов */
    .hintRBC, .hintRTC { margin: 0 14px; }

    /* Задаем бг углов, верха, низа, лево, право */
    .hintRTL, .hintRTR,
    .hintRBR, .hintRBL {
        background:  no-repeat;
    }
    .hintRBC, .hintRTC { background: #fff  repeat-x; }
    .hintRCL { background: #FCF7CC  left top repeat-y; }
    .hintRCR { background:  right top repeat-y; }

    /* двигаем бг углов */
    .hintRTL { background-position: 0 -14px; }
    .hintRTR { background-position: right -14px; }
    .hintRBL { background-position: 0 0; }
    .hintRBR { background-position: right 0; }
    /* смещение бг для верха */
    .hintRTC { background-position: left -14px; }
    /* использование занятое место верхним и нижним div */
    .hintRC {padding: 0 8px;}
/* end hint */

/* Red (для информационных сообщений высокой важности) */
.infMesRed, .infMesOrange, .infMesGreen, #warnings .orange, #errors .red, #warningMessages .red, .errMessagesBlock .red, .workspace-box.orange,
.greenBold, .orangeBlock, .warningMessage .red, .workspace-box.orangeLight, .workspace-box.redLight {
    padding: 15px;
    width: 670px;
}
.page_content .workspace-box.orangeLight {
    width: 650px;
}
.warningMessage .red {
    padding: 15px;
}

.print .workspace-box.orange{
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
#paymentForm .attentionMessage.infMesOrange {
    border-radius: 4px;
    color: #000;
    font: 13px/17px Arial;
    margin: 10px 0 0 0;
    padding: 15px 15px 15px 19px;
    width: auto;
}
.loyaltyError {margin-left: -248px; margin-right: -133px;padding-top: 20px;}
 #loyaltyWarnings .workspace-box.orange {width: 611px; text-align:center;}

.loyaltyErrorShort {margin-left: -85px; }

#operationsInfo .loyaltyError {margin: 0; padding-top: 0; }
#operationsInfo .loyaltyError #loyaltyWarnings .workspace-box.orange {width: 667px;}

.noRightSection .infMesRed, .noRightSection .infMesOrange, .noRightSection .infMesGreen, .noRightSection #warnings .orange, .noRightSection #errors .red,
.noRightSection #warningMessages .red, .noRightSection .errMessagesBlock .red, .noRightSection .workspace-box.orange,
.greenBold, .accountProductInfo #warnings .orange, .accountProductInfo #warnings .red {
    width: auto;
}

.workspace-box.roundBorder {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.infMesRed, #errors .red, #warningMessages .red, .errMessagesBlock .red, .warningMessage .red {
    background-color: #fff7f7;
    border: 1px solid #ffbfbf;
}

.infMesOrange, #warnings .orange, .workspace-box.orange, .messageBlock .orange, .orangeBlock {
    background-color: #fffcdd;
    border: 1px solid #f8d100;
}

.workspace-box.orangeLight {
    background-color: #fffcdd;
    border: 1px solid #f8d100;
}

.workspace-box.redLight {
    background-color: #fff7f7;
    border: 1px solid #ffbfbf;
}

.greenGradient {
    background: url("images/helpGradient.jpg") repeat-x left bottom #fffff7;
    border: 1px solid #ddd8c8;
    padding: 10px 20px 15px 20px;
    width: 178px !important;
}
.grayBorder {
    border: 1px solid #d8d8d8;
}
.currencyRate .grayBorder {
    padding: 10px 20px;
    width: 180px !important;
}
.messageBlock .orange {
    width: auto;
}
.roundPlate.orange {
    background-color: transparent;
    border: none;
}

.infMesGreen {
    background-color: #f3ffe4;
    border: 1px solid #c0d99f;
}

.workspace-box.greenBold {
    background-color: #fff;
    border: 3px solid #b0e699;
}

.withoutTop .greenTopRC {
    top: 0;
    margin-bottom: -9px;
    padding-bottom: 8px;
}

fieldset.borderGray {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0 10px 5px;
}
fieldset.borderGray legend {
    color:#000;
    font:bold 11px Arial;
    text-transform: uppercase;
    margin-left: 8px;
    padding: 0 10px;
}

/*lightGray*/
  
.lightGray {
    border:1px solid #d8d8d8;
    margin:17px 10px 17px 20px;
    background-color:#fff;
}

.lightGrayRTC, .lightGrayRTR, .lightGrayRTL, .lightGrayRBC, .lightGrayRBR, .lightGrayRBR {height:14px;}

.lightGrayRBC {text-align:center;}

.lightGrayRBC img {margin-top:3px;}

.lightGrayRC { background-color: #fff; margin: 10px 10px -15px 10px; padding: 0;}

.lightGrayRBL { height: 14px; text-align:center;}

.categoryTemplateFloatHint .lightGrayRC {margin: 0 10px 0 0;}

.categoryTemplateFloatHint .categoryTemplateFloatHintData {
    padding-right:18px;
    padding-bottom:10px;
}

.paymentHint {
    width:213px;
    margin-top:5px
}

.lightGrayRBC {background:white; width:210px; height:11px;}

/* lightGray */

#recomendationPassword, #recomendationLogin, #recomendation {padding:0 11px 0 0;}

/* whiteAndGray */
.whiteAndGrayRBC, .whiteAndGrayRBR, .whiteAndGrayRBL,
.whiteAndGrayRTC, .whiteAndGrayRTR, .whiteAndGrayRTL {
    height: 13px;
}
.whiteAndGrayRTL {
    background: url("images/whiteAndGray-star.gif") no-repeat 0 -14px;
}
.whiteAndGrayRTR {
    background: url("images/whiteAndGray-star.gif") no-repeat right -14px;
}
.whiteAndGrayRTC {
    background: url("images/whiteAndGray-hor.gif") repeat-x left -13px;
}
.whiteAndGrayRCL {
    background: url("images/whiteAndGray-vert.gif") repeat-y left top;
}
.whiteAndGrayRCR {
    background: url("images/whiteAndGray-vert.gif") repeat-y right top;
}
.whiteAndGrayRC {
    padding: 0 15px;
    background-color: #f9fbfb;
}
.whiteAndGrayRBL {
    background: url("images/whiteAndGray-star.gif") no-repeat 0 0;
}
.whiteAndGrayRBR {
    background: url("images/whiteAndGray-star.gif") no-repeat right 0;
}
.whiteAndGrayRBC {
    background: url("images/whiteAndGray-hor.gif") repeat-x center top;
}
.whiteAndGrayRBC, .whiteAndGrayRTC {
    margin: 0 13px;
}
/* /whiteAndGray */

/* grayGradient */

.grayGradient {
    background-color: #f6f6f5;
    background: linear-gradient(to top, #eaeaea, #f6f6f5);
    background: -ms-linear-gradient(to top, #eaeaea, #f6f6f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f5', endColorstr='#eaeaea');
    background: -o-linear-gradient(to top,  #eaeaea, #f6f6f5);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f5), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(to top, #eaeaea, #f6f6f5);
    background: -moz-linear-gradient(to top, #eaeaea, #f6f6f5);
    -webkit-box-shadow: 0 1px 3px rgb(161, 161, 161);
    -moz-box-shadow: 0 1px 3px rgb(161, 161, 161);
    box-shadow: 0 1px 3px rgb(161, 161, 161);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.lastTitleItem ul.underlined .linksListHidden, .lastTitleItem ul.underlined .hide .linksListHidden {
    background: url('images/grayGradientBottom.png') no-repeat 1px 100%;
    border-radius: 4px;
}

/* Размер шрифта и характеристики для заголовка */
.roundTitle {
    overflow: hidden;
    line-height: 35px;
    padding: 7px 18px 0 18px;
    font-size: 18px;
    height: 32px;
    color: #000;
}
/* /grayGradient */

    /*информация о клиенте*/

    .clientInfo {
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
    /* /информация о клиенте*/

    /*anotherStrategy*/
    .anotherStrategyTL, .anotherStrategyTR, .anotherStrategyTC {
        height: 14px;
    }
    .anotherStrategyTL {
        background: url('images/anotherStrategy.png') no-repeat 0 0;
    }
    .anotherStrategyTR {
        background: url('images/anotherStrategy.png') no-repeat 100% -14px;
    }
    .anotherStrategyTC {
        background: url('images/anotherStrategy.png') repeat-x 0 -28px;
        margin: 0 18px;
    }
    .anotherStrategyCL {
        background: url('images/anotherStrategy-vertLeft.png') repeat-y 0 0;
        *height: 1%;
    }
    .anotherStrategyCR {
        background: url('images/anotherStrategy-vertRight.png') repeat-y 100% 0;
    }
    .anotherStrategyBL, .anotherStrategyBR, .anotherStrategyBC {
        height: 9px;
    }
    .anotherStrategyBL {
        background: url('images/anotherStrategy.png') no-repeat 0 -47px;
    }
    .anotherStrategyBR {
        background: url('images/anotherStrategy.png') no-repeat 100% -62px;
    }
    .anotherStrategyBC {
        background: url('images/anotherStrategy.png') repeat-x 0 -80px;
        margin: 0 18px;
    }
    /* /anotherStrategy*/

.orangeTitle{
    color: #f7941d;
    font-size: 16px;
    margin-bottom: 10px;
}
 /* hoar*/
    .hoarRTC, .hoarRTR, .hoarRTL, .hoarRBC, .hoarRBR, .hoarRBL {
        height: 20px;
    }
    .hoarRBC, .hoarRTC {
        margin: 0 24px;
    }
    .hoarRTL, .hoarRBL, .hoarRTR, .hoarRBR {
        background:  no-repeat;
    }
    .hoarRBC, .hoarRTC {
        background: repeat-x 0 -387px;
    }
    .hoarRTL { background-position: 0 -8px; }
    .hoarRTR { background-position: right -74px; }
    .hoarRBL { background-position: 0 -247px; }
    .hoarRBR { background-position: right -316px; }
    .hoarRTC { background-position: left -141px; }
    .workspace-box .hoarRC {
        position: relative !important;
        padding: 1px 0;
        *height: 1%;
        background:#f6f6f6;
        margin: 0 14px 0 15px;
    }
    .hoarRTC, .hoarRTR, .hoarRTL, .hoarRBC, .hoarRBR, .hoarRBL {
        background-image:  url('images/gray-starHor.png');
    }
    .hoarRCL{
        background:  url('images/gray-vert-left.png') repeat-y 1px top;
    }
    .hoarRCR{
        background:  url('images/gray-vert-right.png') repeat-y right top;
    }
    /* /hoar*/

/* bluePointer*/
#workspace .workspace-box.bluePointer {
    margin: 0 1px;
    width: 351px;
    position: relative;
    z-index: 2;
}
.bluePointerRTC, .bluePointerRTR, .bluePointerRTL, .bluePointerRBC, .bluePointerRBR, .bluePointerRBL {
    height: 4px;
}
.bluePointerRBC, .bluePointerRTC {
    margin: 0 6px;
}
.bluePointerRTL, .bluePointerRBL, .bluePointerRTR, .bluePointerRBR {
    background:  no-repeat;
}
.bluePointerRBC, .bluePointerRTC {
    background: repeat-x 0 -32px;
}
.bluePointerRTL { background-position: 0 0; }
.bluePointerRTR { background-position: right -6px; }
.bluePointerRBL { background-position: 0 -18px; }
.bluePointerRBR { background-position: right -27px; }
.bluePointerRTC { background-position: left -13px; }
.workspace-box .bluePointerRC {
    background-color: #fafafa;
    background: linear-gradient(to top, #f5f5f5, #ffffff) repeat 0 0;
    background: -moz-linear-gradient(to top, #f5f5f5, #ffffff) repeat 0 0;
    background: -webkit-gradient(to top, #f5f5f5, #ffffff) repeat 0 0;
    background: -o-linear-gradient(top,  #f5f5f5, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
    position: relative !important;
    padding: 1px 0;
    *height: 1%;
    margin: -3px 2px -3px 1px;
    padding: 3px 5px 3px 8px;
}
.bluePointerRTC, .bluePointerRTR, .bluePointerRTL, .bluePointerRBC, .bluePointerRBR, .bluePointerRBL {
    background-image:  url('images/sugestPointer.png');
}
.bluePointerRCL{
    background:  url('images/sugestPointer-left.png') repeat-y 0 top;
}
.bluePointerRCR{
    background:  url('images/sugestPointer-right.png') repeat-y right top;
}
.bluePointer:hover .bluePointerRTC, .bluePointer:hover .bluePointerRTR,
.bluePointer:hover .bluePointerRTL, .bluePointer:hover .bluePointerRBC,
.bluePointer:hover .bluePointerRBR, .bluePointer:hover .bluePointerRBL {
    background-image:  url('images/sugestPointerOrange.png');
}
.bluePointer:hover .bluePointerRCL{
    background:  url('images/sugestPointerOrange-left.png') repeat-y 0 top;
}
.bluePointer:hover .bluePointerRCR{
    background:  url('images/sugestPointerOrange-right.png') repeat-y right top;
}

/* /bluePointer*/

/* roundYellow*/
#notOurClientError .roundYellow {

}
#workspace .workspace-box.roundYellow {
    margin: 0;
}
.roundYellowRTC, .roundYellowRTR, .roundYellowRTL, .roundYellowRBC, .roundYellowRBR, .roundYellowRBL {
    height: 8px;
}
.roundYellowRBC, .roundYellowRTC {
    margin: 0 5px;
}
.roundYellowRTL, .roundYellowRBL, .roundYellowRTR, .roundYellowRBR {
    background:  no-repeat;
}
.roundYellowRTC {
    background: repeat-x 0 -32px;
}
.roundYellowRBC {
    background: repeat-x 0 -56px;
}
.roundYellowRTL { background-position: 0 0; }
.roundYellowRTR { background-position: right -11px; }
.roundYellowRBL { background-position: 0 -32px; }
.roundYellowRBR { background-position: right -44px; }
.roundYellowRTC { background-position: left -22px; }
.workspace-box .roundYellowRC {
    color: #393e2e;
    font: 13px Arial;
    background-color: #fff9e1;
    position: relative !important;
    *height: 1%;
    margin: -3px 2px -3px 1px;
    padding: 16px 5px 7px 13px;
}
.roundYellowRTC, .roundYellowRTR, .roundYellowRTL, .roundYellowRBC, .roundYellowRBR, .roundYellowRBL {
    background-image:  url('images/roundYellow.png');
}
.roundYellowRCL{
    background:  url('images/roundYellow-left.png') repeat-y 0 top;
}
.roundYellowRCR{
    background:  url('images/roundYellow-right.png') repeat-y right top;
}

/* /roundYellow*/

/* hintShadow*/
#workspace .workspace-box.hintShadow {
    margin: 0;
}
.paymentHints .hintsBlock {
    margin-left: -160px;
    width: 340px;
}
.hintShadowRTC, .hintShadowRTR, .hintShadowRTL, .hintShadowRBC, .hintShadowRBR, .hintShadowRBL {
    height: 41px;
}
.hintShadowRBC, .hintShadowRTC {
    margin: 0 32px;
}
.hintShadowRTL, .hintShadowRBL, .hintShadowRTR, .hintShadowRBR {
    background:  no-repeat;
}
.hintShadowRTC {
    background: repeat-x 0 -129px;
}
.hintShadowRBC {
    background: repeat-x 0 -277px;
}
.hintShadowRTL { background-position: 0 0; }
.hintShadowRTR { background-position: right -49px; }
.hintShadowRBL { background-position: 0 -177px; }
.hintShadowRBR { background-position: right -232px; }
.hintShadowRTC { background-position: left -129px; }
.workspace-box .hintShadowRC {
    color: #393e2e;
    font: 13px Arial;
    background-color: #fff;
    position: relative !important;
    *height: 1%;
    margin: 0 25px -3px 25px;
    padding: 0 5px 7px 15px;
}
.hintShadowRTC, .hintShadowRTR, .hintShadowRTL, .hintShadowRBC, .hintShadowRBR, .hintShadowRBL {
    background-image: url('images/hintShadow.png');
}
.hintShadowRCL{
    background: url('images/hintShadow-left.png') repeat-y 0 top;
}
.hintShadowRCR{
    background: url('images/hintShadow-right.png') repeat-y right top;
}
.hintShadowTriangle {
    background: url('images/hintShadow.png') no-repeat 0 100%;
    height: 12px;
    width: 19px;
    margin: 0 auto -17px;
    position: relative;
    z-index: 1;
}

/* /hintShadow*/

/* gradient*/
#workspace .workspace-box.gradient {
    margin: 17px 0 0;
    width: 725px;
}
.gradientRTC, .gradientRTR, .gradientRTL {
    height: 11px;
}
.gradientRBC, .gradientRBR, .gradientRBL {
    height: 8px;
}
.gradientRBC, .gradientRTC {
    margin: 0 9px 0 8px;
}
.gradientRTC {
    background: repeat-x 0 -32px;
}
.gradientRBC {
    background: repeat-x 0 -56px;
}
.gradientRTL { background-position: 0 0; }
.gradientRTR { background-position: right -13px; }
.gradientRTR, .gradientRTL {background-repeat: no-repeat}
.gradientRTC { background-position: left -26px; }
.workspace-box .gradientRC {
    color: #393e2e;
    font: 13px Arial;
    position: relative !important;
    *height: 1%;
    margin: -3px 5px 0 3px;
    padding: 14px 5px 7px 20px;
    background: #fff url('images/contentGradient.jpg') repeat-x 0 100%;
}
.gradientRTC, .gradientRTR, .gradientRTL {
    background-image:  url('images/gradientTop.png');
}
.gradientRCL{
    background:  url('images/gradientTopLeft.png') repeat-y 0 top;
}
.gradientRCR{
    background:  url('images/gradientTopRight.png') repeat-y right top;
}
.gradientRBL{
    background:  url('images/gradientBottom.png') no-repeat 0 0;
}
.gradientTitle {
    padding: 33px 0 0 36px;
}
.contentTitle {
    display: inline-block;
    padding: 7px 0 11px 12px;
}
.outerData {
    display: inline-block;
    margin: 31px 20px 0 55px;
    width: 655px;
}
.rightDataArea {
    float: right;
    margin-top: 54px;
    width: 194px;
}
.rightDataArea .clientButton, .rightDataArea .commandButton {
    margin-bottom: 12px;
}
/* /gradient*/

/* grayPointer*/
#workspace .workspace-box.grayPointer {
    margin: 0 1px;
    width: 630px;
}
.grayPointerRTC, .grayPointerRTR, .grayPointerRTL, .grayPointerRBC, .grayPointerRBR, .grayPointerRBL {
    height: 8px;
}
.grayPointerRBC, .grayPointerRTC {
    margin: 0 6px;
}
.grayPointerRTL, .grayPointerRBL, .grayPointerRTR, .grayPointerRBR {
    background:  no-repeat;
}
.grayPointerRBC, .grayPointerRTC {
    background: repeat-x 0 -46px;
}
.grayPointerRTL { background-position: 0 0; }
.grayPointerRTR { background-position: right -10px; }
.grayPointerRTC { background-position: left -20px; }
.grayPointerRBL { background-position: 0 -27px; }
.grayPointerRBR { background-position: right -36px; }
.workspace-box .grayPointerRC {
    background-color: #fefdfc;
    position: relative !important;
    *height: 1%;
    margin: -3px 2px -3px 1px;
    padding: 6px 5px 9px 22px;
}
.grayPointerRTC, .grayPointerRTR, .grayPointerRTL, .grayPointerRBC, .grayPointerRBR, .grayPointerRBL {
    background-image:  url('images/basketGrayPointer.png');
}
.grayPointerRCL{
    background:  url('images/basketGrayPointer-left.png') repeat-y 0 top;
}
.grayPointerRCR{
    background:  url('images/basketGrayPointer-right.png') repeat-y right top;
}
/* /grayPointer*/

/* lightBrown*/
#workspace .workspace-box.lightBrown {
    margin: 0 1px;
    padding-left: 0;
    width: 630px;
}
.lightBrownRTC, .lightBrownRTR, .lightBrownRTL, .lightBrownRBC, .lightBrownRBR, .lightBrownRBL {
    height: 7px;
}
.lightBrownRBC, .lightBrownRTC {
    margin: 0 6px;
}
.lightBrownRTL, .lightBrownRBL, .lightBrownRTR, .lightBrownRBR {
    background:  no-repeat;
}
.lightBrownRBC, .lightBrownRTC {
    background: repeat-x 0 -15px;
}
.lightBrownRTL { background-position: 0 0; }
.lightBrownRTR { background-position: right -9px; }
.lightBrownRTC { background-position: left -18px; }
.lightBrownRBL { background-position: 0 -24px; }
.lightBrownRBR { background-position: right -33px; }
.workspace-box .lightBrownRC {
    background-color: #f2ecdc;
    position: relative !important;
    *height: 1%;
    margin: -3px 2px -3px 1px;
    padding: 6px 5px 0 22px;
}
.lightBrownRTC, .lightBrownRTR, .lightBrownRTL, .lightBrownRBC, .lightBrownRBR, .lightBrownRBL {
    background-image:  url('images/lightBrownRound.png');
}
.lightBrownRCL, .lightBrownRCR {
    background-color: #f2ecdc;
}
/* /lightBrown*/

/* is-typeOther*/

#profileWorkspace .workspace-box .is-typeOther.workspace-box {
    margin: 0;
    padding: 0;
    width: 665px;
}
#profileWorkspace .sg-serviceGroup .workspace-box .is-typeOther.workspace-box {
    width: 685px;
}
.is-typeOtherRTC, .is-typeOtherRTR, .is-typeOtherRTL {
    height: 7px;
}
.is-typeOtherRBC, .is-typeOtherRBR, .is-typeOtherRBL {
    height: 12px;
}
.is-typeOtherRBC, .is-typeOtherRTC {
    margin: 0 12px 0 10px;
}
.is-typeOtherRTL, .is-typeOtherRBL, .is-typeOtherRTR, .is-typeOtherRBR {
    background:  no-repeat;
}
.is-typeOtherRBC, .is-typeOtherRTC {
    background: repeat-x 0 -86px;
}
.is-typeOtherRTL { background-position: 0 0; }
.is-typeOtherRTR { background-position: right -16px; }
.is-typeOtherRTC { background-position: left -30px; }
.is-typeOtherRBL { background-position: 0 -44px; }
.is-typeOtherRBR { background-position: right -63px; }
.workspace-box .is-typeOtherRC {
    background-color: #eef1f6;
    position: relative !important;
    *height: 1%;
    margin: 0 8px 0 5px;
    padding: 6px 5px 0 0;
}
.is-typeOtherRTC, .is-typeOtherRTR, .is-typeOtherRTL, .is-typeOtherRBC, .is-typeOtherRBR, .is-typeOtherRBL {
    background-image:  url('images/lightBlueRound.png');
}
.is-typeOtherRCR {
    background:  url('images/lightBlueRound-right.png') repeat-y right 0;
}
.is-typeOtherRCL {
    background:  url('images/lightBlueRound-left.png') repeat-y left 0;
}
/* /is-typeOther*/

/* is-typeOther - lightBrown*/
#profileWorkspace .lightBrown .is-typeOther.workspace-box {
    margin: 0;
    padding: 0;
    width: 695px;
}
#profileWorkspace .sg-serviceGroup .workspace-box.lightBrown .is-typeOther.workspace-box {
    width: 685px;
}
#profileWorkspace .sg-serviceGroup .workspace-box.lightBrown .fakeLayerColors.workspace-box {
    width: 650px;
}
.lightBrown .is-typeOtherRTC, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRTL {
    height: 20px;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRBR, .lightBrown .is-typeOtherRBL {
    height: 25px;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRTC {
    margin: 0 28px 0 31px;
}
.lightBrown .is-typeOtherRTL, .lightBrown .is-typeOtherRBL, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRBR {
    background:  no-repeat;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRTC {
    background: repeat-x 0 -153px;
}
.lightBrown .is-typeOtherRTL { background-position: 0 0; }
.lightBrown .is-typeOtherRTR { background-position: right -25px; }
.lightBrown .is-typeOtherRTC { background-position: left -51px; }
.lightBrown .is-typeOtherRBL { background-position: 0 -89px; }
.lightBrown .is-typeOtherRBR { background-position: right -121px; }
.lightBrown .workspace-box .is-typeOtherRC {
    background-color: #eef1f6;
    position: relative !important;
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.lightBrown .is-typeOtherRTC, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRTL,
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRBR, .lightBrown .is-typeOtherRBL {
    background-image:  url('images/lightBlueShadow.png');
}
.lightBrown .is-typeOtherRCR {
    background:  url('images/lightBlueShadow-right.png') repeat-y right 0;
}
.lightBrown .is-typeOtherRCL {
    background:  url('images/lightBlueShadow-left.png') repeat-y left 0;
}
/* /is-typeOther - lightBrown*/

/* fakeLayerColors*/
#profileWorkspace .workspace-box .fakeLayerColors.workspace-box {
    margin: 0;
    padding: 0;
    width: 665px;
}
#profileWorkspace .sg-serviceGroup .workspace-box .fakeLayerColors.workspace-box {
    width: 660px;
}
#profileWorkspace .sg-serviceGroup .workspace-box.lightBrown .fakeLayerColors.workspace-box {
    width: 650px;
}
.fakeLayerColorsRTC, .fakeLayerColorsRTR, .fakeLayerColorsRTL, .fakeLayerColorsRBC, .fakeLayerColorsRBR, .fakeLayerColorsRBL  {
    height: 7px;
}
.fakeLayerColorsRBC, .fakeLayerColorsRTC {
    margin: 0 11px 0 10px;
}
.fakeLayerColorsRTL, .fakeLayerColorsRBL, .fakeLayerColorsRTR, .fakeLayerColorsRBR {
    background:  no-repeat;
}
.fakeLayerColorsRBC, .fakeLayerColorsRTC {
    background: repeat-x 0 -86px;
}
.fakeLayerColorsRTL { background-position: 0 0; }
.fakeLayerColorsRTR { background-position: right -16px; }
.fakeLayerColorsRTC { background-position: left -30px; }
.fakeLayerColorsRBL { background-position: 0 -44px; }
.fakeLayerColorsRBR { background-position: right -63px; }
.workspace-box .fakeLayerColorsRC {
    background: #ccd3df;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -khtml-opacity: 0.4;
    position: relative !important;
    *height: 1%;
    margin: 0 12px 0 10px;
}
.fakeLayerColorsRTC, .fakeLayerColorsRTR, .fakeLayerColorsRTL, .fakeLayerColorsRBC, .fakeLayerColorsRBR, .fakeLayerColorsRBL {
    background-image:  url('images/deepBlueRound.png');
}
.fakeLayerColorsRCR {
    background:  url('images/deepBlueRound-right.png') repeat-y right 0;
}
.fakeLayerColorsRCL {
    background:  url('images/deepBlueRound-left.png') repeat-y left 0;
}

.is-typeActive .fakeLayerColorsRTC, .is-typeActive .fakeLayerColorsRTR, .is-typeActive .fakeLayerColorsRTL,
.is-typeActive .fakeLayerColorsRBC, .is-typeActive .fakeLayerColorsRBR, .is-typeActive .fakeLayerColorsRBL {
    background-image:  url('images/basketBeige.png');
}
.is-typeActive .fakeLayerColorsRCR {
    background:  url('images/basketBeige-right.png') repeat-y right 0;
}
.is-typeActive .fakeLayerColorsRCL {
    background:  url('images/basketBeige-left.png') repeat-y left 0;
}
.is-typeActive .workspace-box .fakeLayerColorsRC {
    background-color: #e7e7e2;
}
/* /fakeLayerColors*/

/* is-typeActive*/
#profileWorkspace .workspace-box .is-typeActive.workspace-box {
    margin: 0;
    padding: 0;
    width: 665px;
}
#profileWorkspace .sg-serviceGroup .workspace-box .is-typeActive.workspace-box {
    width: 660px;
}
.is-typeActiveRTC, .is-typeActiveRTR, .is-typeActiveRTL, .is-typeActiveRBC, .is-typeActiveRBR, .is-typeActiveRBL  {
    height: 7px;
}
.is-typeActiveRBC, .is-typeActiveRTC {
    margin: 0 11px 0 10px;
}
.is-typeActiveRTL, .is-typeActiveRBL, .is-typeActiveRTR, .is-typeActiveRBR {
    background:  no-repeat;
}
.is-typeActiveRBC, .is-typeActiveRTC {
    background: repeat-x 0 -86px;
}
.is-typeActiveRTL { background-position: 0 0; }
.is-typeActiveRTR { background-position: right -16px; }
.is-typeActiveRTC { background-position: left -30px; }
.is-typeActiveRBL { background-position: 0 -44px; }
.is-typeActiveRBR { background-position: right -63px; }
.workspace-box .is-typeActiveRC {
    background: #fff;
    *height: 1%;
    margin: 0 8px 0 5px;
    padding: 6px 5px 0 0;
}
.is-typeActiveRTC, .is-typeActiveRTR, .is-typeActiveRTL, .is-typeActiveRBC, .is-typeActiveRBR, .is-typeActiveRBL {
    background-image:  url('images/basketWhite.png');
}
.is-typeActiveRCR {
    background:  url('images/basketWhite-right.png') repeat-y right 0;
}
.is-typeActiveRCL {
    background:  url('images/basketWhite-left.png') repeat-y left 0;
}
/* /is-typeActive*/

/* is-typeActive - lightBrown*/
#profileWorkspace .lightBrown .is-typeActive.workspace-box {
    margin: 0;
    padding: 0;
    width: 695px;
}
#profileWorkspace .sg-serviceGroup .lightBrown .is-typeActive.workspace-box {
    width: 685px;
}
#profileWorkspace .sg-serviceGroup .lightBrown .is-typeActiveFake.is-hold .workspace-box {
    width: 685px;
}
.lightBrown .is-typeActiveRTC, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRTL {
    height: 20px;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRBR, .lightBrown .is-typeActiveRBL  {
    height: 25px;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRTC {
    margin: 0 28px 0 31px;
}
.lightBrown .is-typeActiveRTL, .lightBrown .is-typeActiveRBL, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRBR {
    background:  no-repeat;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRTC {
    background: repeat-x 0 -153px;
}
.lightBrown .is-typeActiveRTL { background-position: 0 0; }
.lightBrown .is-typeActiveRTR { background-position: right -25px; }
.lightBrown .is-typeActiveRTC { background-position: left -51px; }
.lightBrown .is-typeActiveRBL { background-position: 0 -89px; }
.lightBrown .is-typeActiveRBR { background-position: right -121px; }
.lightBrown .workspace-box .is-typeActiveRC {
    background: #fff;
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.lightBrown .is-typeActiveRTC, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRTL, .lightBrown .is-typeActiveRBC,
.lightBrown .is-typeActiveRBR, .lightBrown .is-typeActiveRBL {
    background-image:  url('images/basketWhiteShadow.png');
}
.lightBrown .is-typeActiveRCR {
    background:  url('images/basketWhiteShadow-right.png') repeat-y right 0;
}
.lightBrown .is-typeActiveRCL {
    background:  url('images/basketWhiteShadow-left.png') repeat-y left 0;
}
.lightBrown .is-invoiceSubscription {
    margin-top: -34px;
}
/* /is-typeActive - lightBrown*/

.is-hold .is-typeActiveRTC, .is-hold.is-typeActiveRTR, .is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBC,
.is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL, .is-hold .is-typeActiveRTR {
    background-image:  url('images/basketOrange.png');
}
.is-hold .is-typeActiveRCR {
    background:  url('images/basketOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeActiveRCL {
    background:  url('images/basketOrange-left.png') repeat-y left 0;
}
.is-hold .is-typeOtherRTC, .is-hold.is-typeOtherRTR, .is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBC,
.is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL, .is-hold .is-typeOtherRTR{
    background-image:  url('images/basketBlueOrange.png');
}
.is-hold .is-typeOtherRCR {
    background:  url('images/basketBlueOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeOtherRCL {
    background:  url('images/basketBlueOrange-left.png') repeat-y left 0;
}

/* is-hold - blue*/
.is-typeOtherFake.is-hold, .is-typeActiveFake.is-hold {
    padding-bottom: 25px;
    margin-left: -20px;
    width: 720px;
}
.lightBrown .is-typeOtherFake.is-hold, .lightBrown .is-typeActiveFake.is-hold {
    padding-bottom: 0;
    margin-left: -13px;
}
#profileWorkspace .is-typeOtherFake.is-hold .workspace-box.is-typeOther,
#profileWorkspace .is-typeActiveFake.is-hold .workspace-box.is-typeActive {
    width: 700px;
}
#profileWorkspace .is-hold.workspace-box {
    width: 695px;
}
.is-hold .is-typeOtherRTC, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRTL,
.is-hold .is-typeActiveRTC, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRTL {
    height: 20px;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL  {
    height: 25px;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRTC,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRTC {
    margin: 0 28px 0 31px;
}
.is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBL, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRBR,
.is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBL, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRBR {
    background:  no-repeat;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRTC,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRTC {
    background: repeat-x 0 -153px;
}
.is-hold .is-typeOtherRTL, .is-hold .is-typeActiveRTL { background-position: 0 0; }
.is-hold .is-typeOtherRTR, .is-hold .is-typeActiveRTR { background-position: right -25px; }
.is-hold .is-typeOtherRTC, .is-hold .is-typeActiveRTC { background-position: left -51px; }
.is-hold .is-typeOtherRBL, .is-hold .is-typeActiveRBL { background-position: 0 -89px; }
.is-hold .is-typeOtherRBR, .is-hold .is-typeActiveRBR { background-position: right -121px; }
.is-hold .is-typeOtherRC, .is-hold .is-typeActiveRC {
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.is-hold .is-typeOtherRTC, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL {
    background-image:  url('images/basketBlueOrange.png');
}
.is-hold .is-typeOtherRCR {
    background:  url('images/basketBlueOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeOtherRCL {
    background:  url('images/basketBlueOrange-left.png') repeat-y left 0;
}

.is-hold .is-typeActiveRTC, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL {
    background-image:  url('images/basketOrange.png');
}
.is-hold .is-typeActiveRCR {
    background:  url('images/basketOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeActiveRCL {
    background:  url('images/basketOrange-left.png') repeat-y left 0;
}
/* /is-hold - blue*/
.notice {
    background:  url('images/notice.png') no-repeat 6px 2px;
    color: #171717;
    font: 14px/18px Arial;
    padding-left: 65px;
    min-height: 38px;
}
.noticeTitle {
    font: 16px Arial;
    margin-bottom: 3px;
    padding-top: 1px;
}
.redLight .noticeTitle, .red .noticeTitle {
   color: #f01616;
}
.noticeAttention {
    background:  url('images/noticeAttention.png') no-repeat 4px -2px;
}
.noticeBeforeTick {
    background:  url('images/noticeBeforeTick.png') no-repeat 6px 0;
}
.noticeCancel {
    background:  url('images/noticeCancel.png') no-repeat 5px -1px;
}
.noticeCreditDone {
    background:  url('images/noticeCreditDone.png') no-repeat 6px -3px;
    color: #171717;
    font: 14px/18px Arial;
    padding-left: 65px;
    min-height: 38px;
}
.noticeTick {
    background:  url('images/noticeTick.png') no-repeat 6px -2px;
}
.noticeVisit {
    background:  url('images/noticeVisit.png') no-repeat 6px -1px;
}
.orangeNotice .noticeTitle {
    color: #f37407;
    display: inline-block;
    font: 18px Arial;
    margin-bottom: 6px;
}
.orangeNotice img {
    display: inline-block;
    float: left;
    margin: 0 15px 0 5px;
}
.orangeNotice .messageContainer {
    color: #171717;
    font: 14px/14px Arial;
}
.notice.withoutBr {
    margin-bottom: -20px;
}