/*
    Стили для выдвижной панели настроек виджетов страницы в её шапке
    (слайд-бар)
    Его высота фиксирована и составляет 325px:
      40  - заголовок
      225 - тело
      60 - кнопки
    Также снизу есть рычаг высотой 11 px.
*/

/* Свойства всего компонента */
.SlideBar {
    background: transparent;
    border-bottom: 1px solid #A9A9A9;
    position: relative;
    height: 325px;
    overflow: visible;
    float: left;
    width: 100%;
}

/* Свойства всего компонента для режима "убран" */
.SlideBar.hidden {
    top: -315px;
    margin-bottom: -315px;
}

/* Заголовок */
.SlideBar .head {
    background: #449D2F;
    height: 40px;
}

.SlideBar .head .title {
    font-family:Arial,Tahoma;
    width: 965px;
    text-align:left;
    font-size:18px;
    color:white;
    padding-bottom:10px;
    padding-top:10px;
    margin: 0;
}

.SlideBar .head .image {
    margin-right: 856px;
    margin-top: -2px;
}

/* Тело */
.SlideBar .body {
    background: white url(images/horizontalShadow.png) center bottom repeat-x;
    height: 225px;
}

.SlideBar .body .content {
    width: 1024px;
    height: 225px;
}

/* Рычаг */
.SlideBar .lever {
    background: transparent url(images/slidebar-lever.png) no-repeat;
    overflow: visible;
    position: relative;
    width: 173px;
    height: 11px;
    z-index: 11;
}

.SlideBar .lever .label {
    top: -8px;
    position: relative;
}

.SlideBar .lever:hover {
    cursor: pointer;
}

.buttonSlidebarContainer {
    background: #F8F8F8;
}

.SlideBar .buttonBlock{
    height: 57px;
    padding-top: 3px;
    width:980px;
}

.SlideBar .buttonBlock .description{
    float: left;
    width: 400px;
    padding-top: 10px;
    text-align: left;
    padding-left: 6px;
    color: #464646;
}

.SlideBar .buttonBlock .buttons {
    margin-right:14px;
}
