.MaxSize{
	width:  100%;
	height:  100%;
	}
.MaxWidth{
	width:  100%;
	}
body{
	font-size:  12px;
	font-family:  Arial;
	line-height:  1.2em;
	color:  #3d3d3d;
	margin: 0;
	padding: 0;
	}
table{
	color:  #3d3d3d;
	font-size:  12px;
	font-family:  Arial;
	line-height:  1.2em;
	}
.displayBlock{
	display:  block;
	}
.displayNone{
	display:  none;
	}
.colorText{
	color:  #367f28;
	}
legend{
	color:  #3d3d3d;
	font-weight:  bold;
	}
td.input{
	background-position: 0px 50%;
	background-repeat:  no-repeat;
	width:  241px;
	}
.login_whiteBg{
	background-position: left top;
	background-repeat:  repeat-x;
	}
.login_greenBg{
	background-position: left top;
	background-repeat:  no-repeat;
    padding:15px 0 80px 50px;
	}
.login_greenBg input{
	border-style:  solid;
	border-width: 0;
	background-color:  transparent;
    padding:5px 5px 0 5px;
	width:  233px;
	height:  22px;
	}
.login_greenBg table{
	font-size:  11pt;
	color:  #ffffff;
	}
.hdrLogo{
    padding:0 0 0 50px;
	}
.hdrSystemTitle{
	font-size:  14pt;
	font-weight:  bold;
	text-align:  center;
	}
.hdrSystemTitle span{
	font-size:  11pt;
	}
.hdrRghtBg{
	background-position: right top;
	background-repeat:  no-repeat;
	color:  #ffffff;
	padding-right:  20px;
	}
.hdrCenterBg{
	background-position: center top;
	background-repeat:  repeat-x;
	}
.hdrText{
	font-size:  10pt;
	vertical-align:  bottom;
	}
.hdrIconSpace{
    padding:10px 20px 0 0;
	height:  20px;
	}
.hdrIconSpace a{
	text-decoration:  none;
	}
.hdrtelParam{
	font-size:  18pt;
	white-space:  nowrap;
	vertical-align:  top;
	height:  45px;
	padding-top:  4px;
	}
#hdrMenu{
	z-index:  0;
	padding-top:  55px;
	width:  100%;
    border:1px solid #f2efe8;
	}
.mainMenuTbl{
	background-position: center bottom;
	background-repeat:  repeat-x;
	text-align:  center;
	vertical-align:  bottom;
	padding-bottom:  10px;
	}
.mmInsetActive{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #90bf2d;
	color:  #fff;
    padding:82px 13px 22px 13px;
	height:  118px;
	text-transform:  uppercase;
	font-size:  10pt;
	cursor:  pointer;
	}
.mmInsetActive span{
	width:  100%;
	}
.mmInset{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #a9a9a9;
	text-decoration:  none;
	padding:82px 13px 22px 13px;
	height:  118px;
	text-transform:  uppercase;
	font-size:  10pt;
	cursor:  pointer;
	}
.mmInset span{
	color:  #fff;
	padding: 0;
	white-space:  nowrap;
	}
.mmInsetActiveLeftCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #90bf2d;
	width:  9px;
	}
.mmInsetActiveRightCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #90bf2d;
	width:  9px;
	}
.mmInsetLeftCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #a9a9a9;
	width:  9px;
	}
.mmInsetRightCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #a9a9a9;
	width:  9px;
	position:  relative;
	}
.mmInsetMOver .mmInset{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #90bf2d;
	color:  #fff;
    padding:82px 13px 22px 13px;
	height:  118px;
	text-transform:  uppercase;
	font-size:  10pt;
	cursor:  pointer;
	}
.mmInsetMOver .mmInsetLeftCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #90bf2d;
	width:  9px;
	}
.mmInsetMOver .mmInsetRightCorner{
	background-position: center bottom;
	background-repeat:  no-repeat;
	background-color:  #90bf2d;
	width:  9px;
	}
.mmExitBtn{
	background-position: center bottom;
	background-repeat:  repeat-x;
	vertical-align:  bottom;
	padding-bottom:  20px;
	}
.mmExitBtnBorder{
	background-position: center bottom;
	background-repeat:  no-repeat;
	width:  2px;
	height:  40px;
	}
.mmExitBtn a{
	color:  #3d3d3d;
	text-decoration:  none;
	padding-left:  10px;
	}
.mmDateInf{
	background-position: center bottom;
	background-repeat:  repeat-x;
	white-space:  nowrap;
	vertical-align:  bottom;
	padding-bottom:  20px;
	}
.mmDateInf span{
	color:  #7c7c7c;
	}
.mmNewAction{
	position:  absolute;
	left:  -6;
	top:  12;
	display:  none;
	}
.adminChange .mmInset{
	background-position: center top;
    border-bottom:1px solid #a3a3a3;
	padding: 0;
	height:  40px;
	}
.adminChange .mmInsetActive{
	background-position: center top;
	border-bottom:1px solid #a3a3a3;
	padding: 0;
	height:  40px;
	}
.adminChange .mmInset span{
	color:  #fff;
	}
.adminChange .mmInsetShadow{
	height:  0;
	}
.adminChange .mmInsetShadowLeftCorner{
	height:  0;
	}
.adminChange .mmInsetShadowRightCorner{
	height:  0;
	}
.adminChange .mmInsetLeftCorner{
	background-position: center top;
	height:  40px;
	padding: 0;
	}
.adminChange .mmInsetRightCorner{
	background-position: center top;
	height:  40px;
	padding: 0;
	}
.adminChange .mmInsetActiveLeftCorner{
	background-position: center top;
	height:  40px;
	padding: 0;
	}
.adminChange .mmInsetActiveRightCorner{
	background-position: center top;
	height:  40px;
	padding: 0;
	}
/*
.smInsChange .mmInset span{color:#ffffff;}
.smInsChange .mmInsetShadow{background:url('');height:0px;}
.smInsChange .mmInsetShadowLeftCorner{background:url('');height:0px;}
.smInsChange .mmInsetShadowRightCorner{background:url('');height:0px;}
.smInsChange .mmInsetLeftCorner{height:20px;}
.smInsChange .mmInsetRightCorner{height:20px;}
.smInsChange .mmInsetActiveLeftCorner{height:20px;}
.smInsChange .mmInsetActiveRightCorner{height:20px;}*/
.statInfTbl{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.statInfTbl .whiteBg{
	background-color:  #fff;
	}
.statInfTopBg{
	background-position: center top;
	background-repeat:  repeat-x;
	}
.statInfMiddleBg{
	background-color:  #fff;
	}
.statInfTextArea .statInfTextArea{} .statInfHelpArea .statInfTextArea{} .statInfHelpArea{} .statInfBtmBg{
	background-position: center bottom;
	background-repeat:  repeat-x;
	}
.statInfTextArea span{
	background-color:  #fff;
    padding:2px 4px;
	}
.statInfTextArea .colorText{
	color:  #768730;
	padding-right:  0;
	}
.statInfHelpArea span{
    padding:0 4px;
	}
.statInfBorder{
	border-left:1px  solid #d8d4cd;
	}
.filterArea{
	padding-bottom:  10px;
	}
.filter{
    padding:4px;
	*padding:7px 4px;
	height:  auto;
	}
.filter span{
	cursor:  default;
	}

.filter .selectOperationsTypeActive{
    cursor: pointer;
    color: #449D2F;
    border-bottom: 1px solid #449D2F;
}

.filterLink{
	text-align:  left;
    padding:2px 0;
	}
.fltrInfArea{
	font-size:  8pt;
	}
.fltrInfArea input{
    border:1px solid #367f28;
	font-size:  7pt;
	}
.fltrInfArea select{
    border:1px solid #367f28;
	font-size:  7pt;
	}
.filterInfArea span{
	cursor:  default;
	}
.fltrBgTop{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.fltrBgTopLeftCorner{
	background-repeat:  no-repeat;
	width:  25px;
	height:  51px;
	}
.fltrBgTopLeftCorner img{
	width:  33px;
	height:  40px;
	}
.fltrBgTopRightCorner{
	background-repeat:  no-repeat;
	width:  25px;
	height:  51px;
	}
.fltrBgTopRightCorner img{
	width:  33px;
	height:  40px;
	}
.fltrBgBtm{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.fltrBgBtmLeftCorner{
	background-repeat:  no-repeat;
	width:  25px;
	height:  33px;
	}
.fltrBgBtmRightCorner{
	background-repeat:  no-repeat;
	width:  25px;
	height:  33px;
	}
.fltrBg{
	background-color:  #fff;
	width:  100%;
	}
.fltrBgLeftCorner{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.fltrBgRightCorner{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.fltrCellView{
	padding: 0;
	}
span .filterAsterisk{
	color:  #367f28;
	cursor:  default;
	}
.leftSectionArea{
	padding-top:  15px;
	}
.leftMenu{
	width:  240px;
	}
.lmBgHeader{
	background-position: center bottom;
	background-repeat:  repeat-x;
	}
.lmBgBottom{
	background-position: center bottom;
	background-repeat:  repeat-x;
	}
.lmBgRight{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.lmInformationArea{
	width:  100%;
	}
.lmNewAction{
	position:  absolute;
	left:  168;
	top:  12;
	display:  none;
	}
.infBlInformationArea{
    padding:0 0 20px 0;
	}
.infBlInformation .lmTitle{
	font-weight:  bold;
	font-size:  12pt;
	}
.infBlAreaInf{
	font-size:  8pt;
	color:  #666;
    padding:0 20px 0 30px;
	background-position: left center;
	background-repeat:  repeat-y;
	}
.infBlBgRight{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.infBlAreaInf a{
	color:  #367f28;
	}
.infBlAreaInf span{
	font-size:  10pt;
	color:  #367f28;
	font-weight:  bold;
	}
.infBlAreaInf .bigLetter{
	font-size:  14pt;
	}
.currencyTbl td{
	text-align:  center;
	padding: 3px;
	}
.currencyTbl .colorText{
	color:  #367f28;
	}
.subMenu{
	text-align:  center;
    padding:0 20px;
	background-position: left center;
	background-repeat:  repeat-y;
	}
.subMenu span{
	width:  100%;
	height:  100%;
	}
.subMTextTitle{
	font-size:  14pt;
	}
.subMInactiveInset{
	color:  #666;
	text-decoration:  underline;
    padding:0 0 11px 10px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	font-size:  10pt;
	}
.subMActiveInset{
	text-decoration:  underline;
    padding:0 0 11px 10px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	font-size:  10pt;
	color:  #549505;
	}
.haveSubMenuLevel2 .subMInactiveInset{
	color:  #666;
	text-decoration:  underline;
    padding:0 0 11px 20px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	font-size:  10pt;
	}
.haveSubMenuLevel2 .subMActiveInset{
	text-decoration:  underline;
	padding:0 0 11px 20px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	font-size:  10pt;
	color:  #549505;
	}
.haveSubMenuLevel2 .subMInaciveTitleBg{
	color:  #666;
	text-decoration:  underline;
    padding:3px 0 3px 10px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	}
.haveSubMenuLevel2 .subMAciveTitleBg{
	color:  #666;
	text-decoration:  underline;
	padding:3px 0 3px 10px;
	cursor:  pointer;
	background-repeat:  no-repeat;
	}
.tableArea .btnBase{
	background-position: center center;
	background-repeat:  repeat-x;
	color:  #fff;
	white-space:  nowrap;
	height:  20px;
    padding:0 4px 0 0;
	cursor:  pointer;
	}
.tableArea .btnLeftCorner{
	background-position: right center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	font-size:  7pt;
	}
.tableArea .btnRightCorner{
	background-position: left center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	font-size:  7pt;
	}
.tableArea .btnBase span{
	cursor:  pointer;
	}
.tableArea .buttDiv{
	height:  auto;
    padding:0 5px;
	vertical-align:  middle;
	}
.tableArea .buttDiv select{
	font-size:  8pt;
    border:1px solid #b2ada4;
	}
.btnMenu .btnBase{
	background-repeat:  repeat-x;
	color:  #fff;
	white-space:  nowrap;
	height:  20px;
    padding:0 4px 0 0;
	cursor:  pointer;
	}
.btnMenu .btnLeftCorner{
	background-position: right center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	font-size:  7pt;
	}
.btnMenu .btnRightCorner{
	background-position: left center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	font-size:  7pt;
	}
.btnMenu .btnBase span{
	cursor:  pointer;
	}
.disableBtn .btnBase{
	background-repeat:  repeat-x;
	white-space:  nowrap;
	height:  20px;
    padding:0 4px 0 0;
	cursor:  pointer;
	}
.disableBtn .btnLeftCorner{
	background-position: right center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	}
.disableBtn .btnRightCorner{
	background-position: left center;
	background-repeat:  no-repeat;
	width:  12px;
	height:  20px;
	}
.disableBtn .btnBase span{
	cursor:  pointer;
	}
.defaultBtn .btnBase{
	background-repeat:  repeat-x;
	color:  #fff;
	white-space:  nowrap;
	height:  20px;
	padding:0 4px 0 0;
	cursor:  pointer;
	}
.defaultBtn .btnLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  15px;
	height:  26px;
	font-size:  7pt;
	}
.defaultBtn .btnRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  15px;
	height:  26px;
	font-size:  7pt;
	}
.defaultBtn .btnBase span{
	cursor:  pointer;
	}
.dictBtn .btnBase{
	background-repeat:  repeat-x;
	color:  #fff;
	white-space:  nowrap;
	height:  20px;
	padding:0 4px 0 0;
	cursor:  pointer;
	}
.dictBtn .btnLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  15px;
	height:  26px;
	font-size:  7pt;
	}
.dictBtn .btnRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  15px;
	height:  26px;
	font-size:  7pt;
	}
.dictBtn .btnBase span{
	cursor:  pointer;
	}
.btnBase img{
	width:  0;
	height:  0;
	}
#login .btnLeftCorner{
	cursor:  pointer;
	width:  0;
	}
#login .btnBase{
	font:  14pt Arial;
	color:  #fff;
    padding:10px 8px 0 0;
	cursor:  pointer;
	}
#login .btnRightCorner{
	background-position: top center;
	background-repeat:  no-repeat;
	width:  46px;
	height:  46px;
	font-size:  7pt;
	cursor:  pointer;
	}
#login .attention .btnLeftCorner{
	font-size:  7pt;
	cursor:  pointer;
	}
#login .attention .btnRightCorner{
	cursor:  pointer;
	width:  0;
	}
#login .tblHeader{
	padding-bottom:  0;
	}
.btnMLeftCorner{
	background-repeat:  no-repeat;
	width:  20px;
	height:  34px;
	}
.btnMLeftCorner img{
	width:  20px;
	height:  34px;
	}
.btnMBg{
	background-position: center top;
	background-repeat:  repeat-x;
	height:  34px;
	white-space:  nowrap;
	}
.btnMRightCorner{
	background-repeat:  no-repeat;
	width:  20px;
	height:  34px;
	}
.btnMRightCorner img{
	width:  20px;
	height:  34px;
	}
.list_Table input{
	border-width: 0;
	}
.list_Header{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	color:  #3d3d3d;
	font-size:  8pt;
	font-weight:  bold;
    padding:0 4px;
	text-align:  center;
	white-space:  nowrap;
	height:  20px;
	}
.list_Header th{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	color:  #3d3d3d;
	font-size:  8pt;
	font-weight:  bold;
    padding:0 4px;
	text-align:  center;
	white-space:  nowrap;
	height:  20px;
	}
.tblInfHeader th{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	color:  #3d3d3d;
	font-size:  8pt;
	font-weight:  bold;
	padding:0 4px;
	text-align:  center;
	white-space:  nowrap;
	height:  20px;
	}
.list_Items td{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	padding:0 4px;
	height:  20px;
	}
.list_Items2 td{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	padding:0 4px;
	height:  20px;
	}
.list_Items{
	background-color:  #f7f7f7;
	}
.list_empty{
	border-width: 0;
	color:  #cc3333;
	font-size:  9pt;
	font-weight:  bold;
	text-align:  center;
	}
.tblInf table{
	width:  100%;
	height:  100%;
    border:1px solid #fff;
	}
.list_Table{
	border:1px solid #fff;
	}
.tblHeaderLeftCorner img{
	width:  33px;
	height:  31px;
	}
.tblHeaderRightCorner img{
	width:  33px;
	height:  31px;
	}
.tblHeader .tblTitleText{
	font-size:  16pt;
	cursor:  default;
	}
.tblDescription{
	color:  #7f7f7f;
	}
.tblGroupTitle{
	color:  #367f28;
	}
.tblSettingsBeforeInf{
	border-style:  solid;
	border-color:  #9f9f9f;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	}
.tblNeedRightStyle{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
    padding:0 33px 0 0;
	}
.tblNeedLeftStyle{
	background-position: left center;
	background-repeat:  repeat-y;
    padding:0 0 0 33px;
	}
.tblInfGlobal{
	padding-top:  20px;
	}
.tblInf{
	background-color:  #fff;
    border:1px solid #fff;
	}
.tblInf table td{
	border-width: 0;
	vertical-align:  middle;
	}
.tblInf .needBorder table td{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	padding: 7px;
	}
.tblInf .needBorder table{
    border:1px solid #fff;
	}
.tblInfHeader td{
	font-weight:  bold;
	text-align:  center;
	}
.tblInfHeaderAbstrPrint td{
	text-align:  left;
	vertical-align:  top;
	}
.tblInf td{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0;
    padding:0 10px;
	}
.tblSearchMsg{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
    padding:3px 4px;
	}
.tblInfHeader .btmTd{
	border-style:  solid;
	border-color:  #f2efe8;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	}
.tblInf .tree td{
	height:  auto;
	}
.tblInfLeftSpace{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.tblInfRightSpace{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.tblInfBtn{
	background-color:  #fff;
    padding:20px 0 0 0;
	}
.tblBttnInfBtm{
	border-style:  solid;
	border-width: 0;
	border-color:  transparent;
    padding:15px 0;
	}
.tblHelpMsg{
	background-color:  #fff;
	padding:20px 0 0 0;
	}
.tblInf .labelAll{
	width:  250px;
	font-weight:  bold;
	color:  #000000;
	text-align:  left;
	}
.noBorder td{
    border:1px solid #fff;
	}
.needBorder table{
	border-style:  solid;
	border-width: 0;
	border-color:  #fff;
	}
.tblNumRec td{
    padding:2px 4px;
	color:  #9f9f9f;
	}
.tblNumRec select{
	font-size:  8pt;
	color:  #9f9f9f;
	}
.tblNumRec a{
	color:  #9f9f9f;
	}
.tableArea .redString{
	text-indent:  20px;
	}
.tblHelpHdrLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  21px;
	height:  22px;
	}
.tblHelpHdrRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  21px;
	height:  22px;
	}
.tblHelpHdr{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.tblHelpInfLeftSpace{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  22px;
	}
.tblHelpInfRightSpace{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  22px;
	}
.tblHelpFtr{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.tblHelpFtrLeftCorner{
	background-position: right bottom;
	background-repeat:  no-repeat;
	width:  23px;
	}
.tblHelpFtrRightCorner{
	background-position: left bottom;
	background-repeat:  no-repeat;
	width:  23px;
	}
.tblErrHdrLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  1px;
	height:  22px;
	}
.tblErrHdrRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  1px;
	height:  22px;
	}
.tblErrHdr{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.tblErrInfLeftSpace{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.tblErrInfSpace td{
	color:  red;
	}
.tblErrInfSpace .iconSpace{
	padding-right:  30px;
	}
.tblErrInfRightSpace{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	}
.tblErrFtr{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.tblErrFtrLeftCorner{
	background-position: right bottom;
	background-repeat:  no-repeat;
	width:  1px;
	}
.tblErrFtrRightCorner{
	background-position: left bottom;
	background-repeat:  no-repeat;
	width:  1px;
	}
.tblBtmHelp{
    padding:10px 0 20px 0;
	}
.tblBtmHelp table td{
	background-position: left top;
	background-repeat:  no-repeat;
	border-top:1px solid #9d9da1;
	color:  #666;
	font-size:  8pt;
    padding:9px 0 0 15px;
	}
.tblNoBorderInf{
	border-bottom:1px solid #fff;
	padding-left:  0;
	}
.newsList .tblInf table td{
	border-width: 0;
	}
.newsDate{
	color:  #367f28;
	font-weight:  bold;
	}
.newsTitle{
    padding:0 0 0 10px;
	color:  #367f28;
	font-weight:  bold;
	}
.newsText span{
    padding:0 4px;
	text-align:  justify;
	}
.pmntGlobal{
	width:  100%;
	}
.pmntBaseSpace .pmntBaseSpace{} .pmntBgBaseTop{
	background-repeat:  repeat-x;
	background-color:  #edece8;
	width:  33px;
	height:  51px;
	}
.pmntBgBaseTopAll{
	background-repeat:  repeat-x;
	background-color:  #edece8;
	width:  33px;
	height:  51px;
	}
.pmntBgBaseTopLeftCorner{
	background-position: left center;
	background-repeat:  no-repeat;
	width:  33px;
	height:  51px;
	}
.pmntBgBaseTopRightCorner{
	background-position: right center;
	background-repeat:  no-repeat;
	width:  33px;
	height:  51px;
	}
.pmntBgBase{
	background-color:  #fff;
	}
.pmntBgBaseLeftCorner{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  33px;
	}
.pmntBgBaseRightCorner{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  33px;
	}
.pmntBgBaseBtm{
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntBgBaseBtmAll{
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntBgBaseBtmLeftCorner{
	background-position: left center;
	background-repeat:  no-repeat;
	width:  33px;
	height:  33px;
	}
.pmntBgBaseBtmRightCorner{
	background-position: right center;
	background-repeat:  no-repeat;
	width:  33px;
	height:  33px;
	}
.pmntTitleBg{
	text-align:  center;
	vertical-align:  middle;
	height:  42px;
	}
.pmntTitleBg span{
	font-size:  18pt;
	cursor:  default;
	}
.pmntIcon{
	width:  0;
	height:  0;
	text-align:  center;
	vertical-align:  middle;
	background-repeat:  no-repeat;
	}
.pmntIcon img{
	width:  0;
	height:  0;
	}
.pmntTitleText{
	text-align:  left;
	padding-top:  4px;
	width:  100%;
	}
.pmntTitleText span{
	height:  50px;
	vertical-align:  top;
	}
.pmntInfArea{
	background-color:  #fff;
	padding: 8px;
	}
.pmntInfArea table{
	width:  100%;
	}
.pmntInfArea td{
    padding:20px 0 0 0;
	}
.pmntInfArea td.pmntInfAreaTitle{
    padding:4px 0 0 4px;
	}
.pmntInfArea span{
	padding: 0;
	cursor:  default;
	}
.pmntInfArea fieldset{
    border:1px solid #c8c3b9;
	width:  100%;
    padding:0 25px 0 5px;
	}
.pmntInfArea legend{
	color:  #3d3d3d;
	font-weight:  bold;
	}
.pmntInfArea .labelAll{
	font-weight:  bold;
	color:  #000000;
	text-align:  left;
	}
.pmntTitleBg .labelAll{
	width:  0px;
	}
.pmntInfAreaSignature{
    padding:0 0 20px 0;
	color:  #848c87;
	font-size:  8pt;
	vertical-align:  top;
	}
.pmntInnerTbl{
	width:  100%;
	text-align:  center;
	padding-top:  10px;
	}
.pmntInnerTbl table{
	padding: 0;
	margin: 0;
    border:1px solid #c3c3c3;
	}
.pmntInnerTbl table td{
	border:1px solid #c3c3c3;
	background-color:  white;
	}
.pmntConfirm{
    padding:2px 2px 0 2px;
	}
.pmntConfirm input{
    border:1px solid #c8c3b9;
	width:  100px;
	}
.pmntHelpHdrLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  16px;
	height:  22px;
	}
.pmntHelpHdrRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  16px;
	height:  22px;
	}
.pmntHelpHdr{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntHelpInfLeftSpace{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  20px;
	}
.pmntHelpInfRightSpace{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  20px;
	}
.pmntHelpFtr{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntHelpFtrLeftCorner{
	background-position: right bottom;
	background-repeat:  no-repeat;
	width:  21px;
	}
.pmntHelpFtrRightCorner{
	background-position: left bottom;
	background-repeat:  no-repeat;
	width:  21px;
	}
.pmntCnfrmHdrLeftCorner{
	background-position: right top;
	background-repeat:  no-repeat;
	width:  16px;
	height:  22px;
	}
.pmntCnfrmHdrRightCorner{
	background-position: left top;
	background-repeat:  no-repeat;
	width:  16px;
	height:  22px;
	}
.pmntCnfrmHdr{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntCnfrmInfLeftSpace{
	background-position: left center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  20px;
	}
.pmntCnfrmInfRightSpace{
	background-position: right center;
	background-repeat:  repeat-y;
	background-color:  #fff;
	width:  20px;
	}
.pmntCnfrmFtr{
	background-position: center bottom;
	background-repeat:  repeat-x;
	background-color:  #fff;
	}
.pmntCnfrmFtrLeftCorner{
	background-position: right bottom;
	background-repeat:  no-repeat;
	width:  21px;
	}
.pmntCnfrmFtrRightCorner{
	background-position: left bottom;
	background-repeat:  no-repeat;
	width:  21px;
	}
.ftr td{
	font-size:  8pt;
	color:  #b3b2b1;
	}
.ftr a{
	color:  #666;
	}
.workspaceArea{
    padding:15px 0 0 20px;
	vertical-align:  top;
	}
/*.workspaceRegion {height:100%;width:100%;overflow-x:scroll;scrollbar-base-color:#ffffff;scrollbar-arrow-color:#6d8f29;scrollbar-3dlight-color:#d8d8e4;scrollbar-darkshadow-color:#a3a3a3;}*/
.workspaceRegion span{
	cursor:  default;
	}
.label120{
	width:  120px;
	text-align:  right;
	padding: 4px;
	}
.LabelAbstractPrint{
	text-align:  left;
	}
.accountOperationsAbstract{
	width:  100%;
    border:1px solid black;
	}
.accountOperationsAbstract td{
    border:1px solid black;
	padding: 3px;
	}
.total td{
	padding: 3px;
	}
.LabelAll{
	color:  #7f7f7f;
	}
.context{
	color:  #8a8a8a;
	}
#centerLoadDiv{
	position:  absolute;
	top:  50%;
	left:  50%;
	margin-left:  -125px;
	margin-top:  -35px;
	display:  none;
	visibility:  visible;
	z-index:  3;
	background-color:  #f2efe8;
	width:  291px;
	height:  93px;
	}
#iCenterLoadDiv{
	position:  absolute;
	top:  50%;
	left:  50%;
	margin-left:  -125px;
	margin-top:  -35px;
	display:  none;
	visibility:  visible;
	z-index:  3;
	background-color:  #f2efe8;
	width:  291px;
	height:  93px;
	}
#bgWorkspaceRegion{
	position:  absolute;
	display:  none;
	z-index:  2;
	background-color:  #f2efe8;
	}
#iBgWorkspaceRegion{
	position:  absolute;
	display:  none;
	z-index:  2;
	background-color:  #f2efe8;
	}
iframe body{
	background-color:  #f2efe8;
	}
.selectWin{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #f9f9f9;
	width:  100%;
	height:  100%;
	}
.selectWin .title{
	background-position: center top;
	background-repeat:  repeat-x;
	background-color:  #bee614;
	border-left-style:  solid;
	border-left-width:  1px;
	border-left-color:  #b2ada4;
	border-right-color:  #d7d4cc;
	border-right-style:  solid;
	border-right-width:  1px;
	color:  #fff;
	border-bottom-color:  #768730;
	border-bottom-style:  solid;
	border-bottom-width:  1px;
	height:  32px;
	padding: 10px;
	}
.lpSystemTitle{
	color:  #367f28;
	font-size:  14pt;
	font-weight:  bold;
	text-align:  center;
	padding-bottom:  10px;
	}
.lpSystemTitle span{
	font-size:  11pt;
	}
.lpInputAreaTop{
	background-color:  #fff;
	height:  8px;
	padding: 0;
	}
.lpInputArea{
	background-color:  #fff;
	padding-bottom:  8px;
	}
.lpBase{
	background-color:  #fff;
	}
.lpInputArea td{
    padding:0 2px;
	font-size:  8pt;
	font-weight:  bold;
	}
.lpInputArea input{
	width:  200px;
	font-size:  8pt;
	height:  20px;
	}
.lpInputArea select{
	width:  200px;
	font-size:  8pt;
	height:  20px;
	}
.lpInputAreaBtm .btnBase{
	color:  #000000;
	}
.tree{
	background-color:  #f1f1f1;
	}
.component_calendar{
	text-align:  center;
    border:1px solid #d3d3d3;
	z-index:  150000;
	background-color:  #e3e0db;
	width:  180px;/*filter:alpha(opacity=95);*/
	-moz-opacity:  0.95;
	opacity:  0.95;
	}
.component_calendar_header{
	width:  100%;
	border-collapse:  collapse;
	font-size:  8pt;
	font-weight:  bold;
	background-repeat:  repeat-x;
    padding:5px 0;
	color:  #eee;
	}
.component_calendar_header td{
	cursor:  pointer;
	padding: 4px;
	font-size:  8pt;
	text-align:  center;
	}
.component_calendar_header td.component_calendar_head_name{
	cursor:  default;
	width:  100%;
	font-size:  8pt;
	}
.component_calendar_table{
	font-size:  8pt;
	width:  100%;
	margin: 0;
	padding: 0;
	text-align:  center;
	}
.component_calendar_table td{
	text-align:  center;
	width:  30px;
	height:  20px;/*background-color: #666;*/
	color:  #3d3d3d;
	cursor:  pointer;
	}
.component_calendar_table td.wday{
	font-weight:  bolder;
	background-color:  #bbb6ad;
	color:  #eee;
	cursor:  default;
	}
.component_calendar_table td.holiday{
	font-weight:  bolder;
	background-color:  #aacd0f;/*color: #828882;*/
	color:  #eee;
	cursor:  default;
	}
.component_calendar_table td.now{
	background-color:  #aa0000;
	color:  #fff;
	}
.component_calendar_table td.over{
	background-color:  #879747;
	color:  #eee;
	}
.calendar.workDay{
	background-color:  #02a;
	color:  #eee;
	}
#date_embed{
	width:  190px;
	height:  auto;
	overflow:  auto;
	}
.component_calendar_table td.helpText{
	width:  auto;
	height:  auto;
	text-align:  left;
	color:  #3d3d3d;
	}
.component_calendar_table td.work{
	background-color:  #e3e0db;
	}
.borderedTable table{
	border-collapse:  collapse;
	}
.borderedTable table td{
    border:1px solid black;
	}
