.switchery-css3 {
    background-color: #ffb062;
    border: 1px solid #ef8b34;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 62px;
    position: relative;
}

.switchery-css3 .switchery-control-css3 {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
}

.switchery-css3.disabled .switchery-control-css3 {
    display: none;
}

.switchery-css3.disabled .switchery-text {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.switchery-text {
    margin-top: 3px;
    float: left;
    width: 30px;
    font-size: 8px;
    line-height: 15px;
    letter-spacing: 2px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.switchery-text.onText {
    color: #FFF;
    margin-left: 13px;
}

.switchery-text.offText {
    color: #000;
    float: right;
    margin-right: 8px;
}

.switchery-container-css3 {
    background: transparent;
    border-radius: 10px;
    float: left;
    padding: 2px;
    position: relative;
}

.switchery-container-css3:hover {
    background: #FFDD7E;
}
.sbnkd-switchery {
    float: right;
    margin: 2px 0 0 0;
    padding: 0;
}
.sbnkd-switchery .switchery-container-css3 {
    padding: 0;
}
.sbnkd-switchery .switchery-css3{
    background-color: #ccc;
    height: 18px;
    width: 35px;
}
.sbnkd-switchery .switchery-control-css3 {
    height: 18px;
    width: 18px;
    z-index: 10;
}
.switchery-container-css3:hover {
    background-color: transparent;
}
.sbnkd-switchery .switchery-control-css3 {
    box-shadow: none;
}