/*
    Каталог виджетов
*/

.WidgetCatalog {
    position:relative;
    height: 220px;
    width: 974px;
}

.WidgetCatalog .dijitTabPaneWrapper.dijitTabContainerLeft-container.dijitAlignClient {width:816px;}

.widget-catalog-border {
    border: 1px solid lightgray;
    border-radius: 3px;
    position: absolute;
    width: 800px;
    height: 204px;
    left: 6px;
}

.widget-catalog-border .viewport {
    width: 790px;
    height: 195px;
    overflow: hidden;
    position: relative;
}

.widget-catalog-border .overview {
    list-style: none;
    width: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.widget-catalog-border .scrollbar {
    position: absolute;
    clear: both;
    height: 15px;
    top: 195px;
    left: 24px;
}

.widget-catalog-border .track {
    border-top: 1px solid lightgray;
    width: 100%;
    height: 8px;
    position: relative;
}

.widget-catalog-border .thumb {
    background: transparent url(images/thumb-horizontal.png) no-repeat 100% 50%;
    height: 21px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -6px;
    padding-right: 1px;
}

.widget-catalog-border .thumb .end {
    background: transparent url(images/thumb-horizontal.png) no-repeat 0 50%;
    overflow: hidden;
    height: 21px;
    width: 5px;
}

.scroll-arrow-left {
    position: absolute;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    background: transparent url(images/scroll-arrow-left.png) no-repeat 50% 100%;
    width: 7px;
    height: 9px;
    left: -8px;
}

.scroll-arrow-right {
    position: absolute;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background: transparent url(images/scroll-arrow-right.png) no-repeat 50% 100%;
    left: 749px;
    width: 7px;
    height: 9px;
    top: 0;
}

.button-widget-catalog {
    position: absolute;
    top:6px;
    height: 204px;
}

.button-widget-catalog img {
    top: 80px;
    position: absolute;
}

.left-button-widget-catalog {
    left: 0;
    top:6px;
    z-index: 1;
    background: url("images/hideTextLeft.png") repeat-y 7px 0;
    width: 41px;
}

.left-button-widget-catalog img {
    left:0;
    cursor:pointer;
}

.right-button-widget-catalog {
    left: 771px;
    background: url("images/hideTextRight.png") repeat-y 100% 0;
    width: 35px;
}

.right-button-widget-catalog img {
    right:-7px;
    cursor:pointer;
}

.WidgetPicture {
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 79px;
    width: 207px;
    margin: 5px;
    padding: 6px 0 0 12px;
    background-color: white;
}

.WidgetPicture .icon {
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 5px;
    margin-top: 6px;
}

.WidgetPicture .text {
    background: transparent no-repeat;
    float: left;
    width: 120px;
    margin-left: 5px;
    padding: 0;
}

.WidgetPicture .text .title {
    font: 12px Arial;
    color: #459C33;
    margin: 0 0 5px 0;
}

.WidgetPicture .text .annotation {
    font: 11px Arial;
    color: #999;
    word-wrap: break-word;
    line-height: 14px;
    cursor: inherit;
    margin: 0;
}

.WidgetPicture .button {
    background: transparent url("images/widget-picture-button.png");
    width: 64px;
    height: 15px;
    margin-top: 62px;
    margin-left: 135px;
    font: 11px Arial;
    color: #459C33;
    word-wrap: normal;
    vertical-align: middle;
    padding-top: 2px;
    padding-right: 8px;
    text-align:right;
}

.WidgetPicture .button:hover {
    text-decoration: underline;
    cursor: pointer;
}