/* Стили для виджетов */

.widget .clientPane{
    background-color: white;
    padding-top: 11px;
    width: auto;
}

.light .widget .clientPane {padding-top:0;}

.light .MobileBalanceWidget .clientPane {padding-top:11px;}

.MobileBalanceWidget .compactPane .enlargeBalance {margin-top: 10px;}

.widget .panelView{
    margin-top: 0;
}

.widget .panelEdit{
    margin-top: 0;
    width: 100%;
}

.sortable-light {
    margin-left: -5px;
    padding-left: 5px;
}

#workspace .sortable-light {
    margin-right: 5px;
}

#workspace.last-item .sortable-light {
    margin-right: -3px;
}

#right-section .sortable-light {
    margin-right: -5px;
}

#right-section .sortable-handle {
    margin-top: -5px;
}

#workspace .WidgetWindow div:first-child .workspace-box,
#right-section .WidgetWindow div:first-child .workspace-box {
    margin-top: 0;
}

.first-item.show .sortable-handle {
    background: url(images/arrow-to-right.png) #BFBFBF center no-repeat;
}

.last-item.show .sortable-handle {
    background: url(images/arrow-to-left.png) #BFBFBF center no-repeat;
}

.show .sortable-light {
    background-color: #BFBFBF;
}

.show .widget-container {
    padding-bottom: 1px;
}

/* ************************************************************************* */
/* Кнопки главного (верхнего) меню виджета */
/* Для белого заголовка */

/* Треугольная стрелка вверх */
.widget .whiteTop .triangularArrowUp {
    background: transparent url(images/arrows.gif) no-repeat 0 -192px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

/* Чёрная треугольная стрелка вниз */
.widget .whiteTop .triangularArrowDown {
    background: transparent url(images/arrows.gif) no-repeat 0 -210px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

.widget .whiteTop .widgetButtonResize {
    background: transparent url(images/widget-button-resize-on-white.gif) no-repeat;
    width: 22px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .whiteTop .widgetButtonSettings {
    background: transparent url(images/widget-button-settings-on-white.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .whiteTop .widgetActiveButtonSettings {
    background: transparent url(images/widget-button-settings-on-white.active.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .whiteTop .widgetButtonClose {
    background: transparent url(images/widget-button-close-on-white.gif) no-repeat;
    width: 11px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

/* Для оранжевого заголовка */
/* Треугольная стрелка вверх */
.widget .orangeTop .triangularArrowUp {
    background: transparent url(images/arrows.gif) no-repeat 0 -64px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

/* Белая треугольная стрелка вниз */
.widget .orangeTop .triangularArrowDown {
    background: transparent url(images/arrows.gif) no-repeat 0 -82px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

.widget .orangeTop .widgetButtonResize {
    background: transparent url(images/widget-button-resize-on-orange.gif) no-repeat;
    width: 22px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .orangeTop .widgetButtonSettings {
    background: transparent url(images/widget-button-settings-on-orange.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .orangeTop .widgetActiveButtonSettings {
    background: transparent url(images/widget-button-settings-on-orange.active.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .orangeTop .widgetButtonClose {
    background: transparent url(images/widget-button-close-on-orange.gif) no-repeat;
    width: 11px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

/* Для зеленого заголовка */
/* Треугольная стрелка вверх */
.widget .greenTop .triangularArrowUp {
    background: transparent url(images/arrows.gif) no-repeat 0 -64px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

/* Белая треугольная стрелка вниз */
.widget .greenTop .triangularArrowDown {
    background: transparent url(images/arrows.gif) no-repeat 0 -82px;
    width: 8px;
    height: 8px;
    padding: 0 1px;
    cursor: pointer;
}

.widget .greenTop .widgetButtonResize {
    background: transparent url(images/widget-button-resize-on-orange.gif) no-repeat;
    width: 22px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .greenTop .widgetButtonSettings {
    background: transparent url(images/widget-button-settings-on-orange.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .greenTop .widgetActiveButtonSettings {
    background: transparent url(images/widget-button-settings-on-orange.active.gif) no-repeat;
    width: 15px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

.widget .greenTop .widgetButtonClose {
    background: transparent url(images/widget-button-close-on-orange.gif) no-repeat;
    width: 11px;
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}

/* ************************************************************************* */
/* Кнопки "Применить" и "Отменить" */

.widget .clientButton{
    cursor: pointer;
}

/* ************************************************************************* */
/* Поля в панели настроек виджета */

.widget .paymentLabel {
    width: 45%;
    margin-right: 4px;
    word-wrap: break-word;
}

.MobileBalanceWidget .paymentLabel {
    width:55%;
}

#right-section .MobileBalanceWidget .paymentLabel {
    width:40%;
}

.widget .paymentValue {
    width: 48%;
    word-wrap: break-word;
}

.MobileBalanceWidget .paymentValue {
    width:43%;
}

.widget .buttons, .widget .panelEdit .buttons {
    border-top: 1px solid #d8d8d8;
    float: none;
    margin:0 -17px !important;
    padding-right: 17px;
    padding-top: 12px;
}

.widget .whiteTop .buttons {
    margin-left: -13px;
    margin-right: -13px;
}

.widget .notAvaliableWidget .buttons,  .widget .forbiddenWidget .buttons{
    margin-left: 0;
}

.hideWidgetsText {
    background: url(images/hideTextTop.png) repeat-x;
    height: 15px;
    margin-top: -15px;
    position: relative;
}

/* ************************************************************************* */
/* Вице-виджет */

.ViceWidget .panelView .loader {
    margin-left: 46%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.ViceWidget .panelView .notAvaliableWidget .notAvaliableTitle, .ViceWidget .panelView .forbiddenWidget .forbiddenTitle{
    color: #449D2F;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.ViceWidget .panelView .forbiddenWidget .forbiddenTitle{
    padding: 10px 0;
}

.ViceWidget .panelView .notAvaliableWidget .notAvaliableText{
    color: #999;
    text-align: center;
    margin: 15px 0;
}

/* ************************************************************************* */
/* Погодный виджет */

.WeatherWidget .loader {
    margin-bottom: 24px;
    margin-left: 46%;
    margin-top: 24px;
}
.WeatherWidget .panelView .todayPane {
    overflow: hidden;
    float: left;
    padding-right: 10px;
}

.WeatherWidget .panelView .todayPane .icon {
    float: left;
    padding: 10px 5px;
    margin: 0;
    width: 70px;
}

#right-section .WeatherWidget .panelView .todayPane .icon {
    padding:10px 0;
    margin-left:-4px;
}

.WeatherWidget .panelView .todayPane img{
    width: 70px;
}

.WeatherWidget .panelView .todayPane .description {
    float: left;
    padding: 0 10px;
    margin: 0;
    width: 140px;
}

#right-section .WeatherWidget .panelView .todayPane .description {
    padding:0;
    width:118px;
}

.WeatherWidget .panelView .todayPane .description .city {
    float: none;
    font: 14px Arial;
    word-wrap: break-word;
    color: #464646;
    text-decoration: none;
    line-height: 20px;
}

.WeatherWidget .panelView .todayPane .description .temperature {
    float: none;
    font: 18px Arial;
    word-wrap: normal;
    color: #252525;
    text-decoration: none;
    line-height: 30px;
}

.WeatherWidget .panelView .todayPane .description .condition {
    float: none;
    font: 14px Arial;
    word-wrap: break-word;
    color: #999;
    text-decoration: none;
    line-height: 20px;
}

.WeatherWidget .panelView .forecastPane {
    overflow: hidden;
    float: left;
    background: url('images/widget-weather-hsplit.png') repeat-y;
    margin: 0;
    padding-left: 20px;
}

.WeatherWidget.compact .forecastPane {background:none;}

.WeatherWidget .panelView .forecastPane .description {
    text-align: center;
    float: left;
    padding: 0 15px;
    margin: 0;
}

.WeatherWidget .panelView .forecastPane .description .icon {
    float: left;
    padding: 5px 10px;
    margin: 0;
}

.WeatherWidget .panelView .forecastPane .description img {
    width: 50px;
}

.WeatherWidget .panelView .forecastPane .description .condition {
    float: none;
    font: 14px Arial;
    color: #464646;
    text-decoration: none;
    line-height: 20px;
}

.WeatherWidget .panelEdit .regionUserSelect {
    border-bottom:1px dotted;
}

.WeatherWidget .panelEdit span.paymentLabelVertical {
    margin-top: 3px;
    float: right;
}

.PersonalMenuWidget .panelEdit p.profile-empty-text {
    width:auto;
    margin: 0 0 5px 7px;
}

#right-section .emptyText.greenBlock .workspace-box.greenBold { width:auto;}

#right-section .panelView .emptyText.greenBlock {padding:0;}

#right-section .WeatherWidget .panelEdit .viewport {width:205px;}

#right-section .WeatherWidget .panelEdit .viewport .paymentLabel {width:40%;}

.selectCityWindow .workspace-box{
    width: 500px;
}

.selectCityWindow .operationsListPagination{
    margin: 0 -17px;
}
.selectCityWindow .cityDescription {
    margin: 5px 0;
}
.selectCityWindow .cityFilter {
    background: #E6F5D8;
    margin: 0 -17px;
    padding: 15px 15px 5px;
}

.selectCityWindow .dictionaryCityName{
    padding: 5px 0;
}

.selectCityWindow .emptyListText{
    padding: 10px;
}

.LoanNotificationWidget .panelEdit .form-row .paymentLabel .paymentTextLabel {
    word-wrap: normal;
}

.LoanNotificationWidget .productCDC {
    float: right;
    width:275px;
}

.LoanNotificationWidget.compact .productCDC {
    width:186px;
}

#right-section .LoanNotificationWidget.compact .productCDC {
    width:145px;
}

.LoanNotificationWidget .nextPaymentAmount {
    color: black;
}

.LoanNotificationWidget .productTitle .productTitleText {
	width:  100%;
	display:  inline-block;
	overflow:  hidden;
	}

.LoanNotificationWidget .productLeft {
    float: left;
}

.LoanNotificationWidget .panelWide {
    display: block;
}

.LoanNotificationWidget .panelCompact {
    display: none;
    float: right;
}

.LoanNotificationWidget .productBottom {
    margin-right: 0;
}

.LoanNotificationWidget .productRightMargin{
	margin-right:  20px;
}

.LoanNotificationWidget .paymentLabel {
    width: 32%;
    margin-right: 1ex;
    word-wrap: break-word;
}

.LoanNotificationWidget .paymentValue {
    width: 23%;
    word-wrap: break-word;
}

#right-section .LoanNotificationWidget .paymentValue {
    width: 26%;
}

.LoanNotificationWidget .notifyDayCount .clear {
    clear: none;
}

.LoanNotificationWidget .buttons {
    margin-left: 38px;
    float: none;
    margin-right: 0px;
}

#right-section .LoanNotificationWidget .productBottom{
    width: 111px;
}

#right-section .LoanNotificationWidget .moreListOfOperation{
    margin-left: -98px;
}

/* ************************************************************************* */
/* Виджет баланса мобильного телефона */
.MobileBalanceWidget .panelView .icon {
    float: left;
    margin-left: -12px;
    width: 60px;
    padding-right: 10px
}

.MobileBalanceWidget .panelView .compactPane .phone_info{
    float: left;
}

.MobileBalanceWidget .panelView .compactPane .phoneNumber{
    font-size:17px;
    line-height: 24px;
}

.MobileBalanceWidget .panelView .compactPane .provider{
    font-size:13px;
    line-height: 24px;
    color: #999;
}

.WeatherWidget .panelView .compactPane .description {
    text-align: center;
    float: left;
    padding: 0 15px;
    margin: 0;
}

.MobileBalanceWidget .widePanel {
    float: right;
    display: block;
    width: 45%;

}

.MobileBalanceWidget .enlargeBalance{
    float: right;
}

.MobileBalanceWidget .compactBalance{
    width: 200px;
}

.MobileBalanceWidget .moreListOfOperation {
	margin-left:  -545px;
	margin-top:  -166px;
}

.MobileBalanceWidget .nextPaymentAmount {
    color: black;
}

/* Facebook */
.FacebookFrame {
    border:none;
    overflow:hidden;
    width:100%;
    height:260px;"
    allowTransparency="true;
}

/* Yandex */
.YandexFrame {
    width:100%;
    height:630px;
}

#right-section .YandexFrame {
    width:200px;
    height:700px;
    overflow:hidden;
}

/*Виджет "События"*/
.EventWidget td {padding: 0 4px;}

.EventWidget td h2{
    color:#464646;
    margin-left:3px;
    width:180px;
    font:  17px Arial;
}

.EventWidget td span{
    color:#464646;
    text-decoration: underline;
}

.EventWidget td .greenSelector{
    padding:7px 8px;
}

.EventWidget td .greenSelector span {
    color:white;
    text-decoration: none;
}

/*Виджет "Курсы"*/
.CurrencyRateWidget .compact{
    margin-top: 10px;
    margin-bottom: 0;
    border:1px solid #e5e5e5;
}

.CurrencyRateWidget .wide{
    margin-top: 10px;
}

.CurrencyRateWidget tr{
    border-bottom: 1px solid #e5e5e5;
}

.CurrencyRateWidget td{
    font-size: 12px;
    width: auto;
}

.CurrencyRateWidget td.compact{
    border:1px solid #e5e5e5;
    text-align: right;
}

#workspace .CurrencyRateWidget td.compact{
    padding-right: 10%;
}

.CurrencyRateWidget tr th{
    font-size: 12px;
    border:1px solid #e5e5e5;
    width: auto;
}

.CurrencyRateWidget .withoutBorder{
    border: none;
}
.CurrencyRateWidget .leftBorder {
    border-left: 1px solid #e5e5e5;
    border-right: none;
}
.CurrencyRateWidget .rightBorder {
    border-right: 1px solid #e5e5e5;
    border-left: none;
}
.CurrencyRateWidget tr.courseTableHeader {
    background-color:#ebebeb;
}
.CurrencyRateWidget .courseLink {
	padding-right: 0;
}
.CurrencyRateWidget .alignLeft{
    text-align: left;
    padding-left: 1%;
}

.CurrencyRateWidget .scroll-edit-widget .overview {
    position : relative;
}

.CurrencyRateWidget .scroll-edit-widget .viewport, .LastPaymentsWidget .scroll-edit-widget .viewport,
.OffersWidget .scroll-edit-widget .viewport {
    margin-left:0;
}

/*Виджет "Личное меню"*/
.PersonalMenuWidget .buttons{
    margin-left: 0px;
}

.PersonalMenuWidget .interface-items .favourites-operations{
    margin-left: 0px;
    margin-bottom: 0px;
}

#right-section .PersonalMenuWidget .interface-items .payments-templates .personal-menu-settings-item, #right-section .PersonalMenuWidget .interface-items .favourites-operations .personal-menu-settings-item{
    width: 130px;
}

#workspace .PersonalMenuWidget .interface-items .payments-templates .personal-menu-settings-item, #workspace .PersonalMenuWidget .interface-items .favourites-operations .personal-menu-settings-item{
    width: 266px;
}

.PersonalMenuWidget .linkUp{
    width: 14px;
}
.PersonalMenuWidget .linkDown{
    width: 14px;
}

.PersonalMenuWidget .profile-view-products table td, .PersonalMenuWidget .interface-items table td{
    border: none;
    vertical-align: top;
}

.PersonalMenuWidget .dashedBorder{
   border-top: 1px dashed #E5E5E5;
   border-bottom: none;
}

#workspace .PersonalMenuWidget .personalMenuWithTitleItem{
    width: 309px;
}

#workspace .PersonalMenuWidget .personalMenuWithTitleItem .greenTitle div,
#workspace .PersonalMenuWidget ul.underlined .linksItemMore.hide span{
    background-position: 309px 6px;
}

#workspace .PersonalMenuWidget ul.underlined .linksItemMore span{
    background-position: 309px -6px;
}

#workspace .PersonalMenuWidget .personalMenuWithTitleItem ul.underlined .linksListTitle{
    width: auto;
}


#workspace .PersonalMenuWidget .personalMenuWithTitleItem ul.underlined .linksListHidden {
    margin: 0 -14px 0 -16px;
}

#workspace .PersonalMenuWidget .personalMenuWithTitleItem li.linksItemMore {
    margin-right:-4px;
}

/*Виджет "Последние платежи"*/
.LastPaymentsWidget td .greenSelector{
    padding:7px 8px;
}

.LastPaymentsWidget .rowOver .paymentDescription{
    width : 200px;
}

.LastPaymentsWidget .rowOver .emptyCell{
    width : 200px;
}

.compact .LastPaymentsWidget  #popularPayments .popularPaymentsBlock .grid .tblInf td .date-description, #right-section .LastPaymentsWidget #popularPayments .popularPaymentsBlock .grid .tblInf td .date-description{
    display : block;
}

.LastPaymentsWidget .scroll-edit-widget .overview {
    position : relative;
}

.LastPaymentsWidget  .tblInf .ListLine1 td.lastElement ,.LastPaymentsWidget  .tblInf .ListLine0  td.lastElement {
    border-bottom : none;
}

/*Виджет "Ваши кредиты"*/
.LoanBlockWidget .productDetail td.value{
    width : 39%;
}

.LoanBlockWidget .productDetail td.value .bold{
    text-align : center;
}

.LoanBlockWidget .loanProductCard.blinkLoan .productDetail td{
    color : #FF9900;
}

.LoanBlockWidget .notificationButton{
    font-size : 12px;
}

.LoanBlockWidget .notificationButton .buttonSelectLeft{
    width : 11px;
}

.LoanBlockWidget .notificationButton .buttonSelectRight{
    width : 19px;
    background-position : right top;
}

.LoanBlockWidget .notificationButton .buttonSelectCenter{
    width : 85px;
    text-align : center;
    text-decoration : underline;
}

.LoanBlockWidget .notificationButton.notify .buttonSelectRight{
    background-image:  url("images/button_add_arrow_right.gif");
}

.LoanBlockWidget .notificationButton.notNotify .buttonSelectRight{
    background-image:  url("images/button_del_arrow_right.gif");
}

.LoanBlockWidget .loanNotification .radioButton{
    margin-left : 10px;
    font-weight : bold;
}

.LoanBlockWidget .loanNotification .form-row{
    width : 330px;
    float : left;
}

.LoanBlockWidget .loanNotification .paymentLabel{
    width : 77%;
    margin-right : 20px;
    margin-top : 9px;
}

.LoanBlockWidget .loanNotification .paymentValue{
    width : 15%;
}

.LoanBlockWidget .loanNotification .loanNotificationText{
    margin-top : 19px;
    font-weight : bold;
}

.LoanBlockWidget .loanNotification .active-help {
    border : none;
    background-color : inherit;
}

.orangeTopRCR{
    padding-bottom: 0px;
}

.orangeTopRT.r-top.blinking{
    margin-top: -33px;
}

.whiteTopRT.blinking .whiteTopRTC, .whiteTopRT.blinking .whiteTopRTR, .whiteTopRT.blinking .whiteTopRTL{
    height: 33px;
}

/*Виджет "Помощь по системе"*/
.HelpWidget .r-content{  
    background : url('images/green_gradient.png') repeat-x scroll left bottom transparent;
    margin-left : 1px;
}

#right-section .HelpWidget .r-content{
    width :192px;
}

.compact .HelpWidget .r-content{
    width: 319px;
}

.HelpWidget .helpDivLeftBlock{
    padding-top : 7px;
}

.HelpWidget .helpLink{
    padding-top : 10px;
}

.HelpWidget .clientPane{
    background-color : transparent;
}

#right-section .HelpWidget .panelView .noManagerNoAssistant{
    width : 205px;
}

.compact .HelpWidget .panelView .noManagerNoAssistant{
    width : 326px;
}

#right-section .HelpWidget .noManagerNoAssistant .helpDivLeftBlock{
    width : 160px;
}

#right-section .HelpWidget .noManagerNoAssistant .helpDivRightBlock{
    width : 44px;
}

.compact .HelpWidget .noManagerNoAssistant .helpDivLeftBlock{
    width : 272px;
}

.compact .HelpWidget .noManagerNoAssistant .helpDivRightBlock{
    width : 44px;
}

.HelpWidget .noManagerNoAssistant .helpDivRightBlock .question-img{
    text-align : right;
    padding-top : 12px;
}

#right-section .HelpWidget .noManagerNoAssistant .grayPointers{
    width : 140px;
}

/* Виджет "Бонусная программа"*/
#workspace .LoyaltyWidget #loyaltyLogoDiv{
    float: left;
}

#right-section .LoyaltyWidget #loyaltyLogoDiv{
    clear: right;
}

#workspace .LoyaltyWidget #loyaltyInfoDiv{
    float: right;
    margin-top: 20px;
}

#workspace .LoyaltyWidget #loyaltyClearDiv{
    clear: right;
}

.previewSkins .skin {
    border-left: 1px dotted #b2b2b2;
    vertical-align: middle;
    text-align:  center;
    width: 106px;
    height: 80px;
    padding: 30px 0;
}

.editSkins {
    float: left;
    width: 255px;
    text-align: left;
    margin-top: 35px;
    color: #959595;
    font-family: Arial,Tahoma;
    font-size: 12px;
    line-height: 18px;
    margin-left: 20px;
}

.previewSkins a.activeSkin {
    color:#464646;
    text-decoration:none;
}

.previewSkins .skin a {
    padding-left: 5px;
}

.previewSkins .skin a:hover {
    cursor: pointer;
}

.previewSkins {
    border: 1px solid lightgray;
    width: 428px;
    float: left;
    height: 204px;
}

.previewSkins table td:first-child .skin {
    border-left: none;
}

/*start Скроллирование скинов*/
.previewSkins .viewport {
    height: 142px;
    overflow: hidden;
    position: relative;
    margin-top: 28px;
    width: 428px;
}

.previewSkins .overview {
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.previewSkins .scrollbar {
    position: absolute;
    clear: both;
    height: 15px;
    top: 200px;
}

.previewSkins .scrollbar .arrow-up,
.previewSkins .scrollbar .arrow-down {
    position: absolute;
    border-top: 1px solid lightgray;
    width: 7px;
    height: 9px;
}

.previewSkins .scrollbar .arrow-up {
    background: transparent url(images/scroll-arrow-left.png) no-repeat 50% 100%;
    border-left: 1px solid lightgray;
    left: 7px;
}

.previewSkins .scrollbar .arrow-down {
    background: transparent url(images/scroll-arrow-right.png) no-repeat 50% 100%;
    border-right: 1px solid lightgray;
    padding-left: 1px;
    left: 413px;
    top: 0;
}

.previewSkins .track {
    border-top: 1px solid lightgray;
    height: 8px;
    position: relative;
    left: 15px;
}

.previewSkins .thumb {
    background: transparent url(images/thumb-horizontal.png) no-repeat 100% 50%;
    height: 21px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -6px;
    padding-right: 1px;
}

.previewSkins .thumb .end {
    background: transparent url(images/thumb-horizontal.png) no-repeat 0 50%;
    overflow: hidden;
    height: 21px;
    width: 5px;
}

.button-skin-selector {
    position: absolute;
    top: 6px;
    height: 170px;
}

.button-skin-selector img {
    top: 80px;
    position: absolute;
}

.left-button-skin-selector {
    left: 0;
    top: 6px;
    z-index: 1;
    background: url("images/hideTextLeft.png") repeat-y 6px 0;
    width: 41px;
}

.left-button-skin-selector img {
    left: 0;
    cursor: pointer;
}

.right-button-skin-selector {
    left: 398px;
    background: url("images/hideTextRight.png") repeat-y 100% 0;
    width: 35px;
}

.right-button-skin-selector img {
    right: -7px;
    cursor: pointer;
}

.previewSkins .disable {
    display: none;
}

/*end Скроллирование скинов*/

.panelEdit .pagination {
    margin-top:0;
    margin-left: 15px;
}

.twitter-timeline{
    width: 100%;
    min-width: 195px !important; /* !important не убирать, иначе к iframe применится min-width: 220px - значение приходит от twitter.com */
}

.widget-wrapper {
    float: left;
    width: 357px;
    min-height: 2px;
}

.widget-wrapper-next {
    margin-left: 6px;
}

.widget-wrapper.clear {
    float: none;
    width: 0;
    min-height: 0;
}

#right-section .panelEdit .viewport {width:195px;}

#right-section .panelEdit .viewport .selectWrapper {width:126px}

#right-section .panelView .productTitleText span {font-size:16px;}

#right-section .panelView .forProductBorder {width:auto;}

.widget .panelEdit .pagination h2 {
    float: left;
    padding: 7px 0;
}

#right-section .panelEdit .pagination h2 {
    color: #464646;
    margin-left: 3px;
    width: 180px;
    font: 12px Arial;
    text-align: left;
    padding: 0 0 5px;
}

#right-section .panelEdit .pagination table {
    margin-bottom: 5px;
}

#right-section .panelEdit td .greenSelector {
    padding: 3px 1px;
}

#right-section .widget .whiteTopCBT {padding-left:0;}

.widget .col3 {color:#464646;}

.widget .col3 .workspace-box.lightGreen {margin-top:5px !important;}

#right-section .panelView .col3 {
    width:197px;
}

#right-section .panelEdit .col3 {
    width:190px;
}

#right-section .panelView .workspace-box.lightGreen {
    width:205px;
}

#right-section .panelEdit .workspace-box.lightGreen {
    width:195px;
}

#right-section .panelView .productCenter {
    line-height:22px;
}

#right-section .LoanNotificationWidget .panelView .roundPlate span.data {
    padding:0 7px;
}

.panelView .productDetail td {
    padding-bottom:5px;
}

#right-section .panelView .productRightMargin {
    margin-right:0;
}

.widget .panelView .forProductBorder {
    width: auto;
}
/*Скроллирование виджетов в режиме редактирования*/
.scroll-edit-widget {
}

.scroll-edit-widget .viewport {
    overflow: hidden;
    position: relative;
    margin:0 -6px 0 -17px;
}

.scroll-edit-widget .forProductBorder {
    margin:0 -10px -11px 0;
}

.scroll-edit-widget .productDivider {
    margin:11px 10px 1px 16px;
}

.scroll-edit-widget .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.scroll-edit-widget .scrollbar {
    position: relative;
    float: right;
    clear: both;
    width: 9px;
}

.scroll-edit-widget .track {
    position: relative;
    border-left: 1px solid lightgray;
    height: 100%;
    width: 9px;
}

.scroll-edit-widget .thumb {
    background: transparent url(images/thumb-vertical.png) no-repeat 50% 100%;
    height: 20px;
    width: 9px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.scroll-edit-widget .thumb .end {
    background: transparent url(images/thumb-vertical.png) no-repeat 50% 0;
    overflow: hidden;
    width: 9px;
    height: 20px;
}

.scroll-edit-widget .disable {
    display: none;
}

.scroll-edit-widget .arrow-up {
    border-left: 1px solid lightgray;
    background: transparent url(images/scroll-arrow-up.png) no-repeat 50% 16%;
    width: 9px;
    height: 8px;
}

.scroll-edit-widget .arrow-down {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: transparent url(images/scroll-arrow-down.png) no-repeat 50% 100%;
    width: 9px;
    height: 8px;
}
/*установка расположения скроллбара относительно границы виджета*/
.wide-not-sizeable-widget .scroll-edit-widget .scrollbar,
.LoanNotificationWidget .scroll-edit-widget .scrollbar,
.MobileBalanceWidget .scroll-edit-widget .scrollbar,
.PersonalMenuWidget .scroll-edit-widget .scrollbar,
.OffersWidget .scroll-edit-widget .scrollbar,
.CurrencyRateWidget .scroll-edit-widget .scrollbar,
.LastPaymentsWidget .scroll-edit-widget .scrollbar,
.EventWidget .scroll-edit-widget .scrollbar {
    margin-right: -16px;
}

.facebook-widget .scroll-edit-widget .scrollbar,
.VkGroupWidget .scroll-edit-widget .scrollbar,
.YandexWidget .scroll-edit-widget .scrollbar,
.WeatherWidget .scroll-edit-widget .scrollbar {
    margin-right: -12px;
}
/*установка скроллбара для различных виджетов в зависимости от различия их отображения*/
.facebook-widget .scroll-edit-widget .arrow-up,
.VkGroupWidget .scroll-edit-widget .arrow-up,
.YandexWidget .scroll-edit-widget .arrow-up,
.WeatherWidget .scroll-edit-widget .arrow-up {
    border-top: 1px solid lightgray;
}

.LoanNotificationWidget .scroll-edit-widget .scrollbar {
    margin-top: -1px;
}

[widgetid$="widgetTabHelp"] span {
    background: url(images/widget-help.gif) right no-repeat;
    background-position-x: 65px;
    width: 85px;
}

.panelEdit .paymentLabel, .loanNotificationText {
    font-size:14px;
    color:#464646;
}
.widget-container {
    overflow: visible;
}

.twitter-iframe-widget {
    position: absolute;
    z-index: 20;
}

.twitter-iframe-widget .twitter-timeline {
    height: 362px;
}

.twitter-widget .clientPane {
    height: 350px;
}