
/* Общие детали */
.MaxSize {width:100%;height:100%;}
body{
	font-size: 12px;
	font-family: Arial;
	line-height: 1.2em;
	color:#3d3d3d;
	/*font-size:8pt;*/
	margin:0;
	padding:0px;
	height:100%;
	background-color:#f2efe8;
    overflow:hidden;
}
table{
	font-size:8pt;
	color:#3d3d3d;
	font-family:Verdana;
}
a{color:#3d3d3d;text-decoration:underline;}
.displayBlock{display:block;}
.displayNone{display:none;}
.asterisk{color:#8dab09;font-weight:bold;}
.colorText{color:#768730;}
fieldset{border:1px solid #c8c3b9;}
legend{font-weight:bold;}
input{border:1px solid #c8c3b9;}
legend{color:#3d3d3d;font-weight:bold;}
td.input{background: url('images/input_top.gif') no-repeat 0px 50%;width: 241px;}

/*Аутентификация*/
.login_whiteBg{background:url('images/login_whiteBg.gif') repeat-x top;}
.login_greenBg{background:url('images/login_greenBg.gif') no-repeat left;}

/*Шапка*/
.hdrLogo{padding:0px 0px 0px 50px;}
.hdrSystemTitle{font-size:14pt;font-weight:bold;text-align:center;}
.hdrSystemTitle span{font-size:11pt;}
.hdrRghtBg{background:url('images/head_rghtBg.gif') no-repeat top;color:#ffffff;padding-right:40px;}
.hdrCenterBg{background:url('images/head_centerBg.png') repeat-x top;}
/*.hdrGroup{background-color:#a9a9a9;}*/

/* Статическая информация */
/*.statInfTbl{background-color:#edeae5;}*/
/*.statInfTbl .whiteBg{background-color:#ffffff;}*/
/*.statInfTopBg {background:url('images/statInf_topBg.gif') repeat-x top;}*/
/*.statInfMiddleBg{background:url('images/statInf_middleShadow.gif') repeat-x;}*/
/*.statInfTextArea{background:url('images/statInf_textAreaBg.gif') repeat-x top;}*/
/*.statInfHelpArea{background:url('images/statInf_helpAreaBg.gif') repeat-x top;}*/
/*.statInfBtmBg{background:url('images/statInf_btmBg.gif') repeat-x bottom;}*/
/*.statInfTextArea span{padding:2px 4px 2px 4px;}*/
/*.statInfTextArea .colorText{color:#768730;padding-right:0px;}*/
/*.statInfHelpArea span{padding:0px 4px 0px 4px;}*/
/*.statInfBorder{border-left:1px solid #d8d4cd;}*/

/*Главное меню*/

/*td.table-menu-s div div {*/
	/*background: url('images/mm_insetRightCornerActive.gif') no-repeat 100% 0px;*/
	/*padding: 82px 13px 22px 13px;*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*color: #ffffff;*/
/*}*/
/*td.table-menu-s div {*/
	/*background: url('images/mm_insetLeftCornerActive.gif') no-repeat 0px 0px;*/
/*}*/
/*td.table-menu-s {*/
	/*background: url('images/mm_insetBgActive.gif') repeat-x 0px 0px;*/
	/*height: 118px;*/
/*}*/

.mainMenuTbl{background:url('images/mm_Bg.gif') repeat-x bottom;text-align:center;vertical-align:bottom;padding-bottom:10px;}
/*.mainMenuTbl div{cursor:pointer;}*/
.mmInsetActive{background:url('images/mm_insetBgActive.gif') repeat-x #90bf2d bottom;color:#ffffff;padding: 82px 13px 22px 13px;height:118px;text-transform: uppercase;font-size:10pt;}
.mmInsetActive span{width:100%;}
.mmInset{background:url('images/mm_insetBg.gif') repeat-x #a9a9a9 bottom;text-decoration:none;padding: 82px 13px 22px 13px;height:118px;text-transform: uppercase;font-size:10pt;}
.mmInset span{color:#ffffff;padding:0px 0px 0px 0px;white-space:nowrap;}
/*.mmInsetShadow{background:url('images/mm_insetShadow.gif') repeat-x top;}*/
.mmInsetActiveLeftCorner{background:url('images/mm_insetLeftCornerActive.gif') no-repeat #90bf2d bottom;width:9px;}
.mmInsetActiveRightCorner{background:url('images/mm_insetRightCornerActive.gif') no-repeat #90bf2d bottom;width:9px;}
.mmInsetLeftCorner{background:url('images/mm_insetLeftCorner.gif') no-repeat #a9a9a9 bottom;width:9px;}
.mmInsetRightCorner{background:url('images/mm_insetRightCorner.gif') no-repeat #a9a9a9 bottom;width:9px;position:relative;}
.mmInsetMOver .mmInset{background:url('images/mm_insetBgActive.gif') repeat-x #90bf2d bottom;color:#ffffff;padding: 82px 13px 22px 13px;height:118px;text-transform: uppercase;font-size:10pt;}
.mmInsetMOver .mmInsetLeftCorner{background:url('images/mm_insetLeftCornerActive.gif') no-repeat #90bf2d bottom;width:9px;}
.mmInsetMOver .mmInsetRightCorner{background:url('images/mm_insetRightCornerActive.gif') no-repeat #90bf2d bottom;width:9px;}


/*.mmInsetShadowLeftCorner{background:url('images/mm_insetShadowLeftCorner.gif') no-repeat;width:10px;height:10px;}*/
/*.mmInsetShadowRightCorner{background:url('images/mm_insetShadowRightCorner.gif') no-repeat;width:10px;height:10px;}*/
.mmExitBtn{background:url('images/mm_Bg.gif') repeat-x bottom;vertical-align:bottom;padding-bottom:20px;white-space:nowrap;}
.mmExitBtnBorder{background:url('images/mm_exitBtnBorder.gif') no-repeat bottom;width:2px;height:40px;}
.mmExitBtn a{color:#3d3d3d;text-decoration:none;padding-left:10px;white-space:nowrap;}
.mmDateInf{background:url('images/mm_Bg.gif') repeat-x bottom;white-space:nowrap;vertical-align:bottom;padding-bottom:20px;}
.mmDateInf span{color:#7c7c7c;}
.mmNewAction{position:absolute;left:-6;top:12;display:none;}

/*Изменение внешнего вида Главного меню для АРМ Сотрудника*/
.adminChange .mmInset{border-bottom:1px solid #a3a3a3;}
.adminChange .mmInset span{color:#ffffff;}
.adminChange .mmInsetShadow{background:url('');height:0px;}
.adminChange .mmInsetShadowLeftCorner{background:url('');height:0px;}
.adminChange .mmInsetShadowRightCorner{background:url('');height:0px;}
.adminChange .mmInsetLeftCorner{height:40px;border-bottom:1px solid #a3a3a3;}
.adminChange .mmInsetRightCorner{height:40px;border-bottom:1px solid #a3a3a3;}
.adminChange .mmInsetActiveLeftCorner{height:40px;}
.adminChange .mmInsetActiveRightCorner{height:40px;}

/*Тема совсем маленьких вкладок*/
/*.smInsChange .mmInset span{color:#ffffff;}*/
/*.smInsChange .mmInsetShadow{background:url('');height:0px;}*/
/*.smInsChange .mmInsetShadowLeftCorner{background:url('');height:0px;}*/
/*.smInsChange .mmInsetShadowRightCorner{background:url('');height:0px;}*/
/*.smInsChange .mmInsetLeftCorner{height:20px;}*/
/*.smInsChange .mmInsetRightCorner{height:20px;}*/
/*.smInsChange .mmInsetActiveLeftCorner{height:20px;}*/
/*.smInsChange .mmInsetActiveRightCorner{height:20px;}*/

/*Фильтры*/
.filterArea{padding-bottom:10px;}
.filter{padding:4px;width:100%;height:auto;}
.filter span{cursor:default;}
.filterLink{position:absolute;top:-12px;left:0px;text-align:left;padding:2px 0px 2px 0px;}
.fltrInfArea{font-size:8pt;}
.fltrInfArea input{border:1px solid #768730;font-size:7pt;}
.fltrInfArea select{border:1px solid #768730;font-size:7pt;}
.filterInfArea span{cursor:default;}
.fltrBgTop{background:url('images/fltr_topBg.gif') repeat-x top #ffffff;}
.fltrBgTopLeftCorner{background:url('images/fltr_topLeftCorner.gif') no-repeat;width:33px;height:51px;}
.fltrBgTopRightCorner{background:url('images/fltr_topRightCorner.gif') no-repeat;width:33px;height:51px;}
.fltrBgBtm{background:url('images/fltr_btmBg.gif') repeat-x bottom #ffffff;}
.fltrBgBtmLeftCorner{background:url('images/fltr_btmLeftCorner.gif') no-repeat;width:33px;height:33px;}
.fltrBgBtmRightCorner{background:url('images/fltr_btmRightCorner.gif') no-repeat;width:33px;height:33px;}
.fltrBg{background-color:#ffffff;}
.fltrBgLeftCorner{background:url('images/fltr_leftBg.gif') repeat-y left #ffffff;}
.fltrBgRightCorner{background:url('images/fltr_rightBg.gif') repeat-y right #ffffff;}
span .filterAsterisk{color:#768730;cursor:default;}


/*Левое меню*/
/*.leftMenu{width:210px;background-color:#cecbc3;}*/
.leftMenu{width:240px;}
/*.lmRegion{heigh:100%;overflow-y:auto;scrollbar-base-color:#ffffff;scrollbar-arrow-color:#6d8f29;scrollbar-3dlight-color:#d8d8e4;scrollbar-darkshadow-color:#a3a3a3;}*/
.lmBgHeader{background:url('images/lm_topBg.gif') repeat-x bottom;}
.lmBgBottom{background:url('images/lm_bottomBg.gif') repeat-x bottom;}
/*.lmBgLeft{background:url('images/lm_leftBg.gif') repeat-y left #ffffff;width:20px;}*/
.lmBgRight{background:url('images/lm_rightBg.gif') repeat-y right #ffffff;}
.lmInformationArea{background:url('images/lm_leftBg.gif') repeat-y left #ffffff;width:100%;}
/*.lmInformationArea table table{background:url('images/lm_rightBg.gif') repeat-y right #ffffff;}*/
.lmNewAction{position:absolute;left:168;top:12;display:none;}

/*Информационный блок*/
/*.infBlInformationArea{padding:0px 4px 6px 4px;min-width:205px;}*//*width:205px;*/
/*.infBlHeader{background:url('images/infBl_headerBg.gif') repeat-x top;height:31px;vertical-align:middle;}*/
/*.infBlHeaderLeftCorner{background:url('images/infBl_headerLeftCorner.gif') no-repeat;width:8px;height:31px;}*/
/*.infBlHeaderRightCorner{background:url('images/infBl_headerRightCorner.gif') no-repeat;width:8px;height:31px;}*/
/*.infBlInformation{background:url('images/infBl_headerBg.gif') repeat-x top;padding:4px 0px 0px 0px;}*/
/*.infBlInformation .lmTitle{background:url('images/infBl_titleBg.gif') repeat-x top;color:#ffffff;text-align:center;}*/
/*.infBlInformation .lmTitleLeftCorner{background:url('images/infBl_titleLeftCorner.gif') no-repeat;width:8px;height:25px;}*/
/*.infBlInformation .lmTitleRightCorner{background:url('images/infBl_titleRightCorner.gif') no-repeat;width:11px;height:25px;}*/
/*.infBlInformation .lmTitleShadow{background:url('images/infBl_titleShadow.gif') repeat-x top;background-color:#ededee;}*/
/*.infBlInformation .lmTitleShadowLeftCorner{background:url('images/infBl_titleShadowLeftCorner.gif') no-repeat;background-color:#ededee;width:8px;height:5px;}*/
/*.infBlInformation .lmTitleShadowRightCorner{background:url('images/infBl_titleShadowRightCorner.gif') no-repeat;background-color:#ededee;width:8px;height:5px;}*/
/*.infBlTextArea{background:url('images/infBl_textAreaBg.gif') repeat-x top;background-color:#ffffff;}*/
/*.infBlTextAreaLeft{background:url('images/infBl_textAreaBg.gif') repeat-x top;vertical-align:top;border-left:1px solid #a9a8a4;background-color:#ffffff;}*/
/*.infBlTextAreaRight{background:url('images/infBl_textAreaBg.gif') repeat-x top;vertical-align:top;border-right:1px solid #a9a8a4;background-color:#ffffff;}*/
/*.infBlBtm{background:url('images/infBl_bottomBg.gif') repeat-x top;background-color:#ffffff;}*/
/*.infBlBtmLeftCorner{background:url('images/infBl_bottomLeftCorner.gif') no-repeat;width:8px;height:19px;}*/
/*.infBlBtmRightCorner{background:url('images/infBl_bottomRightCorner.gif') no-repeat;width:8px;height:19px;}*/
/*.infBlBtmOther{background:url('images/infBl_bottomBgOther.gif') repeat-x top;background-color:#ffffff;}*/
/*.infBlBtmLeftCornerOther{background:url('images/infBl_bottomLeftCornerOther.gif') no-repeat;width:8px;height:19px;}*/
/*.infBlBtmRightCornerOther{background:url('images/infBl_bottomRightCornerOther.gif') no-repeat;width:8px;height:19px;}*/
/*.infBlTextAreaBorder{background:url('images/infBl_textAreaBorder.gif') repeat-y right;width:3px;}*/
/*.infBlTextAreaBorderTop{background:url('images/infBl_textAreaBorderTop.gif') no-repeat top;width:3px;height:20px;}*/
/*.infBlTextAreaBorderBtm{background:url('images/infBl_textAreaBorderBtm.gif') no-repeat bottom;width:3px;height:20px;}*/

/*Курс валют*/
.currencyTbl td{text-align:center;padding:3px;}
.currencyTbl .colorText{color:#768730;}

/*Подменю левого меню*/
.subMenu{text-align:center;padding:0px 0px 0px 0px;}
.subMenu span{width:100%;height:100%;}

/*.subMTitleBg{background:url('images/subM_titleTopBg.gif') repeat-x top;}*/
/*.subMTitleLeftCorner{background:url('images/subM_titleTopLeftCorner.gif') no-repeat;width:10px;height:7px;}*/
/*.subMTitleRightCorner{background:url('images/subM_titleTopRightCorner.gif') no-repeat;width:10px;height:7px;}*/
/*.subMTextTitleLeftCorner{background:url('images/subM_titleBg.gif') repeat-x top;border-left:2px solid #ffffff;background-color:#e9eaf2;}*/
/*.subMTextTitleRightCorner{background:url('images/subM_titleBg.gif') repeat-x top;border-right:2px solid #ffffff;background-color:#e9eaf2;}*/
.subMTextTitle{font-size:14pt;}
/*.subMShadow{background-color:#bdb9b2;}*/
/*.subMBtmTitleBg{background:url('images/subM_titleBtmBg.gif') repeat-x top;}*/
/*.subMBtmTitleLeftCorner{background:url('images/subM_titleBtmLeftCorner.gif') no-repeat;width:10px;height:7px;}*/
/*.subMBtmTitleRightCorner{background:url('images/subM_titleBtmRightCorner.gif') no-repeat;width:10px;height:7px;}*/
/*.subMInactiveInset{background:url('images/subM_inactiveInsetBg.gif') repeat-x top;background-color:#e3e0db;height:32px;padding:10px;cursor:pointer;position:relative;}*/
/*.subMActiveInset{background:url('images/subM_activeInsetBg.gif') repeat-x top;background-color:#bee614;height:32px;padding:10px;cursor:pointer;}*/
/*.subMActiveInset span{background:url('images/subM_insetFlagActive.gif') no-repeat right;width:100%;color:#ffffff;text-decoration:underline;}*/
.subMInactiveInset, .subMActiveInset{color:#666666;text-decoration:underline;padding:0px 0px 8px 10px;cursor:pointer;background:url('F:/Work/html/Sber_OnLine/common/img/bul/lm-empty.gif') no-repeat;}

/*Подменю левого меню второго уровня*/
/*.haveSubMenuLevel2 .subMAciveTitleBg{background:url('images/subML2_titleBg.gif') repeat-x top;background-color:#f9f8fa;height:32px;padding:10px;cursor:pointer;}*/
/*.haveSubMenuLevel2 .subMAciveTitleBg span{background:url('images/subML2_titleFlagActive.gif') no-repeat right;width:100%;text-decoration:underline;}*/
/*.haveSubMenuLevel2 .subMInaciveTitleBg{background:url('images/subM_inactiveInsetBg.gif') repeat-x top;background-color:#e3e0db;height:32px;padding:10px;cursor:pointer;}*/
/*.haveSubMenuLevel2 .subMInaciveTitleBg span{background:url('images/subML2_titleFlagInactive.gif') no-repeat right bottom;width:100%;}*/
/*.haveSubMenuLevel2 .subMInactiveInset{background:url('images/subML2_inactiveInsetBg.gif') repeat-x top;background-color:#bdb8ae;border:1px solid #b2ada4;border-width:0px 0px 1px 1px;border-right:1px solid #d7d4cc;height:32px;padding:10px;cursor:pointer;}*/
/*.haveSubMenuLevel2 .subMActiveInset{background:url('images/subM_activeInsetBg.gif') repeat-x top;background-color:#bee614;border-left:1px solid #b2ada4;border-right:1px solid #d7d4cc;border-bottom:1px solid #768730;height:32px;padding:10px;}*/
/*.haveSubMenuLevel2 .subMActiveInset span{background:url('images/subM_insetFlagActive.gif') no-repeat right;width:100%;color:#ffffff;text-decoration:underline;}*/
.haveSubMenuLevel2 .subMInaciveTitleBg{color:#666666;text-decoration:underline;padding:3px 0px 3px 10px;cursor:pointer;background:url('F:/Work/html/Sber_OnLine/common/img/bul/lm-up.gif') no-repeat;}

/*Подменю ссылок для кредитной заявки*/
/*.haveSubMenuLinks a{background:url('images/subML2_inactiveInsetBg.gif') repeat-x top;background-color:#bdb8ae;border:1px solid #b2ada4;border-width:0px 0px 1px 1px;border-right:1px solid #d7d4cc;width:100%;height:20px;}*/
 /*Меню кнопок*/
/*.btnMLeftCorner{background:url('images/btnM_bgLeftCorner.gif') no-repeat;width:20px;height:34px;}*/
/*.btnMBg{background:url('images/btnM_bg.gif') repeat-x top;height:34px;white-space:nowrap;}*/
/*.btnMRightCorner{background:url('images/btnM_bgRightCorner.gif') no-repeat;width:11px;height:34px;}*/

/*Подменю действий (кнопки)*/
/*.haveSubMenuLevel2 .btnBase{background:url('images/subML2_inactiveInsetBg.gif') repeat-x top;border:1px solid #b2ada4;border-width:0px 0px 1px 0px;height:32px;padding:10px;cursor:pointer;text-align:left;}*/
/*.haveSubMenuLevel2 .btnBase span{background:url('images/subM_insetFlagActive.gif') no-repeat right;width:100%;color:#ffffff;text-decoration:underline;cursor:pointer;}*/
/*.haveSubMenuLevel2 .btnLeftCorner{background:url('images/subML2_inactiveInsetBg.gif') repeat-x top;border:0px;border:1px solid #b2ada4;border-width:0px 0px 1px 1px;}*/
/*.haveSubMenuLevel2 .btnRightCorner{background:url('images/subML2_inactiveInsetBg.gif') repeat-x top;border:0px;}*/
/*.haveSubMenuLevel2 .btnBase span{cursor:pointer;}*/

/*Кнопки*/
/* - общий вид(зеленые). все стандартные*/
.tableArea .btnBase{background:url('images/btn_greenBtnBg.gif') repeat-x;color:#ffffff;white-space:nowrap;height:20px;padding:0px 4px 0px 0px;cursor:pointer;}
.tableArea .btnLeftCorner{background:url('images/btn_greenBtnLeftCorner.gif') no-repeat right;width:12px;height:20px;font-size:7pt;}
.tableArea .btnRightCorner{background:url('images/btn_greenBtnRightCorner.gif') no-repeat left;width:12px;height:20px;font-size:7pt;}
.tableArea .btnBase span{cursor:pointer;}
.tableArea .buttDiv{height:28px;vertical-align:bottom;}
.tableArea .buttDiv select{font-size:8pt;border:1px solid #b2ada4;}

/* - серые, те, что в меню кнопок*/
.btnMenu .btnBase{background:url('images/btn_grayBtnBg.gif') repeat-x;white-space:nowrap;height:28px;padding:0px 4px 0px 0px;cursor:pointer;}
.btnMenu .btnBase span{text-decoration:underline;}
.btnMenu .btnLeftCorner{background:url('images/btn_grayBtnLeftCorner.gif') no-repeat;width:15px;height:28px;}
.btnMenu .btnRightCorner{background:url('images/btn_grayBtnRightCorner.gif') no-repeat;width:14px;height:28px;}
.btnMenu .btnBase span{cursor:pointer;}

/* - маленькие, встречающиеся в таблицах*/
.ListItem .btnBase{color:#798937;font-weight:bold;background:url('images/btn_whiteBtnBg.gif') repeat-x;height:19px;width:1%;text-align:center;cursor:pointer;}
.ListItem .btnLeftCorner{background:url('images/btn_whiteBtnLeftCorner.gif') no-repeat right top;width:3px;height:19px;cursor:pointer;}
.ListItem .btnRightCorner{background:url('images/btn_whiteBtnRightCorner.gif') no-repeat left top;width:3px;height:19px;cursor:pointer;}
.ListItem .buttDiv span{border:0px;}
.ListItem .buttDiv td{border:0px}
.ListItem .btnBase span{cursor:pointer;}

/* - кнопки доп.действий в полях платежки*/
.pmntConfirm .btnBase{color:#768730;font-weight:bold;background:url('images/btn_whiteBtnBg.gif') repeat-x;height:18px;cursor:pointer;}
.pmntConfirm .btnLeftCorner{background:url('images/btn_whiteBtnLeftCorner.gif') no-repeat right;width:3px;height:18px;cursor:pointer;font-size:7pt;}
.pmntConfirm .btnRightCorner{background:url('images/btn_whiteBtnRightCorner.gif') no-repeat left;width:3px;height:18px;cursor:pointer;font-size:7pt;}
.pmntConfirm .btnBase span{cursor:pointer;}


/* - для фильтра*/
/*.fltrBgBtm .btnBase{color:#798937;font-weight:bold;background:url('images/btn_whiteBtnBg.gif') repeat-x;height:19px;cursor:pointer;}*/
/*.fltrBgBtm .btnLeftCorner{background:url('images/btn_whiteBtnLeftCorner.gif') no-repeat right;width:3px;height:19px;cursor:pointer;}*/
/*.fltrBgBtm .btnRightCorner{background:url('images/btn_whiteBtnRightCorner.gif') no-repeat left;width:3px;height:19px;cursor:pointer;}*/
/*.fltrBgBtm .btnBase span{cursor:pointer;}*/


/*Таблицы*/
/*.tblHeader{background:url('images/tbl_headerBg.gif') repeat-x top;background-color:#f1f1f1;height:27px;padding:0px 4px 0px 0px;}*/
/*.tblHeaderLeftCorner{background:url('images/tbl_headerLeftCorner.gif') no-repeat top;width:9px;height:27px;}*/
/*.tblHeaderRightCorner{background:url('images/tbl_headerRightCorner.gif') no-repeat top;width:10px;height:27px;}*/
/*.tblHeader .tblTitleText{color:#768730;cursor:default;}*/
.tblHeaderLeftCorner{background:url('images/tbl_headerLeftCorner.gif') no-repeat right top;width:33px;height:31px}
.tblHeaderRightCorner{background:url('images/tbl_headerRightCorner.gif') no-repeat left top;width:33px;height:31px}
.tblHeader{padding-top:24px;}
.tblHeader .tblTitleText{font-size:16pt;cursor:default;}

.tblDescription{color:#7f7f7f;}
.tblGroupTitle{color:#768730;}

.tblSettingsBeforeInf{border:1px solid #9f9f9f;border-width:1px 1px 0px 1px;padding:4px;}

.tblInf{background-color:#ffffff;}
.tblInf table td{border:0px;}
.tblInf .needBorder table td{border:1px solid #f2efe8;border-width:0px 1px 1px 0px;}
.tblInfHeader td{font-weight:bold;}
.tblInf td{border:1px solid #f2efe8;border-width:0px 1px 1px 0px;padding:0px 10px 0px 10px;}
/*.tblInf .ListLine0 td{background-color:#f7f7f7;}*/
.tblSearchMsg{border:1px solid #f2efe8;border-width:0px 1px 1px 1px;padding:3px 4px 3px 4px;}
.tblInf td span{cursor:pointer;}
.tblInfHeader .btmTd{border:1px solid #f2efe8;border-width:0px 0px 1px 0px;}
.tblInf .tree td{height:auto;}
.tblInfLeftSpace {background:url('F:/Work/html/Sber_OnLine/common/img/b3-v1-l.gif') repeat-y left #ffffff;}
.tblInfRightSpace {background:url('F:/Work/html/Sber_OnLine/common/img/b3-v1-r.gif') repeat-y right #ffffff;}
.tblInfBtn{background-color:#ffffff;padding:20px 0px 0px 0px;}
.tblHelpMsg{background-color:#ffffff;padding:20px 0px 0px 0px;}

.tblNumRec td{padding:2px 4px 2px 4px;color:#9f9f9f;}
.tblNumRec select{font-size:8pt;color:#9f9f9f;}
.tblNumRec a{color:#9f9f9f;}

.tblFooter{background: url('images/tbl_footerBg.gif') repeat-x bottom #ffffff;}
.tblFooterLeftCorner{background:url('images/tbl_footerLeftCorner.gif') no-repeat bottom left;width:33px;height:30px;}
.tblFooterRightCorner{background:url('images/tbl_footerRightCorner.gif') no-repeat bottom right;width:33px;height:30px;}

/*Новости*/
.newsList .tblInf table td{border:0px;}
.newsDate {color:#768730;font-weight:bold;}
.newsTitle{padding:0px 0px 0px 10px;color:#768730;font-weight:bold;}
.newsText span{padding:0px 4px 0px 4px;text-align:justify;}

/*Платежныне формы*/
.pmntGlobal{width:540px;}
.pmntBaseSpace{padding-top:10px;}
.pmntBgBaseTop{background:url('F:/Work/html/Sber_OnLine/common/img/b3-h.gif') repeat-x #edece8;width:33px;height:51px;}
.pmntBgBaseTopLeftCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-t-l.gif') no-repeat;width:33px;height:51px;}
.pmntBgBaseTopRightCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-t-r.gif') no-repeat;width:33px;height:51px;}
.pmntBgBase{background-color:#ffffff;}
.pmntBgBaseLeftCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-v1-l.gif') repeat-y left #ffffff;}
.pmntBgBaseRightCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-v1-r.gif') repeat-y right #ffffff;}
.pmntBgBaseBtm{background:url('F:/Work/html/Sber_OnLine/common/img/b3-b.gif') repeat-x #ffffff;}
.pmntBgBaseBtmLeftCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-b-l.gif') no-repeat #edece8;width:33px;height:33px;}
.pmntBgBaseBtmRightCorner{background:url('F:/Work/html/Sber_OnLine/common/img/b3-b-r.gif') no-repeat #edece8;width:33px;height:33px;}
.pmntTitleBg{text-align:center;vertical-align:middle;height:36px;padding-top:2px;}
.pmntTitleBg span{font-size:16pt;cursor:default;}
.pmntIcon{width:73px;height:47px;text-align:center;vertical-align:middle;background:url('images/pmnt_iconBg.gif') no-repeat;}
.pmntTitleText{text-align:left;}
.pmntInfArea{background-color:#ffffff;padding:8px;}
.pmntInfArea td{padding:2px 0px 2px 4px;}
.pmntInfArea span{padding:0px;cursor:default;}
.pmntInfArea fieldset{border:1px solid #c8c3b9;width:100%;padding:0px 25px 0px 5px;}
.pmntInfArea legend{color:#3d3d3d;font-weight:bold;}
.pmntInfAreaTitle{font-weight:bold;padding:4px 0px 2px 5px;}
.pmntInfAreaSignature{padding:0px 0px 20px 0px;color:#848c87;font-size:8pt;vertical-align:top;}
/*.pmntInfAreaShadowBg{background:url('images/pmnt_shadowBg.gif') repeat-x top;height:8px;}*/
/*.pmntInfAreaShadowLeftCorner{background:url('images/pmnt_shadowLeftCorner.gif') no-repeat;width:11px;height:8px;}*/
/*.pmntInfAreaShadowRightCorner{background:url('images/pmnt_shadowRightCorner.gif') no-repeat;width:11px;height:8px;}*/
.pmntGlobal input{font-size:7pt;}
.pmntInnerTbl {width:100%;text-align:center;padding-top:10px;}
.pmntInnerTbl table{padding:0px;margin:0px;border:1px solid #c3c3c3;}
.pmntInnerTbl table td{border:1px solid #c3c3c3;background-color:white;}

.pmntConfirm {padding:2px 2px 0px 2px;}
.pmntConfirm input{border:1px solid #c8c3b9;width:100px;}


/*Список платежей*/
.pmntList{width:400px;height:100px;float:left;padding:2px;}
.pmntListBgTop{background-color:#edece8;border-top:1px solid #c8c3b9;}
.pmntListBgTopLeftCorner{background:url('images/pmnt_topBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBgTopRightCorner{background:url('images/pmnt_topBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBg{background-color:#edece8;width:390px;height:85px;}
.pmntListBgLeftCorner{background-color:#edece8;border-left:1px solid #c8c3b9;}
.pmntListBgRightCorner{background-color:#edece8;border-right:1px solid #c8c3b9;}
.pmntListBgBtm{background-color:#edece8;border-bottom:1px solid #c8c3b9;}
.pmntListBgBtmLeftCorner{background:url('images/pmnt_btmBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBgBtmRightCorner{background:url('images/pmnt_btmBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListInfArea{background:url('images/pmntList_InfArea.gif') repeat-x top;background-color:#edece8;border:1px solid #d7d6d1;border-width:0px 2px 2px 1px;}
.pmntListInfArea span.pmntListTitle{cursor:pointer;}
.pmntListIcon{background:url('images/pmntList_iconBg.gif') no-repeat;width:73px;height:47px;text-align:center;vertical-align:middle;}
.pmntListTitle{color:#768730;font-size:10pt;font-weight:bold;text-decoration:underline;cursor:pointer;}
.pmntListGroup{width:800;height:auto;padding-bottom:15px;}
.pmntListGroupTitle{color:#768730;font-size:11pt;font-weight:bold;padding-top:10px;}
.pmntListBg a{color:#3d3d3d;}

/*Список шаблонов*/
.tmpltGroup{width:400px;height:120px;float:left;padding:2px;}
.tmpltGroupBgTop{background-color:#edece8;border-top:1px solid #c8c3b9;}
.tmpltGroupBgTopLeftCorner{background:url('images/pmnt_topBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBgTopRightCorner{background:url('images/pmnt_topBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBg{background-color:#edece8;width:390px;height:100px;}
.tmpltGroupBgLeftCorner{background-color:#edece8;border-left:1px solid #c8c3b9;}
.tmpltGroupBgRightCorner{background-color:#edece8;border-right:1px solid #c8c3b9;}
.tmpltGroupBgBtm{background-color:#edece8;border-bottom:1px solid #c8c3b9;}
.tmpltGroupBgBtmLeftCorner{background:url('images/pmnt_btmBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBgBtmRightCorner{background:url('images/pmnt_btmBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupInfArea{background:url('images/pmntList_InfArea.gif') repeat-x top;background-color:#edece8;border:1px solid #d7d6d1;border-width:0px 2px 2px 1px;}
.tmpltGroupIcon{background:url('images/pmntList_iconBg.gif') no-repeat;width:73px;height:47px;text-align:center;vertical-align:middle;}
.tmpltGroupTitle{color:#768730;font-size:10pt;font-weight:bold;text-decoration:underline;}

/*Подпись интербанка*/
/*.ftr{background:url('images/ftr_bg.gif') repeat-x top;background-color:#dddad3;height:30px;text-align:center;}*/
/*.ftrLeftCorner{background:url('images/ftr_leftCorner.gif') no-repeat left;height:30px;}*/
/*.ftrRightCorner{background:url('images/ftr_bgDark.gif') repeat-x top;height:30px;}*/
/*.ftrRightCorner span{background:url('images/ftr_rightLeftCorner.gif') no-repeat left;width:100%;height:100%;}*/

/*Рабочая область*/
.workspaceArea{padding:0px 0px 0px 4px;vertical-align:top;}
.workspaceRegion {height:100%;width:100%;overflow:auto;scrollbar-base-color:#ffffff;scrollbar-arrow-color:#6d8f29;scrollbar-3dlight-color:#d8d8e4;scrollbar-darkshadow-color:#a3a3a3;}
.workspaceRegion span{cursor:default;}
.label120{width:120px;text-align:right;padding:4px;}
.LabelAll{color:#7f7f7f;}
.context{color:#8a8a8a;}
#centerLoadDiv, #iCenterLoadDiv {position:absolute;top:50%;left:50%;margin-left:-125px;margin-top:-35px;display:none;visibility:visible;z-index:3;}
#bgWorkspaceRegion, #iBgWorkspaceRegion {background-color:#ffffff;position:absolute;display:none;z-index:2;}

/*Окно выбора*/
.selectWin{background:url('images/pmnt_titleBg.gif') repeat-x top;background-color:#f9f9f9;width:100%;height:100%;}
.selectWin .title{background:url('images/subM_activeInsetBg.gif') repeat-x top;background-color:#bee614;border-left:1px solid #b2ada4;border-right:1px solid #d7d4cc;color:#ffffff;border-bottom:1px solid #768730;height:32px;padding:10px;}

/*Аутентификация пользователя*/
.lpSystemTitle {color:#5f6e22;font-size:14pt;font-weight:bold;text-align:center;padding-bottom:10px;}
.lpSystemTitle span{font-size:11pt;}

.lpInputAreaTop{background-color:#bab6ad;height:8px;padding:0px;}
.lpInputAreaTopLeftCorner{background:url('images/lp_inputAreaTopLeftCorner.gif') no-repeat top left;width:10px;height:13px;padding:0px;}
.lpInputAreaTopRightCorner{background:url('images/lp_inputAreaTopRightCorner.gif') no-repeat top right;width:10px;height:13px;padding:0px;}

.lpInputArea{background:url('images/lm_grHeaderTopBase.gif') repeat-x top;background-color:#d1cdc5;padding-bottom:8px;}
.lpInputAreaLeftCorner{background:url('images/lm_grHeaderTopBase.gif') repeat-x top;background-color:#d1cdc5;border-left:1px solid #d2cdc5;}
.lpInputAreaRightCorner{background:url('images/lm_grHeaderTopBase.gif') repeat-x top;background-color:#d1cdc5;border-right:1px solid #d2cdc5;}
.lpBase{background-color:#edece8;}
/*.lpBtmLeftCorner{background:url('images/lp_topLeftCorner.gif');background-position:right bottom;background-repeat:no-repeat;}*/
.lpInputArea td{padding:0px 2px 0px 2px;font-size:8pt;font-weight:bold;}
.lpInputArea input{width:200px;font-size:8pt;height:20px;}
.lpInputArea select{width:200px;font-size:8pt;height:20px;}
.lpMessage{padding:10px 0px 3px 0px;font-weight:bold;text-align:center;}

.lpInputAreaBtm{background:url('images/lp_inputAreaBtm.gif') repeat-x bottom;background-color:#d1cdc5;height:31px;padding:0px;border-top:2px groove;vertical-align:top;}
.lpInputAreaBtmLeftCorner{background:url('images/lp_inputAreaBtmLeftCorner.gif') no-repeat left;width:10px;height:31px;padding:0px;}
.lpInputAreaBtmRightCorner{background:url('images/lp_inputAreaBtmRightCorner.gif') no-repeat right;width:11px;height:31px;padding:0px;}

.lpInputAreaBtm .btnBase{background:url('images/btn_lpBtnBg.gif') repeat-x;color:#ffffff;white-space:nowrap;height:22px;padding:0px 4px 0px 0px;font-weight:bold;}
.lpInputAreaBtm .btnLeftCorner{background:url('images/btn_lpBtnLeftCorner.gif') no-repeat;width:7px;height:22px;}
.lpInputAreaBtm .btnRightCorner{background:url('images/btn_lpBtnRightCorner.gif') no-repeat;width:7px;height:22px;}
.lpInputAreaBtm span{cursor:pointer;}

/*.lpMessage{background:url('images/infBl_titleBg.gif') repeat-x top;color:#ffffff;text-align:center;}*/
/*.lpMessageLeftCorner{background:url('images/infBl_titleLeftCorner.gif') no-repeat;width:8px;height:25px;}*/
/*.lpMessageRightCorner{background:url('images/infBl_titleRightCorner.gif') no-repeat;width:11px;height:25px;}*/

/*.lpInputArea .btnBase{background:url('images/btn_greenBtnBg.gif') repeat-x;color:#ffffff;white-space:nowrap;height:67px;padding:0px 4px 0px 0px;}*/
/*.lpInputArea .btnLeftCorner{background:url('images/btn_greenBtnLeftCorner.gif') no-repeat;width:7px;height:27px;}*/
/*.lpInputArea .btnRightCorner{background:url('images/btn_greenBtnRightCorner.gif') no-repeat;width:7px;height:27px;}*/
/*.lpInputArea span{cursor:pointer;}*/

/*Отображение дерева подразделений*/
.tree{background-color:#f1f1f1;}

/* ---------------------СТАНДАРТНЫЙ СПИСОК--------------------------------*/
.tblInf table{width:100%;height:100%;}
.list_Table
{
	border-left:1px solid #9f9f9f;
	border-top:1px solid #9f9f9f;
}

.list_Table input
{
	border:0;
}

.list_Header, .list_Header th, .tblInfHeader th
{
	background:url('images/tbl_clmnHeaderBg.gif') repeat-x top;
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	color:#3d3d3d;
	font-size:8pt;
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	white-space:nowrap;
	height:20px;
}

.list_Items td, .list_Items2 td
{
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	height:20px;
	padding-left:4px;
	padding-right:4px;
}

.list_Items
{
	background-color:#f7f7f7;
}

.list_Items2
{
	/* используем дефолтный стиль */
}

.list_empty
{
	border:0;
	color:#cc3333;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}


/* ______________________________TEMP_______________________________ */
.tempBlock .infoTitle{color:#768730;}
.tempBlock .userTab{border:1px solid #c3c3c3;border-width:1px 0px 0px 1px;}
.tempBlock .titleTable td{background:url('images/tbl_clmnHeaderBg.gif') repeat-x top;border:1px solid #c3c3c3;border-width:0px 1px 1px 0px;}
.tempRedBorder {border:1px solid red;}

/*Для календаря*/

.component_calendar {
	text-align: center;
	border: 1px solid #d3d3d3;
	/*font-family: Tahoma, Arial, sans-serif;*/
 	z-index: 150000;
	background-color: #e3e0db;
	width: 180px;
	/*filter:alpha(opacity=95);*/
	-moz-opacity: 0.95;
	opacity: 0.95;
}

.component_calendar_header {
	width: 100%;
	border-collapse: collapse;
	font-size: 8pt;
	font-weight: bold;
	background:url('images/mm_insetBg.gif') repeat-x;
	padding: 5px 0;
	color: #eee;
}

.component_calendar_header td {
	cursor: pointer;
	padding: 4px;
	font-size: 8pt;
	text-align: center;
}
.component_calendar_header td.component_calendar_head_name {
	cursor: default;
	width: 100%;
	font-size: 8pt;
}

.component_calendar_table {
	font-size: 8pt;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.component_calendar_table td {
	text-align: center;
	width: 30px;
	height: 20px;
	/*background-color: #666;*/
	color: #3d3d3d;
	cursor: pointer;
}

.component_calendar_table td.wday {
	font-weight: bolder;
	background-color: #bbb6ad;
	color: #eee;
	cursor: default;
}

.component_calendar_table td.holiday{
	font-weight: bolder;
	background-color: #aacd0f;
	/*color: #828882;*/
	color: #eee;
	cursor: default;
}

.component_calendar_table td.outboundholiday{
	background-color: #97b80b;
	color: #eee;
	cursor: default;
}

.component_calendar_table td.outbound {
	background-color: #dad7d3;
	color: #828882;

}

.component_calendar_table td.now {
	background-color: #aa0000;
	color: #fff;
}

.component_calendar_table td.over {
	background-color: #879747;
	color: #eee;
}
.calendar.workDay {
	background-color: #02a;
	color: #eee;
}
#date_embed {width:190px;height:auto;overflow:auto;}
.component_calendar_table td.helpText{width:auto;height:auto;text-align:left;color:#3d3d3d;}
.component_calendar_table td.work{background-color: #e3e0db;}




/*Убрать при возможности в нашем стиле (из макета для сбера)*/
/*.m-f {*/
	/*margin: 0px 0px 15px 0px;*/
/*}*/
/*.m-f .eform {*/
/*	position: absolute;   */
	/*width: 100%;*/
/*}*/
/*.m-f .uphead {*/
/*	position: absolute;   */
	/*margin-top:-175px;*/
/*}*/
/*.m-f .menu {*/
	/*padding: 177px 0px 0px 0px;*/
/*}*/
/*.m-f .menu2 {*/
	/*padding: 56px 0px 0px 0px;*/
/*}*/
/*.h174 .m-f div.eform div.form {*/
	/*width: 100%;*/
/*}*/
/*.m-f div.eform div.form table#enter, .m-f div.eform div.form table#enter2 {*/
	/*width: 100%;*/
/*}*/
/*.m-f div.eform div.form table#enter td.td1 {*/
	/*width: 52px;*/
/*}*/
/*.m-f div.eform div.form table#enter td.td2 {*/
	/*background: url(../img/top-login-bg.gif) repeat-x 0px 0px;*/
/*}*/
/*.m-f div.eform div.form table#enter td.td3 {*/
	/*width: 423px;*/
	/*padding: 0px 0px 0px 60px;*/
	/*background: url(../img/top-login-fon.png) no-repeat 0px 0px;*/
/*}*/
/*.m-f div.eform div.form table#enter td.td3 table {*/
	/*width: 423px;*/
/*}*/
/*.m-f div.eform div.form table#enter td.td4 {*/
	/*width: 52px;*/
/*}*/
/* шапка вторых страниц */
/*.m-f div.eform div.form table#enter2 td.td1 {*/
	/*width: 386px;*/
	/*vertical-align: top;*/
/*}*/
/*.m-f div.eform div.form table#enter2 td.td2 {*/
	/*background: url(../img/logo-bg.png) repeat-x 0px 0px;*//*  width: 100%; */
/*}*/
/*.m-f div.eform div.form table#enter2 td.td3 {*/
	/*width: 201px;*/
	/*background: url(../img/logo-tel.png) no-repeat 0px 0px;*/
/*}*/
/*.m-f div.eform div.form table#enter2 td.td3 .nav {*/
	/*position: absolute;*/
	/*padding: 8px 0px 0px 68px;*/
/*}*/
/*.m-f div.eform div.form table#enter2 td.td3 .nav img {*/
	/*margin: 0px 6px 0px 0px;*/
/*}*/
/*.m-f div.eform div.form table td {*/
	/*vertical-align: middle;*/
	/*height: 32px;*/
	/*color: #ffffff;*/
	/*font-size: 14px;*/
/*}*/
/*.m-f div.eform div.form table td span {*/
	/*padding: 0px 38px 0px 0px;*/
/*}*/
/*.m-f div.eform div.form table td a {*/
	/*color: #bbe809;*/
/*}*/
/*.m-f div.eform div.form table td.input {*/
	/*background: url(../img/h-input.gif) no-repeat 0px 50%;*/
	/*width: 241px;*/
/*}*/
/*.m-f div.eform div.form table td.input input {*/
	/*border: 0px solid;*/
	/*background: transparent;*/
	/*padding: 5px 5px 0 5px;*/
	/*width: 233px;*/
	/*height:22px;*/
/*}*/
/*.m-f div.eform div.form table span.button {*/
	/*background: url(../img/but/h-enter.gif) no-repeat 0px 0px;*/
	/*border: 0px solid;*/
	/*width: 97px;*/
	/*height: 46px;*/
	/*cursor: pointer;*/
/*}*/
/* Тянущееся меню */
/*.menu table, .menu2 table {*/
	/*width: 100%;*/
/*}*/
/*.menu table td, .menu2 table td {*/
	/*text-align: center;*/
	/*cursor: pointer;*/
/*}*/

/*td.table-menu div div a, td.table-menu-s div div a {*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*color: #ffffff;*/
	/*text-decoration: none;*/
/*}*/
/*td.table-menu-s div div {*/
	/*background: url('images/mm_insetRightCornerActive.gif') no-repeat 100% 0px;*/
	/*padding: 82px 13px 22px 13px;*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*color: #ffffff;*/
/*}*/
/*td.table-menu-s div {*/
	/*background: url('images/mm_insetLeftCornerActive.gif') no-repeat 0px 0px;*/
/*}*/
/*td.table-menu-s {*/
	/*background: url('images/mm_insetBgActive.gif') repeat-x 0px 0px;*/
	/*height: 118px;*/
/*}*/
/*td.table-menu div div a, td.table-menu-s div div a {*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*color: #ffffff;*/
	/*text-decoration: none;*/
/*}*/
/*td.table-menu div div {*/
	/*background: url('images/mm_insetRightCorner.gif') no-repeat 100% 0px;*/
	/*padding: 82px 13px 22px 13px;*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*color: #ffffff;*/
/*}*/
/*td.table-menu div {*/
	/*background: url('images/mm_insetLeftCorner.gif') no-repeat 0px 0px;*/
/*}*/
/*td.table-menu {*/
	/*background: url('images/mm_insetBg.gif') repeat-x 0px 0px;*/
	/*height: 118px;*/
/*}*/

