/* стили объектов самой страницы платежей */
.pb-entitiesList {
    margin-top: 50px;
    width: 643px;
}

.pb-otherServices {
    font: 22px Arial;
    color: #000;
    margin-top: 40px;
}

.pb-listTitle {
    color: #585858;
    font: bold 12px Arial;
    margin-bottom: 9px;
    margin-top: 13px;
    padding-left: 24px;
    text-transform: uppercase;
}

.pb-subscriptionsList {
    margin-top: 25px;
}

.pb-emptyList {
    margin-top: 0;
    height: 5px;
}

.pb-ref {
    color: #7ea29f;
}

.pb-text {
    font: 16px/22px Arial;
    color: #000;
    margin-bottom: 18px;
}

.pb-closeIcon {
    background: url("images/basket/closeIcons.png") no-repeat -34px 0;
    height: 30px;
    margin: -10px -5px 0 0;
    width: 30px;
}

.pb-objectLink {
    border-bottom: 1px solid;
    cursor: pointer;
}

/*стили объекта учёта*/

.sg-serviceGroup {
    float: left;
    width: 650px;
    position: relative;
    margin-bottom: 15px;
    position: relative
}

.sg-name {
    color: #b6b0a5;
    text-decoration: underline;
}

.sg-nameText {
    font: 20px Arial;
    color: #000;
}

.sg-additional {
    font: italic 11px Arial;
    color: #a29a90;
    margin-top: 3px;
}

.sg-mainBody {
    margin-top: -20px;
    margin-left: -23px;
    padding: 0 5px 5px 6px;
}

.sg-titlePlace.floatLeft {
    margin-left: -7px;
    margin-right: -5px;
    width: 390px;
    word-wrap: break-word;
}

.sg-emptyPart {
    margin-top: 4px;
}

.sg-hint {
    font: 14px/18px Arial;
    color: #373737;
}

.sg-hint p {
    margin-bottom: 4px;
}

.sg-roundWhiteBlock {
    right: -100px;
    padding-right: -100px;
}

.sg-otherServices {
    padding: 10px 0 5px 15px;
}

.sg-topRight {
    background: url("images/basket/roundWhiteBlock.png") no-repeat 0 0;
    height: 64px;
    margin: -11px -7px 0 0;
    width: 240px;
}

.sg-button img {
    margin-top: -2px;
    position: relative;
    z-index: 13;
}

.sg-changeButton.sg-button img {
    z-index: 1;
}

.sg-changeButton {
    margin: 23px 0 0 130px;
}

.sg-chooseButton {
    margin: 20px 0 0 12px;
}

.sg-titleDiv {
    background: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding: 4px 4px 4px 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}

.sg-clientButton {
    position: relative;
    z-index: 0;
}

.sg-entitySubList {
    margin-top: 7px;
}

.sg-entitySubList.pb-emptyList {
    margin-top: 0;
}

.sg-serviceButton {
    border-bottom: 1px dotted #7ea29f;
    color: #7ea29f;
    text-decoration: none !important;
}

/*стили автоподписок*/

.is-additionalTop {
    border-bottom: 1px solid #dcdcdc;
    margin: -1px 0 10px -8px;
    padding: 5px 21px 9px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

.sg-otherServicesRef {
    font-weight: bold;
    margin-left: 2px;
    border-bottom: 1px dotted #7ea29f;
    text-decoration: none !important;
}

.is-invoiceSubscription {
    cursor: pointer;
    margin-top: -9px;
    position: relative;
    width: 695px;
    overflow: hidden;
    clear: both;
}

.is-typeEntityService {
    width: 685px;
    margin-left: -12px;
}

.is-hold {
    cursor: move;
}

.is-state {
    text-align: center;
}

.is-statusWait {
    background: url("images/basket/hourglass.png") no-repeat;
    color: #b4b8b7;
    font: 10px/18px Arial;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-left: 24px;
    padding-left: 21px;
}

.is-statusStopped {
    font: bold 9px Arial;
    text-transform: uppercase;
    color: #cd9715;
    margin-bottom: 9px;
    padding-left: 25px;
}

.is-statusError {
    font: bold 9px Arial;
    text-transform: uppercase;
    color: #eb5151;
    margin-bottom: 9px;
    padding-left: 25px;
}

.is-holdingFlag {
    background: url("images/basket/iconsSprite.png") no-repeat -45px -24px;
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.is-hold .is-main .is-left .is-holdingFlag {
    visibility: visible;
}

.is-left {
    margin-top: -3px;
    width: 216px;
    position: relative;
    z-index: 10;
}

.is-invoiceSubscription:hover .is-main .is-left .is-nameProviderWrap .is-name {
    font: 17px Arial;
    color: #5ca61b;
    font-weight: bold;
}

.is-nameProviderWrap {
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 181px;
}

.is-center {
    width: 150px;
    padding-top: 27px;
    position: relative;
    z-index: 10;
    min-height: 13px;
}

.is-right {
    width: 200px;
    position: relative;
    z-index: 10;
    margin-top: 5px;
}

.is-name {
    border-bottom: 1px solid #c5c7cb;
    color: #000;
    display: inline;
    font: bold 17px Arial;
}

.is-provider {
    font: 10px Arial;
    color: #585858;
    text-transform: uppercase;
    padding-top: 10px;
    position: absolute;
    top: 18px;
    left: 28px;
    z-index: 1;
}

.is-provider.errorShift {
    padding-top: 30px;
}

.is-providerName {
    overflow: hidden;
    padding-top: 3px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    left: 60px;
    top: 30px;
    width: 150px;
    white-space: nowrap;
    position: absolute;
    z-index: 10;
}

.is-providerName.errorShift {
    padding-top: 23px;
}

.is-providerIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.is-typeActive:hover .is-providerIcon {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -khtml-opacity: 0.8;
}

.is-typeOther:hover .is-providerIcon {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -khtml-opacity: 0.8;
}

.is-info-name {
    font: 12px Arial;
}

.is-info-value {
    font: 12px Arial;
    padding-left: 3px;

}

.is-main {
    padding: 5px;
    min-height: 50px;
}

.is-recommended {
    margin-top: 2px;
    width: 150px;
}

.is-stopped {
    width: 103px;
}

.is-typeActive .is-iconPlace {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 10;
    padding-left: 5px;
}

.sg-mainBody .is-typeActive .is-iconPlace {
    margin-right: -5px;
}

.is-typeOther .is-iconPlace {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 10;
    margin-left: 7px;
}

.is-pencilIcon {
    background: url("images/basket/editPencil.png") 0 0 no-repeat;
}

.is-closeIcon {
    background: url("images/basket/closeIcons.png") no-repeat -38px -36px;
    height: 21px;
    margin: 10px -5px 0;
    width: 21px;
}

.is-closeIcon:hover {
    background: url("images/basket/closeIcons.png") no-repeat -38px -66px;
    height: 21px;
    margin: 10px -5px 0;
    width: 21px;
}

.is-paymentsInfo {
    color: #585858;
    font: 12px Arial;
    margin-left: 95px;
    margin-top: 25px;
}

.is-delayDate {
    font: 10px Arial;
    color: #8b8b8b;
}

.is-scrollIcon {
    background: url("images/basket/iconsSprite.png") 0 0 no-repeat;
    width: 20px;
    height: 20px;
}

.is-continueIcon {
    background: url("images/basket/iconsSprite.png") -86px -31px no-repeat;
    width: 20px;
    height: 20px;
}

.is-refreshIcon {
    background: url("images/basket/iconsSprite.png") -66px -30px no-repeat;
    width: 20px;
    height: 20px;
}

.pb-searchProvidersReference {
    clear: both;
    margin-top: 10px;
}

.grayBtn .text span.textIcon {
    margin-top: 8px;
}

.grayBtn .left-corner {
    background: url(images/basket/grayBtn_left.png) left 0 no-repeat;
    height: 32px;
    width: 12px;
}

.grayBtn .right-corner {
    background: url(images/basket/grayBtn_right.png) no-repeat right 0;
    height: 32px;
    width: 12px;
}

.grayBtn .text {
    background: url(images/basket/grayBtn_center.png) center 0 repeat-x;
    height: 32px;
}

.is-deleteIcon {
    background: url("images/basket/iconsSprite.png") -63px 1px no-repeat;
    width: 14px;
    height: 20px;
    padding-left: 0 !important;
}

.is-autoIcon {
    background: url("images/basket/iconsSprite.png") no-repeat -85px 0;
    height: 20px;
    margin-top: 8px;
    width: 20px;
}

.is-buttonMessage {
    padding-left: 20px;
}

.is-continueTextStyle {
    font: 12px Arial;
    color: #222;
    padding-left: 5px;
}

.is-autoSubscriptionText {
    color: #222;
    font: 12px Arial;
    padding-left: 5px;
    width: 85%;
}

.is-refreshTextStyle, .is-refreshTextStyle .text span {
    font: 14px Arial;
    color: #222;
    padding-left: 5px;
}

.is-autoSubscriptionBlock {
    margin-right: -57px;
}

/* страница поиска поставщиков*/

.sp-content {
    margin-left: -21px;
    padding-top: 16px;
}

.sp-title {
    padding-left: 30px;
}

#sp-paymentStripe .currentStripe {
    width: 33%;
}

#sp-paymentStripe .futureStripe {
    width: 33%;
}

#sp-searchBlock {
    margin-top: 45px;
}

.payments-legend.sp-style {
    margin-top: 10px;
}

.paymentSearch.sp {
    margin-top: 35px;
}

.sp-provider {
    width: 45%;
    margin-top: 35px;
}

.sp-providerLink {
    font: 13px Arial;
    border-bottom: 1px solid;
    cursor: pointer;
    margin-left: 8px;
}

.sp-providerIcon {
    height: 35px;
    width: 35px;
}

.sp-results {
    margin-left: 35px;
}

.invoiceSubscription .formRowMargin {
    margin-left: 185px;
}

.notKeyFieldShow {
    padding-left: 10px;
    background: url("images/brawnBullet.gif") no-repeat 0 4px;
    margin-left: 175px;
    cursor: pointer;
    display: inline-block;
    clear: both;
}

.notKeyFieldHide {
    padding-left: 10px;
    background: url("images/brawnBullet_up.gif") no-repeat 0 4px;
    margin-left: 175px;
    cursor: pointer;
    display: inline-block;
    clear: both;
}

.invoiceView .top {
    border-bottom: 1px solid #e5e5e5;
    margin: 30px 0;
    text-align: center;
}

.invoiceView .body {
    border-bottom: 1px solid #f2f2f2;
}

.invoiceView .bottom {
    border-bottom: 2px solid #e5e5e5;
    margin: 30px 0;
}

.serviceTitle {
    color: #212121;
    font: 40px Arial;
}

.serviceProviderTitle {
    color: #777;
    font: 16px Arial;
    text-transform: uppercase;
    margin-top: 15px;
}

.invoiceSubscriptionTitle {
    color: #489834;
    font: 13px Arial;
    text-decoration: none;
    border-bottom: 1px solid #b6d6ae;
}

.mainSumRow {
    color: #212121;
    font: 20px/16px Arial !important;
}

.paymentInputDiv .mainSumRow {
    line-height: 23px;
}

.paymentInputDiv .fullSumRow {
    margin-top: -1px;
}

.currencyRow {
    color: #777;
    font: 20px Arial;
}

.invoiceOperations .delayButton {
    color: #6fa5a2;
    font-size: 15px;
    cursor: pointer;
    line-height: 17px;
}

.removeInvoiceHint {
    font: italic 10px Arial;
    color: #b2b2b2;
    margin-left: 25px;
}

.invoiceSubscriptionOperations {
    margin: 10px;
}

/* список инвойсов */

.il-header {
    padding-bottom: 40px;
    padding-top: 20px;
}

.il-basketRef.floatRight {
    padding-top: 15px;
}

.il-showButton {
    background: url("images/basket/grayRoundButton.png") repeat 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font: bold 13px Arial;
    height: 19px;
    margin: 13px 0 0 25%;
    padding: 5px 17px 0;
}

.il-showText {
    color: #000;
}

.il-showButton.hover {
    background: url("images/basket/grayRoundButton.png") repeat 0 -32px;
}

.il-showButton.pressed {
    background: url("images/basket/grayRoundButton.png") repeat 0 -67px;
    border: 1px solid #aeaeae;
}

.il-paymentsCalendar {
    margin-bottom: 40px;
    margin-top: 15px;
    padding-left: 50px;
}

.il-invoice {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    height: 54px;
    padding-left: 28px;
    padding-right: 13px;
    padding-top: 19px;
    position: relative;
    width: 612px;
}

.il-invoice.hover {
    background: #f5f5f3;
}

.entityName {
    float: left;
}

.il-left {
    position: relative;
}

.il-providerIcon {
    width: 35px;
    height: 35px;

}

.il-invoiceIcon {
    background: url("images/basket/paperIcon.png") no-repeat 0 0;
    height: 25px;
    margin-top: -25px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 25px;
}

.il-point {
    background: url("images/basket/iconsSprite.png") no-repeat -126px -62px;
    display: block;
    height: 13px;
    width: 14px;
}

.il-brownPoint {
    background: url("images/basket/iconsSprite.png") no-repeat -142px -60px;
    display: block;
    height: 14px;
    width: 14px;
}

.il-hiddenNumber {
    color: #a3a3a3;
}

.il-center {
    padding-left: 10px;
    overflow: hidden;
    width: 560px;
    position: relative;
}

.il-centerBottom {
    color: #585858;
    font-size: 10px;
    text-transform: uppercase;
}

.il-invoiceName {
    color: #000;
    font-size: 19px;
    padding: 1px 0 6px;
    overflow: hidden;
}

.il-entityName {
    color: #a59f86;
    font: 19px Arial;
    margin-top: -3px;
}

.il-providerName {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.il-keyName {
    padding-left: 5px;
    white-space: nowrap;
}

.il-keyValue {
    padding-left: 5px;
}

.il-right {
    position: absolute;
    padding-left: 50px;
    right: 13px;
    top: 13px;
}

.hideText {
    background: url("images/basket/lightness2.png") repeat-y 100% 0;
    width: 50px;
    height: 17px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.il-invoice.hover .hideText {
    background: url("images/basket/lightness2-hover.png") repeat-y 0 0;
}

.il-centerBottom .hideText {
    top: auto;
    bottom: 0;
}

.il-right-style {
    float: left;
}

.invoiceLeftBtn {
    background: url("images/basket/invoicePayBtn.png") no-repeat 0 0;
    float: left;
    height: 35px;
}

.invoiceRightBtn {
    background: url("images/basket/invoicePayBtn.png") no-repeat 100% -242px;
    height: 35px;
}

.invoiceCenterBtn {
    background: url("images/basket/invoicePayBtn.png") repeat-x 100% -121px;
    height: 35px;
}

.il-sum:hover {
    background-position: 0 -40px;
}

.il-sum:hover .invoiceCenterBtn, .il-hiddenListButton:hover .invoiceCenterBtn {
    background-position: 0 -162px;
}

.il-hiddenListButton.invoiceRightBtn:hover {
    background-position: 100% -282px;
}

.il-sum .invoiceCenterBtn {
    margin: 0 0 0 3px;
    padding: 0 9px;
}

.il-hiddenListButton .invoiceCenterBtn {
    margin: 0 3px 0 0;
}

.il-sum.pressed {
    background-position: 0 -81px;
}

.il-sum.pressed .invoiceCenterBtn, .il-hiddenListButton.pressed .invoiceCenterBtn {
    background-position: 0 -203px;
}

.il-hiddenListButton.pressed:hover {
    background-position: 100% -322px;
}

.il-right-masked {
    height: 35px;
    padding-left: 50px;
    padding-top: 6px;
}

.invoiceSeparate {
    border-left: 1px solid #bdbdbd;
    height: 33px;
}

.il-hiddenListIcon {
    background: url("images/basket/iconsSprite.png") no-repeat -55px -62px;
    float: left;
    height: 24px;
    margin: 7px 0 0 4px;
    width: 21px;
}

.il-hiddenList {
    background: none repeat 0 0 #fff;
    border: 1px solid #d4d4d3;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(43, 41, 19, 0.35);
    display: none;
    font-size: 13px;
    margin-left: -5px;
    margin-top: -2px;
    position: absolute;
    z-index: 6;
    width: 164px;
}

.il-delayButton {
    padding: 14px 14px 11px 16px;
    color: #101010;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.il-delayButton.hover {
    color: #fff;
    background: #fd9e14;
    background: linear-gradient(to top, #feb31a, #fd9e14);
}

.il-recoverAutoSubButton {
    padding: 14px 14px 11px 16px;
    color: #101010;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.il-recoverAutoSubButton.hover {
    color: #fff;
    background: #fd9e14;
    background: linear-gradient(to top, #feb31a, #fd9e14);
}

.il-fakeDiv {
    border-top: 1px solid #e0e0e0;
    border-bottom: 2px solid #ffffff;
}

.il-deleteButton {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #d36767;
    padding: 14px 14px 11px 16px;
}

.il-deleteButton .text span {
    margin-top: 0;
}

.listDeleteInvoiceButton a {
    color: inherit;
}

.il-deleteButton.hover {
    color: #fff;
    background: #ff5549;
    background: linear-gradient(to top, #ff5f5a, #ff4d3b)
}

.il-payText {
    color: #414141;
    display: none;
}

.il-sumTextWrap {
    line-height: 33px;
}

.il-sum.hover .il-sumTextWrap {
    font-weight: bold;
}

.il-sum.pressed .il-sumTextWrap {
    font-weight: bold;
}

.il-sumValue {
    color: #222;
    font-size: 14px;
    margin-left: 2px;
}

.il-roubles {
    color: #6f6f6f;
}

.il-newIcon {
    background: url("images/basket/iconsSprite.png") no-repeat -80px -66px;
    height: 20px;
    width: 20px;
}

.il-newIconMoneyBoxSmall {
    background: url("images/basket/iconsSprite.png") no-repeat -86px -66px;
    height: 10px;
    width: 10px;
}

.il-newIconMoneyBoxLarge {
    background: url("images/basket/iconsSprite.png") no-repeat -151px -317px;
    height: 19px;
    width: 19px;
}

.il-delayedIcon {
    background: url("images/basket/iconsSprite.png") no-repeat -105px -66px;
    height: 20px;
    width: 20px;
}

.newInvoicesNumber {
    background: url("images/basket/iconsSprite.png") no-repeat -89px -86px;
    color: #fff;
    font: 14px/26px Arial;
    height: 26px;
    margin-bottom: -1px;
    margin-top: -9px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 26px;
    z-index: 10;
}

.invoiceLeft {
    background: url("images/basket/invoiceCounter.png") no-repeat 0 0;
    float: right;
    position: absolute;
    right: 8px;
    top: -9px;
}

.invoiceRight {
    background: url("images/basket/invoiceCounter.png") no-repeat 100% -33px;
}

.invoiceCenter {
    background: url("images/basket/invoiceCounter.png") repeat-x 0 -63px;
    margin: 0 12px;
    color: #fff;
    font: 14px/26px Arial;
}

.invoiceLeft, .invoiceRight, .invoiceCenter {
    height: 26px;
}

.il-beta {
    color: #a7a7a7;
}

.il-allSum {
    padding-right: 50px;
    padding-top: 12px;
}

.il-allSumText {
    font: bold 13px Arial;
    color: #868686;
}

.il-allSumValue {
    color: #313131;
    font: bold 13px Arial;
    padding-left: 5px;
}

.il-closeIcon {
    background: url("images/basket/closeIcons.png") no-repeat 0 -11px;
    height: 10px;
    margin-right: -15px;
    margin-top: -15px;
    width: 10px;
}

.il-closeIcon.hover {
    background: url("images/basket/closeIcons.png") no-repeat scroll 0 -27px;
}

.il-autoSearch {
    padding-left: 35px;
    padding-top: 20px;
    width: 264px;
}

.il-autoSearchText {
    color: #333;
    font: 14px/20px Arial;
}

.il-fakeDiv {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #e5e5e5;
}

.il-noInvoices {
    color: #747474;
    font: bold 11px Arial;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.il-triangleOuter {
    border: transparent solid 12px;
    border-top: solid 13px #dbdcd7;
    margin-left: 535px;
    margin-top: 30px;
    position: absolute;
    width: 0;
}

.il-content {
    width: 642px;
}

.basketDocuments .workspace-box {
    width: 780px;
}

.basketDocuments .border-title {
    position: relative;
    margin: 38px 0 25px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.basketDocuments .border-title hr {
    border-style: none none dotted;
}

.basketDocuments .border-title span {
    color: #898989;
    font: bold 11px Arial;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: -8px;
    padding: 0 5px;
}

#profileWorkspace #nameProvider {
    max-width: 600px;
}

.fixInvoicePaymentWidth {
    max-width: 575px;
    display: block;
    float: left;
}

.form-row .document-info {
    margin: 0 0 0 15px;
    cursor: pointer;
    background: url("images/basket/icon_docs.png") no-repeat 0 1px;
    padding-left: 23px;
}

.form-row .document-info:hover {
    background-position: 0 -15px;
}

.so-shopOrderOperations {
    border-top: 2px solid #e5e5e5;
    padding-top: 30px;
    margin-left: 60px;
}

.invoice-sub-params {
    margin: 10px 0 10px 0;
}

.invoice-sub-params .invoiceSubParameters {
    margin: 4px 0 0 0;
}

.invoiceSubscription .invoice-sub-error {
    margin: auto;
    padding: 10px 0;
    width: 400px;
    color: #9D182C;
}

.greyDottedLine {
    border-top: 1px dotted #e5e5e5;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#visibleAutoSubEventType, #visibleNextPayDateInvoice {
    color: #449D2F;
    cursor: pointer;
    text-decoration: underline;
}

.searchServicesDescription {
    padding-bottom: 25px;
    padding-top: 10px;
}

.size24.floatLeft.sp-regionWord {
    padding-top: 7px;
}

.searchProvidersDescription {
    padding-left: 30px;
    padding-bottom: 25px;
}

.fakeLayer {
    height: 70px;
    position: absolute;
    width: 665px;
    top: -1px;
    left: -5px;
}

.workspace-box .fakeLayerColors.workspace-box {
    display: none;
}

li.is-typeOther:hover .fakeLayerColors.workspace-box, li.is-typeActive:hover .fakeLayerColors.workspace-box {
    display: block;
}

.is-typeEntityService .fakeLayer {
    width: 680px;
}

li.is-invoiceSubscription .fakeLayer {
    top: -13px;
}

.lightBrown li.is-invoiceSubscription .fakeLayer {
    top: -15px;
    left: -11px;
}

li.is-invoiceSubscription:first-child .fakeLayer {
    top: -10px;
}

li.is-invoiceSubscription:first-child .is-top-hover {
    top: -54px;
}

.buttonTop {
    margin: -15px 0 15px 0;
}

#profileDocuments {
    margin: 0 -61px 0 -30px;
}

#profileDocuments h1 {
    color: #010101;
}

#profileDocuments .content .form-row:hover {
    background-color: #fcf9e1;
    cursor: pointer;
    margin-right: 0;
}

#profileDocuments .form-row, #profileDocuments .paymentLabel {
    color: #000;
}

#profileDocuments .rowTitle {
    color: #000;
    font: 16px Arial;
    margin: 20px 0 10px;
}

#profileDocuments .form-row .paymentLabel {
    text-align: left;
}

#profileDocuments .form-row {
    padding-left: 28px;
}

.stoppedList, .recommended {
    min-height: 0;
    height: auto;
}

#objectEntityDivWin .workspace-box {
    width: 570px;
}

#objectEntityDivWin .workspace-box.orange, #objectEntityDivWin .workspace-box.red {
    margin: 0 auto;
    width: 450px !important;
}

#objectEntityDivWin .productTitleDetailInfoText span {
    color: #76b0b4;
    font: 32px Arial;
    border-bottom: 1px dashed #76b0b4;
}

#objectEntityDivWin .productTitleDetailInfo {
    border-bottom: 1px dotted #b2b2b2;
    padding-bottom: 16px;
    padding-left: 35px;
    margin-bottom: 25px;
}

.window #editFlatFormId h1, .window #editFlatFormId h2 {
    color: #212121 !important;
    font-size: 22px !important;
}

#objectEntityDivWin .formRowMargin {
    margin-left: 160px;
}

.shortRow .paymentValue {
    width: 330px;
}

.shortRow .inlineFormRow .paymentValue {
    width: auto;
}

.shortRow .paymentLabel {
    width: 130px;
}

.shortRow .inlineFormRow .paymentLabel {
    width: auto;
}

.shortRow .inlineFormRow .firstRow .paymentLabel {
    width: 148px;
}

.window .shortRow  .form-row {
    margin: 2px 0;
}

.shortRow textarea {
    width: 316px;
    height: 60px;
    border: 1px solid #9cafbe;
    border-radius: 4px;
    margin: -2px 1px 1px;
    padding: 2px;
    overflow: auto;
}

.shortRow .paymentValue input {
    width: 316px;
}

.shortRow .paymentValue input.dp-applied {
    width: 104px;
}

.shortRow .inlineFormRow .paymentValue input {
    width: 46px;
}

#objectEntityDivWin .productTitleDetailInfoEditBullet {
    background: url("images/basket/iconsSprite.png") no-repeat -60px -87px;
}

#objectEntityDivWin .productTitleDetailInfoEditBullet:hover {
    background-position: -60px -112px;
}

.invoice-message {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.invoice-message .invoice-report {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.invoice-message .invoice-info {
    border-top: 2px solid #dbdbdb;
}

.invoice-message.action-delete, .invoice-message.action-delay {
    border: 3px solid #ffe4a9;
    background-color: #fffbd6;
}

.invoice-message.action-payment {
    border: 3px solid #d1eab1;
    background-color: #d8efba;
}

.invoice-message .invoice-report {
    font-size: 15px;
    font-weight: bold;
}

.invoice-message .invoice-info {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.invoice-message .action-type {
    margin: 0 10px;
}

.invoice-message.action-delete .action-type, .invoice-message.action-delay .action-type {
    color: #a7977c;
}

.invoice-message.action-payment .action-type {
    color: #6eb465;
}

.invoice-message .invoice-info .invoice-process-answer {
    font-weight: bold;
    margin: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}

/* Стили напоминаний */

.reminder-elements {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.reminder-add-button {
    color: #8ec4b9;
    cursor: pointer;
}

.reminder-remove-button {
    color: #e0a0a1;
    margin-left: 15px;
    cursor: pointer;
    vertical-align: top;
}

.visible-reminder-type, .visible-reminder-values {
    color: #7ab571;
    cursor: pointer;
    margin: 0 5px;
}

.reminder-row {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin: 15px -17px;
    padding: 12px 17px
}

#create-reminder-row .reminder-row {
    margin: 5px -17px;
    padding: 5px 17px;
    border-top: none;
    border-bottom: none;
}

#create-reminder-row .form-row {
    margin-bottom: 15px;
}

.gradientRC #create-reminder-row .form-row {
    margin-left: -20px;
    margin-right: -5px;
}

.reminder-save-help {
    margin-top: 15px;
}

.form-reminder-block {
    font-size: 15px;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    white-space: nowrap;
    width: 170px;
}

.near-remind-date {
    padding-top: 2px;
    padding-left: 5px;
    font-size: 10px;
}

#history .form-reminder-block .listOfOperation {
    float: right;
    width: auto;
}

.reminder-save-buttons {
    margin-top: 10px;
}

.form-reminder-parameters {
    display: inline-block;
    vertical-align: top;
}

.reminder-icon {
    background: url("images/basket/iconsSprite.png") no-repeat -129px -254px;
    height: 21px;
    width: 18px;
}

.reminder-none {
    height: 21px;
    width: 18px;
}

.payment-templates .reminder-icon, .payment-templates .reminder-none {
    display: inline-block;
    background-position: -129px -259px;
}

.sortableIconBlock {
    height: 27px;
    float: left;
}

.stateReminder {
    margin-left: 18px;
}

.il-autoSearchButton {
    padding-top: 25px;
}

.messageInfoDiv {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 2px;
}

#workspace .pb-entitiesListElem .workspace-box.lightBrown {
    width: 643px;
}

.il-invoicesTitle {
    font-size: 24px;
    font-weight: bold;
}

.il-delayDate {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
