.blocker {
    background-color: #000000;/*Иначе в ie6 div прокликивается*/
    filter: alpha(opacity: 0);/*Иначе в ie6 div прокликивается*/
    margin-left : -441px;
    margin-top : -3px;
    height: 25px;
    position: absolute;
    width: 378px;
    z-index: 2;
}

#addPFPTargetWin .workspace-box {
    width: 760px;
}
#addPFPTargetWin .warningMessage .workspace-box {
    width: auto;
}

.bankRecommend .recomend .recomendText{
    width: 215px;
}

.scrollDescRight{
    margin-right: 2px;
}
.scrollDescLeft{
    margin-left: 2px;
}
.battery .batteryRight{
    background: url("images/bataryBorderRight.gif") no-repeat left center;
}
.battery .batteryLeft{
    background: url("images/bataryBorderLeft.gif") no-repeat right center;
}
.battery .batteryShadowUp, .battery .batteryShadowDown{
    background: none;
}
.batteryHintLT {
    background: url("images/orangeLT.gif") no-repeat 0 0;
}
.batteryHintCT {
    background: url("images/orangeCT.gif") repeat-x 0 0;
}
.batteryHintRT {
    background: url("images/orangeRT.gif") no-repeat 100% 0;
}
.batteryHintLC {
    background: url("images/orangeCL.gif") repeat-y 0 0;
}
.batteryHintCR {
    background: url("images/orangeCR.gif") repeat-y 100% 0;
}
.batteryHintLB {
    background: url("images/orangeLB.gif") no-repeat 0 0;
}
.batteryHintCB {
    background: url("images/orangeCB.gif") repeat-x 0 0;
}
.batteryHintRB {
    background: url("images/orangeRB.gif") no-repeat 100% 0;
}

.scrollShadow, .yScrollShadow, .quarter .yScrollShadow{
    background: none;
}
.greenScroll .scrollInner{
    background: url('images/greenHorizScroll.gif') no-repeat right top;
}
.yScrollInner{
    background: url('images/greenVerticalScroll.gif') no-repeat top;
}

.buttonGreen{
    margin: 0 1px;
}

/* Задаем background для всплывающего окна */
.shadowRTL, .shadowRBL {
    background-image: url('images/shadow-star-left.gif');
}
.shadowRTR, .shadowRBR {
    background-image: url('images/shadow-star-right.gif');
}
.shadowRBC, .shadowRTC { background-image: url('images/shadow-hor.gif'); }
.shadowRCL { background-image: url('images/shadow-vert-left.gif'); }
.shadowRCR { background-image: url('images/shadow-vert-right.gif'); }

/* /GrayProduct */

/* Gray */
.grayRTC, .grayRTR, .grayRTL, .grayRBC, .grayRBR, .grayRBL {
    background-image:  url('images/gray-star-all.gif');
}

/* ПФП */
#loanSelectList  {
    margin-bottom: 20px;
    position: relative;
}
#loanSelectList .pfpFormRow {
    position: absolute;
}
.farAway{
    position: absolute;
    left: -3000px;
    margin-bottom: 0 !important;
}

.productsGraphAxis .graphArrowRight{
    margin-bottom: -6px;
}

.pfpFormRow .pfpPortfolioIncomeHint .floatMessage{
    left: -20px;
}
/* end ПФП */

.paymentTitle a{
    overflow: hidden; /* это свойство необходимо для того, чтобы плашки с длинным названием без проблелов отображались корректно в ие6 */
}

/* кастомный селект */
.selectData{
    margin-right: 0;
    width: expression(this.parentNode.offsetWidth - 20 + "px");
}
/* end кастомный селект */

.roundPlateLeft, .roundPlateRight {background-image:url('images/balance_around.gif');}

.multiplyScrollBlock .scrollInner, .rangeScrollBlock .scrollInner{
    background: none;
}

.choosePfpCreditCardBlockHover{height: 179px;}

.buttonGreen .left-corner {
    background-image:  url(images/button_leftCorner.gif);
}
.buttonGreen .right-corner{
    background-image:  url(images/button_rightCorner.gif);
}
.buttonGreen .text{
    background-image:  url(images/button_center.gif);
}
.buttonGreen.disabled .left-corner{
    background-image:  url(images/error_button_left.gif);
}
.buttonGreen.disabled .right-corner{
    background-image:  url(images/error_button_right.gif);
}
.buttonGreen.disabled .text{
    background-image:  url(images/error_button_center.gif);
}
.buttonGrayNew  .left-corner, .productListOperation .buttonSelectLeft {
    background-image: url(images/region_select_left.gif);
}
.buttonGrayNew .right-corner{
    background-image: url(images/region_select_rightButton.gif);
}
.buttonGrayNew .text, .productListOperation .buttonSelectCenter {
    background-image: url(images/region_select_center.gif);
}
.topLineContainer {
    padding-bottom: 10px;
    margin-right: 17px;
    margin-bottom: 5px;
}
.timeBlock {
    margin-top: -58px;
}
.subMAciveTitleBg .shadowInsetLeft {
    background: none;
}

.centerMenuItem {
    margin: 0 10px;
}
.content {
    position: relative;
    zoom: 1;
}

#filterFields .triangle {
    display: none;
}
