.r-top-center, .r-top-right, .r-top-left,
.r-bottom-center, .r-bottom-right, .r-bottom-left {  height: 1%; }

.r-bottom-left, .r-top { font-size: 3px; }
.r-center-left { height: 1%; }

.r-center-right {
    padding: 0;
    height: 1%;
}

.r-content {
   position: relative;
   height: 1%;
}

.floatmessagehint .r-top-center, .floatmessagehint .r-top-center,
.floatmessagehint  .r-top-right,.floatmessagehint  .r-top-left,
.floatmessagehint  .r-bottom-center,.floatmessagehint  .r-bottom-right,
.floatmessagehint  .r-bottom-left{
    height: 5px;
}

/* lightGrayWithoutTop */
.lightGrayWithoutTopRTC, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRTL { height: 5px; }
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL { height: 5px; }
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRTC { margin: 0 4px; }
.lightGrayWithoutTopRTL, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL {
    background:  no-repeat;
}
.lightGrayWithoutTopRTC { background: #fff 0 -14px repeat-x; }
.lightGrayWithoutTopRBC { background: #fff 0 -19px repeat-x; }
.lightGrayWithoutTopRCL { background: #fff left top repeat-y; }
.lightGrayWithoutTopRCR { background: right top repeat-y; }

.lightGrayWithoutTopRTL { background-position: 0 -68px; }
.lightGrayWithoutTopRTR { background-position: right -68px; }
.lightGrayWithoutTopRBL { background-position: 0 -51px; }
.lightGrayWithoutTopRBR { background-position: right -51px; }
.lightGrayWithoutTopRTC { background-position: left -98px; }

/* использование занятое место верхним и нижним div */
.lightGrayWithoutTopRC {
    margin: 0 1px;
    padding: 0 2px;
}
.lightGrayWithoutTopRBL{
    margin-top: 0;
}
.lightGrayWithoutTopCBT {
   float: right;
   background:  right top no-repeat;
   height: 22px;
   margin-right: -19px;
   padding-left: 5px;
   padding-right: 10px;
   padding-top: 10px;
   line-height: normal;
   position: relative; /* для IE6 */
   font-family: Arial;
   font-size: 11px;
   color: #449D2F;
}
.lightGrayWithoutTopHover a{
    color: #F37407;
}

.lightGrayWithoutTopRTC, .lightGrayWithoutTopRTR, .lightGrayWithoutTopRTL {
    background-image: url('images/gray-star-all.png');
}
.lightGrayWithoutTopRBC, .lightGrayWithoutTopRBR, .lightGrayWithoutTopRBL{
	background-image: url('images/gray-star-all.png');
}
.lightGrayWithoutTopRCL {background-image:  url('images/gray-vert-left.png');}
.lightGrayWithoutTopRCR {background-image:  url('images/gray-vert-right.png');}

.lightGrayWithoutTopHover .lightGrayWithoutTopRTC, .lightGrayWithoutTopHover .lightGrayWithoutTopRTR, .lightGrayWithoutTopHover .lightGrayWithoutTopRTL,
.lightGrayWithoutTopHover .lightGrayWithoutTopRBC, .lightGrayWithoutTopHover .lightGrayWithoutTopRBR, .lightGrayWithoutTopHover .lightGrayWithoutTopRBL {
    background-image: url("images/greenShadow-star-all.gif");
}
.lightGrayWithoutTopHover .lightGrayWithoutTopRCL {background-image:  url('images/greenShadow-vert-left.gif');}
.lightGrayWithoutTopHover .lightGrayWithoutTopRCR {background-image:  url('images/greenShadow-vert-right.gif');}
/* /lightGrayWithoutTop */

/* Gray */
/* Высота картинок рамки сверху и снизу */
.grayRTC, .grayRTR, .grayRTL { height: 30px; }
.grayRBC, .grayRBR, .grayRBL { height: 10px; }
/* Отступы справ для низа и верха под ширину углов */
.grayRBC, .grayRTC { margin: 0 27px 0 27px; }

/* Задаем бг углов, верха, низа, лево, право */
.grayRTL, .grayRTR,
.grayRBR, .grayRBL {
    background:  no-repeat;
}
.grayRBC, .grayRTC { background: #fff 0 -14px repeat-x; }
.grayRCL { background: #fff  left top repeat-y; }
.grayRCR { background:  right top repeat-y; }

/* двигаем бг углов */
.grayRTL { background-position: 0 -68px; }
.grayRTR {	background-position: right -68px; }
.grayRBL { background-position: 0 -46px; }
.grayRBR { background-position: right -46px; }
/* смещение бг для верха */
.grayRTC { background-position: left -98px; }
/* Размер шрифта и характеристики для заголовка */
.grayRTC {
    font-size: 14px;
    color: #ffffff;
    line-height: 35px;
}
/* использование занятое место верхним и нижним div */
.grayRC {
    margin-bottom: 0px;
    margin-top: -18px;
    *margin-top: -8px;    /* hack for IE7 */
    padding: 10px 20px 0;
}
.grayTitle {color: #449d2f; padding: 3px 0;}
/* Правые кнопки управления Control Buttons */
.grayCBT {
   float: right;
   background:  right top no-repeat;
   height: 22px;
   margin-right: -19px;
   padding-left: 5px;
   padding-right: 10px;
   padding-top: 10px;
   line-height: normal;
   font-family: Arial;
   font-size: 11px;
   color: #449D2F;
}
.grayRTC, .grayRTR, .grayRTL, .grayRBC, .grayRBR, .grayRBL {
    background-image:  url('images/gray-star-all.png');
}
.grayRCL {background-image:  url('images/gray-vert-left.png');}
.grayRCR {background-image:  url('images/gray-vert-right.png');}
/* /Gray */

.roundBorder {
    font: 14px Arial;
    border-radius: 4px;
    margin: 15px 0;
    padding: 15px;
}

.workspace-box.roundBorder {
    width: auto;
}

.redBlock, .roundBorder.red {
    background-color: #FFF7F7;
    border: 1px solid #FFBFBF;
    color: #000;
}

.workspace-box.orange {
    background-color: #fff3a4;
    border: 1px solid #fdd682;
    color: #000;
}

/* greenTop */
#help-workspace .r-center-right, #help-workspace .r-center-left, #help-workspace .r-content {
    height: auto;
}
.greenTopRTC, #help-content .RTC {
    background-color:  #fff;
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRTR, #help-content .RTR{
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRTL, #help-content .RTL {
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRBC, #help-content .RBC{
    background-color:  #fff;
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRBR, #help-content .RBR{
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRBL, #help-content .RBL{
    background-image:  url('images/greenTop-starHor.png');
}
.greenTopRCL, #help-content .RCL{
    background-image:  url('images/greenTop-vert-left.png');
}
.greenTopRCR, #help-content .RCR{
    background-image:  url('images/greenTop-vert-right.png');
}
/* /greenTop */

.Title {
    height: auto;
    font-size: 32px;
    color: #000;
    position: relative;
}
/* is-typeOther - lightBrown*/
.lightBrown .is-typeOther.workspace-box {
    margin: 0;
    padding: 0;
    width: 695px;
}
.sg-serviceGroup .workspace-box.lightBrown .is-typeOther.workspace-box {
    width: 685px;
}
.sg-serviceGroup .workspace-box.lightBrown .fakeLayerColors.workspace-box {
    width: 650px;
}
.lightBrown .is-typeOtherRTC, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRTL {
    height: 20px;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRBR, .lightBrown .is-typeOtherRBL {
    height: 25px;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRTC {
    margin: 0 28px 0 31px;
}
.lightBrown .is-typeOtherRTL, .lightBrown .is-typeOtherRBL, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRBR {
    background:  no-repeat;
}
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRTC {
    background: repeat-x 0 -153px;
}
.lightBrown .is-typeOtherRTL { background-position: 0 0; }
.lightBrown .is-typeOtherRTR { background-position: right -25px; }
.lightBrown .is-typeOtherRTC { background-position: left -51px; }
.lightBrown .is-typeOtherRBL { background-position: 0 -89px; }
.lightBrown .is-typeOtherRBR { background-position: right -121px; }
.lightBrown .workspace-box .is-typeOtherRC {
    background-color: #eef1f6;
    position: relative !important;
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.lightBrown .is-typeOtherRTC, .lightBrown .is-typeOtherRTR, .lightBrown .is-typeOtherRTL,
.lightBrown .is-typeOtherRBC, .lightBrown .is-typeOtherRBR, .lightBrown .is-typeOtherRBL {
    background-image:  url('images/basket/lightBlueShadow.png');
}
.lightBrown .is-typeOtherRCR {
    background:  url('images/basket/lightBlueShadow-right.png') repeat-y right 0;
}
.lightBrown .is-typeOtherRCL {
    background:  url('images/basket/lightBlueShadow-left.png') repeat-y left 0;
}
/* /is-typeOther - lightBrown*/

/* fakeLayerColors*/
.workspace-box .fakeLayerColors.workspace-box  {
    margin: 0;
    padding: 0;
    width: 665px;
}
.sg-serviceGroup .workspace-box .fakeLayerColors.workspace-box {
    width: 660px;
}
.sg-serviceGroup .workspace-box.lightBrown .fakeLayerColors.workspace-box {
    width: 650px;
}
.fakeLayerColorsRTC, .fakeLayerColorsRTR, .fakeLayerColorsRTL, .fakeLayerColorsRBC, .fakeLayerColorsRBR, .fakeLayerColorsRBL  {
    height: 7px;
}
.fakeLayerColorsRBC, .fakeLayerColorsRTC {
    margin: 0 11px 0 10px;
}
.fakeLayerColorsRTL, .fakeLayerColorsRBL, .fakeLayerColorsRTR, .fakeLayerColorsRBR {
    background:  no-repeat;
}
.fakeLayerColorsRBC, .fakeLayerColorsRTC {
    background: repeat-x 0 -86px;
}
.fakeLayerColorsRTL { background-position: 0 0; }
.fakeLayerColorsRTR { background-position: right -16px; }
.fakeLayerColorsRTC { background-position: left -30px; }
.fakeLayerColorsRBL { background-position: 0 -44px; }
.fakeLayerColorsRBR { background-position: right -63px; }
.workspace-box .fakeLayerColorsRC {
    background: #ccd3df;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -khtml-opacity: 0.4;
    position: relative !important;
    *height: 1%;
    margin: 0 12px 0 10px;
}
.fakeLayerColorsRTC, .fakeLayerColorsRTR, .fakeLayerColorsRTL, .fakeLayerColorsRBC, .fakeLayerColorsRBR, .fakeLayerColorsRBL {
    background-image:  url('images/basket/deepBlueRound.png');
}
.fakeLayerColorsRCR {
    background:  url('images/basket/deepBlueRound-right.png') repeat-y right 0;
}
.fakeLayerColorsRCL {
    background:  url('images/basket/deepBlueRound-left.png') repeat-y left 0;
}

.is-typeActive .fakeLayerColorsRTC, .is-typeActive .fakeLayerColorsRTR, .is-typeActive .fakeLayerColorsRTL,
.is-typeActive .fakeLayerColorsRBC, .is-typeActive .fakeLayerColorsRBR, .is-typeActive .fakeLayerColorsRBL {
    background-image:  url('images/basket/basketBeige.png');
}
.is-typeActive .fakeLayerColorsRCR {
    background:  url('images/basket/basketBeige-right.png') repeat-y right 0;
}
.is-typeActive .fakeLayerColorsRCL {
    background:  url('images/basket/basketBeige-left.png') repeat-y left 0;
}
.is-typeActive .workspace-box .fakeLayerColorsRC {
    background-color: #e7e7e2;
}
/* /fakeLayerColors*/

/* is-typeActive*/
.is-typeActive.workspace-box {
    margin: 0;
    padding: 0;
    width: 665px;
}
.sg-serviceGroup .workspace-box .is-typeActive.workspace-box {
    width: 660px;
}
.is-typeActiveRTC, .is-typeActiveRTR, .is-typeActiveRTL, .is-typeActiveRBC, .is-typeActiveRBR, .is-typeActiveRBL  {
    height: 7px;
}
.is-typeActiveRBC, .is-typeActiveRTC {
    margin: 0 11px 0 10px;
}
.is-typeActiveRTL, .is-typeActiveRBL, .is-typeActiveRTR, .is-typeActiveRBR {
    background:  no-repeat;
}
.is-typeActiveRBC, .is-typeActiveRTC {
    background: repeat-x 0 -86px;
}
.is-typeActiveRTL { background-position: 0 0; }
.is-typeActiveRTR { background-position: right -16px; }
.is-typeActiveRTC { background-position: left -30px; }
.is-typeActiveRBL { background-position: 0 -44px; }
.is-typeActiveRBR { background-position: right -63px; }
.workspace-box .is-typeActiveRC {
    background: #fff;
    *height: 1%;
    margin: 0 8px 0 5px;
    padding: 6px 5px 0 0;
}
.is-typeActiveRTC, .is-typeActiveRTR, .is-typeActiveRTL, .is-typeActiveRBC, .is-typeActiveRBR, .is-typeActiveRBL {
    background-image:  url('images/basket/basketWhite.png');
}
.is-typeActiveRCR {
    background:  url('images/basket/basketWhite-right.png') repeat-y right 0;
}
.is-typeActiveRCL {
    background:  url('images/basket/basketWhite-left.png') repeat-y left 0;
}
/* /is-typeActive*/

/* is-typeActive - lightBrown*/
.lightBrown .is-typeActive.workspace-box {
    margin: 0;
    padding: 0;
    width: 695px;
}
.sg-serviceGroup .lightBrown .is-typeActive.workspace-box {
    width: 685px;
}
.sg-serviceGroup .lightBrown .is-typeActiveFake.is-hold .workspace-box {
    width: 685px;
}
.lightBrown .is-typeActiveRTC, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRTL {
    height: 20px;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRBR, .lightBrown .is-typeActiveRBL  {
    height: 25px;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRTC {
    margin: 0 28px 0 31px;
}
.lightBrown .is-typeActiveRTL, .lightBrown .is-typeActiveRBL, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRBR {
    background:  no-repeat;
}
.lightBrown .is-typeActiveRBC, .lightBrown .is-typeActiveRTC {
    background: repeat-x 0 -153px;
}
.lightBrown .is-typeActiveRTL { background-position: 0 0; }
.lightBrown .is-typeActiveRTR { background-position: right -25px; }
.lightBrown .is-typeActiveRTC { background-position: left -51px; }
.lightBrown .is-typeActiveRBL { background-position: 0 -89px; }
.lightBrown .is-typeActiveRBR { background-position: right -121px; }
.lightBrown .workspace-box .is-typeActiveRC {
    background: #fff;
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.lightBrown .is-typeActiveRTC, .lightBrown .is-typeActiveRTR, .lightBrown .is-typeActiveRTL, .lightBrown .is-typeActiveRBC,
.lightBrown .is-typeActiveRBR, .lightBrown .is-typeActiveRBL {
    background-image:  url('images/basket/basketWhiteShadow.png');
}
.lightBrown .is-typeActiveRCR {
    background:  url('images/basket/basketWhiteShadow-right.png') repeat-y right 0;
}
.lightBrown .is-typeActiveRCL {
    background:  url('images/basket/basketWhiteShadow-left.png') repeat-y left 0;
}
.lightBrown .is-invoiceSubscription {
    margin-top: -34px;
}
/* lightBrown*/
#workspace .workspace-box.lightBrown {
    margin: 0 1px;
    padding-left: 0;
    width: 630px;
}
.lightBrownRTL, .lightBrownRBL, .lightBrownRTR, .lightBrownRBR {
    background:  no-repeat;
}
.lightBrownRBC, .lightBrownRTC {
    background: repeat-x 0 -15px;
    margin: 0 6px;
}
.lightBrownRTL { background-position: 0 0; }
.lightBrownRTR { background-position: right -9px; }
.lightBrownRTC { background-position: left -18px; }
.lightBrownRBL { background-position: 0 -24px; }
.lightBrownRBR { background-position: right -33px; }
.workspace-box .lightBrownRC {
    background-color: #f2ecdc;
    position: relative !important;
    *height: 1%;
    margin: -3px 2px -3px 1px;
    padding: 6px 5px 0 22px;
}
.lightBrownRTC, .lightBrownRTR, .lightBrownRTL, .lightBrownRBC, .lightBrownRBR, .lightBrownRBL {
    background-image:  url('images/basket/lightBrownRound.png');
    height: 7px;
}
.lightBrownRCL, .lightBrownRCR {
    background-color: #f2ecdc;
}
/* /is-typeActive - lightBrown*/

.is-hold .is-typeActiveRTC, .is-hold.is-typeActiveRTR, .is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBC,
.is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL, .is-hold .is-typeActiveRTR {
    background-image:  url('images/basket/basketOrange.png');
}
.is-hold .is-typeActiveRCR {
    background:  url('images/basket/basketOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeActiveRCL {
    background:  url('images/basket/basketOrange-left.png') repeat-y left 0;
}
.is-hold .is-typeOtherRTC, .is-hold.is-typeOtherRTR, .is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBC,
.is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL, .is-hold .is-typeOtherRTR{
    background-image:  url('images/basket/basketBlueOrange.png');
}
.is-hold .is-typeOtherRCR {
    background:  url('images/basket/basketBlueOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeOtherRCL {
    background:  url('images/basket/basketBlueOrange-left.png') repeat-y left 0;
}

/* is-hold - blue*/
.is-typeOtherFake.is-hold, .is-typeActiveFake.is-hold {
    padding-bottom: 25px;
    margin-left: -20px;
    width: 720px;
}
.lightBrown .is-typeOtherFake.is-hold, .lightBrown .is-typeActiveFake.is-hold {
    padding-bottom: 0;
    margin-left: -13px;
}
.is-typeOtherFake.is-hold .workspace-box.is-typeOther,
.is-typeActiveFake.is-hold .workspace-box.is-typeActive {
    width: 700px;
}
.is-hold.workspace-box {
    width: 695px;
}
.is-hold .is-typeOtherRTC, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRTL,
.is-hold .is-typeActiveRTC, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRTL {
    height: 20px;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL  {
    height: 25px;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRTC,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRTC {
    margin: 0 28px 0 31px;
}
.is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBL, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRBR,
.is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBL, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRBR {
    background:  no-repeat;
}
.is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRTC,
.is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRTC {
    background: repeat-x 0 -153px;
}
.is-hold .is-typeOtherRTL, .is-hold .is-typeActiveRTL { background-position: 0 0; }
.is-hold .is-typeOtherRTR, .is-hold .is-typeActiveRTR { background-position: right -25px; }
.is-hold .is-typeOtherRTC, .is-hold .is-typeActiveRTC { background-position: left -51px; }
.is-hold .is-typeOtherRBL, .is-hold .is-typeActiveRBL { background-position: 0 -89px; }
.is-hold .is-typeOtherRBR, .is-hold .is-typeActiveRBR { background-position: right -121px; }
.is-hold .is-typeOtherRC, .is-hold .is-typeActiveRC {
    *height: 1%;
    margin: 0 28px 0 31px;
    padding: 6px 5px 0 0;
}
.is-hold .is-typeOtherRTC, .is-hold .is-typeOtherRTR, .is-hold .is-typeOtherRTL, .is-hold .is-typeOtherRBC, .is-hold .is-typeOtherRBR, .is-hold .is-typeOtherRBL {
    background-image:  url('images/basket/basketBlueOrange.png');
}
.is-hold .is-typeOtherRCR {
    background:  url('images/basket/basketBlueOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeOtherRCL {
    background:  url('images/basket/basketBlueOrange-left.png') repeat-y left 0;
}

.is-hold .is-typeActiveRTC, .is-hold .is-typeActiveRTR, .is-hold .is-typeActiveRTL, .is-hold .is-typeActiveRBC, .is-hold .is-typeActiveRBR, .is-hold .is-typeActiveRBL {
    background-image:  url('images/basket/basketOrange.png');
}
.is-hold .is-typeActiveRCR {
    background:  url('images/basket/basketOrange-right.png') repeat-y right 0;
}
.is-hold .is-typeActiveRCL {
    background:  url('images/basket/basketOrange-left.png') repeat-y left 0;
}
/* /is-hold - blue*/
/* is-typeOther*/

#profileWorkspace .workspace-box .is-typeOther.workspace-box, .is-typeOther.workspace-box {
    margin: 0;
    padding: 0;
    width: 665px;
}
#profileWorkspace .sg-serviceGroup .workspace-box .is-typeOther.workspace-box {
    width: 685px;
}
.is-typeOtherRTC, .is-typeOtherRTR, .is-typeOtherRTL {
    height: 7px;
}
.is-typeOtherRBC, .is-typeOtherRBR, .is-typeOtherRBL {
    height: 12px;
}
.is-typeOtherRBC, .is-typeOtherRTC {
    margin: 0 12px 0 10px;
}
.is-typeOtherRTL, .is-typeOtherRBL, .is-typeOtherRTR, .is-typeOtherRBR {
    background:  no-repeat;
}
.is-typeOtherRBC, .is-typeOtherRTC {
    background: repeat-x 0 -86px;
}
.is-typeOtherRTL { background-position: 0 0; }
.is-typeOtherRTR { background-position: right -16px; }
.is-typeOtherRTC { background-position: left -30px; }
.is-typeOtherRBL { background-position: 0 -44px; }
.is-typeOtherRBR { background-position: right -63px; }
.workspace-box .is-typeOtherRC {
    background-color: #eef1f6;
    position: relative !important;
    *height: 1%;
    margin: 0 8px 0 5px;
    padding: 6px 5px 0 0;
}
.is-typeOtherRTC, .is-typeOtherRTR, .is-typeOtherRTL, .is-typeOtherRBC, .is-typeOtherRBR, .is-typeOtherRBL {
    background-image:  url('images/basket/lightBlueRound.png');
}
.is-typeOtherRCR {
    background:  url('images/basket/lightBlueRound-right.png') repeat-y right 0;
}
.is-typeOtherRCL {
    background:  url('images/basket/lightBlueRound-left.png') repeat-y left 0;
}
/* /is-typeOther*/