/* Стили для работы со всплывающими окнами */
.window .workspace-box{
	width: 710px;
}
.window .workspace-box .workspace-box{
	width: auto;
}
.window h1{
	display: inline;
	color: #3D3D3D;
	font: bold 12pt Arial;
	margin-right: 10px;
}
.window a{
	color: #449D2F;
	font: 10pt Arial;
}
.window .winDescription{
    padding: 10px 0;
}
.window .closeImg{
    background: url(images/close.gif) no-repeat 0 0;
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
    z-index: 500;
    width: 19px;
    height: 19px;
}
.window{
	position: absolute;
	top: 0px;
	z-index: 20;
}

/* shadow - всплывающее окно */
/* Высота картинок рамки сверху и снизу */
.shadowRTC, .shadowRTR, .shadowRTL,
.shadowRBC, .shadowRBR, .shadowRBL { height: 17px; }
/* Отступы справ для низа и верха под ширину углов */
.shadowRBC, .shadowRTC { margin: 0 17px; }

/* Задаем бг углов */
.shadowRTL, .shadowRBL {
    background:  no-repeat;
}
.shadowRTR, .shadowRBR {
    background:  no-repeat;
}
.shadowRBC, .shadowRTC { background: transparent  repeat-x; }
.shadowRCL { background: transparent  left top repeat-y; }
.shadowRCR { background:  right top repeat-y; }

/* двигаем бг углов */
.shadowRTL { background-position: 0px -17px; }
.shadowRTR { background-position: right -17px; }
.shadowRBL { background-position: 0px 0px; }
.shadowRBR { background-position: right 0px; }
/* смещение бг для верха */
.shadowRTC { background-position: left -17px; }
/* использование занятое место верхним и нижним div */
.shadowRC { top: -1px; padding: 1px 7px; background: #fff; margin: 0px 16px -2px 16px}

/* Картинки для рамки всплывающего окна*/
.shadowRTC{
	background-image:  url('images/shadow-hor.png');
}
.shadowRTR{
	background-image:  url('images/shadow-star-right.png');
}
.shadowRTL{
	background-image:  url('images/shadow-star-left.png');
}
.shadowRBC{
	background-image:  url('images/shadow-hor.png');
}
.shadowRBR{
	background-image:  url('images/shadow-star-right.png');
}
.shadowRBL{
	background-image:  url('images/shadow-star-left.png');
}
.shadowRCL{
	background-image:  url('images/shadow-vert-left.png');
}
.shadowRCR{
	background-image:  url('images/shadow-vert-right.png');
}
/* end shadow */

.opacity25{
	filter:  alpha(opacity = 25);
	-moz-opacity:  0.25;
	-khtml-opacity:  0.25;
	opacity:  0.25;
}
/* Стили для затемнения рабочей области */
.tintedWrapper{
	position:  absolute;
}
.tintedNet{
	position:  absolute;
	background-position: left top;
	filter:  alpha(opacity = 80);
	-moz-opacity:  0.8;
	-khtml-opacity:  0.8;
	opacity:  0.8;
}
/* Хак для IE8 - отменяет фильтр filter: alpha(opacity = 80); */
.tintedNet {
    filter /*\**/:none\9;
}
/* Стили для затемнения рабочей области */
.tinted{
	position:  absolute;
	background-color:  #fff;
}

.window .workspace-box {
    margin: 0;
}
.confirmWidow .workspace-box {
    width: 400px;
}
.confirmWindowTitle h2{
    color: #999;
    font: bold 12pt Arial;
}

.changeRiskProfileWindowTitle{
    color: #000;
    font: bold 12pt Arial;
}

.confirmWindowMessage {
    padding-bottom: 10px;
}
.confirmWindowMessage .confirmWindowTable {
    width: 100%;
}
.window .buttonsArea {
    margin: 10px 0 0;
    float: right;
}
.detailMessageWindow .autoScroll{
    height: 400px;
}