
.logoLogin {
    background: none 0 0;
}

/*whiteTop*/
.whiteTopRTL, .whiteTopRTR, .whiteTopRTC {
    background-image: url("../images/whiteTop-starHor.gif");
}
/* end whiteTop */

/* crystalTop */
.crystalTopRCL {
    background-image: url("../images/crystalTop-vert-left.gif");
}

.crystalTopRCR {
    background-image: url("../images/crystalTop-vert-right.gif");
}

.crystalTopRBL, .crystalTopRBR, .crystalTopRBC {
    background-image: url("../images/crystalTop-starHor.gif");
}
/* end crystalTop */
