html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

html>body{
    position: relative;
}

body, html {
    color: #464646;
    font-family: Arial;
    font-size: 12px;
    height: 100%;
}

body {
    min-width: 1024px;
}

input {
    font-family:Arial;
    font-size:13px;
}

input[type~="text"]{
    border: 1px solid #7f9db9;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
}
input[type~="password"]{
    border: 1px solid #7f9db9;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px
}
input:not([type]){
    border: 1px solid #7f9db9;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
}

.clear {
    clear:both;
}

/* шапка */
#header {
    background: #fff url("../images/header_bckg.png") repeat-x left top;
    min-width: 1024px;
}
.roundTL {
    background: url("../images/roundTL.jpg") no-repeat left 110px;
}
.roundTR {
    background: url("../images/roundTR.jpg") no-repeat right 110px;
}

.hdrContainer {
    height: 130px;
    margin: 0 auto;
    width: 1024px;
}

.newHeader {
    margin: 0 auto;
    width: 960px;
}

.Logo {
    height: 50px;
}
.logoImage {
    display: block;
    float: left;
    padding: 6px;
}
.logoImageText {
    margin: 18px 0;
}

.topLineContainer {
    float: right;
    margin-right: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 3;
}
.UserInfo {
    display: table;
    float: right;
    padding: 2px;
}
.timeBlock {
    color: #fff;
    font: 14px Arial;
    margin: -28px 0 0;
    text-align: right;
    width: 150px;
    float: right;
}
.loginBlock .timeBlock {
    margin-top: 8px;
    margin-right: 40px;
    text-align: right;
}
.hourBlock {
    text-align: right;
    font: 32px Arial;
}

.exitBlock {
    float: right;
    margin-right: 10px;
    margin-top: -8px;
}
.hdrContainer a {
    font-size: 13px;
    line-height: 14px;
    color: #FFF;
    text-decoration: underline;
}
.exitImg {
    background: url(../images/ico_exit.gif) no-repeat scroll center 1px rgba(0, 0, 0, 0);
    float: right;
    margin-left: 4px;
    height: 18px;
    width: 18px;
}
/* end шапка */

#wrapper {
    margin: -10px auto 0;
    padding-bottom: 112px;
    width: 1024px;
}

#workspace {
    padding-left: 40px;
}

.adminLoginBlock {
    background: url("../images/loginImage.jpg") no-repeat 0 0;
    width: 1024px;
    height: 315px;
    margin-left: -40px;
    margin-bottom: 30px;
}
.mainInnerBlock {
    margin-left: 40px;
    margin-right: 15px;
}
.whiteLoginBlock {
    background:#fff url("../images/loginGradient.jpg") repeat-x 0 100%;
    border: 1px solid #ebebeb;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    float: left;
    margin-top: 33px;
    padding: 19px 16px 10px 18px;
    *width: 285px;
}
.adminLoginBlock h2 {
    margin: 0 0 15px;
}
.auth-title {
    font: bold 14px Arial;
}
.loginFields {
    margin-bottom: 5px;
}
.loginFields label {
    color: #999;
    display: block;
    font: italic 12px Arial;
    margin: 0 0 2px 10px;
}
.loginFields input {
    color: #000;
    font: 16px Arial;
    padding-left: 5px;
    width: 270px;
}

.r-center-left {
    height: 1%;
}
.r-center-right {
    height: 1%;
}
.r-content {
    height: 1%;
    position: relative;
}

/* whiteTop (только необходимые для плашки входа) */
.whiteTopRTC, .whiteTopRTR, .whiteTopRTL {
    height: 15px;
}

.whiteTopRTL {
    background: url("../images/whiteTop-starHor.png") no-repeat 0 1px;
}

.whiteTopRTR {
    background: url("../images/whiteTop-starHor.png") no-repeat right -65px;
}

.whiteTopRTC {
    background: url("../images/whiteTop-starHor.png") left -131px;
    margin: 0 24px;
    padding: 0 8px;
}

.whiteTopRTC a {
    color: #449D2F;
    font-size: 12px;
}
/* end whiteTop */

/* crystalTop (только необходимые для плашки входа) */
.crystalTopRBC {
    margin: 0 24px;
    padding: 0 8px;
}

.crystalTopRCL {
    background: url("../images/crystalTop-vert-left.png") repeat-y left top;
}

.crystalTopRCR {
    background: url("../images/crystalTop-vert-right.png") repeat-y right top;
}

.crystalTopRC {
    margin: 0 20px;
    padding: 0 5px;
    background: #fff;
}

.crystalTopRBC, .crystalTopRBR, .crystalTopRBL {
    height: 24px;
}

.crystalTopRBL {
    background: url("../images/crystalTop-starHor.png") no-repeat 0 -229px;
}

.crystalTopRBR {
    background: url("../images/crystalTop-starHor.png") no-repeat right -298px;
}

.crystalTopRBC {
    background: url("../images/crystalTop-starHor.png") 0 -369px;
}
/* end crystalTop */

.enterBlock h2 {
     color: #464646;
     font-size: 16px;
     font-weight: normal;
     margin-bottom: 20px;
 }

#inputLogin, #passwordTxt, #newPassword, #repeatedPassword {
    background: url('../images/inputBg.jpg') repeat-x 0 0;
    border:1px solid #9dafbd;
    font: 16px Arial;
    padding: 3px;
    -webkit-border-radius:  2px;
    -moz-border-radius:  2px;
    border-radius:  2px;
    margin: 1px;
    width: 275px;
}
.loginFields input:focus{
    border: 1px solid #50ab43 !important;
}

#inputLogin {
    position: relative;
    margin: 0 auto;
}

#passBlock {
    margin-top: 10px;
}
#passText {
    color: #999;
    padding: 3px 4px 4px;
    position: absolute;
    font-size: 13px;
}

.whiteLoginBlock .buttonsArea {
    float: right;
    margin-top: 15px;
}
.passwordBlock .label{
    color: #464646;
}
.passwordBlock input {
    width: 240px;
}

.loginCopyright {
    color: #464646;
    font: 12px Arial;
    float: left;
    margin: 30px 0 0;
    opacity: 0.5;
}

#wrapper .error {
    color: #EB552A;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #FDEADA;
}