.farAway{
    position: absolute;
    left: -3000px;
}

.opacity25{
    filter: alpha(opacity = 25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}

/* Стили для работы со всплывающими окнами */
.window{
    position: absolute;
    top: 0;
    z-index: 20;
    font-size: 14px;
}
.window .workspace-box{
    width: 500px;
    margin: 0;
}
.window  .infoMessage {
    margin-bottom: 25px;
}
.window h2{
    color: #2e2e2e;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
}
.window .closeImg{
    background: url(../images/close.gif) no-repeat 0 0;
    position: absolute;
    right: 28px;
    top: 20px;
    cursor: pointer;
    z-index: 500;
    width: 15px;
    height: 15px;
}
.window .buttonsArea {
    margin: 25px 0 0;
    float: right;
}

/* shadow - всплывающее окно */
.shadowRTC, .shadowRTR, .shadowRTL, .shadowRBC, .shadowRBR, .shadowRBL {
    height: 20px;
}
.shadowRBC, .shadowRTC {
    margin: 0 24px;
}
.shadowRTL, .shadowRBL {
    background:  no-repeat;
}
.shadowRTR, .shadowRBR {
    background:  no-repeat;
}
.shadowRBC, .shadowRTC {
    background: transparent repeat-x 0 -387px;
}
.shadowRCL {
    background: transparent 0 top repeat-y;
}
.shadowRCR {
    background: right top repeat-y;
}
.shadowRTL {
    background-position: 0 -9px;
}
.shadowRTR {
    background-position: right -75px;
}
.shadowRBL {
    background-position: 0 -247px;
}
.shadowRBR {
    background-position: right -316px;
}
.shadowRTC {
    background-position: left -141px;
}
.shadowRC {
    top: -1px;
    padding: 1px 7px;
    background: #fff;
    margin: 0 16px -2px 16px;
}
.window .shadowRC {
    padding: 20px 40px;
}

/* Картинки для рамки всплывающего окна*/
.shadowRTC, .shadowRTR, .shadowRTL, .shadowRBC, .shadowRBR, .shadowRBL {
    background-image:  url(../images/white-starHor.png);
}
.shadowRCL{
    background-image:  url(../images/crystalTop-vert-left.png);
}
.shadowRCR{
    background-image:  url(../images/crystalTop-vert-right.png);
}
/* end shadow */

/* Стили для затемнения рабочей области */
.tintedWrapper{
    position:  absolute;
}
.tintedNet{
    position: absolute;
    background: url(../images/tintedNet.gif) left top;
    filter: alpha(opacity = 80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
/* Хак для IE8 - отменяет фильтр filter: alpha(opacity = 80); */
.tintedNet {
    filter /*\**/:none\9;
}
.tinted{
    position: absolute;
    background-color: #fff;
}
/* end Стили для затемнения рабочей области */

/* стили для кнопки */
.commandButton {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.buttonOrange {
    cursor: pointer;
    text-decoration: none;
}
.buttonOrange .left-corner {
    background: url("../images/button_orange_leftCorner.gif") no-repeat left top;
    display: block;
    height: 26px;
    float: left;
    width: 12px;
}
.buttonOrange .right-corner {
    background: url("../images/button_orange_rightCorner.gif") no-repeat right top;
    display: block;
    height: 26px;
    float: left;
    width: 12px;
}
.buttonOrange .text {
    background: url("../images/button_orange_center.gif") repeat-x center top;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    float: left;
    vertical-align: middle;
    height: 26px;
    padding: 0 20px;
}
.buttonOrange .text span {
    cursor: pointer;
    display: block;
    margin-top: 7px;
}

.buttonGreen{
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    *margin-left: 3px;
}
.buttonGreen div{
    height: 33px;
    background-position: center 0;
}
.buttonGreen .text{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-image: url(../images/button_green_center.png);
    float: left;
    text-align: center;
}
.buttonGreen .text span {
    margin-top: 7px;
    display: block;
}
.buttonGreen .left-corner{
    width: 15px;
    display: block;
    float: left;
    background: url(../images/button_green_leftCorner.png) no-repeat left top;
}
.buttonGreen .right-corner{
    width: 15px;
    display: block;
    float: left;
    background: url(../images/button_green_rightCorner.png) no-repeat right top;
}

#changePasswordWin .buttonGreen .text{
    width: 85px;
}
/* end стили для кнопки */