<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!<br/><br/>
<#list accountInfos as info>
	<tr>
		<td>
Информируем Вас о том, что остаток на Вашем счете № ${info.accountNumber} стал меньше ${info.minRest} ${info.currency}.
<br/>
Текущий остаток по счету: ${info.currentRest} ${info.currency}.<br/><br/>
Для получения более подробной информации, а также настройки параметров оповещений Вы можете воспользоваться системой <a href='http://${bankContext.systemUrl}'>${bankContext.systemName}</a>.
		</td>
	</tr>
</#list>
		<br/><br/><br/>
		</span>
		<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
		<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>