<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!<br/><br/>
Информируем Вас о том, что на Ваших счетах изменился остаток:
<br/>
<table border=1 cellspacing="0" cellpadding="3">
	<tr>
		<th style='width:200px'>Дата</th>
		<th style='width:200px'>Номер счета</th>
		<th style='width:200px'>Сумма операции</th>
		<th style='width:200px'>Текущий остаток по счету</th>
	</tr>
	<#list accountInfos as info>
		<tr>
			<td>${info.notificationDate?string("yyyy-MM-dd HH:mm:ss")}</td>
			<td>${info.accountNumber}</td>			
			<td>${info.transactionSum}&nbsp;${info.currency}</td>
			<td><b>${info.currentRest}&nbsp;${info.currency}</b></td>
		</tr>
	</#list>
</table>
<br/><br/><br/>
Для получения более подробной информации, а также настройки параметров оповещений Вы можете воспользоваться системой <a href='http://${bankContext.systemUrl}'>${bankContext.systemName}</a>.
<br/><br/><br/>
</span>
<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>