<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!<br/><br/>
<#list limitInfos.accounts as account>	
Информируем Вас о том, что остаток на вашем счете № ${account.accountNumber}
	стал меньше ${account.limit} ${account.currency}
<br/>
Текущий остаток по счету <b>${account.currentRest} ${account.currency}</b>
<br/>
</#list>
</span>
<br/><br/><br/>
Для получения более подробной информации, а также настройки параметров оповещений Вы можете воспользоваться системой <a href='http://${bankContext.systemUrl}'>${bankContext.systemName}</a>.
<br/><br/><br/>
<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>