<html>
<body>
От клиентов банка поступили следующие платежи на пополнение пластиковой карты:<br/>
<br/>
<table border=1 cellspacing="0" cellpadding="3">
	<tr>
		<th style='width:200px'>Номер платежа</th>
		<th style='width:200px'>Создан</th>
		<th style='width:200px'>Карт-счет</th>
		<th style='width:200px'>Сумма</th>
	</tr>
	<#list entries as entry>
		<tr>
			<td>${entry.payment.documentNumber}</td>
			<td>${entry.payment.date?string("dd.MM.yyyy")}</td>
			<td>${entry.payment.receiverAccount}</td>
			<td>${entry.payment.chargeOffAmount.decimal?string(",##0.00")}&nbsp;${entry.payment.chargeOffAmount.currency.code}</td>
		</tr>
	</#list>
</table>
</body>
</html>