<html>
<body>
— ${timeFrom.time?string("yyyy-MM-dd HH:mm:ss")} по ${timeTo.time?string("yyyy-MM-dd HH:mm:ss")} заблокированы карты<br/><br/>
<table border="1" cellpadding="3" cellspacing="0">
	<tr>
		<th style="width:200px">логин</th>
		<th style="width:200px">номер карты</th>
		<th style="width:200px">причина блокировки</th>
	</tr>
	<#list entries as entry>
		<tr>
			<td>${entry.login.userId}</td>
			<td>${entry.number}</td>
			<#if entry.blockType == "A">
			<td>ѕревышено количество попыток неверного ввода парол€ с карты(${entry.blockType!'?'})</td>
			<#else>
			<td>${entry.blockReason!'неизвестно'}(${entry.blockType!'?'})</td>
			</#if>
		</tr>
	</#list>
</table>
</body>
</html>
