<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!<br/><br/>
</span>
Информируем Вас о том, что приближается дата окончания срока действия Вашего сертификата ${notificates[0].certId}.<br/>
Дата окончания:&nbsp;<b>${notificates[0].expiredDate?date}</b>.<br/>
Для продолжения работы с системой, создайте новый сертификат.	
<br/><br/><br/>
Для получения более подробной информации, а также настройки параметров оповещений Вы можете воспользоваться системой <a href='http://${bankContext.systemUrl}'>${bankContext.systemName}</a>.
<br/><br/><br/>
</span>
<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>