<html>
<body>
От клиентов банка поступили следующие платежи/заявки:<br/><br/>
<table border=1 cellspacing="0" cellpadding="3">
	<tr>
		<th style='width:200px'>Отправлен</th>
		<th style='width:200px'>Форма документа</th>
		<th style='width:200px'>Клиент</th>
	</tr>
	<#list payments as entry>
		<tr>
			<td>${entry.payment.changed?string("dd.MM.yyyy  HH:mm:ss")}</td>
			<td>${entry.formDescription!'без формы'}</td>
			<td>${entry.payment.payerName!'&nbsp'}</td>
		</tr>
	</#list>
</table>
</body>
</html>
