<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!</span><br/><br/>
Информируем Вас о том, что доступ в систему Интернет-клиент для физичеких лиц для Вас заблокирован.<br/><br/>
Для восстановления доступа к системе обратитесь, пожалуйста, в банк.
<br/><br/>
<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>
