<html>
<body>
<span style="text-align:center; width:100%">
Уважаемый, ${fullName}!<br/><br/>
Информируем Вас о том, что c ${timeFrom.time?string("dd.MM.yyyy HH:mm:ss")} по ${timeTo.time?string("dd.MM.yyyy HH:mm:ss")} осуществлены следующие успешные входы в систему Интернет-клиент для физических лиц:<br/>
<table border=1 cellspacing="0" cellpadding="0">
	<tr>
		<th style='width:200px'>ip-адрес</th>
		<th style='width:200px'>Время входа</th>
	</tr>
	<#list entries as entry>
		<tr>
			<td>${entry.ipAddress}</td>
			<td>${entry.date.time?string("yyyy-MM-dd HH:mm:ss")}</td>
		</tr>
	</#list>
</table>
<br/><br/><br/>
Для получения более подробной информации, а также настройки параметров оповещений Вы можете воспользоваться системой <a href='http://${bankContext.systemUrl}'>${bankContext.systemName}</a>.
<br/><br/><br/>
</span>
<span style="font-size:10pt">Дата и время составления отчета: ${reportTime.time?string("dd.MM.yyyy HH:mm:ss")}</span>
<br/><br/><br/>
С уважением,
${bankContext.bankName}<br/>
Адрес: ${bankContext.bankAddress}<br/>
Телефон: ${bankContext.bankPhone}<br/>
<a href='http://${bankContext.webUrl}'>${bankContext.webUrl}</a>
</body>
</html>
