/*------------------------------------- Общая -----------------------------------------*/
body{background:url('images/generalBG.gif');font-family:Verdana;color:#02352B;font-size:8pt;margin:0;padding:0px;height:100%}
body.Print{background:none; color:#000000;}
table{font-size:8pt;font-family:Verdana;}
.MaxSize{width:100%;height:100%;}
a{color:#02352B;}

.bgBookmark{background:url('images/headUserTab.gif');background-repeat:repeat-x;color:#ECD39E;text-align:center;font-weight:bold;vertical-align:middle;}

/*-------------------------------------- Login ----------------------------------------*/
.Login {background:url('images/headBg.jpg');background-repeat:repeat-x;}
.mainLoginTab{background:url('images/head1.jpg');background-position:top left;background-repeat:no-repeat;}
.addLoginTab {background:url('images/head2.jpg');background-position:top right;background-repeat:no-repeat;}
.titleLoginPass{font-size:18px;font-weight:bold;color:#ECD39E;background:url('images/menuBg.gif');background-repeat:repeat-x;}
.inputLogin{background-color:#F6EAD2;height:18px;width:179px;color:#006600;}
#LoginDiv select{background-color:#F6EAD2;height:18px;width:179px;color:#006600;}
.paperEnter{font-weight:bold;color:#116854;}
.loginPassTable input{font-weight:bold;color:#116854;font-size:7pt;height:20px;}
.loginPassTable select{color:#116854;font-size:7pt;height:20px;}
/*---------------------------------- Главное меню -------------------------------------*/
.bookmark a{padding-left:3px;padding-right:3px;cursor:pointer;text-decoration:none;color:#ECD39E;text-align:center;font-weight:bold;}
.MenuItem{padding-left:3px;cursor:pointer;text-decoration:none;}
.MenuItemSelect{padding-left:3px;cursor:pointer;text-decoration:underline;}

/*---------------------------------- Контексты ----------------------------------------*/
/*contextLink - когда реально станет ссылкой, сделать без класса, только по таблице на все ее линки*/
.contextLink{padding-top:30px;font-weight:bold;}
.contextRegion a{padding-top:30px;font-weight:bold;}

/*-------------------------------- Панель кнопок --------------------------------------*/
/*кнопки, находящиеся в главном меню (картинки:buttPartB.jpg, buttPartBOver.jpg, buttPartR.gif, buttPartL.gif)*/
.buttMenuRegion{width:100%;height:22px;}

table.submit{COLOR: #ECD39E; font-weight:bold;text-decoration:none;
	background:url('images/buttPartB.jpg'); background-repeat:repeat-x;}
table.submitOver { COLOR: #ECD39E; font-weight:bold;text-decoration:underline;
	background:url('images/buttPartB.jpg'); }
td.buttPartR{background:url('images/buttPartR.gif');background-repeat:repeat-x;width:13px;height:18px;}
td.buttPartL{background:url('images/buttPartL.gif');background-repeat:no-repeat;width:10px;height:18px;}

/*---------------------------------- Левое меню --------------------------------------*/
.rateOfExchange{background:url('images/rateOfExchange.gif');padding-left:3px;background-repeat:no-repeat;}
.rateOfExchange td{font-weight:bold;font-size:7pt;padding-top:6px;}
.leftMenuEl{text-decoration:underline;padding-left:6px;padding-top:3px;cursor:pointer;}
/*Убрать ненужные классы из css после создания нормального меню для МЗБ*/
.headLinksLeftSubMenu{font-size:8pt;font-weight:bold;}
.headLinksLeftMenu{font-size:10pt;font-weight:bold;text-decoration:underline;cursor:pointer;}
.RusSlavMenu a{color:#02352B;font-weight:normal;}
.leftMenu div{width:100%;height:100%;overflow-Y:auto;}

/*------------------------------- Регион с подписью -----------------------------------*/
.footerRegion td {text-align:right;font-weight:bold;padding:2px;
				  background:url('images/bookLine.gif');background-repeat:repeat-x;background-position:top;
				  background-color:#D9BC8E;vertical-align:bottom;}
.lineBook{background:url('images/bookLine.gif');background-repeat:repeat-x;}

/*----------------------------- Функциональная область --------------------------------*/
.workspaceRegion td{vertical-align:top;}
.workspaceRegion div{width:100%;height:100%;overflow:auto;overflow-Y:auto;overflow-X:auto;}
.workspaceRegion tbody{height:100%;}
/*Забавная фишка для FF и др.броузеров, впрочем, отдельный класс теперь видимо мона убрать*/
.workspaceRegion td.titleWorkspace{font-size:10pt;font-weight:bold;padding-top:10px;padding-bottom:2px;}
.workspaceRegion .paymentFon{background-color:#F2E8B5;border:1px solid black;margin-left:10px;margin-top:10px;}
.workspaceRegion .asterisk{color:#FF6E0D;}
td.listPaymentBg{background:url('images/listPaymentBg.gif');background-repeat:no-repeat;}
table.elListPayment{width:250px;height:97px;}
td.listPayImg{padding-top:10px;padding-left:10px;}


/*таблицы*/
.userTab {border-top:1px solid #8D886A;border-left:1px solid #8D886A;background-color:#F2E8B5;}
.userTab .listLine0 table{background-color:#F7F3D6;}
.userTab .listLine0 {border-bottom:1px solid #C6C3B3;border-right:1px solid #C6C3B3;background-color:#F7F3D6;}
.titleTable td{background:url('images/headUserTabShort.gif');border-bottom:2px solid #304335; background-repeat:repeat-x;color:#ECD39E;text-align:center;font-weight:bold;border-right:1px solid #8D886A;vertical-align:middle;background-color:#055F4C;}
.titleTableOperations td{background:url('images/headUserTabOper.gif');background-repeat:repeat-x;color:#ECD39E;text-align:center;font-weight:bold;border-right:1px solid #8D886A;height:46px;}

/*редактирование новостей*/
.editNewsTab{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F3F6F8;border:1px solid black;margin-left:10px;margin-top:10px;}
.newsTitle{font-size:10pt;font-weight:bold;padding-top:10px;padding-bottom:2px;}
.workspaceTitle{font-size:10pt;font-weight:bold;padding-top:10px;padding-bottom:2px;}
.dateNews{font-weight:bold;}

/*Заявки и платежи - Список*/
.listPayTitle{font-family:Comic Sans MS;text-decoration:none;font-weight:bold;font-size:10pt;color:#04574F;}
.listPaymentBg{background:url('images/listPaymentBg.gif');background-repeat:no-repeat;}
.elListPayment{width:250px;height:97px;}
.historyLink{padding-right:20px;padding-bottom:12px;}
.listPayImg{padding-top:10px;padding-left:10px;}
.legendTitle{color:#02352B;font-weight:bold;}
.contour{width: 95%; padding: 2;margin-left:10px;margin-right:10px;}

/*Заявки и платежи - Шаблоны*/
.LabelTitle {font-weight:bold; background-color:#F2E8B5;}
/*Заявки и платежи - Документ*/
.paymentFon{background-color:#F2E8B5;border:1px solid black;margin-left:10px;margin-top:10px;}
.layerFon{background-color:#FCF6DC;border:1px solid black;margin-left:10px;margin-top:10px; padding:2px}


/*Письма*/
.editLetterTab {background-color:#F2E8B5;border:1px solid black;margin-left:10px;margin-top:10px;}

/*------------------------------Фильтры----------------------------------*/
.filter{color:#02352B;font-weight:bold;padding-top:6px;padding-bottom:6px;padding-left:10px;padding-right:10px;}

/*разные мелочи*/
.pTopBottom{padding-top:4px;padding-bottom:4px;}
.paddingLR{padding-left:4px;padding-right:4px;}
.asterisk{color:#FF6E0D;}
.titleWorkspace{font-size:10pt;font-weight:bold;padding-top:10px;padding-bottom:2px;}
.topLine{border-top:1px solid silver;}

.bdTable {border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;}
.bdCell {border-bottom:1px solid black; border-right:1px solid black;}
.bdCellLast {border-bottom:1px solid black;}

/* ---------------------СТАНДАРТНЫЙ СПИСОК--------------------------------*/
.list_Table
{
	border-left:1px solid #3D3D3D;
	border-top:1px solid #3D3D3D;
}

.list_Table input
{
	border:0;
}

.list_Header, .list_Header th
{
	background:url('images/headUserTabShort.gif');
	border-bottom:2px solid #304335;
	background-repeat:repeat-x;
	color:#ECD39E;
	text-align:center;
	font-weight:bold;
	border-right:1px solid #8D886A;
	vertical-align:middle;
	background-color:#055F4C;
	font-size:8pt;
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
	white-space:nowrap;
	height:20px;

}

.list_Items td, .list_Items2 td
{
	border-bottom:1px solid #C6C3B3;
	border-right:1px solid #C6C3B3;
	height:20px;
	padding-left:4px;
	padding-right:4px;
}

.list_Items
{
	background-color:#F2E8B5;
}

.list_Items2
{
	background-color:#F7F3D6;
}

.list_empty
{
	border:0;
	color:#cc3333;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}

/*всякие мелкие феньки*/
.Width170 {width:170px;}
