.pageBackground{
    background: url(images/header_bg.jpg) repeat-x center top;
}
.pageContent{
	background: url(images/header_bckg.png) repeat-x center top;
}

#bonus.roundHr{
	background-image:  url("images/roundHrBg_long.png");
    margin:10px -17px 0 -17px;
	}
#bonus .roundHr{
	background-image:  url("images/roundHrBg_long.png");
	}
#bonus .roundHrLeft{
	background-image:  url("images/roundHrCor_long.png");
	}
#bonus .roundHrRight{
	background-image:  url("images/roundHrCor_long.png");
	}

body .fonContainer form {
    background:none;
}

#reference {margin-top:26px;}

#profileHdr{
	background-repeat:  no-repeat;
	background-image:  url(images/profile_bckg.gif);
	height:  75px;
	}
.profileHdrRightBrdr{
	height:  75px;
	}
.phones{
	color:  white;
	font-weight:  bold;
	}
.region{
	color:  white;
	font-weight:  bold;
	}
.regionSelector span{
	color:#464646;
	}
.regionSelector {
    background-color:#82cc3a;
    padding:0 3px 4px;
    color:#464646;
    float:right;
    margin:0 0 0 35px;
}
.departmentTitle{
	color:  #fff;
	}
.roundHr{
	background-image:  url(images/roundHrBg.png);
	margin-right: -17px;
	margin-left: -17px;
	}
.roundHrLeft{
	background-image:  url(images/roundHrCor.png);
	}
.roundHrRight{
	background-image:  url(images/roundHrCor.png);
	font-weight:  bold;
	}
#menu .active{
	background-position: 0 -36px !important;
	}
.hover{
	background-position: 0 -36px !important;
	}
#menu .active a{
	background-position: 100% -36px !important;
	}
#menu a:hover{
	background-position: 100% -36px !important;
	}
#menu li{
	background-image:  url(images/menu_tabs_left.png);
	}
#menu li a{
	background-image:  url(images/menu_tabs_right.png);
	color:  white;
	}

#menu .options {
    background-image: url(images/options.gif);
}

#menu #dropDownMenu li a {
    background-image:none;
}
#menu #dropDownMenu li {
    background-image:none;
}
#dropDown a{
	color:  #464646;
	}

#other a span {
    background-position:100% -75px;
}

/* класс для разделяющей полосы с тенью */
.hr{
	background-image:  url(images/hr.png);
	}

/*Для заголовка списка в личном меню*/
.header-teaser-border-left{
	background-image:  url(images/header-teaser-border.png);
	}
.header-teaser-border-right{
	background-image:  url(images/header-teaser-border.png);
	}
.header-teaser-box-bottom-left{
	background-image:  url(images/header-teaser-bottom-left.png);
	}
.header-teaser-box-bottom-right{
	background-image:  url(images/header-teaser-bottom-right.png);
	}
.header-teaser-box-top-left{
	background-image:  url(images/header-teaser-top-left.png);
	}
.header-teaser-box-top-right{
	background-image:  url(images/header-teaser-top-right.png);
	}
.header-border-left{
	background-image:  url(images/header-border.png);
	}
.header-box-bottom-left{
	background-image:  url(images/header-bottom-left.png);
	}
.header-box-bottom-right{
	background-image:  url(images/header-bottom-right.png);
	}
.header-box-top-left{
	background-image:  url(images/header-top-left.png);
	}
.header-box-top-right{
	background-image:  url(images/header-top-right.png);
	}
#dropDownMenu li{
	color:  #333;
	}
#menu #dropDownMenu li{
	background-color:  #efefef;
	color:  #333;
	}
#menu #dropDownMenu li a:hover{
	background-image:  url(images/menu_tabs_left.png) !important;
	color:  #fff;
	}
#menu #dropDownMenu li.active{
	background-image:  url(images/menu_tabs_left.png);
	}
#dropDownMenu li a{
	color:  #464646;
	}
.DropDownMemuFooter{
	background-image:  url(images/bgBottom_DropDownMenu.gif);
	}

#breadcrumbs .home a {
    *display:block;
    *width:31px;
    *float:left;
    *margin-top:4px;
}


#breadcrumbs .unactive{
	background-image:  url(images/bc_arrow.gif);
    padding:0 9px 0 10px !important;
    *padding:0 9px 0 9px !important;
	}
#breadcrumbs .unactive a{
	background:#82CC3A;
    color:#fff;
    padding:2px 3px;
	}
#breadcrumbs .bcactive span{
	color:  #fff;
	}

#breadcrumbs .bcactive {
    background:#82CC3A;
    margin-left:10px;
    padding:2px 3px !important;
    color:  #fff;
    line-height: 23px;
}
.login-field{
	background-image:  url(images/input_top.gif);
	}
.left-corner{
	background-image:  url(images/button_leftCorner.gif);
	}
.right-corner{
	background-image:  url(images/button_rightCorner.gif);
	}
.text{
	background-image:  url(images/button_center.gif);
	}
.buttonGreen.disabled .left-corner{
	background-image:  url(images/error_button_left.gif);
	}
.buttonGreen.disabled .right-corner{
	background-image:  url(images/error_button_right.gif);
	}
.buttonGreen.disabled .text{
	background-image:  url(images/error_button_center.gif);
	}
.management-list li{
	list-style-image:  url(./images/leftSectionBullet.gif);
	}
/* Блок загрузки */
#loading{
	background-image:  url(./images/plate.png);
	}
/* Стили для затемнения рабочей области */
.tintedNet{
	background-image:  url(./images/tintedNet.gif);
	}
/* Статусы продуктов */
.activeProduct .linksItemMore{
	background-image:  url('images/green-arrow.gif');
	}
.inActiveProduct .linksItemMore{
	background-image:  url('images/gray-arrow.gif');
	}
.errorProduct .linksItemMore{
	background-image:  url('images/red-arrow.gif');
	}
.accountSumCenter a{
	color:  #fff;
	display:  block;
	}
.greenSelector{
	vertical-align:  middle;
	}
.roundPlate{
	vertical-align:  middle;
	}
.regionSelect{
    background-image:  url(images/regionSelect.png);
}
/* Кастомные селекты */
.selectLeftData{
	background-image:  url('images/select.png');
	}
/* Кастомные селекты */
.selectData{
	background-image:  url('images/select.png');
	}
/* Кастомные селекты */
.selectArrow{
	background-image:  url('images/select.png');
	}
#tabs ul li.inactive{
	background-image:  url(images/inactive_tab_left.png);
	}
/*depoAccounts*/
#tabs li.inactive a{
	background-image:  url(images/inactive_tab_right.png);
	}
#tabs ul li.active{
	background-image:  url(images/active_tab_left.png);
	}
#tabs li.active a{
	background-image:  url(images/active_tab_right.png);
	}
#tabs .leftTop{
	background-image:  url(images/left_right_tab_header.png);
	}
#tabs .rightTop{
	background-image:  url(images/left_right_tab_header.png);
	}
#tabs .centerTop{
	background-image:  url(images/center_tab_header.png);
	}
.securityOptions h1{
	color:  #449d2f;
	text-decoration:  underline;
	font: 18px Arial;
	display:  inline;
	text-transform:  none;
	}
.securityOptions .hint{
	color:  #999;
	font:  10pt Arial;
    margin:5px 0 0 0;
	}
.securityOptions .hint a.optionLinks{
	color:  #449d2f;
	font-size:  12pt;
	}
.openContainer{
    margin:12px 0 10px 0;
	padding-top: 0;
    *padding-top:10px;
	}
/*bunner*/
#showHideBunner {
    background-image:url("images/dropUpBunner.gif");
}
#showHideBunner.hide {
    background-image:url("images/dropDownBunner.gif");
}
#providersList .triangle{
    background-image: url('images/triangles.gif');
}
.providerRegion{
    background-image: url('images/providerRegionBg.gif');
}
.otherRegionsHeader, .floatMessageHeader{
    background-image: url('images/triangles.gif');
}

.buttonGreyWithImg .text{
    background-image:  url(images/button_img_center.gif);
}

.buttonGreyWithImg .left-corner{
    background-image:  url(images/button_img_left.gif);
}

.buttonGreyWithImg .right-corner{
    background-image:  url(images/button_img_right.gif);
}

#tabs .rightTop{
    padding-right: 0px;
}
/*новая шапка*/
.NewHeader {
    width: 960px;
    margin: 0 auto;
}

.topLineContainer .UserInfo a {
    color: #fff;
    padding-right: 6px;
    display: block;
    float: left;
}
.UserInfo img {
    padding: 3px 6px;
    vertical-align:middle;
}
.previousEnterInfo {
    display: block;
    float: left;
    cursor:pointer;
    color: #fff;
    text-decoration:underline;
}
.topLineContainer hr {
    background-color:#fbaf41;
    margin: 0;
    padding: 0;
    border-color: #fbaf41;
    display: none;
}
.UserInfo {
    padding:2px;
    float: right;
}
.NewHeader .region {
    float:right;
    text-align:right;
    margin-right: 7px;
    font: 13px/15px Arial;
}
.topLine {
    background:#909195 url(images/header_line.jpg) repeat-x center bottom;
}

#newMail {
    background: url(images/ico_newMail.gif) no-repeat center;
}

#noMail {
     background: url(images/ico_noMail.gif) no-repeat center;
}
#exit {
    background: url(images/ico_exit.gif) no-repeat center;
}

.bunnerImageFirst img{
    border-top: 1px solid #878787;
    border-left: 1px solid #878787;
    border-right: 1px solid #878787;
}

.view-mobileApplications th {
    background-image: url("./images/detail_table_bckg.png");
}
.depoDocumentsList .simpleTable th.titleTable{
	text-align:  center;
	}

*:first-child+html .favouriteLinkTitleItem {
    width:193px;
}

.HelpWidget .greenTopRBL{
    background: left bottom no-repeat;
    margin-top :0;
}

.HelpWidget .greenTopRBR{
    background: right bottom no-repeat;
}

.HelpWidget .greenTopRBC{
    background: repeat-x;
}

.HelpWidget .greenTopRC{
    margin-bottom : -2px;
}

.HelpWidget .greenTopRBL, .HelpWidget .greenTopRBR, .HelpWidget .greenTopRBC{
   background-image : url('./images/green_gradient_bottom.png');
    height : 15px;
}