body form {
    background: url("images/header_bckg.gif") no-repeat center top;
}

.pageContent {
    background-image:  url(images/header_bckg.gif);
}

#loginPage .phones {padding: 20px 0;width:auto;}
/* двигаем бг углов */
.greenTopRTL { background-position: 0 -75px; }
.greenTopRTR {	background-position: right -75px; }
/* смещение бг для верха */
.greenTopRTC { background-position: left -131px; }

#profileHdr {background: url('images/profile_bckg.gif') no-repeat bottom left;}

#menu li {
    background: url(images/menu_tabs_left.gif) no-repeat scroll 0 0 transparent;
}
.greenTopRC {padding: 0 14px 3px 13px;}
.grayRC {padding: 10px 12px 0;}
.greenGradientRC {padding: 10px 12px 0;}
.roundHr {margin: 10px -13px 0 -12px;}
#bonus.roundHr {margin: 10px -13px 0 -12px;}
#infoOnLogin .grayRC {padding: 8px 14px 8px 13px;}


/* Задаем бг углов */
.shadowRTL, .shadowRBL, .shadowRTR, .shadowRBR, .shadowRBC, .shadowRTC {
   background-image: url('images/white-starHor.gif');
}
.shadowRCL { background-image: url('images/crystalTop-vert-left.gif'); }
.shadowRCR { background-image: url('images/crystalTop-vert-right.gif'); }


.regular-close{
    background-image: url(images/regular_arrow_ie.jpg) ;
}

.productDivider{
    margin:0 -13px -7px -12px;
}

.personalMenu .r-center-right {width:231px;}
.paymentsHeaderButton {width:204px;}

.roundHr .pointer {margin: -11px -11px 0;}
.personalMenu .greenTopRC .r-content {padding: 8px 11px;}
.helpAppeal {
    right: 1px;
    width: 211px;
    margin: 0 -16px -6px -11px !important;
}
.grayRC .r-content {margin-right: -2px;}
.greenGradientRC .r-content {margin-right: -2px;}

/*Для ссылки в личном меню для скрытия/раскрытия списка*/
.personalMenu .r-bottom-right, .personalMenu .r-top, .personalMenu .r-bottom-left {width: 231px;}
#dropDownInfo li {text-decoration:none;}

.UserInfo {margin-right:-5px;}

#profile .greenTopRC.r-content {
    padding-left: 12px;
    padding-right: 0;
}

#profile ul.newSecondMenu {
    margin-right: -1px;
}

.workspace-box .line-free {
    margin-left: 488px;
}

.login-register-mobilebank .line-free {
    margin-left: 733px;
}
.bunnerImage{
    margin: 10px 0 0 -10px;
}

/* whiteShadow */
.whiteShadowRTC, .whiteShadowRTR, .whiteShadowRTL {
	background-image:  url('images/whiteShadowTop.gif');
}
.whiteShadowRBC, .whiteShadowRBR, .whiteShadowRBL{
    background-image:  url('images/whiteShadowBottom.gif');
}
.whiteShadowRCL{
	background: url("images/whiteShadowLeft.gif") repeat-y 0 0;
}
.whiteShadowRCR{
	background-image:  url('images/whiteShadowRight.gif');
}
/* /whiteShadow */
