td.input{
	background-image:  url('images/input_top.gif');
	}
.hdrRghtBg{
	background-image:  url('images/head_rghtBg.gif');
	}
.hdrCenterBg{
	background-image:  url('images/head_centerBg.png');
	}
.lmBgHeader{
	background-image:  url('images/lm_topBg.gif');
	}
.lmBgBottom{
	background-image:  url('images/lm_bottomBg.gif');
	}
.lmBgRight{
	background-image:  url('images/lm_rightBg.gif');
	}
.infBlAreaInf{
	background-image:  url('images/lm_leftBg.gif');
	}
.infBlBgRight{
	background-image:  url('images/lm_rightBg.gif');
	}
.subMenu{
	background-image:  url('images/lm_leftBg.gif');
	}
.subMInactiveInset{
	background-image:  url('images/lm_empty.gif');
	}
.subMActiveInset{
	background-image:  url('images/lm_empty.gif');
	}
.haveSubMenuLevel2 .subMInactiveInset{
	background-image:  url('images/lm_emptySM.gif');
	}
.haveSubMenuLevel2 .subMActiveInset{
	background-image:  url('images/lm_emptySM.gif');
	}
.haveSubMenuLevel2 .subMInaciveTitleBg{
	background-image:  url('images/lm_up.gif');
	}
.haveSubMenuLevel2 .subMAciveTitleBg{
	background-image:  url('images/lm_dwn.gif');
	}
.pmntBaseSpace .pmntBaseSpace{} .pmntBgBaseTop{
	background-image:  url('images/pmnt_topBase.gif');
	}
.pmntBgBaseTopAll{
	background-image:  url('images/pmnt_topBase.gif');
	}
.pmntBgBaseTopLeftCorner{
	background-image:  url('images/pmnt_topBaseLeftCorner.gif');
	}
.pmntBgBaseTopRightCorner{
	background-image:  url('images/pmnt_topBaseRightCorner.gif');
	}
.pmntBgBaseLeftCorner{
	background-image:  url('images/pmnt_baseLeft.gif');
	}
.pmntBgBaseRightCorner{
	background-image:  url('images/pmnt_baseRight.gif');
	}
.pmntBgBaseBtm{
	background-image:  url('images/pmnt_btmBase.gif');
	}
.pmntBgBaseBtmAll{
	background-image:  url('images/pmnt_btmBase.gif');
	}
.pmntBgBaseBtmLeftCorner{
	background-image:  url('images/pmnt_btmBaseLeftCorner.gif');
	}
.pmntBgBaseBtmRightCorner{
	background-image:  url('images/pmnt_btmBaseRightCorner.gif');
	}
.selectWin{
	background-image:  url('images/pmnt_titleBg.gif');
	}