<?xml version='1.0' encoding='windows-1251'?>
<hibernate-configuration>

    <session-factory>
        <property name="connection.isolation">4</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <!-- Mapping files -->

        <!-- Common -->
        <mapping resource="com/rssl/phizic/config/Properties.hbm.xml"/>
	    <mapping resource="globals.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
