BODY
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 70%
}
TD
{
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 10pt;
}
P {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; text-indent: 0.3in; margin-bottom: 0pt; margin-top: 0pt; }
.header {color: #000000;font-size: 11pt; font-weight: bold; margin-bottom: 10pt; font-family: Tahoma, Arial, Sans-serif;}
.toc1 { font-size: 14pt; font-weight: bold; font-family: Tahoma, Arial, Sans-serif; text-indent: -0.3in;}
.toc2 {font-size: 11pt; font-weight: bold; font-family: Tahoma, Arial, Sans-serif; text-indent: -0.3in;}
.toc3 {font-size: 10pt; font-weight: bold; font-family: Tahoma, Arial, Sans-serif; text-indent: -0.3in;}
.toc4 {font-size: 10pt; font-weight: normal; font-family: Tahoma, Arial, Sans-serif; text-indent: -0.3in;}
.body_first {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; text-indent: 0in; margin-bottom: 3pt; margin-top: 0pt; }
.body_text {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; text-indent: 0.3in; margin-bottom: 3pt; margin-top: 0pt; }
.body_text2 {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; text-indent: 0.5in; margin-bottom: 3pt; margin-top: 0pt; }
.body_def {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; text-indent: -0.3in; margin-bottom: 3pt; margin-top: 0pt; }
.top_link {color: #3333cc; font-size: 9pt; font-family: Tahoma, Arial, san-serif; font-weight: bold; font-style: normal; }
.top_link2 {color: #3333cc; font-size: 9pt; font-family: Tahoma, Arial, san-serif; font-weight: normal; font-style: normal; }
H1 {color: #000000; font-size: 18pt; font-weight: bold; font-family: Arial, Sans-serif;}
H2 {color: #000000; font-size: 16pt; font-weight: bold; font-family: Arial, Sans-serif;}
H3 {color: #000000; font-size: 12pt; font-weight: bold; font-family: Arial, Sans-serif;}
PRE {color: #000000;font-size: 10pt; font-weight: bold; font-family: "Courier New", monospace; text-align: left; margin-bottom: 6pt; margin-top: 6pt; }
TT {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Courier New", monospace; }
.info {color: #000000;font-size: 10pt; font-weight: bold; font-family: Tahoma, Arial, Sans-serif;}
.info2 {font-size: 10pt; font-weight: normal; font-family: Arial, Sans-serif; text-indent: 0in; }
LI, UL { text-align: justify; }
OL {color: #000000;font-size: 11pt; font-weight: normal; font-family: "Times New Roman", Serif; text-align: justify; }