
/* Общие детали */
.MaxSize {width:100%;height:100%;}
body{
	font-family:Verdana;
	color:#3d3d3d;
	font-size:8pt;
	margin:0;
	padding:0px;
	height:100%;
	background-color:#ffffff;
}
table{
	font-size:8pt;
	color:#3d3d3d;
	font-family:Verdana;
}
a{color:#3d3d3d;text-decoration:underline;}
.displayBlock{display:block;}
.displayNone{display:none;}
.asterisk{color:#8dab09;font-weight:bold;}
fieldset{border:1px solid #c8c3b9;}
legend{font-weight:bold;}
input{border:1px solid #c8c3b9;}
legend{color:#3d3d3d;font-weight:bold;}

/*Шапка*/
.hdrLogo{padding:0px 0px 0px 50px;}
.hdrLogo img{width:150;height:30}
.hdrSystemTitle{font-size:14pt;font-weight:bold;text-align:center;}
.hdrSystemTitle span{font-size:11pt;}

/* Статическая информация */
.statInfTbl{background-color:#edeae5;}
.statInfTbl .whiteBg{background-color:#ffffff;}
.statInfTopBg {background:url('images/imagesDerjava/statInf_topBg.gif') repeat-x top;}
.statInfMiddleBg{background:url('images/imagesDerjava/statInf_middleShadow.gif') repeat-x;}
.statInfTextArea{background:url('images/imagesDerjava/statInf_textAreaBg.gif') repeat-x top;}
.statInfHelpArea{background:url('images/imagesDerjava/btnM_bg.gif') repeat-x top;}
.statInfBtmBg{background:url('images/imagesDerjava/statInf_btmBg.gif') repeat-x bottom;}
.statInfTextArea span{padding:2px 4px 2px 4px;}
.statInfTextArea .colorText{color:#641934;padding-right:0px;}
.statInfHelpArea span{padding:0px 4px 0px 4px;}
.statInfBorder{border-left:1px solid #d8d4cd;}

/*Главное меню*/
.mainMenuTbl{background:url('images/imagesDerjava/mm_Bg.gif') repeat-x bottom;text-align:center;}
.mainMenuTbl div{cursor:pointer;}
.mmInsetActive{background:url('images/imagesDerjava/mm_insetBgActive.gif') repeat-x;font-weight:bold;text-decoration:underline;}
.mmInsetActive span{background:url('images/imagesDerjava/mm_insetFlagActive.gif') no-repeat right;padding:0px 10px 0px 10px;width:100%;color:#ffffff;}
.mmInset{background:url('images/imagesDerjava/mm_insetBg.gif') repeat-x;font-weight:bold;text-decoration:none;}
.mmInset span{color:#641934;padding:0px 10px 0px 10px;}
.mmInsetShadow{background:url('images/imagesDerjava/mm_insetShadow.gif') repeat-x top;}
.mmInsetActiveLeftCorner{background:url('images/imagesDerjava/mm_insetLeftCornerActive.gif') no-repeat;width:10px;height:38px;}
.mmInsetActiveRightCorner{background:url('images/imagesDerjava/mm_insetRightCornerActive.gif') no-repeat;width:10px;height:38px;}
.mmInsetLeftCorner{background:url('images/imagesDerjava/mm_insetLeftCorner.gif') no-repeat;width:10px;height:38px;}
.mmInsetRightCorner{background:url('images/imagesDerjava/mm_insetRightCorner.gif') no-repeat;width:10px;height:38px;position:relative;}
.mmInsetShadowLeftCorner{background:url('images/imagesDerjava/mm_insetShadowLeftCorner.gif') no-repeat;width:10px;height:10px;}
.mmInsetShadowRightCorner{background:url('images/imagesDerjava/mm_insetShadowRightCorner.gif') no-repeat;width:10px;height:10px;}
.mmExitBtn{background:url('images/imagesDerjava/mm_Bg.gif') repeat-x bottom;}
.mmExitBtnBorder{background:url('images/imagesDerjava/mm_exitBtnBorder.gif') no-repeat bottom;width:2px;height:38px;}
.mmExitBtn a{color:#3d3d3d;text-decoration:none;padding-left:10px;}
.mmDateInf{background:url('images/imagesDerjava/mm_Bg.gif') repeat-x bottom;white-space:nowrap;}
.mmDateInf span{color:#7c7c7c;}
.mmNewAction{position:absolute;left:-6;top:12;display:none;}

/*Фильтры*/
.filter{padding:4px;}
.filter span{cursor:default;}
.filterLink{position:absolute;top:-2px;left:10px;text-align:left;padding:2px 0px 2px 0px;}
.fltrInfArea{background:url('images/imagesDerjava/pmntList_InfArea.gif') repeat-x top;background-color:#fff6d4;border:1px solid #d7d6d1;border-width:0px 2px 3px 1px;font-size:8pt;}
.fltrInfArea input{border:1px solid #641934;font-size:7pt;}
.fltrInfArea select{border:1px solid #641934;font-size:7pt;}
.filterInfArea span{cursor:default;}
.fltrBgTop{background-color:#fdf9ed;border-top:1px solid #c8c3b9;}
.fltrBgTopLeftCorner{background:url('images/imagesDerjava/fltr_topLeftCorner.gif') no-repeat;width:15px;height:15px;}
.fltrBgTopRightCorner{background:url('images/imagesDerjava/fltr_topRightCorner.gif') no-repeat;width:15px;height:15px;}
.fltrBgBtm{background-color:#fdf9ed;border-bottom:1px solid #c8c3b9;}
.fltrBgBtmLeftCorner{background:url('images/imagesDerjava/fltr_btmLeftCorner.gif') no-repeat;width:15px;height:15px;}
.fltrBgBtmRightCorner{background:url('images/imagesDerjava/fltr_btmRightCorner.gif') no-repeat;width:15px;height:15px;}
.fltrBg{background-color:#fdf9ed;}
.fltrBgLeftCorner{background-color:#fdf9ed;border-left:1px solid #c8c3b9;}
.fltrBgRightCorner{background-color:#fdf9ed;border-right:1px solid #c8c3b9;}
span.filterAsterisk{color:#641934;cursor:default;}


/*Левое меню*/
.leftMenu{width:210px;background-color:#f4e9c2;}
.lmBgHeader{background-color:#f4e9c2;} /* bbb6ad */
.lmBgBottom{background:url('images/imagesDerjava/lm_bottomBg.gif') repeat-x bottom;}
.lmInformationArea{background:url('images/imagesDerjava/lm_grHeaderTopBase.gif') repeat-x top;}
.lmNewAction{position:absolute;left:168;top:12;display:none;}

/*Информационный блок*/
.infBlInformationArea{width:205px;padding:0px 4px 6px 4px;}
.infBlHeader{background:url('images/imagesDerjava/infBl_headerBg.gif') repeat-x top;height:31px;vertical-align:middle;}
.infBlHeaderLeftCorner{background:url('images/imagesDerjava/infBl_headerLeftCorner.gif') no-repeat;width:8px;height:31px;}
.infBlHeaderRightCorner{background:url('images/imagesDerjava/infBl_headerRightCorner.gif') no-repeat;width:8px;height:31px;}
.infBlInformation{background:url('images/imagesDerjava/infBl_headerBg.gif') repeat-x top;padding:4px 0px 0px 0px;}
.infBlInformation .lmTitle{background:url('images/imagesDerjava/infBl_titleBg.gif') repeat-x top;color:#ffffff;text-align:center;}
.infBlInformation .lmTitleLeftCorner{background:url('images/imagesDerjava/infBl_titleLeftCorner.gif') no-repeat;width:8px;height:25px;}
.infBlInformation .lmTitleRightCorner{background:url('images/imagesDerjava/infBl_titleRightCorner.gif') no-repeat;width:11px;height:25px;}
.infBlInformation .lmTitleShadow{background:url('images/imagesDerjava/infBl_titleShadow.gif') repeat-x top;background-color:#ededee;}
.infBlInformation .lmTitleShadowLeftCorner{background:url('images/imagesDerjava/infBl_titleShadowLeftCorner.gif') no-repeat;background-color:#ededee;width:8px;height:5px;}
.infBlInformation .lmTitleShadowRightCorner{background:url('images/imagesDerjava/infBl_titleShadowRightCorner.gif') no-repeat;background-color:#ededee;width:8px;height:5px;}
.infBlTextArea{background:url('images/imagesDerjava/infBl_textAreaBg.gif') repeat-x top;background-color:#ffffff;}
.infBlTextAreaLeft{background:url('images/imagesDerjava/infBl_textAreaBg.gif') repeat-x top;vertical-align:top;border-left:1px solid #a9a8a4;background-color:#ffffff;}
.infBlTextAreaRight{background:url('images/imagesDerjava/infBl_textAreaBg.gif') repeat-x top;vertical-align:top;border-right:1px solid #a9a8a4;background-color:#ffffff;}
.infBlBtm{background:url('images/imagesDerjava/infBl_bottomBg.gif') repeat-x top;background-color:#ffffff;}
.infBlBtmLeftCorner{background:url('images/imagesDerjava/infBl_bottomLeftCorner.gif') no-repeat;width:8px;height:19px;}
.infBlBtmRightCorner{background:url('images/imagesDerjava/infBl_bottomRightCorner.gif') no-repeat;width:8px;height:19px;}
.infBlTextAreaBorder{background:url('images/imagesDerjava/infBl_textAreaBorder.gif') repeat-y right;width:3px;}
.infBlTextAreaBorderTop{background:url('images/imagesDerjava/infBl_textAreaBorderTop.gif') no-repeat top;width:3px;height:20px;}
.infBlTextAreaBorderBtm{background:url('images/imagesDerjava/infBl_textAreaBorderBtm.gif') no-repeat bottom;width:3px;height:20px;}

/*Курс валют*/
.currencyTbl td{text-align:center;padding:3px;}
.currencyTbl .colorText{color:#641934;}

/*Подменю левого меню*/
.subMenu{text-align:center;padding:0px 8px 0px 8px;}
.subMenu span{width:100%;height:100%;}
.subMTitleBg{background:url('images/imagesDerjava/subM_titleBg.gif') repeat-x top;}
.subMTitleLeftCorner{background:url('images/imagesDerjava/subM_titleTopLeftCorner.gif') no-repeat;width:10px;height:7px;}
.subMTitleRightCorner{background:url('images/imagesDerjava/subM_titleTopRightCorner.gif') no-repeat;width:10px;height:7px;}
.subMTextTitleLeftCorner{background:url('images/imagesDerjava/subM_titleBg.gif') repeat-x top;width:10px;border-left:2px solid #ffffff;background-color:#e9eaf2;}
.subMTextTitleRightCorner{background:url('images/imagesDerjava/subM_titleBg.gif') repeat-x top;width:10px;border-right:2px solid #ffffff;background-color:#e9eaf2;}
.subMTextTitle{background:url('images/imagesDerjava/subM_titleBg.gif') repeat-x top;background-color:#e9eaf2;color:#3d3d3d;text-decoration:underline;width:180px;text-align:center;}
.subMShadow{background-color:#bdb9b2;}
.subMBtmTitleBg{background:url('images/imagesDerjava/subM_titleBtmBg.gif') repeat-x top;}
.subMBtmTitleLeftCorner{background:url('images/imagesDerjava/subM_titleBtmLeftCorner.gif') no-repeat;width:10px;height:7px;}
.subMBtmTitleRightCorner{background:url('images/imagesDerjava/subM_titleBtmRightCorner.gif') no-repeat;width:10px;height:7px;}
.subMInactiveInset{background:url('images/imagesDerjava/subM_inactiveInsetBg.gif') repeat-x top;background-color:#fff6d4;height:32px;padding:10px;cursor:pointer;position:relative;}
.subMActiveInset{background:url('images/imagesDerjava/subM_activeInsetBg.gif') repeat-x top;background-color:#bee614;height:32px;padding:10px;cursor:pointer;}
.subMActiveInset span{background:url('images/imagesDerjava/subM_insetFlagActive.gif') no-repeat right;width:100%;color:#641934;text-decoration:underline;}
                    
/*Подменю левого меню второго уровня*/
.haveSubMenuLevel2 .subMAciveTitleBg{background:url('images/imagesDerjava/subML2_titleBg.gif') repeat-x top;background-color:#f9f8fa;height:32px;padding:10px;cursor:pointer;}
.haveSubMenuLevel2 .subMAciveTitleBg span{background:url('images/imagesDerjava/subML2_titleFlagActive.gif') no-repeat right;width:100%;text-decoration:underline;}
.haveSubMenuLevel2 .subMInaciveTitleBg{background:url('images/imagesDerjava/subM_inactiveInsetBg.gif') repeat-x top;background-color:#fff6d4;height:32px;padding:10px;cursor:pointer;}
.haveSubMenuLevel2 .subMInaciveTitleBg span{background:url('images/imagesDerjava/subML2_titleFlagInactive.gif') no-repeat right bottom;width:100%;}
.haveSubMenuLevel2 .subMInactiveInset{background:url('images/imagesDerjava/subML2_inactiveInsetBg.gif') repeat-x top;background-color:#fdf9ed;border:1px solid #b2ada4;border-width:0px 0px 1px 1px;border-right:1px solid #d7d4cc;height:32px;padding:10px;cursor:pointer;}
.haveSubMenuLevel2 .subMActiveInset{background:url('images/imagesDerjava/subM_activeInsetBg.gif') repeat-x top;background-color:#ffffff;border-left:1px solid #b2ada4;border-right:1px solid #d7d4cc;border-bottom:1px solid #641934;height:32px;padding:10px;}
.haveSubMenuLevel2 .subMActiveInset span{background:url('images/imagesDerjava/subM_insetFlagActive.gif') no-repeat right;width:100%;color:#641934;text-decoration:underline;}

/*Подменю ссылок для кредитной заявки*/
.haveSubMenuLinks a{background:url('images/imagesDerjava/subML2_inactiveInsetBg.gif') repeat-x top;background-color:#bdb8ae;border:1px solid #b2ada4;border-width:0px 0px 1px 1px;border-right:1px solid #d7d4cc;width:100%;height:20px;}
 /*Меню кнопок*/
.btnMLeftCorner{background:url('images/imagesDerjava/btnM_bgLeftCorner.gif') no-repeat;width:20px;height:34px;}
.btnMBg{background:url('images/imagesDerjava/btnM_bg.gif') repeat-x top;height:34px;white-space:nowrap;}
.btnMRightCorner{background:url('images/imagesDerjava/btnM_bgRightCorner.gif') no-repeat;width:11px;height:34px;}

/*Кнопки*/
/* - общий вид(зеленые). все стандартные*/
.tableArea .btnBase{background:url('images/imagesDerjava/btn_greenBtnBg.gif') repeat-x;color:#641934;white-space:nowrap;height:27px;padding:0px 4px 0px 0px;cursor:pointer;}
.tableArea .btnLeftCorner{background:url('images/imagesDerjava/btn_greenBtnLeftCorner.gif') no-repeat right;width:7px;height:27px;font-size:7pt;}
.tableArea .btnRightCorner{background:url('images/imagesDerjava/btn_greenBtnRightCorner.gif') no-repeat;width:7px;height:27px;font-size:7pt;}
.tableArea .btnBase span{cursor:pointer;}

/* - серые, те, что в меню кнопок  btn_grayBtnBg.gif*/
.btnMenu .btnBase{background:url('images/imagesDerjava/btn_greenBtnBg.gif') repeat-x;white-space:nowrap;height:28px;padding:0px 4px 0px 0px;cursor:pointer;}
.btnMenu .btnBase span{text-decoration:underline;}
.btnMenu .btnLeftCorner{background:url('images/imagesDerjava/btn_greenBtnLeftCorner.gif') no-repeat right;width:15px;height:28px;}
.btnMenu .btnRightCorner{background:url('images/imagesDerjava/btn_greenBtnRightCorner.gif') no-repeat;width:14px;height:28px;}
.btnMenu .btnBase span{cursor:pointer;}

/* - маленькие, встречающиеся в таблицах*/
.ListItem .btnBase{color:#798937;font-weight:bold;background:url('images/imagesDerjava/btn_whiteBtnBg.gif') repeat-x;height:19px;width:1%;text-align:center;cursor:pointer;}
.ListItem .btnLeftCorner{background:url('images/imagesDerjava/btn_whiteBtnLeftCorner.gif') no-repeat right;width:3px;height:19px;cursor:pointer;}
.ListItem .btnRightCorner{background:url('images/imagesDerjava/btn_whiteBtnRightCorner.gif') no-repeat left;width:3px;height:19px;cursor:pointer;}
.ListItem .buttDiv span{border:0px;}
.ListItem .buttDiv td{border:0px}
.ListItem .btnBase span{cursor:pointer;}

/* - кнопки доп.действий в полях платежки*/
.pmntConfirm .btnBase{color:#641934;font-weight:bold;background:url('images/imagesDerjava/btn_whiteBtnBg.gif') repeat-x;height:18px;cursor:pointer;}
.pmntConfirm .btnLeftCorner{background:url('images/imagesDerjava/btn_whiteBtnLeftCorner.gif') no-repeat right;width:3px;height:18px;cursor:pointer;font-size:7pt;}
.pmntConfirm .btnRightCorner{background:url('images/imagesDerjava/btn_whiteBtnRightCorner.gif') no-repeat left;width:3px;height:18px;cursor:pointer;font-size:7pt;}
.pmntConfirm .btnBase span{cursor:pointer;}


/* - для фильтра*/
.fltrBgBtm .btnBase{color:#798937;font-weight:bold;background:url('images/imagesDerjava/btn_whiteBtnBg.gif') repeat-x;height:19px;cursor:pointer;}
.fltrBgBtm .btnLeftCorner{background:url('images/imagesDerjava/btn_whiteBtnLeftCorner.gif') no-repeat right;width:3px;height:19px;cursor:pointer;}
.fltrBgBtm .btnRightCorner{background:url('images/imagesDerjava/btn_whiteBtnRightCorner.gif') no-repeat left;width:3px;height:19px;cursor:pointer;}
.fltrBgBtm .btnBase span{cursor:pointer;}


/*???????*/
.tblHeader{background:url('images/imagesDerjava/tbl_headerBg.gif') repeat-x top;background-color:#f1f1f1;height:27px;padding:0px 4px 0px 0px;}
.tblHeaderLeftCorner{background:url('images/imagesDerjava/tbl_headerLeftCorner.gif') no-repeat top;width:9px;height:27px;}
.tblHeaderRightCorner{background:url('images/imagesDerjava/tbl_headerRightCorner.gif') no-repeat top;width:10px;height:27px;}
.tblHeader .tblTitleText{color:#641934;cursor:default;}  /* #768730*/

.tblDescription{color:#7f7f7f;}
.tblGroupTitle{color:#641934;}

.tblSettingsBeforeInf{}

.tblInf{border:1px solid #9f9f9f;border-width:1px 0px 0px 1px;}
.tblInf table td{border:0px;}
.tblInfHeader td{background:url('images/imagesDerjava/tbl_clmnHeaderBg.gif') repeat-x top;font-weight:bold;}
.tblInf td{border:1px solid #9f9f9f;border-width:0px 1px 1px 0px;padding:0px 4px 0px 4px;}
.tblInf .ListLine0 td{background-color:#fdfbf3;}  /* #f7f7f7 */
.tblSearchMsg{border:1px solid #9f9f9f;border-width:0px 1px 1px 0px;padding:3px 0px 3px 0px;}
.tblInf td span{cursor:pointer;}

.tblFooter{background-color:#fdf9ed;border-bottom:1px solid #9f9f9f;height:11px;}  /* #f1f1f1 */
.tblFooterLeftCorner{background:url('images/imagesDerjava/tbl_footerLeftCorner.gif') no-repeat bottom;width:9px;height:11px;}
.tblFooterRightCorner{background:url('images/imagesDerjava/tbl_footerRightCorner.gif') no-repeat bottom;width:10px;height:11px;}

/*Новости*/
.newsList .tblInf table td{border:0px;}
.newsDate {color:#641934;font-weight:bold;}
.newsTitle{padding:0px 0px 0px 10px;color:#641934;font-weight:bold;}
.newsText span{padding:0px 4px 0px 4px;text-align:justify;}

/*Платежныне формы*/
.pmntGlobal{width:540px;}
.pmntBaseSpace{padding-top:10px;}
.pmntBgBaseTop{background-color:#fdf9ed;border-top:1px solid #c8c3b9;}
.pmntBgBaseTopLeftCorner{background:url('images/imagesDerjava/pmnt_topBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntBgBaseTopRightCorner{background:url('images/imagesDerjava/pmnt_topBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntBgBase{background-color:#fdf9ed;}
.pmntBgBaseLeftCorner{background-color:#fdf9ed;border-left:1px solid #c8c3b9;}
.pmntBgBaseRightCorner{background-color:#fdf9ed;border-right:1px solid #c8c3b9;}
.pmntBgBaseBtm{background-color:#fdf9ed;border-bottom:1px solid #c8c3b9;}
.pmntBgBaseBtmLeftCorner{background:url('images/imagesDerjava/pmnt_btmBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntBgBaseBtmRightCorner{background:url('images/imagesDerjava/pmnt_btmBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntTitleBg{background:url('images/imagesDerjava/pmnt_titleBg.gif') repeat-x top;background-color:#f9f9f9;text-align:center;vertical-align:middle;height:36px;padding-top:2px;}
.pmntTitleBg span{color:#641934;font-size:11pt;font-weight:bold;cursor:default;}
.pmntIcon{width:73px;height:47px;text-align:center;vertical-align:middle;background:url('images/imagesDerjava/pmnt_iconBg.gif') no-repeat;}
.pmntTitleText{text-align:left;}
.pmntInfArea{background-color:#fdfbf4;border-top:4px solid #edece8;padding:8px;}
.pmntInfArea td{padding:2px 0px 2px 4px;}
.pmntInfArea span{padding:0px;cursor:default;}
.pmntInfArea fieldset{border:1px solid #c8c3b9;width:100%;padding:0px 25px 0px 5px;}
.pmntInfArea legend{color:#3d3d3d;font-weight:bold;}
.pmntInfAreaTitle{font-weight:bold;padding:4px 0px 2px 5px;}
.pmntInfAreaShadowBg{background:url('images/imagesDerjava/pmnt_shadowBg.gif') repeat-x top;height:8px;}
.pmntInfAreaShadowLeftCorner{background:url('images/imagesDerjava/pmnt_shadowBg.gif') no-repeat;width:11px;height:8px;}
.pmntInfAreaShadowRightCorner{background:url('images/imagesDerjava/pmnt_shadowBg.gif') no-repeat;width:11px;height:8px;}
.pmntGlobal input{font-size:7pt;}
.pmntInnerTbl {width:100%;text-align:center;padding-top:10px;}
.pmntInnerTbl table{padding:0px;margin:0px;border:1px solid #c3c3c3;}
.pmntInnerTbl table td{border:1px solid #c3c3c3;background-color:white;}

.pmntConfirm {padding:2px 2px 0px 2px;}
.pmntConfirm input{border:1px solid #c8c3b9;width:100px;}


/*Список платежей*/
.pmntList{width:400px;height:100px;float:left;padding:2px;}
.pmntListBgTop{background-color:#fdf9ed;border-top:1px solid #c8c3b9;}
.pmntListBgTopLeftCorner{background:url('images/imagesDerjava/pmnt_topBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBgTopRightCorner{background:url('images/imagesDerjava/pmnt_topBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBg{background-color:#fdf9ed;width:390px;height:85px;}
.pmntListBgLeftCorner{background-color:#fdf9ed;border-left:1px solid #c8c3b9;}
.pmntListBgRightCorner{background-color:#fdf9ed;border-right:1px solid #c8c3b9;}
.pmntListBgBtm{background-color:#fdf9ed;border-bottom:1px solid #c8c3b9;}
.pmntListBgBtmLeftCorner{background:url('images/imagesDerjava/pmnt_btmBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListBgBtmRightCorner{background:url('images/imagesDerjava/pmnt_btmBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.pmntListInfArea{background:url('images/imagesDerjava/pmntList_InfArea.gif') repeat-x top;background-color:#fdf9ed;border:1px solid #d7d6d1;border-width:0px 2px 2px 1px;}
.pmntListInfArea span.pmntListTitle{cursor:pointer;}
.pmntListIcon{background:url('images/imagesDerjava/pmntList_iconBg.gif') no-repeat;width:73px;height:47px;text-align:center;vertical-align:middle;}
.pmntListTitle{color:#641934;font-size:10pt;font-weight:bold;text-decoration:underline;cursor:pointer;}
.pmntListGroup{width:800;height:auto;padding-bottom:15px;}
.pmntListGroupTitle{color:#641934;font-size:11pt;font-weight:bold;padding-top:10px;}
.pmntListBg a{color:#3d3d3d;}

/*Список шаблонов*/
.tmpltGroup{width:400px;height:120px;float:left;padding:2px;}
.tmpltGroupBgTop{background-color:#fdf9ed;border-top:1px solid #c8c3b9;}
.tmpltGroupBgTopLeftCorner{background:url('images/imagesDerjava/pmnt_topBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBgTopRightCorner{background:url('images/imagesDerjava/pmnt_topBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBg{background-color:#fdf9ed;width:390px;height:100px;}
.tmpltGroupBgLeftCorner{background-color:#fdf9ed;border-left:1px solid #c8c3b9;}
.tmpltGroupBgRightCorner{background-color:#fdf9ed;border-right:1px solid #c8c3b9;}
.tmpltGroupBgBtm{background-color:#fdf9ed;border-bottom:1px solid #c8c3b9;}
.tmpltGroupBgBtmLeftCorner{background:url('images/imagesDerjava/pmnt_btmBaseLeftCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupBgBtmRightCorner{background:url('images/imagesDerjava/pmnt_btmBaseRightCorner.gif') no-repeat;width:11px;height:11px;}
.tmpltGroupInfArea{background:url('images/imagesDerjava/pmntList_InfArea.gif') repeat-x top;background-color:#fdf9ed;border:1px solid #d7d6d1;border-width:0px 2px 2px 1px;}
.tmpltGroupIcon{background:url('images/imagesDerjava/pmntList_iconBg.gif') no-repeat;width:73px;height:47px;text-align:center;vertical-align:middle;}
.tmpltGroupTitle{color:#641934;font-size:10pt;font-weight:bold;text-decoration:underline;}

/*Подпись интербанка*/
.ftr{background:url('images/imagesDerjava/ftr_bg.gif') repeat-x top;background-color:#dddad3;height:30px;text-align:center;}
.ftrLeftCorner{background:url('images/imagesDerjava/ftr_leftCorner.gif') no-repeat left;height:30px;}
.ftrRightCorner{background:url('images/imagesDerjava/ftr_bgDark.gif') repeat-x top;height:30px;}
.ftrRightCorner span{background:url('images/imagesDerjava/ftr_rightLeftCorner.gif') no-repeat left;width:100%;height:100%;}

/*Рабочая область*/
.workspaceArea{padding:0px 0px 0px 4px;vertical-align:top;}
.workspaceRegion span{cursor:default;}
.label120{width:120px;text-align:right;padding:4px;}
.LabelAll{color:#7f7f7f;}
.context{color:#641934;}
#centerLoadDiv, #iCenterLoadDiv {position:absolute;top:50%;left:50%;margin-left:-125px;margin-top:-35px;display:none;visibility:visible;z-index:3;}
#bgWorkspaceRegion, #iBgWorkspaceRegion {background-color:#ffffff;position:absolute;display:none;z-index:2;}

/*Окно выбора*/
.selectWin{background:url('images/imagesDerjava/pmnt_titleBg.gif') repeat-x top;background-color:#f9f9f9;width:100%;height:100%;}
.selectWin .title{background:url('images/imagesDerjava/subM_activeInsetBg.gif') repeat-x top;background-color:#bee614;border-left:1px solid #b2ada4;border-right:1px solid #d7d4cc;color:#ffffff;border-bottom:1px solid #641934;height:32px;padding:10px;}

/*Аутентификация пользователя*/
.lpSystemTitle {color:#641934;font-size:14pt;font-weight:bold;text-align:center;padding-bottom:10px;}
.lpSystemTitle span{font-size:11pt;}

.lpInputAreaTop{background-color:#f4e9c2;height:8px;padding:0px;}
.lpInputAreaTopLeftCorner{background:url('images/imagesDerjava/lp_inputAreaTopLeftCorner.gif') no-repeat top left;width:10px;height:13px;padding:0px;}
.lpInputAreaTopRightCorner{background:url('images/imagesDerjava/lp_inputAreaTopRightCorner.gif') no-repeat top right;width:10px;height:13px;padding:0px;}

.lpInputArea{background:url('images/imagesDerjava/lm_grHeaderTopBase.gif') repeat-x top;background-color:#f4e9c2;padding-bottom:8px;}
.lpInputAreaLeftCorner{background:url('images/imagesDerjava/lm_grHeaderTopBase.gif') repeat-x top;background-color:#f4e9c2;border-left:1px solid #d2cdc5;}
.lpInputAreaRightCorner{background:url('images/imagesDerjava/lm_grHeaderTopBase.gif') repeat-x top;background-color:#f4e9c2;border-right:1px solid #d2cdc5;}
.lpBase{background-color:#fdf9ed;}
.lpInputArea td{padding:0px 2px 0px 2px;font-size:8pt;font-weight:bold;}
.lpInputArea input{width:200px;font-size:8pt;height:20px;}
.lpInputArea select{width:200px;font-size:8pt;height:20px;}
.lpMessage{padding:10px 0px 3px 0px;font-weight:bold;text-align:center;}

.lpInputAreaBtm{background:url('images/imagesDerjava/lp_inputAreaBtm.gif') repeat-x bottom;background-color:#f4e9c2;height:31px;padding:0px;border-top:2px groove;vertical-align:top;}
.lpInputAreaBtmLeftCorner{background:url('images/imagesDerjava/lp_inputAreaBtmLeftCorner.gif') no-repeat left;width:10px;height:31px;padding:0px;}
.lpInputAreaBtmRightCorner{background:url('images/imagesDerjava/lp_inputAreaBtmRightCorner.gif') no-repeat right;width:11px;height:31px;padding:0px;}

.lpInputAreaBtm .btnBase{background:url('images/imagesDerjava/btn_greenBtnBg.gif') repeat-x;color:#641934;white-space:nowrap;height:22px;padding:0px 4px 0px 0px;font-weight:bold;}
.lpInputAreaBtm .btnLeftCorner{background:url('images/imagesDerjava/btn_greenBtnLeftCorner.gif') no-repeat;width:7px;height:22px;}
.lpInputAreaBtm .btnRightCorner{background:url('images/imagesDerjava/btn_greenBtnRightCorner.gif') no-repeat;width:7px;height:22px;}
.lpInputAreaBtm span{cursor:pointer;}


/* ---------------------СТАНДАРТНЫЙ СПИСОК--------------------------------*/
.tblInf table{width:100%;height:100%;}
.list_Table
{
	border-left:1px solid #9f9f9f;
	border-top:1px solid #9f9f9f;
}

.list_Table input
{
	border:0;
}

.list_Header, .list_Header th
{
	background:url('images/imagesDerjava/tbl_clmnHeaderBg.gif') repeat-x top;
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	color:#3d3d3d;
	font-size:8pt;
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	white-space:nowrap;
	height:20px;
}

.list_Items td, .list_Items2 td
{
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	height:20px;
	padding-left:4px;
	padding-right:4px;
}

.list_Items
{
	background-color:#f7f7f7;
}


.list_empty
{
	border:0;
	color:#cc3333;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}


/* ______________________________TEMP_______________________________ */
.tempBlock .infoTitle{color:#641934;}
.tempBlock .userTab{border:1px solid #c3c3c3;border-width:1px 0px 0px 1px;}
.tempBlock .titleTable td{background:url('images/imagesDerjava/tbl_clmnHeaderBg.gif') repeat-x top;border:1px solid #c3c3c3;border-width:0px 1px 1px 0px;}

.printPmnt .pmntGlobal{width:540px;background:url('');background-color:#ffffff;border:1px solid #aaaaaa;}
.ptintPmnt .pmntTitleBg table{background-color:#ffffff;}
.printPmnt .pmntInfArea{background-color:#ffffff;}
.printPmnt .LabelAll{color:#000000;}
.printPmnt .pmntTitleBg span{color:#000000;}
.printPmnt .pmntBgBaseLeftCorner{background-color:#ffffff;}
.printPmnt .pmntBgBase{background-color:#ffffff;}
.ptintPmnt .pmntBgBase table{background-color:#ffffff;}
.ptintPmnt .pmntInfArea a{color:#000000}
