<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>com.rssl.phizic.init.InitializerListenerBase</listener-class>
	</listener>

    <servlet>
        <servlet-name>LogReceiverServlet</servlet-name>
        <servlet-class>com.rssl.phizic.web.logging.LogReceiverServlet</servlet-class>
        <init-param>
            <param-name>receive-system-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-queue-name</param-name>
            <param-value>jms/ERIBSystemLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-flush-try-count</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-message-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-queue-name</param-name>
            <param-value>jms/ERIBMessageLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-flush-try-count</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-operation-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-operation-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-operation-log-queue-name</param-name>
            <param-value>jms/ERIBUserLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-operation-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>operation-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>operation-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>operation-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>operation-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-offer-notification-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-offer-notification-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-offer-notification-log-queue-name</param-name>
            <param-value>jms/ERIBOfferNotificationLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-offer-notification-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>offer-notification-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>offer-notification-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>offer-notification-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>offer-notification-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>


        <init-param>
            <param-name>receive-advertising-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-advertising-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-advertising-log-queue-name</param-name>
            <param-value>jms/ERIBAdvertisingLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-advertising-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>advertising-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>advertising-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>advertising-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>advertising-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-quick-payment-panel-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-quick-payment-panel-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-quick-payment-panel-log-queue-name</param-name>
            <param-value>jms/ERIBQuickPaymentPanelLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-quick-payment-panel-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>quick-payment-panel-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>quick-payment-panel-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>quick-payment-panel-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>quick-payment-panel-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-filter-outcome-period-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-filter-outcome-period-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-filter-outcome-period-log-queue-name</param-name>
            <param-value>jms/ERIBFilterOutcomePeriodLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-filter-outcome-period-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>filter-outcome-period-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>filter-outcome-period-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>filter-outcome-period-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>filter-outcome-period-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-card-operation-category-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-card-operation-category-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-card-operation-category-log-queue-name</param-name>
            <param-value>jms/ERIBCardOperationCategoryChangingLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-card-operation-category-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>card-operation-category-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>card-operation-category-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>card-operation-category-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>card-operation-category-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-user-message-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-message-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-message-log-queue-name</param-name>
            <param-value>jms/ERIBUserMessageLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-message-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>user-message-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>user-message-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>user-message-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>user-message-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-user-notification-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-notification-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-notification-log-queue-name</param-name>
            <param-value>jms/ERIBUserNotificationLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-user-notification-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>user-notification-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>user-notification-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>user-notification-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>user-notification-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-union-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-union-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-union-log-queue-name</param-name>
            <param-value>jms/ERIBUnionLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-union-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>union-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>union-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>union-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>union-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-monitoring-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-monitoring-log-dbinstance-name</param-name>
            <param-value>Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-monitoring-log-queue-name</param-name>
            <param-value>jms/ERIBMonitoringLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-monitoring-log-queue-factory-name</param-name>
            <param-value>jms/ERIBLoggingQueueConnectionFactory</param-value>
        </init-param>
        <init-param>
            <param-name>monitoring-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>monitoring-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>monitoring-log-flush-try-count</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>monitoring-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CSALogReceiverServlet</servlet-name>
        <servlet-class>com.rssl.phizic.web.logging.LogReceiverServlet</servlet-class>
        <!-- CSA -->
        <init-param>
            <param-name>receive-system-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-dbinstance-name</param-name>
            <param-value>CSA2Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-queue-name</param-name>
            <param-value>jms/CSASystemLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-system-log-queue-factory-name</param-name>
            <param-value>jms/CSALoggingQueueFactory</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-flush-try-count</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>system-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>receive-message-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-dbinstance-name</param-name>
            <param-value>CSA2Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-queue-name</param-name>
            <param-value>jms/CSAMessageLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-message-log-queue-factory-name</param-name>
            <param-value>jms/CSALoggingQueueFactory</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-flush-try-count</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>message-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>

        <!-- Журнал входов ЦСА -->
        <init-param>
            <param-name>receive-csa-action-log</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>receive-csa-action-log-dbinstance-name</param-name>
            <param-value>CSA2Log</param-value>
        </init-param>
        <init-param>
            <param-name>receive-csa-action-log-queue-name</param-name>
            <param-value>jms/CSAActionLogQueue</param-value>
        </init-param>
        <init-param>
            <param-name>receive-csa-action-log-queue-factory-name</param-name>
            <param-value>jms/CSALoggingQueueFactory</param-value>
        </init-param>
        <init-param>
            <param-name>csa-action-log-timeout</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>csa-action-log-pack-size</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>csa-action-log-flush-try-count</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>csa-action-log-threads-count</param-name>
            <param-value>3</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <filter>
        <filter-name>ApplicationInfoFilter</filter-name>
        <filter-class>com.rssl.phizic.config.ApplicationInfoFilter</filter-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>WebLog</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ApplicationInfoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <resource-ref id="WebLog_ResourceRef_JDBC_PhizIC">
        <res-ref-name>jdbc/PhizIC</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="WebLog_ResourceRef_JDBC_PhizICLog">
        <res-ref-name>jdbc/PhizICLog</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
