.titleHeader{font-size:12pt;font-weight:bold;color:#031C42;}

.paperTitle{font-size:14px;color:#444A51;}
.paperMenu{font-weight:bold;color:#444A51;}
.paperSubMenu{color:#444A51;font-size:12px;text-align:right;font-weight:bold;}
.darkLine{font-size:3px;width:90%;background-color:#878F98;}
.lightLine{font-size:2px;background-color:#B1C8DB;width:80%;height:2px;}
.dark1pxLine{font-size:1px;background-color:#878F98;}
.light1pxLine{font-size:1px;background-color:#B1C8DB;}
.borderDownLine{border-top:1px solid #004E00;}



.infoTitle{font-size:8pt;color:#444A51;font-weight:bold}
.linkTab { border-top: 1px solid #444A51;}

.paperEnter{color:#444A51;;font-size:8pt;text-align:right;font-weight:bold;}

.listPayment{font-size:10pt;color:#003366;font-weight:bold;background-color:#F3F6F8;}
.linkFocus{color:#A34805;}
.linkUnFocus{color:#444A51;;}
.menuLinkText{color:red}
.Label { text-align:right;padding-right:4px;background-color:#F3F6F8;}
.LabelTitle {font-weight:bold;background-color:#F3F6F8;}

.paymentFon{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F3F6F8;border:1px solid black;margin-left:10px;margin-top:10px;}
.templates{background-repeat:repeat-y;background-color:#F3F6F8;border:0px solid;background:url('images/paymentBack.gif');}
.titleHelp{color:#444A51;;text-align:justify;}
.paymentTitleFon{background-color:#F3F6F8;}
.LightBlueBG{background-color:#F1F1F1;}

.listPayImg{background-color:gainsboro;height:60px;width:60px;border-top:1px solid #B2B5B4;border-left:1px solid #B2B5B4;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
.listPayTab{border:1px solid #B2B5B4;height:92px;}
.listPayTitle{font-size:10pt;color:#444A51;font-weight:bold;}
.listPayPart{font-size:12pt;color:#444A51;font-weight:bold;}
/*------------------------------------- Общая -----------------------------------------*/
html{height:100%;}
body  {margin:0px;background-color:white; font-family:Arial;color:#3d3d3d;font-size:8pt;
	   height:100%;padding:0px;}
input {font-family:Arial;color:#3d3d3d;font-size:8pt; border:1px solid #c5c5c5}
select{font-family:Arial;color:#3d3d3d;font-size:8pt;border-color: #c5c5c5;  border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
textarea {font-family:Arial;color:#3d3d3d;font-size:8pt; border:1px solid #c5c5c5}
table{font-family:Arial;color:#3d3d3d;font-size:8pt;}
a{font-weight:bold;color:#444A51;text-decoration:none;}

/*----------------------------------- Стартовая ---------------------------------------*/
.inputLogin{background:url('images/loginBack.gif');text-align:left;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:#444A51;;height:18px;width:100px;}
.titleColor{background-color:#E1E9F1;}

.tabBackLoginPass{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F3F6F8;border-top:1px solid #ffffff;border-bottom:1px solid #EDEEEE;border-right:1px solid #EDEEEE;}
.titleLoginPass{font-size:22px;font-weight:bold;color:#444A51;}
.tabBaseLoginPass{border:1px solid #878F98;border-right:1px solid #B1C8DB;border-bottom:1px solid #B1C8DB;background-color:#F4F6F7;}
.picBaseLoginPass{background:url('images/cornBottomLoginPass.gif');background-position:right bottom;background-repeat:no-repeat;}
/*.loginPassTable{background:url('images/loginNotebook.gif');background-position:bottom right;background-repeat:no-repeat;border-bottom:1px solid #c5c5c5;}*/

/*----------------------------------- Логотипы ----------------------------------------*/


/*---------------------------------- Главное меню -------------------------------------*/
.bgBookmark{background:url('images/informMenuBg.gif'); background-repeat:repeat-x;padding-top:6px;padding-bottom:11px;}
.bgBookmark a{color:white;}
.headerMenuEl{background:url('images/triangle.gif');background-position:left middle;background-repeat:no-repeat;padding-left:8px;}
.MenuItemSelect{color:#900209;}
/*------------------------------- Регион с подписью -----------------------------------*/
.footerRegion td {border-top:1px solid #B1C8DB;font-size:7pt;text-align:right;color:#3d3d3d;font-style:italic;font-weight:bold;padding:5px;vertical-align:bottom;}

/*-------------------------------- Панель кнопок --------------------------------------*/
/*кнопки, находящиеся в главном меню (картинки:buttPartB.jpg, buttPartBOver.jpg, buttPartR.gif, buttPartL.gif)*/

.buttMenuRegion{width:100%;height:22px;}

.paperSubMenu table.submit{COLOR: #003366; font-weight:bold;
	background:url('images/btnMenuBg.gif'); background-repeat:repeat-x;
	border-top:1px solid #FFFFFF;border-bottom:1px solid #B1C8DB;}
.paperSubMenu table.submitOver { COLOR: #FF6E0D; font-weight:bold;
	background:url('images/btnMenuBgOver.gif');
	border-top:1px solid #FFFFFF;border-bottom:1px solid #B1C8DB;}
.paperSubMenu td.buttPartR{background:url('images/btnMenuBg.gif');background-repeat:repeat-x;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:1px solid #B1C8DB;width:3px;height:18px;}
.paperSubMenu td.buttPartL{background:url('images/btnMenuBg.gif');background-repeat:repeat-x;
	border-top:1px solid #FFFFFF;border-left:1px solid #B1C8DB;border-bottom:1px solid #B1C8DB;width:3px;height:18px;}

/*кнопки, находящиеся не ;) в главном меню (картинки:buttFPartB.jpg, buttFPartBOver.jpg, buttFPartR.gif, buttFPartL.gif)*/
.submit{COLOR: #444A51; font-weight:bold;
	background:url('images/buttFPartB.jpg'); background-repeat:repeat-x;}
.submitOver { COLOR: #900209; font-weight:bold;
	background:url('images/buttFPartBOver.jpg'); }
.buttPartR{background:url('images/buttFPartR.gif');background-repeat:no-repeat;width:3px;height:18px;}
.buttPartL{background:url('images/buttFPartL.gif');background-repeat:no-repeat;width:3px;height:18px;}

/*поддержка старой версии кнопок*/
.butMenu{text-align:center;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:white;background:url('images/buttFon.gif');height:18px;border:0;border-right:1 ridge white;border-bottom:1 ridge white;cursor:pointer;}
.butMenuFocus{color:white;background:url('images/buttFonDark.gif');}
.buttWhite{background:url('images/buttWhite.gif');text-align:center;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;color:#444A51;;height:18px;border:0;border-right:1 ridge white;border-bottom:1 ridge white;border-top:1 solid #f1f1f1;border-left:1 solid #f1f1f1;cursor:hand;}
/*.buttEditMenu{background:url('images/buttEditFon.gif');background-color:#D8D9DF;color:#444A51;;width:170px;height:20px;font-size:8pt;font-family:MS Sans Serif;font-weight:bold;border-bottom:1 solid gray;border-right:1 solid gray;cursor:hand;}*/

/*---------------------------------- Левое меню --------------------------------------*/
.leftMenuHeader{border-bottom:1px solid #444A51;; padding-left:4px;padding-right:4px;padding-top:12px;}
.leftMenu {background:url('images/bg1.gif');background-position:right;background-repeat:repeat-y;vertical-align:top;height:100%;border-right:1px solid #606C79;}

/*.RusSlavMenu li a{font-weight:normal;color:#42474C;}*/
.RusSlavMenu a{color:#282D32;font-weight:normal;}
.RusSlavMenu a:hover{color:#003366;}
/*.RusSlavMenu .unSelectLink {color:#282D32;font-weight:normal;}*/
/*.RusSlavMenu .selectLink {color:#003366;font-weight:bold;}*/
.personalHeight{height:100%;}
.widthLMenu{width:205px;}
/*------------------------------------- Фильтр ----------------------------------------*/
/*фильтры*/
.filterBack {background-color:#F9FAFC;border-top:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
.filterLineGray {border-top:1px solid #c3c3c3;}
.filterLineWhite {border-top:1px solid #ffffff;}
.filter{color:#003366;font-weight:bold;padding-top:6px;padding-bottom:6px;padding-left:10px;padding-right:10px;font-size:7pt;}

.filterInput{font-size:7pt;height:14px;width:90px;color:#003366;background-position:left;font-weight:bold;
			 background:url("images/inputBack.gif");background-repeat:repeat-y;background-color:#E2EAF1;}
.filter select{font-size:7pt;}
.filterLink a{font-size:7pt;color:#003366;}


/*---------------------------------- Контексты ----------------------------------------*/
/*contextLink - когда реально станет ссылкой, сделать без класса, только по таблице на все ее линки*/
.contextLink{font-size:8pt;font-weight:bold;text-decoration:underline;}
.contextRegion {border-bottom:1px solid #B1C8DB;background-color:#E1E9F1;}
.contextRegion td{padding-bottom:3px;padding-top:3px;padding-left:2px;height:10px;}
.contextRegion a{font-size:8pt;font-weight:bold;text-decoration:underline;}

/*----------------------------- Функциональная область --------------------------------*/
.workspaceRegion td{vertical-align:top;}
.workspaceRegion div{width:100%;height:100%;overflow:auto;overflow-Y:auto;overflow-X:auto;}
/*.workspaceRegion tbody{height:100%;}*/

/*информационные сведения*/
.tabHelpInfo{background-color:#F4FBE3;border-top:1px solid #DEEDBA;border-left:1px solid #DEEDBA;}
.lineHelpInfo{border-top:1px solid #DEEDBA;border-bottom:2px solid #FFFFFF;}
.textHelpInfo{text-indent:8px;text-align:justify;padding-bottom:20px;line-height: 2.2em}
.headTextHelpInfo{font-weight:bold;font-size:11pt;color:#003366;}
.infoConer {border-bottom:2px solid #FFFFFF;border-right:2px solid #FFFFFF;}

/*редактирование новостей*/
.editNewsTab{background:url('images/paymentBack.gif');background-repeat:repeat-y;background-color:#F3F6F8;border:1px solid black;margin-left:10px;margin-top:10px;}
.newsTitle{font-size:12pt;color:#444A51;font-weight:bold}
.workspaceTitle{font-size:12pt;color:#444A51;font-weight:bold}

/*таблицы*/
.userTab {border-top:1px solid #3d3d3d;border-left:1px solid #3d3d3d;}
.userTab .listLine0 table{background-color:#EFF1F3;}
.titleTable td{background:url('images/titleTable.gif');background-color:#444A51;font-size:8pt;padding-left:4px;padding-right:4px;;text-align:center;color:#FFFFFF;font-weight:bold;border-right:1px solid #3d3d3d;border-bottom:1px solid #3d3d3d;}
.listLine0 {background-color:#f1f1f1;}

/*новости*/
.shortList{border-bottom:1 solid #c3c3c3;}
.dateNews{font-weight:bold;}
.newsSeparator{border-right:1px solid #c3c3c3;}

/*---------------------------------- Правое меню --------------------------------------*/
.bunnersSpace{background-color:#E1E9F1;padding:4px;border-left:1px solid #B1C8DB;}
.bannerTD{border-bottom:1px solid #B1C8DB;color:#003366;font-size:7pt;font-weight:bold;}

/*---------------------------------- Все регионы --------------------------------------*/
.errorText{color:#B80008;font-weight:bold;}

/*разные мелочи*/
.pTopBottom{padding-top:4px;padding-bottom:4px;}
.asterisk{color:#FF6E0D;}
.titleWorkspace{background-color:#E1E9F1;font-size:11pt;font-weight:bold;color:#003366;border-bottom:1px solid #B1C8DB;padding:4px;}
.topLine{border-top:1px solid silver;}
